6j9uwJgkndMc3ffl.json
{"createdAt":"2025-05-02T14:17:23.110Z","updatedAt":"2025-05-20T19:03:05.000Z","id":"6j9uwJgkndMc3ffl","name":"youtube_shorts_with_mcp_server Open router","active":false,"isArchived":false,"nodes":[{"parameters":{"sseEndpoint":"http://host.docker.internal:3123/mcp/sse","include":"selected","includeTools":["create-short-video"]},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[300,1540],"id":"7eedc86e-1ba2-4d36-addb-83fd357680f1","name":"MCP Client"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,1320],"id":"4e72ee44-2407-445b-820f-65fdea3df73b","name":"Aggregate"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[760,1300],"id":"08dd1fc7-26ab-44e7-8bec-e7674f9089a6","name":"Wait","webhookId":"fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cc1bd80-2bb7-47b6-950e-be3d6a36a965","leftValue":"={{ $json.status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,1300],"id":"f72c91ce-7a93-42ce-9ef4-fe1c7055fdc2","name":"If"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"videoId\": {\n            \"type\": \"string\",\n            \"description\": \"the id of the video\"\n        },\n        \"videoTitle\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the video on Youtube\"\n        }\n    },\n    \"required\": [\n        \"videoId\",\n        \"videoTitle\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[420,1520],"id":"fda76351-f381-431f-adcf-4964fe37fc7a","name":"Structured Output Parser"},{"parameters":{"content":"# Create short videos from r/Jokes","width":2760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,960],"id":"df0de638-e2ac-40cd-9917-d8372d8604e7","name":"Sticky Note"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video').item.json.output.videoId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,1280],"id":"2f073656-1926-4cf4-b7ed-46d8af0b8bf9","name":"Download the video","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Generate video').item.json.output.videoTitle }}","regionCode":"US","categoryId":"24","options":{"defaultLanguage":"es-US","description":"","privacyStatus":"public","tags":""}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[2040,1580],"id":"f0a771c3-59c6-4f32-b432-960b12e54a60","name":"Share on YouTube","credentials":{"youTubeOAuth2Api":{"id":"gyb44TbxD62kwqO8","name":"YouTube account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,1300],"id":"efdba686-a3a2-4e2f-9ee6-3503018c2d13","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=<Instruction>\nTurn the following joke into a video. Keep everything, but make in en-US slight tweaks so it's easy to understand it in a text-to-speech video format with subtitles.\n\nReturn the video ID and the title of the video for the Youtube upload.\n</Instruction>\n\n<Joke>\n{{ $json.data[0].title }}\n{{ $json.data[0].contentSnippet }}\n</Joke>","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,1300],"id":"a82bc310-1d82-4ace-bb71-b76388e838f1","name":"Generate video"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video').item.json.output.videoId }}/status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,1300],"id":"f6947f2d-4a4c-4d33-839c-0fa8ea23f1cc","name":"Check video status","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"220a5d64-eea7-47fb-9557-682ed4ac2670","name":"title","value":"=Bitcoin VS Real BRL","type":"string"},{"id":"667fc922-3cb8-41cf-b86e-e635cf75bdc2","name":"contentSnippet","value":"=The annual inflation rate in Brazil is 5.53% in April 2025, but in reality you will buy a Reno Kwid and pay 100,000 reais. Now that is a joke with dark humor","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,1320],"id":"0aebe210-265b-49c7-b54c-f8573ce75197","name":"Map fields"},{"parameters":{"url":"=https://www.reddit.com/r/Jokes/top/.rss?t=week","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-1240,1540],"id":"2c4f5b4e-c873-434c-a226-1e1ee481f5c9","name":"Get top weekly posts"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,2560],"id":"acafc207-590c-4081-b8f9-2179c5a59bf1","name":"OpenAI Chat Model1"},{"parameters":{"sseEndpoint":"http://host.docker.internal:3123/mcp/sse","include":"selected","includeTools":["create-short-video"]},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[280,2680],"id":"feaae637-d8c3-4a88-8d42-eb8a861a8d13","name":"MCP Client1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,2300],"id":"03c2021f-d63c-487d-982f-9ca8ed263272","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[760,2280],"id":"05b666f3-7b23-4e5c-8d19-360fdd5830e0","name":"Wait1","webhookId":"fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cc1bd80-2bb7-47b6-950e-be3d6a36a965","leftValue":"={{ $json.status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,2280],"id":"9dadeeb3-85bb-4689-8a80-27bb57999233","name":"If1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"videoId\": {\n            \"type\": \"string\",\n            \"description\": \"the id of the video\"\n        },\n        \"videoTitle\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the video on Youtube\"\n        }\n    },\n    \"required\": [\n        \"videoId\",\n        \"videoTitle\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[420,2500],"id":"8ad09ce3-20dd-443f-8dbd-a06f3a3caec9","name":"Structured Output Parser1"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video1').item.json.output.videoId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,2180],"id":"28160a09-15ba-4f85-b4c7-22084adafb54","name":"Download the video1","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Generate video1').item.json.output.videoTitle }}","regionCode":"HU","categoryId":"24","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1800,2180],"id":"7ea83762-c9c6-42f2-9ea1-5d4755fd269b","name":"Share on YouTube1"},{"parameters":{"promptType":"define","text":"=<Instruction>\nTurn the following post from reddit (lifeprotips) into a video. Keep everything, but make slight tweaks so it's easy to understand it in a text-to-speech video format with subtitles.\n\nReturn the video ID and the title of the video for the Youtube upload.\n</Instruction>\n\n<Post>\n{{ $json.data[4].title }}\n{{ $json.data[4].contentSnippet }}\n</Post>","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,2280],"id":"030e0806-bc4b-48a2-aea9-34a471c2db34","name":"Generate video1"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video1').item.json.output.videoId }}/status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,2280],"id":"fa8ddd91-b13a-45a8-a095-ebff05cd7379","name":"Check video status1","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"220a5d64-eea7-47fb-9557-682ed4ac2670","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"667fc922-3cb8-41cf-b86e-e635cf75bdc2","name":"contentSnippet","value":"={{ $json.contentSnippet.split('submitted')[0].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,2300],"id":"f9ec5b42-2cfc-4cbf-b47b-d78b4a23e5ea","name":"Map fields1"},{"parameters":{"url":"=https://www.reddit.com/r/LifeProTips/top/.rss?t=week","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-580,2300],"id":"f0a7994d-0ea6-489d-9cb8-fe625e5e7e8a","name":"Get top weekly posts1"},{"parameters":{"content":"# Create short videos from r/LifeProTips","width":2760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,1900],"id":"39afa799-c68f-4275-8d6d-e163dfd20fd3","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,3620],"id":"aba5d3ff-383b-45bf-9112-d340b7aff2db","name":"OpenAI Chat Model2"},{"parameters":{"sseEndpoint":"http://host.docker.internal:3123/mcp/sse","include":"selected","includeTools":["create-short-video"]},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[240,3740],"id":"b278a0d5-9972-47e1-96b4-46425e45ee51","name":"MCP Client2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-200,3360],"id":"2f140bdb-729f-4ea6-b62f-21816e1c3ea3","name":"Aggregate2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,3340],"id":"975f3f65-8d8d-47ec-a02a-3b267231ac3c","name":"Wait2","webhookId":"fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cc1bd80-2bb7-47b6-950e-be3d6a36a965","leftValue":"={{ $json.status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,3340],"id":"1c06881d-fc58-49cf-9c45-7488d10c2eee","name":"If2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"videoId\": {\n            \"type\": \"string\",\n            \"description\": \"the id of the video\"\n        },\n        \"videoTitle\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the video on Youtube\"\n        }\n    },\n    \"required\": [\n        \"videoId\",\n        \"videoTitle\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[380,3560],"id":"b4ade347-d6e8-4af5-adbd-7db440338e3d","name":"Structured Output Parser2"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video2').item.json.output.videoId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,3240],"id":"ecdeca92-425d-4f90-b7dc-edb9d3c32a22","name":"Download the video2","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Generate video2').item.json.output.videoTitle }}","regionCode":"HU","categoryId":"24","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1760,3240],"id":"d499ffc2-5cc6-4aea-ac41-4aa239a09d1a","name":"Share on YouTube2"},{"parameters":{"promptType":"define","text":"=<Instruction>\nTurn the following reddit story into a video. Keep everything, but make slight tweaks so it's easy to understand it in a text-to-speech video format with subtitles.\n\nReturn the video ID and the title of the video for the Youtube upload.\n</Instruction>\n\n<Story>\n{{ $json.data[4].title }}\n{{ $json.data[4].contentSnippet }}\n</Story>","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[160,3340],"id":"52bad0c3-ad60-4daf-9f14-04695610d129","name":"Generate video2"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video2').item.json.output.videoId }}/status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,3340],"id":"506d7448-751d-4df1-9476-054833135804","name":"Check video status2","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"220a5d64-eea7-47fb-9557-682ed4ac2670","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"667fc922-3cb8-41cf-b86e-e635cf75bdc2","name":"contentSnippet","value":"={{ $json.contentSnippet.split('submitted')[0].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,3360],"id":"89a3a104-b67b-4b4e-b0b5-b33b3914cf45","name":"Map fields2"},{"parameters":{"url":"=https://www.reddit.com/r/stories/top/.rss?t=week","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-620,3360],"id":"5462eaa2-742c-410c-a52c-053437ddd356","name":"Get top weekly posts2"},{"parameters":{"content":"# Create short videos from r/Stories","width":2760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-920,2960],"id":"f5038ef8-a593-4a74-a741-5e29e27fc67b","name":"Sticky Note2"},{"parameters":{"content":"# Troubleshooting Youtube\n\n1. If you are running n8n locally, set the \n\n```N8N_DEFAULT_BINARY_DATA_MODE=filesystem```\n\nenvironment variable if you are getting 400 HTTP errors\n\n2. Youtube has a daily upload limitations on uploading videos using the API - you can only upload up to 6 videos\n","height":300,"width":700,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,1160],"id":"191bdfa7-e4a5-4508-9378-12697bea2658","name":"Sticky Note4"},{"parameters":{"content":"# [Video guide on YouTube](https://youtu.be/jzsQpn-AciM)\n# Troubleshooting: [join the discord server](https://discord.gg/G7FJVJQ6RE)","width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,720],"id":"53a03c8c-85da-432e-81bb-90094b665378","name":"Sticky Note5"},{"parameters":{"content":"# MCP server\n\n## How to run it\n\n#### Using npm\n\n```bash\nLOG_LEVEL=debug PEXELS_API_KEY= npx short-video-creator\n```\n\n#### Alternatively, using Docker\n\n#### CPU image\n\n```bash\ndocker run -it --rm --name short-video-maker -p 3123:3123 \\\n  -e PEXELS_API_KEY= \\\n  gyoridavid/short-video-maker:latest\n```\n\n#### NVIDIA GPUs\n```bash\ndocker run -it --rm --name shorts-video-maker -p 3123:3123 \\\n  -e PEXELS_API_KEY= --gpus=all \\\n  gyoridavid/short-video-maker:latest-cuda\n```\n\n## Resources\n\n- [Github](https://github.com/gyoridavid/short-video-maker)\n- [npm](https://www.npmjs.com/package/short-video-maker)\n- [Docker](https://hub.docker.com/r/gyoridavid/short-video-maker)","height":880,"width":1900,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7b1877fc-9ab2-430a-890e-4b09f7c4467f","name":"Sticky Note6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[160,1500],"id":"955f2d12-60f6-42b1-8d55-2e9ecaaacde1","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"220a5d64-eea7-47fb-9557-682ed4ac2670","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"667fc922-3cb8-41cf-b86e-e635cf75bdc2","name":"contentSnippet","value":"={{ $json.contentSnippet.split('submitted')[0].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,1520],"id":"49e41860-3e1e-4a7b-a764-68b614f5e669","name":"Map fields3"},{"parameters":{"command":"LOG_LEVEL=debug PEXELS_API_KEY=j3sS3tc5WrLg6rc6in7z1vPmDA859H5Mzdw2epN4PZwKisvWqlzPQkKY npx short-video-creator"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1180,1760],"id":"67f76f05-bec2-4f6e-8b2d-5fd58f8d20d9","name":"Execute Command"},{"parameters":{"method":"POST","url":"https://api.zero2launch.com/generate-audio/url/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"b8b3e2d078763b7b642a27954787d171c2ac129b33dca2e02abe921a07bd2c6e"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"=Havia uma esperança de que todos fossem livres para viver suas vidas, foi enteão... que pensaram em se mudar para o país vizinho que aparentava estar no caminho correto de progresso."},{"name":"voice","value":"alloy"},{"name":"vibe","value":"bedtime_story"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,1740],"id":"bf51724c-eb78-4085-91ed-8945d296d86b","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://api.zero2launch.com/download-image/data","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"b8b3e2d078763b7b642a27954787d171c2ac129b33dca2e02abe921a07bd2c6e"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"luta de boxe entre dois mascotes de times de futebol imponetes Ultra realista mascote1: Pit bull, mascote2: Javali"},{"name":"width","value":"1920"},{"name":"height","value":"1080"},{"name":"seed","value":"42"},{"name":"model","value":"flux"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,1740],"id":"c1df4354-be30-42a0-8a10-9bd83451264e","name":"HTTP Request1"},{"parameters":{"operation":"sendAndWait","chatId":"834280584","message":"E ai ficou legal?","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1640,1560],"id":"bda7748b-91c8-4e0b-96c6-ec38289384c3","name":"Telegram","webhookId":"135af38f-d19e-4217-9984-c50f396c72bf","notesInFlow":false,"credentials":{"telegramApi":{"id":"0NV80ri68xoFuxql","name":"Telegram account"}}},{"parameters":{"operation":"sendVideo","chatId":"834280584","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1700,1280],"id":"b4a6ff40-8ddf-4b6e-bb9f-7f5f485b0cbf","name":"Telegram1","webhookId":"10421526-876f-4efe-99c4-b55dc806fcae","credentials":{"telegramApi":{"id":"0NV80ri68xoFuxql","name":"Telegram account"}}}],"connections":{"MCP Client":{"ai_tool":[[{"node":"Generate video","type":"ai_tool","index":0}]]},"Aggregate":{"main":[[{"node":"Generate video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Check video status","type":"main","index":0}]]},"If":{"main":[[{"node":"Download the video","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate video","type":"ai_outputParser","index":0}]]},"Download the video":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Map fields","type":"main","index":0}]]},"Generate video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Check video status":{"main":[[{"node":"If","type":"main","index":0}]]},"Map fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get top weekly posts":{"main":[[{"node":"Map fields3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Generate video1","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Generate video1","type":"ai_tool","index":0}]]},"Aggregate1":{"main":[[{"node":"Generate video1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Check video status1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Download the video1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Generate video1","type":"ai_outputParser","index":0}]]},"Download the video1":{"main":[[{"node":"Share on YouTube1","type":"main","index":0}]]},"Generate video1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Check video status1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Map fields1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Get top weekly posts1":{"main":[[{"node":"Map fields1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Generate video2","type":"ai_languageModel","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"Generate video2","type":"ai_tool","index":0}]]},"Aggregate2":{"main":[[{"node":"Generate video2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Check video status2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Download the video2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Generate video2","type":"ai_outputParser","index":0}]]},"Download the video2":{"main":[[{"node":"Share on YouTube2","type":"main","index":0}]]},"Generate video2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Check video status2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Map fields2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Get top weekly posts2":{"main":[[{"node":"Map fields2","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Generate video","type":"ai_languageModel","index":0}]]},"Telegram":{"main":[[]]},"Telegram1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23c8a01a-7243-4751-9fff-454b194e1ca8","triggerCount":0,"tags":[]}