9p2VVVEkRXhym69i.json
{"createdAt":"2025-08-24T20:09:29.889Z","updatedAt":"2025-09-29T15:18:38.000Z","id":"9p2VVVEkRXhym69i","name":"Secretaria MxR Store","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $('Info').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"4ca9226f-0401-49a7-93a1-8aeaf4b0bb79","leftValue":"={{ $('Info').item.json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.telefone }}","rightValue":"556584077695","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[688,720],"id":"7aa1612e-5441-4981-a450-5fc4994ee1dc","name":"Mensagem chegando?","disabled":true},{"parameters":{"httpMethod":"POST","path":"secretariamxr","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,720],"id":"21d8614a-6dcd-435b-9fda-fb58ea9ca647","name":"Mensagem recebida","webhookId":"248a270a-b1ff-472c-ac93-8655cd3b1c04"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,720],"id":"57644fe3-4fe0-4279-8685-ee6edc1686f2","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2672,720],"id":"66630c3e-3c6f-4f6d-aca3-074d7c274ee2","name":"Buscar mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,720],"id":"fdf54de7-2eb1-44de-aa2e-da13a48cbaf2","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3088,720],"id":"a3030a95-928f-4f06-aa7d-33761e7e4410","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"content":"Evolution não permite disparar evento de \"Digitando...\" de forma assíncrona, então usamos um workflow paralelo.","height":180,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3616,880],"id":"6c1b3057-02ca-4166-9b85-ed2657d96430","name":"Sticky Note1"},{"parameters":{"content":"# Processando mensagens encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n","height":500,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,528],"id":"0cf838e0-3358-442d-8049-759b84a18af8","name":"Sticky Note2"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2448,720],"id":"6c8f860c-4834-4bc2-857c-1a49628bee8e","name":"Esperar","webhookId":"e8d66dc8-d3ec-42b4-ae3e-58b973cb8f53"},{"parameters":{"content":"# Gerando resposta","height":724,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,528],"id":"db6e0435-5c83-44d4-a172-bd932a0cf7a4","name":"Sticky Note3"},{"parameters":{"content":"# Enviando resposta","height":724,"width":728,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5872,528],"id":"3ee0e520-a5eb-47ce-adac-887f4dbf8208","name":"Sticky Note4"},{"parameters":{"content":"# Tratando input\n\nImplementação de etiquetas do Evolution API não é muito fácil de utilizar, portanto funcionalidade de \"agente off\" fica difícil de implementar.\nUma alternativa é utilizar uma base de dados externa para controle \"manual\" de etiquetas.","height":500,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,528],"id":"290a61b2-6093-4912-98e4-19745aef537f","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40a7f625-de6c-4f11-80c1-f153e32ffd6d","leftValue":"={{ $('Mensagem recebida').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1984,704],"id":"614996b6-dcd5-4d17-96d3-22480e9fb326","name":"Tipo de mensagem"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').item.json.instancia }}","messageId":"={{ $('Info').item.json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2336,1152],"id":"fd133b75-9929-4f3f-9790-2055c9453a54","name":"Download áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2928,1152],"id":"625c01c1-7a70-455f-8be3-5f626626c3b5","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"content":"# Processando áudio","height":320,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,1056],"id":"9b5ee479-b18d-4fb9-8bd5-4ff94996c859","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"=http://localhost:5678/webhook/secretariamxr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"composing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,720],"id":"247eeba9-7c7b-4c9c-b682-467aef856647","name":"Digitando async","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}},"disabled":true},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"recording"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,1152],"id":"d5e5bd6b-638d-4544-a3d5-9a7dd3e3aeae","name":"Gravando async","disabled":true},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5952,336],"id":"39f15c0c-643d-47a0-af44-63354ad2f9e8","name":"Resetar status1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}},"disabled":true},{"parameters":{"content":"Waveform nem sempre funciona no Evolution. Requer formato de áudio específico","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6208,496],"id":"23f51834-b2a8-4a73-a702-1a8faa46b2e6","name":"Sticky Note"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Info').item.json.id_mensagem }}","fromMe":"={{ $('Info').item.json.fromMe }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3312,1152],"id":"320dd923-c74a-46e5-b4c2-b0824e3287f3","name":"Marcar como lida","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}}},{"parameters":{"content":"Para testar, recomendado incluir seu telefone no filtro.\n\nDessa forma, o agente não vai responder outras pessoas.","height":140,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1616,848],"id":"20eb87e6-2058-4a34-ae3a-e03b4b18af4e","name":"Sticky Note8"},{"parameters":{"content":"Usado HTTP request devido limitação do community node do Evolution, que só permite marcar como lida 1 mensagem de cada vez (ver no fluxo de áudio abaixo).\n\nÉ possível fazer um loop e executar para cada mensagem da fila, mas HTTP request é mais eficiente.","height":180,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3264,880],"id":"2f0b0fd7-49de-45af-9e34-940376399779","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"readMessages\": {{ JSON.stringify($('Buscar mensagens').all().map(mensagem => \n    { \n      const { id_mensagem, telefone } = mensagem.json\n      return { id: id_mensagem, remoteJid: telefone + '@s.whatsapp.net', fromMe: false }\n    }))\n  }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,720],"id":"b130a503-5989-428f-8434-d3c79e0067d0","name":"Marcar como lidas","executeOnce":true,"credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}},"disabled":true},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":840,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3248,528],"id":"cab75fd8-770f-48a5-abdf-fca0310295e2","name":"Sticky Note12"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nNOME (no WhatsApp): {{ $('Info').item.json.name }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\nID DA CONVERSA: {{ $('Info').item.json.id_mensagem }}\n\n# PERSONA E OBJETIVO\n\nVocê é a assistente virtual da MxR Store, uma loja online de eletrônicos especializada em equipamentos de áudio. Seu nome é \"Ana, assistente da MxR\". Seu objetivo é ser **eficiente, direta e vendedora**, guiando o cliente para finalizar a compra da forma mais rápida e satisfatória possível, iniciando a conversa com uma oferta especial.\n\n# PRODUTO EM DESTAQUE (OFERTA DO DIA)\n\n*   **Instrução:** Este é o produto que você deve oferecer proativamente na sua primeira mensagem, a menos que o cliente já pergunte sobre outro item específico.\n*   **ID do Produto para buscar:** `MXR002` [-> Exemplo: ID do KZ EDX Lite. Você pode mudar apenas este ID para alterar a oferta do dia. <-]\n\n# PRINCÍPIOS DE ATENDIMENTO\n*   **FOCO NO CLIENTE:** Ajude o cliente a resolver sua necessidade da forma mais rápida possível.\n*   **TÉCNICAS DE CONVERSA (Inspirado em Chris Voss):**\n    *   **Escuta Ativa:** Demonstre que entendeu o que o cliente pediu antes de responder.\n    *   **Espelhamento Sutil:** Se o cliente diz \"Estou procurando um fone bom pra palco\", você pode começar sua resposta com \"Ah, legal! Para palco, temos ótimas opções da Marca KZ como a linha ZSN, EDX...\".\n    *   **Rotulação:** Use frases como \"Entendi que você precisa de algo com mais grave, certo? como a linha KZ ZSN PRO, EDX PRO...\" para confirmar o entendimento.\n    *   **Perguntas Calibradas:** Use perguntas abertas como \"Para te ajudar melhor, qual seria o principal uso do fone? Retorno, Jogar, Estudo, Treino...?\".\n*   **TOM E ESTILO:**\n    *   Moderno, prestativo e confiante.\n    *   Frases curtas e diretas.\n    *   **Uma pergunta por vez.** Espere a resposta antes de prosseguir.\n    *   Use emojis de forma natural e moderada (ex: 🎧, 📦, 🛵, ✅, 📍).\n\n# FERRAMENTAS DISPONÍVEIS (Por Ordem de Prioridade)\n\nVocê deve usar as seguintes ferramentas para executar suas tarefas.\n\n1.  **Nome da Ferramenta:** `Buscar_estoque`\n    *   **Descrição:** Consulta a planilha de produtos. **Esta é sua única fonte da verdade para produtos.**\n    *   **Quando Usar:** SEMPRE que o cliente mencionar um produto, pedir preço, disponibilidade ou uma recomendação. É sua principal ferramenta.\n    *   **Exemplo:** Cliente: \"vcs tem o kz zsn pro?\". Você usa `Buscar_estoque` com o termo \"kz zsn pro\".\n\n2.  **Nome da Ferramenta:** `Refletir`\n    *   **Descrição:** Permite que você pense ou raciocine sobre um problema complexo antes de responder.\n    *   **Quando Usar:** Se uma solicitação for ambígua ou exigir a conexão de várias informações, use esta ferramenta para estruturar seu pensamento antes de agir.\n    *   **Exemplo:** Cliente: \"qual o melhor fone pra igreja e pra jogar?\". Você usa `Refletir`: \"Preciso de um fone versátil. Vou buscar por tags como 'palco', 'retorno' e 'gamer' e ver se algum modelo se encaixa nos dois cenários.\"\n\n3.  **Nome da Ferramenta:** `Escalar_humano`\n    *   **Descrição:** Notifica um gestor humano sobre uma conversa que precisa de atenção.\n    *   **Quando Usar:** Use quando o cliente estiver insatisfeito, pedir para falar com um atendente, insistir em um desconto, quiser negociar valores para quantidades maiores ou fizer uma pergunta muito específica/técnica.\n    *   **Formato da Mensagem (use exatamente este):**\n        Usuário {{ $('Info').item.json.name }} ({{ $('Info').item.json.telefone }}) precisa de atenção imediata.\n\n4.  **Nome da Ferramenta:** `Calculadora`\n    *   **Descrição:** Realiza cálculos matemáticos.\n    *   **Quando Usar:** Use para somar o valor de múltiplos produtos ou calcular taxas de forma precisa.\n    *   **Exemplo:** Cliente quer 2 produtos. Você usa `Calculadora` para somar `[preço_produto_A] + [preço_produto_B]`.\n\n5.  **Nome da Ferramenta:** `Reagir_mensagem`\n    *   **Descrição:** Reage a uma mensagem do usuário com um emoji.\n    *   **Quando Usar:** Use na primeira mensagem do usuário para dar as boas-vindas e em outros momentos pertinentes (agradecimentos, confirmações).\n\n6. *   **Nome da Ferramenta:** `PIX img`\n    *   **Descrição:** Use essa ferramenta quando o cliente perguntar a chave Pix.\n    *   **Quando Usar:** Quando o cliente pedir a chave PIX.\n\n7. *   **Nome da Ferramenta:** `send_location`\n    *   **Descrição:** Use essa ferramenta para enviar a localização do Google Maps para o cliente.\n    *   **Quando Usar:** Quando o cliente pedir a localização.\n\n\n# BASE DE CONHECIMENTO (Informações Gerais)\n*   **Itens para Upsell (Venda Casada):** Case de proteção para fones, Adaptador P2 para P10, Cabo de reposição, Módulo Bluetooth KZ, Espumas de memória (memory foam).\n*   **Catálogo Completo no WhatsApp:** https://wa.me/c/556584077695\n*   **Instagram:** @mxr_stores (https://www.instagram.com/mxr_stores)\n*   **Pagamento:**\n    *   **Formas:** Dinheiro, PIX, Cartão de Crédito ou Débito.\n    *   **Dados do PIX:** Celular 65984077695 (Michael Barbosa de Lima, 99pay).\n    *   **Taxa do Cartão:** Informe que a taxa da maquininha é repassada ao cliente.\n*   **Localização, Retirada e Entrega:**\n    *   **Endereço para Retirada:** Rua B, 10, Jardim Pres. II, Coxipó, Cuiabá - MT (Próximo ao Atacadão do Tijucal).\n    *   **Link do Google Maps:** https://maps.app.goo.gl/6bGyJefDpq9Nnv8r6\n    *   **REGRA DE OURO DA RETIRADA:** A retirada deve ser **SEMPRE** agendada e confirmada aqui no chat. Não somos uma loja física com porta aberta.\n    *   **Horário para Retirada:** Todos os dias, das 06:00 às 19:00, **mediante agendamento.**\n    *   **Entregas:** Cuiabá e Várzea Grande (VG).\n    *   **Custo Estimado:** Os valores de entrega geralmente ficam entre **R$10 e R$20**, dependendo da distância e horário.\n\n# FLUXO DE ATENDIMENTO E REGRAS DE NEGÓCIO\n\n1.  **Saudação Proativa (Regra Crítica):**\n    *   Cumprimente o cliente pelo nome (`{{ $('Info').item.json.name }}`) e use `Reagir_mensagem` na primeira mensagem dele.\n    *   **IMEDIATAMENTE APÓS**, use a ferramenta `Buscar_estoque` com o ID definido em \"PRODUTO EM DESTAQUE\".\n    *   Apresente a oferta usando o formato exato abaixo.\n        \"Olá, {{ $('Info').item.json.name }}! Tudo bem?\n        Para já adiantar, estamos com uma oferta especial hoje!\n        \n        Temos promoção! Seguem os detalhes:\n        🎧 **Produto:** [Nome_Produto]\n        📝 **Descrição:** [Descricao]\n        💰 **Preço:** R$[Preco_Venda] (à vista para retirada)\n        🔗 **Ver no Catálogo:** [Link_Catalogo_WA]\n        \n        Além da nossa oferta, como posso te ajudar hoje?\"\n    *   **Exceção:** Se a primeira mensagem do cliente já for sobre um produto específico, pule a oferta e vá direto para a Etapa 2.\n\n2.  **Abordagem Direta de Venda:**\n    *   Se o cliente perguntar por um **produto específico**, sua ação é imediata:\n        1.  Use `Buscar_estoque`.\n        2.  Se encontrar e houver estoque, responda no formato:\n            \"Temos sim! Seguem os detalhes:\n            🎧 **Produto:** [Nome_Produto]\n            📝 **Descrição:** [Descricao]\n            💰 **Preço:** R$[Preco_Venda] (à vista para retirada)\n            🔗 **Ver no Catálogo:** [Link_Catalogo_WA]\"\n        3.  **IMEDIATAMENTE APÓS**, envie uma nova mensagem tentando o **upsell**: \"Aproveitando, você vai precisar de uma case de proteção para ele ou de um adaptador P10? Temos a partir de R$15.\"\n\n3.  **Consulta Genérica:** Se a pergunta for ampla (\"quais fones você tem?\"), apresente 2-3 opções e, assim que o cliente demonstrar interesse em uma, siga para o passo de **upsell**.\n\n4.  **Entrega e Retirada:** Responda conforme as informações detalhadas na Base de Conhecimento.\n\n5.  **Escalada para Humano:** Ao identificar uma situação que necessita de um humano, **não tente resolver.** Use a ferramenta `Escalar_humano` imediatamente.\n\n# EXEMPLOS DE INTERAÇÃO\n\n- **Cliente:** \"oii, vcs tem o kz zsx terminator?\"\n- **Sua Ação 1:** [Use `Reagir_mensagem` com \"👋\"]\n- **Sua Ação 2:** [Use `Buscar_estoque` com o termo \"kz zsx terminator\"]\n- **Sua Resposta 1:**\n  \"Olá, {{ $('Info').item.json.name }}! Temos sim! Seguem os detalhes:\n  🎧 **Produto:** KZ ZSX Terminator - 12 Drivers\n  📝 **Descrição:** Fone KZ ZSX Terminator com 12 drivers, alta definição sonora.\n  💰 **Preço:** R$329.00 (à vista para retirada)\n  🔗 **Ver no Catálogo:** https://wa.me/p/...\"\n- **Sua Resposta 2 (mensagem seguinte):**\n  \"Ele é um fone incrível! Aproveitando, você já tem uma case para proteger ele? Temos umas bem resistentes.\"\n\n- **Cliente:** \"vcs tem microfone?\"\n- **Sua Ação:** [Use `Buscar_estoque` com a tag \"microfone\"]\n- **Sua Resposta:** \"Temos sim! Para qual finalidade você precisa? Assim posso te indicar o melhor. 😉 Encontrei alguns modelos aqui, como o Fifine A8 Plus e opções de lapela sem fio.\"\n\n# REAÇÕES\n\nUse em situações relevantes.\n- Início da conversa: 😀 ou 🎧\n- Pedido de entrega: 🏍️ ou 📦\n- Agradecimentos: ❤️ ou 🤝\n**SEMPRE USAR REAÇÕES NO INÍCIO E NO FINAL DA CONVERSA, E EM OUTROS MOMENTOS OPORTUNOS**\n\n# INSTRUÇÕES CRÍTICAS FINAIS\n*   **NUNCA, JAMAIS, EM HIPÓTESE ALGUMA responda perguntas sobre produtos sem antes consultar a ferramenta `Buscar_estoque`.**\n*   **Nunca ofereça descontos.** Se o cliente insistir, use a ferramenta `Escalar_humano`.\n*   **Nunca crie textos longos.** Mantenha a comunicação ágil.\n*   **Observação sobre Preços:** Sempre informe que os valores são \"à vista para retirada\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4224,608],"id":"ded91871-f155-4284-8a83-d32e0d86ac05","name":"Secretária","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4704,608],"id":"10397baa-3a21-4bc5-bd33-08b2509053fb","name":"Tipo de mensagem1"},{"parameters":{"content":"### Importante!!\n\nEssa lógica só irá funcionar com o workflow ativo (modo produção).\n\nNo modo \"Test workflow\", só uma mensagem será processada de cada vez, então nunca haverá fila.","height":140,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2736,880],"id":"bd7093fe-695b-46ae-a475-d3dddca40072","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova excesso de emojis (mais de 3)"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5424,576],"id":"831ced74-655e-4a96-8de3-87ff992eba9b","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5504,736],"id":"17fead5e-bfc9-4882-a131-db7846a0abcb","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[2048,1680],"id":"a5cb8372-035e-4c22-b64b-85574f2da6cf","name":"Enviar alerta de cancelamento","webhookId":"48048480-92a1-45e1-9f24-6cefa74d9d9f","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3984,896],"id":"6e38c60a-8103-4e92-a219-28248c892f11","name":"Gemini","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4112,896],"id":"d27738d7-6df1-434a-8258-a57b92ecf087","name":"Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[4224,896],"id":"31713966-b61d-4512-b312-9cef270142dc","name":"Refletir"},{"parameters":{"content":"## Notas sobre a ferramenta \"Escalar humano\"\n\nDevido a dificuldade no uso de etiquetas do Evolution, não é trivial desabilitar o envio de mensagens para o usuário após o uso dessa ferramenta.\n\nPara ver como isso pode ser feito mais facilmente com o Chatwoot, assista o nosso vídeo.","height":320,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2336,1648],"id":"94a7d5cd-ba85-4bb4-95ca-7c9d635d566b","name":"Sticky Note18","disabled":true},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }},\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4352,896],"id":"6a39bf99-1c94-42b4-81b5-bddc4322b1e8","name":"Reagir mensagem","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2656,1152],"id":"18c71eb5-092c-4a34-aeef-4ff773a07ec5","name":"Converter base64 para áudio."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime('s') }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2224,720],"id":"9cda162b-2703-4636-9626-fb6f4c6c6897","name":"Enfileirar mensagem.","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $('Transcrever áudio').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,1152],"id":"48e263b9-b07a-44f7-953e-32cb923400cc","name":"Set mensagem.","executeOnce":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","messageText":"=𝗠𝘅𝗥 𝗦𝘁𝗼𝗿𝗲 \n\n{{ $('Formatar texto').item.json.text }}\n\n🙋🏼‍♀️ 𝑎𝑠𝑠𝑖𝑠𝑡𝑒𝑛𝑡𝑒 𝑑𝑎 𝘔𝑥𝘙 𝘚𝑡𝑜𝑟𝑒 🏪","options_message":{"delay":2200,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6352,608],"id":"85cbe11e-d33f-4906-93e1-e478a1b158d7","name":"Responder mensagem texto.","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"e1aac26c-0f11-4dd3-95c6-60411b1d1cdd","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.data.message.audioMessage?.ptt || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"number"},{"id":"a445d43a-6cd5-4388-982b-9fc58433b342","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"3faf2f42-c3aa-4862-8e35-a09cfe87b2b8","name":"mensagem_de_grupo","value":"={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}","type":"boolean"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"=http://host.docker.internal:8081","type":"string"},{"id":"9d73a108-1624-4d16-b3ba-caac1c921d1d","name":"telegram_chat_id","value":"<cole seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,720],"id":"7c7c9e03-a350-4cb1-afe6-ca8c54880b8c","name":"Info"},{"parameters":{"content":"## Lista de tests SANDBOX\n\n","height":1216,"width":2604,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,1584],"id":"7c83fc6e-f465-4e7c-8cdd-240ac5133b2c","name":"Sticky Note21","disabled":true},{"parameters":{"content":"## 1. Secretária","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,416],"id":"13ed2dec-267c-4600-875a-af5fba87bbfc","name":"Sticky Note30"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1744,2080],"id":"04bd8b74-1312-4d57-b52c-b3252a78d131","name":"Gatilho diário","disabled":true},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Enviar uma mensagem de confirmação** usando a ferramenta “Enviar opções no WhatsApp”, perguntando se o paciente confirma a consulta ou prefere reagendar.\n4. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2176,2080],"id":"e1240ac4-aa07-485c-b45d-83884eb652b1","name":"Assistente de confirmação","disabled":true},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":500,"width":1060,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1648,2000],"id":"b65777b5-79e8-4f9d-8388-302445c72a07","name":"Sticky Note16","disabled":true},{"parameters":{"toolDescription":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO telefone deve ser formatado com apenas números, incluindo o código do país.\n\nExemplo: \"551112345678\"","method":"POST","url":"={{ $('Info1').item.json.url_evolution }}/message/sendText/{{ $('Info1').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{telefone}\",\n  \"text\": \"{mensagem}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2432,2320],"id":"57ecde52-9901-4695-8a46-c63ea5191b93","name":"Enviar informacoes agendamento1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2016,2320],"id":"1c756a29-4ec4-4017-aa58-6b1c64e555cf","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}},"disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1872,2320],"id":"aa2466f6-8149-4e3e-addb-a71d3b172f04","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"content":"## Notas sobre a ferramenta \"Salvar memoria\"\n\nPor padrão, no N8N não existe uma forma direta de compartilhar memória entre agentes diferentes.\n\nUsando a ferramenta acima \"Salvar memoria\", nós conseguimos simular no banco de dados o Assistente de confirmação respondendo como se fosse a Secretária.\n\nDessa forma, quando o paciente enviar uma mensagem para a Secretária, ela irá ver a mensagem do Assistente como se ela mesmo tivesse enviado.\n\nIsso garante que ela entenderá o contexto caso o paciente simplesmente responda \"confirmar\", por exemplo.","height":240,"width":1060,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1648,2528],"id":"9dd50639-1df6-4c49-881c-e5990e21e7e1","name":"Sticky Note19","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2144,2320],"id":"ee69bf99-bb33-4d46-baa3-b3c7fb99fb88","name":"Salvar memoria","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}},"disabled":true},{"parameters":{"sseEndpoint":"=<url do seu MCP Google Calendar>","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2288,2320],"id":"49c7ce46-d23b-4cf0-9713-bee5e1fddfbc","name":"MCP Google Calendar.","disabled":true},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2576,2320],"id":"4fe40ae3-9a8c-4e93-998b-a55e4b5e7c08","name":"Refletir1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"<cole a URL do seu Evolution API>","type":"string"},{"id":"96cf1cfd-5604-4a21-900a-990cac0d9a0d","name":"url_n8n","value":"<cole a url do seu N8N>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,2080],"id":"385f8eba-e938-4ef3-b02b-0cf1111232cc","name":"Info1","disabled":true},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1088,2624],"id":"6aa4e7d0-dc4f-4a47-83df-5c534a0a7593","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}},"disabled":true},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[624,2432],"id":"5753b749-ffee-4b3b-bd9b-9a47043f6e4a","name":"Chat Memory Manager","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"556584773634","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[592,2624],"id":"67b3727f-d506-4091-80d0-15fa11890200","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[352,2432],"id":"aa2e292a-5172-4179-8cad-abced06ce23e","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"content":"## Limpar memória \n","height":432,"width":824,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,2336],"id":"3028f04e-33d6-42b6-96a5-1f66ea9da4c4","name":"Sticky Note22","disabled":true},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2208,336],"id":"ad713837-c023-4040-99e9-2cd7b4c274eb","name":"Convert image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Persona: você é um expert em análise de imagens.\n\nAction: você vai analisar as imagens e fará uma descrição rica em detalhes, mas direta e concisa.\n\nOutput: somente a descrição da imagem e nada mais, essa descrição será usada por outro agente para fornecer a resposta.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2432,336],"id":"5748fd0a-174e-4e15-81bf-9f4a2e3647fb","name":"OpenAI Image","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3712,336],"id":"932730cf-4321-43ed-ab34-1d8ac4544497","name":"Set mensagem.1","executeOnce":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.id }}","rightValue":"120363168788453502@g.us","operator":{"type":"string","operation":"equals"},"id":"6bc0750c-94f7-42eb-b25b-8aeeb91954ce"}],"combinator":"and"},"renameOutput":true,"outputKey":"MxR Store"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d34a66d-9e5f-491e-b907-5a166a2e71c0","leftValue":"","rightValue":"id grupo Escambo MT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Escambo MT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56dbeca7-481a-4c89-9c65-1c46bc779656","leftValue":"","rightValue":"id grupo Bateras MT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bateras MT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,1824],"id":"39a0247e-95c9-432d-8c1b-d53b43e7d53d","name":"Quem é?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.id }}","rightValue":"120363168788453502@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[160,1648],"id":"3c04e6ba-c291-4c97-88a4-e1f85d0f7674","name":"Responder somente para MxR Store","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[544,1680],"id":"c665a336-d661-436f-969e-24fd6665456a","name":"Responder somente palavra chave #FONE2","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[544,1840],"id":"a8163da0-2a00-4a2e-9070-8649926ff978","name":"Responder somente palavra chave #FONE","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[544,2000],"id":"832bcf3f-6065-49f2-a820-c299c618c65f","name":"Responder somente palavra chave #FONE1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a09376e8-4cb3-44c5-b3ca-bb65fd0dab27","leftValue":"={{ $('Mensagem recebida').item.json.body.data.message.conversation }}","rightValue":"#venda","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Venda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem recebida').item.json.body.data.message.conversation }}","rightValue":"#ativar","operator":{"type":"string","operation":"contains"},"id":"0729151b-4e06-4d65-84b3-8e98149665c9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ativar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1764528d-aae8-4927-b5b8-137f601e6e09","leftValue":"={{ $('Mensagem recebida').item.json.body.data.message.conversation }}","rightValue":"#atendimento","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pausar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1152,224],"id":"36fd059d-7e44-4a7d-9714-8cc7980fa511","name":"Pausar ou Ativar1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"columns":{"mappingMode":"defineBelow","value":{"Número ":"={{ $item(\"0\").$node[\"Mensagem recebida\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","Pausado?":"sim"},"matchingColumns":["Número "],"schema":[{"id":"Número ","displayName":"Número ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pausado?","displayName":"Pausado?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1440,352],"id":"c8929a57-fdea-44f8-9770-ecc4c7cb593e","name":"Pausar1","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94746291-c0f3-44f3-b635-1fe696d7d74e","leftValue":"={{ $('Mensagem recebida').item.json.body.data.key.fromMe }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"02262f63-8c92-4ebf-a8d5-db5bb619848c","name":"Form Me1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,720]},{"parameters":{"documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"filtersUI":{"values":[{"lookupColumn":"Número ","lookupValue":"={{ $item(\"0\").$node[\"Mensagem recebida\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1440,144],"id":"46570fe6-99a0-4e50-b303-29dffd696e52","name":"GetRow1","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"startIndex":"={{ $item(\"0\").$node[\"GetRow1\"].json[\"row_number\"] }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1616,144],"id":"715b46ec-40b5-4d3c-a654-cade6c356dda","name":"DeleteRow1","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30a2eecc-e02c-44eb-93ab-24861011eee9","leftValue":"={{ $json['Pausado?'] }}","rightValue":"sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,736],"id":"87d04c55-92a8-455c-ac7c-9c751567d2b2","name":"If2"},{"parameters":{"documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"filtersUI":{"values":[{"lookupColumn":"Número ","lookupValue":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1088,736],"id":"63001436-c5ac-4065-823c-8b77fa18d9c6","name":"GetStatus1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1648,576],"id":"9724aef4-4b39-4a64-a265-faf9d9f2fa54","name":"No Operation, do nothing1"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6352,800],"id":"f8e7ce37-4bb7-4a42-9b34-5cf740d5e5fe","name":"Enviar audio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"=data","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[6112,800],"id":"1af3456f-70fd-49f3-9e8b-4350c6e0b9cb","name":"Áudio para base64"},{"parameters":{"assignments":{"assignments":[{"id":"39f862f4-d1d9-46b9-95fa-a0b565ef405c","name":"response","value":"Desculpe, não consegui gerar o áudio!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6112,992],"id":"8c98c85a-c524-4d92-a32d-ddab0f0b30b2","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"pf_dora\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5920,880],"id":"e9ecb34f-808c-4fe7-a960-84b578791256","name":"Generate TTS AUDIO ptBR","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8081/message/sendWhatsAppAudio/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"audio\": \"{{ $json.data }}\",\n  \"delay\": 3,\n  \"linkPreview\": true,\n  \"mentionsEveryOne\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6384,1024],"id":"12fbe001-eeb5-4cd0-b50b-e9de7b8ef27b","name":"Enviar audio1","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5456,1088],"id":"bd20d54b-6fd3-403a-8d73-0893f59bb2c8","name":"Google Gemini Chat Model.1","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando SSML, mas nunca use tags.\n\nVocê irá receber um texto e a sua tarefa é deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**\n**NUNCA COLOQUE NADA MAIS ALEM DO TEXTO RECEBIDO. EX:<speak><break time=\\\"1.0s\\\"**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5440,912],"id":"e2ed1295-f03a-42a8-b019-211a6845f51c","name":"Formatar SSML"},{"parameters":{"path":"search-products","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[4288,1504],"id":"5fb84413-ead0-482a-94e9-cf66bfcc05d4","name":"Webhook","webhookId":"59f9ddfc-70c9-4760-9492-a9fbeed41c17"},{"parameters":{"documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":757565468,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=757565468"},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1616,1824],"id":"c2b46138-6eea-4f54-8d44-8d28869807c7","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":757565468,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=757565468"},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1440,2624],"id":"7e2fbbb8-4b90-4d63-88f0-7f33472aa366","name":"Buscar_estoque1","credentials":{"googleApi":{"id":"Qgax5uWEHJVUuboe","name":"Sheets N8N - Google Service Account -  Guilherme Lazarotto"}},"disabled":true},{"parameters":{"jsCode":"const customerQuery = $input.first().json.query.Nome_Produto;\n\n// Função para limpar e formatar a query para o formato do to_tsquery do PostgreSQL\n// Ex: \"fone bluetooth resistente\" -> \"fone & bluetooth & resistente\"\nconst formatSearchQuery = (str) => {\n  if (!str) return '';\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .trim()\n    .split(/\\s+/) // Divide em palavras\n    .filter(word => word.length > 2) // Remove palavras curtas\n    .join(' & '); // Junta com '&' para que todas as palavras sejam buscadas\n};\n\nconst formattedQuery = formatSearchQuery(customerQuery);\n\n// Retorna a query formatada para ser usada no próximo nó\nreturn [{ json: { searchQuery: formattedQuery } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4496,1504],"id":"34810e39-fc0c-4de1-bc17-f21b4abd47e1","name":"Code"},{"parameters":{"operation":"getAll","tableId":"produtos","matchType":"allFilters","filters":{"conditions":[{"keyName":"tags_busca","condition":"fullText","searchFunction":"fts","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1280,2624],"id":"1430197c-b80d-464a-b665-66cafeab50eb","name":"Get many rows in Supabase","credentials":{"supabaseApi":{"id":"WcYbah9rGRARfueF","name":"Supabase MxR"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM search_products($1);","options":{"queryReplacement":"={{ $('Code').first().json.searchQuery }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4704,1504],"id":"e5193cce-5587-48ff-b08a-be8484d9e573","name":"Execute a SQL query","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"operation":"getAll","tableId":"rpc/search_products","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"=query","condition":"eq","keyValue":"={{ $json.searchQuery }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1808,1824],"id":"cc2b3c4c-b238-4127-a4ea-eff967ea0b89","name":"Get many rows","credentials":{"supabaseApi":{"id":"WcYbah9rGRARfueF","name":"Supabase MxR"}},"disabled":true},{"parameters":{"toolDescription":"Agente de IA que pode consultar o estoque e chamar outras ferramentas","text":"={{ $fromAI('Prompt__Secretaria_Message_', ``, 'string') }}\n\nVocê será responsável por buscar o estoque E comparar Com as informações da do agente anterior.\n\nMantenha o foco em Trazer o produto específico da busca relacionada E oferecer produtos similares Traga somente os produtos Da busca e similares sem nenhum texto a mais.","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1120,2416],"id":"c78a7002-044c-48c6-b904-f703fb4950ed","name":"Buscar_estoque3","disabled":true},{"parameters":{"toolDescription":"Use esta tool HTTP para Fazer buscas no banco de dados com produtos relacionados A pergunta do cliente.","url":"http://localhost:5678/webhook/search-products","sendQuery":true,"queryParameters":{"parameters":[{"name":"=Nome_Produto","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[4528,896],"id":"7237c4df-397f-45d3-8a38-ca5f7eb773ff","name":"Buscar_estoque"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4912,1504],"id":"e7c67dde-6796-4c61-9b4a-9530e73ec921","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6384,1248],"id":"777f9421-36a5-470e-a25c-7ce86aa387c7","name":"Enviar texto."},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7376,544],"id":"60e2ad2f-c249-4220-afae-e8e71286fb88","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[7184,672],"id":"6fc4a6ba-6aee-48fa-9a1b-fd0164f842ef","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7376,688],"id":"479085d7-cf9a-4d2c-9bde-04bd7d2d697e","name":"Wait","webhookId":"e2ab6470-8675-48d8-83d8-463948c2682d"},{"parameters":{"jsCode":"// --- Início do Código Corrigido ---\n\n// Configurações (ajuste conforme necessário)\nconst text = $('Formatar texto').first().json.text;\nconst delaySeconds = 2;\nconst maxLength = 180;\n\n// 1. Captura e substitui URLs e e-mails para evitar que sejam quebrados\nconst placeholders = [];\nconst urlAndEmailRegex = /((https?:\\/\\/)?[\\w-]+(\\.[\\w-]+)+(\\/[\\w-?%=.@&+]*)?|[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,6})/gi;\nlet processedText = text.replace(urlAndEmailRegex, (match) => {\n  placeholders.push(match);\n  // Cria um placeholder único para cada item capturado\n  return `__PLACEHOLDER_${placeholders.length - 1}__`;\n});\n\n// 2. Lógica de quebra de mensagem inteligente\nconst chunks = [];\nlet remainingText = processedText.trim();\n\nwhile (remainingText.length > 0) {\n  // Se o texto restante for menor que o limite, ele se torna o último bloco\n  if (remainingText.length <= maxLength) {\n    chunks.push(remainingText);\n    break;\n  }\n\n  // Pega uma fatia inicial do texto com o tamanho máximo\n  let currentChunk = remainingText.substring(0, maxLength);\n  \n  // Procura o melhor ponto para quebra, buscando do fim para o começo da fatia\n  let breakPoint = -1;\n\n  // Prioridade 1: Quebra de linha (\\n)\n  breakPoint = currentChunk.lastIndexOf('\\n');\n  \n  // Prioridade 2: Fim de frase (ex: \". \", \"! \", \"? \")\n  if (breakPoint === -1) {\n    const sentenceEndings = ['. ', '! ', '? '];\n    for (const ending of sentenceEndings) {\n        let point = currentChunk.lastIndexOf(ending);\n        if (point > breakPoint) {\n            // Ajusta o ponto de quebra para incluir a pontuação e o espaço\n            breakPoint = point + 1; \n        }\n    }\n  }\n\n  // Prioridade 3: Último espaço em branco\n  if (breakPoint === -1) {\n    breakPoint = currentChunk.lastIndexOf(' ');\n  }\n\n  // Fallback: Se não encontrar nenhum ponto de quebra (ex: palavra muito longa)\n  // quebra no limite máximo para evitar loop infinito\n  if (breakPoint === -1) {\n    breakPoint = maxLength;\n  }\n  \n  // Extrai o bloco de mensagem com base no ponto de quebra encontrado\n  const finalChunk = remainingText.substring(0, breakPoint).trim();\n  if (finalChunk) {\n      chunks.push(finalChunk);\n  }\n  \n  // Atualiza o texto restante para a próxima iteração\n  remainingText = remainingText.substring(breakPoint).trim();\n}\n\n// 3. Restaura os links/e-mails e formata a saída para o n8n\nconst finalMessages = chunks.map(chunk => {\n  let restored = chunk;\n  placeholders.forEach((placeholder, i) => {\n    restored = restored.replace(`__PLACEHOLDER_${i}__`, placeholder);\n  });\n  return { message: restored, delay: delaySeconds };\n});\n\nreturn finalMessages;\n\n// --- Fim do Código Corrigido ---"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6976,672],"id":"a10128b7-468f-46c1-8b4f-7d9abc20d380","name":"Separator"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-preview-05-20","mode":"list","cachedResultName":"models/gemini-2.5-flash-preview-05-20"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1792,1616],"id":"97ce486c-2172-425e-b3e5-5e035e8961da","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"=mxmlocal","remoteJid":"=+5565984077695","messageText":"=𝗠𝘅𝗥 𝗦𝘁𝗼𝗿𝗲 \n\nhttps://app.metricool.com/planner/calendar?blogId=3963889&userId=3118910\n\n🙋🏼‍♀️ 𝑎𝑠𝑠𝑖𝑠𝑡𝑒𝑛𝑡𝑒 𝑑𝑎 𝘔𝑥𝘙 𝘚𝑡𝑜𝑟𝑒 🏪","options_message":{"delay":2200,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,1680],"id":"59f00826-7fd6-45e2-bf17-b982b772155f","name":"Responder mensagem texto.1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5168,896],"id":"3843dd3b-996d-4047-8a76-f49025ac62fa","name":"Calculadora"},{"parameters":{"descriptionType":"manual","toolDescription":"=Use essa ferramenta quando detectar uma situação que deve ser informada ao gestor responsável.\n\nUse o seguinte formato para a mensagem\n\n```\nUsuário <nome do usuário> (<telefone do usuário>) precisa de atenção imediata.\n\nÚltima mensagem:\n\n---\n\n<última mensagem do usuário>\n\nResumo conversa:\n\n---\n\n<resumo da conversa>\n```","chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[2192,1696],"id":"79b90d03-a0e1-4535-8a4c-1c46b149c1d5","name":"Escalar humano1","webhookId":"60f97b98-5f19-4eba-8013-91a84df782c5","credentials":{"telegramApi":{"id":"0NV80ri68xoFuxql","name":"Telegram account"}},"disabled":true},{"parameters":{"toolDescription":"Use essa ferramenta quando detectar uma situação que deve ser informada ao gestor responsável.\n\nUse o seguinte formato para a mensagem\n\n```\nUsuário <nome do usuário> (<telefone do usuário>) precisa de atenção imediata.\n\nÚltima mensagem:\n\n---\n\n<última mensagem do usuário>\n\nResumo conversa:\n\n---\n\n<resumo da conversa>\n```","method":"POST","url":"=http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"number","valueProvider":"fieldValue","value":"120363168788453502@g.us"},{"name":"text","valueProvider":"fieldValue","value":"=Número: {{ $('Info').item.json.telefone }}\nResumo: {resumo}"}]},"placeholderDefinitions":{"values":[{"name":"=resumo","description":"resumo da conversa com o cliente","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4688,896],"id":"8caf632d-8da5-4998-ad51-d14a7f7ec875","name":"Escalar humano","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  nome,\n  earth_distance(\n    ll_to_earth(-15.601, -56.097), -- localização da loja\n    ll_to_earth(latitude, longitude) -- localização do cliente\n  ) / 1000 AS distancia_km\nFROM clientes;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1280,2096],"id":"85fd2aee-77a8-495a-bc26-4359e134afab","name":"Execute a SQL query1","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"calcular-frete","options":{}},"id":"817b108b-2727-47bb-a78c-7f0834236584","name":"Webhook Entrada Coordenadas","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[4080,1776],"webhookId":"0595cb0b-8d70-430e-84dd-5c4e218039dd"},{"parameters":{"functionCode":"return [{\n  loja_lat: -56.02787590126778,\n  loja_lon: -15.645529753832776,\n  cliente_lat: $json[\"latitude\"],\n  cliente_lon: $json[\"longitude\"]\n}];"},"id":"5937a637-f0ab-4c67-bb37-58a8cdad3ac1","name":"Definir Coordenadas Loja","type":"n8n-nodes-base.function","typeVersion":1,"position":[4336,1776]},{"parameters":{"operation":"executeQuery","query":"SELECT earth_distance(\n  ll_to_earth(-15.6456155, -56.0278132),\n  ll_to_earth({{ $json[\"cliente_lat\"] }}, {{ $json[\"cliente_lon\"] }})\n) / 1000 AS distancia_km;","additionalFields":{}},"id":"bcdcf6f4-ef3f-4e30-943c-dbc3f2b3819d","name":"Postgres Calcular Distância","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[4592,1776],"credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"functionCode":"const distancia = $json[\"distancia_km\"] || $items(\"Postgres Calcular Distância\", 0).json.distancia_km;\nconst valorFrete = distancia * 2;\nreturn [{\n  distancia_km: distancia.toFixed(2),\n  frete_brl: valorFrete.toFixed(2)\n}];"},"id":"b98afd84-313c-46ff-af94-ebac160eb97c","name":"Calcular Frete","type":"n8n-nodes-base.function","typeVersion":1,"position":[4832,1776]},{"parameters":{"options":{}},"id":"3414b0e1-a13c-4c0a-8f57-1562e9463ec0","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[5088,1776]},{"parameters":{"content":"## Buscar Estoque Supabase","height":272,"width":972,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4176,1408],"id":"56b82c85-e4c4-426a-95a4-f0becd3f0d00","name":"Sticky Note31"},{"parameters":{"content":"## Calcular Entrega","height":272,"width":1468,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3856,1712],"id":"e0ba1a76-15f7-4d94-ad87-6f1b76b07f6c","name":"Sticky Note32"},{"parameters":{"content":"## 1. Direcionar FROM ME","height":432,"width":972,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,80],"id":"8b079bd0-1e7a-4430-aa4e-10e1ed47f3c9","name":"Sticky Note33"},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/evo","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,-48],"id":"3b2f6d97-8816-4b41-89c9-65a9692cb982","name":"HTTP Request"},{"parameters":{"toolDescription":"Use essa ferramenta quando o cliente perguntar a chave Pix","method":"POST","url":"=http://host.docker.internal:8081/message/sendMedia/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"mediatype\": \"Image\",\n  \"mimetype\": \"image/png\",\n  \"caption\": \"Meu PIX é meu número de celular: \\n 65984077695 \\n Michael Barbosa de Lima \\n 99pay\",\n  \"media\": \"https://pnnlbxxirrucrtyiomqw.supabase.co/storage/v1/object/public/mxr_store_assets/Meu%20PIX%20WhatsApp%20Image%202025-09-28%20at%2012.06.16%20PM.jpeg\",\n  \"fileName\": \"Image.png\",\n  \"delay\": 2000,\n  \"linkPreview\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[4832,896],"id":"c1160fff-2f4f-43c1-8cac-974b6faa29e1","name":"PIX img","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"toolDescription":"Use essa ferramenta para enviar a localização do Google Maps para o cliente.","method":"POST","url":"http://host.docker.internal:8081/message/sendLocation/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"name\": \"Local para retirada\",\n  \"address\": \"Rua B, 10, Jardim Pres. II, Coxipó, Cuiabá - MT 78090185 (Próximo ao Atacadão do Tijucal).\",\n  \"latitude\": -56.02787590126778,\n  \"longitude\": -15.645529753832776,\n  \"delay\": 2000,\n  \"linkPreview\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[5024,896],"id":"2ecfd8a0-c2ac-4ff7-8a06-fe1406a80139","name":"send_location","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"url":"https://api.mapbox.com/search/searchbox/v1/suggest?q=musicos&session_token=0dda58af-7a32-4608-8199-9109df88011a&language=pt&proximity=-56.02787590126778%2C-15.645529753832776&country=br&types=city&poi_category=music_school%2Cmusic_shop%2Cmusic_venue","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4928,2016],"id":"c88f0b0d-03c0-4ae7-9062-b5b745d5d6e2","name":"Map Box","credentials":{"httpHeaderAuth":{"id":"ghVuoLAM1d9iy1D8","name":"MapBox"}},"disabled":true}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Form Me1","type":"main","index":0}]]},"Mensagem recebida":{"main":[[]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Convert image","type":"main","index":0}],[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Converter base64 para áudio.","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Marcar como lida","type":"main","index":0}]]},"Digitando async":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Gravando async":{"main":[[{"node":"Set mensagem.","type":"main","index":0}]]},"Resetar status1":{"main":[[]]},"Marcar como lida":{"main":[[{"node":"Gravando async","type":"main","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando async","type":"main","index":0}]]},"Secretária":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Responder mensagem texto.","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[]]},"Gemini":{"ai_languageModel":[[{"node":"Secretária","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Secretária","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Converter base64 para áudio.":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Set mensagem.":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Gatilho diário":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Enviar informacoes agendamento1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Buscar_estoque3","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"OpenAI Image","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Set mensagem.1","type":"main","index":0}]]},"Set mensagem.1":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Quem é?":{"main":[[{"node":"Responder somente palavra chave #FONE2","type":"main","index":0}],[{"node":"Responder somente palavra chave #FONE","type":"main","index":0}],[{"node":"Responder somente palavra chave #FONE1","type":"main","index":0}]]},"Pausar ou Ativar1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"GetRow1","type":"main","index":0}],[{"node":"Pausar1","type":"main","index":0}]]},"Form Me1":{"main":[[{"node":"Pausar ou Ativar1","type":"main","index":0}],[{"node":"GetStatus1","type":"main","index":0}]]},"GetRow1":{"main":[[{"node":"DeleteRow1","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Tipo de mensagem","type":"main","index":0}]]},"GetStatus1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Áudio para base64":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Generate TTS AUDIO ptBR":{"main":[[{"node":"Áudio para base64","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model.1":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Formatar SSML":{"main":[[{"node":"Generate TTS AUDIO ptBR","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Buscar_estoque1":{"ai_tool":[[{"node":"Buscar_estoque3","type":"ai_tool","index":0}]]},"Get row(s) in sheet":{"main":[[]]},"Get many rows in Supabase":{"ai_tool":[[{"node":"Buscar_estoque3","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Get many rows":{"main":[[]]},"Buscar_estoque3":{"ai_tool":[[]]},"Buscar_estoque":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Enviar texto.":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[]]},"Separator":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Transcribe a recording":{"main":[[]]},"Responder mensagem texto.":{"main":[[]]},"Calculadora":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Escalar humano1":{"ai_tool":[[]]},"Escalar humano":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Webhook Entrada Coordenadas":{"main":[[{"node":"Definir Coordenadas Loja","type":"main","index":0}]]},"Definir Coordenadas Loja":{"main":[[{"node":"Postgres Calcular Distância","type":"main","index":0}]]},"Postgres Calcular Distância":{"main":[[{"node":"Calcular Frete","type":"main","index":0}]]},"Calcular Frete":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"PIX img":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"send_location":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Get row(s) in sheet":[{"json":{"row_number":2,"ID_Produto":"MXR001","Nome_Produto":"Fone de ouvido ND DTS","Preco_Venda":"49.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido ND DTS - drive de 14.2mm 🎧🔊 - COM ou SEM Microfone fone para uso casual e dia a dia","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/7942921339077545/556584077695","Tags_Busca":"nd, dts, 2 drivers, in-ear, retorno, fone barato, com e sem microfone, fone bom para jogos"}},{"json":{"row_number":3,"ID_Produto":"MXR002","Nome_Produto":"KZ EDX Lite - 2 Drivers","Preco_Venda":"59.0","Quantidade_Estoque":1,"Descricao":"KZ EDX Lite - COM ou SEM Microfone - 🪳 Baratíssimo do dia kk","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/25939740418950401/556584077695","Tags_Busca":"kz, edx lite, 2 drivers, in-ear, retorno, fone barato, com e sem microfone, fone bom para jogos, ótimo custo benefício"}},{"json":{"row_number":4,"ID_Produto":"MXR003","Nome_Produto":"KZ EDX Classic - 2 Drivers","Preco_Venda":"79.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ EDX um classico com 2 drivers, fone muito bom por muito tempo.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/9642455139162098/556584077695","Tags_Busca":"kz, edx, 2 drivers, in-ear, retorno"}},{"json":{"row_number":5,"ID_Produto":"MXR004","Nome_Produto":"KZ EDX PRO - 2 Drivers","Preco_Venda":"89.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ EDX PRO com 2 drivers.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/6184890994970107/556584077695","Tags_Busca":"kz, edx pro, 2 drivers, in-ear, retorno"}},{"json":{"row_number":6,"ID_Produto":"MXR005","Nome_Produto":"KZ EDX PRO X - 2 Drivers","Preco_Venda":"99.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ EDX PRO X com 2 drivers uma das ultimas atualizações da linha EDX","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/7383677228356142/556584077695","Tags_Busca":"kz, edx pro x, 2 drivers, in-ear, retorno"}},{"json":{"row_number":7,"ID_Produto":"MXR006","Nome_Produto":"Fone CCA CRA - COM ou SEM Microfone","Preco_Venda":"109.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido de alta fidelidade CCA CRA.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/c/556584077695","Tags_Busca":"cca, cra, in-ear, retorno, palco, com microfone"}},{"json":{"row_number":8,"ID_Produto":"MXR007","Nome_Produto":"KZ D-FI  - 2 Drivers - sem chave de ajuste","Preco_Venda":"109.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ D-FI versão standard, sem chaves.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/6591060654332157/556584077695","Tags_Busca":"kz, d-fi, in-ear, standard, retorno"}},{"json":{"row_number":9,"ID_Produto":"MXR008","Nome_Produto":"KZ ZVX - 2 Drives","Preco_Venda":"109.0","Quantidade_Estoque":1,"Descricao":"KZ ZVX | 2 Drives 🔊| - COM ou SEM Microfone - 🎙️","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/7008935199219546/556584077695","Tags_Busca":"kz, zsx, terminator, 12 drivers, in-ear, retorno, palco"}},{"json":{"row_number":10,"ID_Produto":"MXR009","Nome_Produto":"KZ Castor - 4 Drivers com chave de ajuste","Preco_Venda":"149.0","Quantidade_Estoque":1,"Descricao":"Fone multifuncional KZ Castor com opção de ajuste de graves.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/7346147445478046/556584077695","Tags_Busca":"kz, castor, 4 drivers, bass, grave, in-ear, retorno"}},{"json":{"row_number":11,"ID_Produto":"MXR010","Nome_Produto":"KZ ZSN PRO - 4 Drivers","Preco_Venda":"149.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ ZSN PRO com 4 drivers.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/4952781624740926/556584077695","Tags_Busca":"kz, zsn pro, 4 drivers, in-ear, retorno, otimo fone para bateristas, baixistas, graves fortes"}},{"json":{"row_number":12,"ID_Produto":"MXR011","Nome_Produto":"KZ ZSN PRO X - 4 Drivers","Preco_Venda":"167.0","Quantidade_Estoque":1,"Descricao":"Valor a vista para retirar. Fone de Retorno de Palco com 1 Driver Dinâmico.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/4583242581768444/556584077695","Tags_Busca":"kz, zsn pro x, 4 drivers, in-ear, retorno, palco, otimo fone para bateristas, baixistas, graves fortes"}},{"json":{"row_number":13,"ID_Produto":"MXR012","Nome_Produto":"KZ ESX special edition 10 years - 2 drivers","Preco_Venda":"169.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ ESX special edition 10 years com 2 drivers, um dos fones mais lindos da KZ.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/c/556584077703","Tags_Busca":"kz, esx, 2 drivers, in-ear, retorno, otimo fone para bateristas, baixistas, graves fortes, lindo, design top"}},{"json":{"row_number":14,"ID_Produto":"MXR013","Nome_Produto":"KZ ZEX (Eletrostático) - 4 drivers","Preco_Venda":"179.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ ZEX (Eletrostático) com 4 drivers.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/7940094819444782/556584077695","Tags_Busca":"kz, zex pro, 4 drivers, in-ear, retorno, otimo fone para bateristas, baixistas, graves fortes"}},{"json":{"row_number":15,"ID_Produto":"MXR014","Nome_Produto":"KZ ZSN PRO Gen 2 - 4 drivers","Preco_Venda":"179.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido KZ ZSN PRO Gen 2 com 4 drivers.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/c/556584077703","Tags_Busca":"kz, zsn pro gen2, 4 drivers, in-ear, retorno, otimo fone para bateristas, baixistas, graves fortes"}},{"json":{"row_number":16,"ID_Produto":"MXR015","Nome_Produto":"Salnotes Zero HiFi de 7Hz - 2 drivers","Preco_Venda":"199.0","Quantidade_Estoque":1,"Descricao":"Fone de ouvido intra-auricular Salnotes Zero HiFi de 7Hz","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/24696977243242722/556584077695","Tags_Busca":"salnotes, zero, 7hz, 4 drivers, in-ear, retorno, otimo fone para bateristas, baixistas, graves fortes"}},{"json":{"row_number":17,"ID_Produto":"MXR016","Nome_Produto":"KZ EDA - 2 drivers","Preco_Venda":"199.0","Quantidade_Estoque":1,"Descricao":"KIT Fone de ouvido KZ EDA com 2 drivers, um kit com 3 medolos de tuning (3 em 1).","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/c/556584077703","Tags_Busca":"kz, eda, 2 drivers, in-ear, retorno, otimo fone para bateristas, baixistas, graves presentes"}},{"json":{"row_number":18,"ID_Produto":"MXR017","Nome_Produto":"KZ ZS10 PRO X - 10 Drivers","Preco_Venda":"299.0","Quantidade_Estoque":1,"Descricao":"Fone KZ ZS10 PRO X com 10 drivers, um clássico de palco.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/6787199631338356/556584077695","Tags_Busca":"kz, zs10 pro x, 10 drivers, in-ear, retorno, palco"}},{"json":{"row_number":19,"ID_Produto":"MXR018","Nome_Produto":"KZ ZSX Terminator - 12 Drivers","Preco_Venda":"329.0","Quantidade_Estoque":1,"Descricao":"Fone KZ ZSX Terminator com 12 drivers, alta definição sonora.","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/4921364727883827/556584077695","Tags_Busca":"kz, zsx, terminator, 12 drivers, in-ear, retorno, palco"}},{"json":{"row_number":20,"ID_Produto":"MXR019","Nome_Produto":"KZ AS16 PRO - 16 Drivers","Preco_Venda":"329.0","Quantidade_Estoque":1,"Descricao":"Fone In-ear 16 Drivers Kz As16 Pro\n\nLançamento recente da KZ marca reconhecida mundialmente pela qualidade dos seu Fones de retorno profissionais para músicos de alta performance 🔝","Categoria":"Fones de Ouvido","Link_Catalogo_WA":"https://wa.me/p/6137716219665419/556584077695","Tags_Busca":"kz, as16 pro, 16 drivers, in-ear, retorno, palco, feito para musicos profissionais"}},{"json":{"row_number":21,"ID_Produto":"MXR020","Nome_Produto":"Cabo de reposição KZ (REFORÇADO)","Preco_Venda":"79.0","Quantidade_Estoque":1,"Descricao":"Cabo de reposição REFORÇADO para fones da marca KZ e similares.","Categoria":"Cabos e Adaptadores","Link_Catalogo_WA":"https://wa.me/p/7426520524141471/556584077695","Tags_Busca":"cabo, kz, reposicao, acessorio, cabo reforçado"}},{"json":{"row_number":22,"ID_Produto":"MXR021","Nome_Produto":"Cabo de reposição KZ (padrão)","Preco_Venda":"45.0","Quantidade_Estoque":1,"Descricao":"Cabo de reposição padrão para fones da marca KZ.","Categoria":"Cabos e Adaptadores","Link_Catalogo_WA":"https://wa.me/p/6950934691603607/556584077695","Tags_Busca":"cabo, kz, reposicao, acessorio"}},{"json":{"row_number":23,"ID_Produto":"MXR022","Nome_Produto":"Adaptador tipo C para P2","Preco_Venda":"45.0","Quantidade_Estoque":1,"Descricao":"Para melhor a qualidade do áudio do celular.","Categoria":"Cabos e Adaptadores","Link_Catalogo_WA":"https://wa.me/c/556584077698","Tags_Busca":"adaptador, usb c, p2, p3, fone, celular, dac"}},{"json":{"row_number":24,"ID_Produto":"MXR023","Nome_Produto":"Adaptador tipo P2 para P10 - Plug P10","Preco_Venda":"45.0","Quantidade_Estoque":1,"Descricao":"Adaptador Plug P10. Para melhorar a qualidade do áudio dos equipamentos.","Categoria":"Cabos e Adaptadores","Link_Catalogo_WA":"https://wa.me/p/9553982627948929/556584077695","Tags_Busca":"adaptador, p2, fone, celular, plug p10"}},{"json":{"row_number":25,"ID_Produto":"MXR024","Nome_Produto":"Interface de Áudio para Celular Joyo Momix","Preco_Venda":"179.0","Quantidade_Estoque":1,"Descricao":"Ótimo custo X benefícios para gravações.","Categoria":"Interfaces de Áudio","Link_Catalogo_WA":"https://wa.me/c/556584077700","Tags_Busca":"interface, audio, celular, joyo, momix, gravação, live"}},{"json":{"row_number":26,"ID_Produto":"MXR025","Nome_Produto":"Interface de Áudio para Celular IRIG","Preco_Venda":"39.0","Quantidade_Estoque":2,"Descricao":"baixo custo e com bons benefícios para lives e gravações.","Categoria":"Interfaces de Áudio","Link_Catalogo_WA":"https://wa.me/c/556584077700","Tags_Busca":"interface, audio, celular, irig, gravação, live"}},{"json":{"row_number":27,"ID_Produto":"MXR026","Nome_Produto":"Mvave WP09 (Novo) - Transmissor Receptor Sem Fio para fone de retorno","Preco_Venda":"379.0","Quantidade_Estoque":1,"Descricao":"Mvave WP09 (Novo) - Transmissor Receptor Sem Fio para fone de retorno para Musicos Profissionais. M-VAVE WP-9 2.4G Recarregável Sem Fio Fone de Ouvido Monitor Transmissor Receptor com Suporte de Volume Estéreo Mono Função Mudo\n\nM-VAVE WP-9 2.4G Recarregável Sem Fio Fone de Ouvido Monitor Transmissor Receptor com Suporte de Volume\nhttps://s.click.aliexpress.com/e/_mKlDXiT","Categoria":"Acessórios","Link_Catalogo_WA":"https://wa.me/p/9388121727904540/556584077695","Tags_Busca":"wp09, trasmissor, receptor, kit transmissor receptor sem fio, audio, mvave, gravação, live"}},{"json":{"row_number":28,"ID_Produto":"MXR027","Nome_Produto":"Mvave WP10 - Transmissor Receptor Sem Fio para fone de retorno","Preco_Venda":"299.0","Quantidade_Estoque":1,"Descricao":"Mvave WP10 - Transmissor Receptor Sem Fio para fone de retorno para Musicos Profissionais","Categoria":"Acessórios","Link_Catalogo_WA":"https://wa.me/p/6285796284820450/556584077695","Tags_Busca":"wp10, trasmissor, receptor, kit transmissor receptor sem fio, audio, mvave, gravação, live"}},{"json":{"row_number":29,"ID_Produto":"MXR028","Nome_Produto":"Amplificador de Fones de Retorno - Ha800 de 8 canais","Preco_Venda":"199.0","Quantidade_Estoque":0,"Descricao":"Amplificador de Fones de Retorno - Ha800 Amplificador Fone Ouvido de 8 Canais","Categoria":"Acessórios","Link_Catalogo_WA":"https://wa.me/p/7635927366494067/556584077695","Tags_Busca":"ha800, amplificador de fones de ouvidos, kit para entrada fone 8 fones, audio"}},{"json":{"row_number":30,"ID_Produto":"MXR029","Nome_Produto":"Amplificador de Fones de Retorno - Ha400 de 4 canais","Preco_Venda":"129.0","Quantidade_Estoque":0,"Descricao":"Amplificador de Fones de Retorno - Ha400 Amplificador Fone Ouvido de 4 Canais","Categoria":"Acessórios","Link_Catalogo_WA":"https://wa.me/p/7937816389646420/556584077695","Tags_Busca":"ha400, amplificador de fones de ouvidos, kit para entrada fone 4 fones, audio"}},{"json":{"row_number":31,"ID_Produto":"MXR030","Nome_Produto":"Case KZ para Fones, cabos, etc...","Preco_Venda":"29.0","Quantidade_Estoque":1,"Descricao":"Case KZ para Fones, cabos, etc...","Categoria":"Acessórios","Link_Catalogo_WA":"https://wa.me/p/7635927366494067/556584077695","Tags_Busca":"case, bag, kit proteção para fone, audio"}},{"json":{"row_number":32,"ID_Produto":"MXR031","Nome_Produto":"Case pequena para guardar Fones, cabos, etc...","Preco_Venda":"15.0","Quantidade_Estoque":1,"Descricao":"Case pequena para Fones, cabos, capinha para guardar fone, etc...","Categoria":"Acessórios","Link_Catalogo_WA":"https://wa.me/p/7635927366494067/556584077695","Tags_Busca":"case, bag, kit proteção para fone, audio, capinha para guardar fone"}},{"json":{"row_number":33,"ID_Produto":"MXR032","Nome_Produto":"Headset Onikuma B2 - 2.4Ghz","Preco_Venda":"297.0","Quantidade_Estoque":1,"Descricao":"Headset Onikuma B2 - 2.4ghz sem fio 3 modos de conexão.","Categoria":"Headsets Gamer","Link_Catalogo_WA":"https://wa.me/c/556584077699","Tags_Busca":"headset, gamer, onikuma, sem fio, 2.4ghz, onikuma b2"}},{"json":{"row_number":34,"ID_Produto":"MXR033","Nome_Produto":"Headset Smail Wolf 🐺 - 2.4Ghz","Preco_Venda":"197.0","Quantidade_Estoque":1,"Descricao":"Headset Smail Wolf 🐺 - 2.4ghz sem fio 3 modos de conexão.","Categoria":"Headsets Gamer","Link_Catalogo_WA":"https://wa.me/c/556584077699","Tags_Busca":"headset, gamer, sem fio, 2.4ghz"}},{"json":{"row_number":35,"ID_Produto":"MXR034","Nome_Produto":"Headset Gamer","Preco_Venda":"197.0","Quantidade_Estoque":1,"Descricao":"Fones de ouvido sem fio Bluetooth para jogos.","Categoria":"Headsets Gamer","Link_Catalogo_WA":"https://wa.me/c/556584077696","Tags_Busca":"headset, gamer, sem fio, bluetooth, fone com microfone"}},{"json":{"row_number":36,"ID_Produto":"MXR035","Nome_Produto":"Microfone Dinâmico Fifine A2","Preco_Venda":"199.0","Quantidade_Estoque":1,"Descricao":"Microfone dinâmico da Fifine A2, ótimo para voz e jogos","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/p/28442552622010380/556584077695","Tags_Busca":"microfone, fifine, a2, dinamico, podcast, voz"}},{"json":{"row_number":37,"ID_Produto":"MXR036","Nome_Produto":"Microfone Dinâmico Fifine K688","Preco_Venda":"399.0","Quantidade_Estoque":1,"Descricao":"Microfone dinâmico da Fifine, ótimo para voz e instrumentos.","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/c/556584077710","Tags_Busca":"microfone, fifine, k669, dinamico, podcast, voz"}},{"json":{"row_number":38,"ID_Produto":"MXR037","Nome_Produto":"Microfone Profissional Podcast Fduce SL40-cabo XLR e USB","Preco_Venda":"449.0","Quantidade_Estoque":1,"Descricao":"Ótimo custo X benefícios para gravações e vídeos podcasts, produção de conteudo. Microfone Profissional Podcast Fduce SL40-cabo XLR De 2m + USB 2\nhttps://s.click.aliexpress.com/e/_mPhDjuw","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/p/7403864196405740/556584077695","Tags_Busca":"microfone, podcasts, microfone de mesa, xlr, usb, lives, streaming, video, entrevista"}},{"json":{"row_number":39,"ID_Produto":"MXR038","Nome_Produto":"Microfone para Podcasts SM70","Preco_Venda":"449.0","Quantidade_Estoque":1,"Descricao":"Microfone para Podcasts SM70\n\nConcorrente do Shure \n\nMicrofone dinâmico cardioid excelente aplicação\nhttps://s.click.aliexpress.com/e/_mLWaHiQ","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/p/8248851655128474/556584077695","Tags_Busca":"microfone, podcasts, microfone de mesa, xlr, usb, lives, streaming, video, entrevista"}},{"json":{"row_number":40,"ID_Produto":"MXR039","Nome_Produto":"Fifine A8 Plus Microfone","Preco_Venda":"549.0","Quantidade_Estoque":0,"Descricao":"Concorrente do HyperX - Top fone para podcasts e produção de conteúdos similares","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/c/556584077704","Tags_Busca":"microfone, fifine, a8 plus, condensador, usb, gamer, podcast, streaming"}},{"json":{"row_number":41,"ID_Produto":"MXR040","Nome_Produto":"HyperX QuadCast Microfone","Preco_Venda":"799.0","Quantidade_Estoque":0,"Descricao":"Concorrente do Shure","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/c/556584077711","Tags_Busca":"microfone, hyperx, quadcast, gamer, streaming, condensador, usb"}},{"json":{"row_number":42,"ID_Produto":"MXR041","Nome_Produto":"Microfone Shure Sm7b","Preco_Venda":"1499.0","Quantidade_Estoque":1,"Descricao":"Top fone para podcasts e produção de conteúdos similares","Categoria":"Microfones","Link_Catalogo_WA":"https://wa.me/p/7981877928529008/556584077695","Tags_Busca":"microfone, shure sm7b, podcast, gamer, streaming, condensador, xlr"}},{"json":{"row_number":43,"ID_Produto":"MXR042","Nome_Produto":"Microfone de lapela sem fio 🪢\"bolinha\"","Preco_Venda":"159.0","Quantidade_Estoque":1,"Descricao":"https://s.click.aliexpress.com/e/_mLWaHiQ","Categoria":"Microfones de Lapela","Link_Catalogo_WA":"https://wa.me/c/556584077711","Tags_Busca":"microfone, lapela, bolinha, podcast, entrevistas, streaming, tipo c"}},{"json":{"row_number":44,"ID_Produto":"MXR043","Nome_Produto":"Microfone de lapela sem fio 🪢ZEALSOUND","Preco_Venda":"259.0","Quantidade_Estoque":1,"Descricao":"Microfone de Lapela Sem Fio com estojo de carregamento, microfone lapela, apto para iPhone, iPad, Android, Vlog, entrevista, transmissão ao vivo","Categoria":"Microfones de Lapela","Link_Catalogo_WA":"https://wa.me/p/7887863401290168/556584077695","Tags_Busca":"microfone, lapela, streaming, condensador, usb c, iphone"}},{"json":{"row_number":45,"ID_Produto":"MXR044","Nome_Produto":"Hollyland Lark M2 Combo - Microfone de lapela sem fio 🪢\"bolinha\"","Preco_Venda":"1199.0","Quantidade_Estoque":1,"Descricao":"Microfone de Lapela Sem Fio com estojo de carregamento, microfone lapela, apto para iPhone, iPad, Android, Vlog, entrevista, transmissão ao vivo\n\nMicrofone de Lapela Sem Fio com estojo de carregamento, microfone\nhttps://s.click.aliexpress.com/e/_mKCkzkC","Categoria":"Microfones de Lapela","Link_Catalogo_WA":"https://wa.me/p/31065536016424222/556584077695","Tags_Busca":"microfone de lapela, hollyland lark m2, gravação de conteúdo, propaganda, lives, streaming"}},{"json":{"row_number":46,"ID_Produto":"MXR045","Nome_Produto":"Fone de ouvido Bluetooth QCY T13 ANC","Preco_Venda":"199.0","Quantidade_Estoque":3,"Descricao":"","Categoria":"Fones Bluetooth","Link_Catalogo_WA":"https://wa.me/c/556584077703","Tags_Busca":"qcy, qcy 13 anc, cancelamento de ruidos, in-ear, fone sem fio, otimo fone para treinar, graves fortes"}},{"json":{"row_number":47,"ID_Produto":"MXR046","Nome_Produto":"Lenovo GM2 PRO Fone Bluetooth Gamer","Preco_Venda":"119.0","Quantidade_Estoque":1,"Descricao":"Microfone de Lapela Sem Fio com estojo de carregamento, microfon","Categoria":"Fones Bluetooth","Link_Catalogo_WA":"https://wa.me/c/556584077706","Tags_Busca":"fone, gamer, bluetooth, lenovo, gm2 pro, sem fio, tws"}},{"json":{"row_number":48,"ID_Produto":"MXR047","Nome_Produto":"Fone Bluetooth esportivo de gancho","Preco_Venda":"119.0","Quantidade_Estoque":1,"Descricao":"https://s.click.aliexpress.com/e/_mKCkzkC","Categoria":"Fones Bluetooth","Link_Catalogo_WA":"https://wa.me/p/25257511620517105/556584077695","Tags_Busca":"fone, esportivo, bluetooth, lenovo, sem fio, tws, gancho"}},{"json":{"row_number":49,"ID_Produto":"MXR048","Nome_Produto":"Fone Bluetooth Realfit F3 ANC","Preco_Venda":"99.0","Quantidade_Estoque":1,"Descricao":"Fone Bluetooth Realfit F3 ANC de baixa latência, Custo X Benefício, Fone Bluetooth Realfit F3 Anc\n🔋 Duração\nModelo do Produto: Realfit F3 ANC\nhttps://s.click.aliexpress.com/e/_m0bLF7I","Categoria":"Fones Bluetooth","Link_Catalogo_WA":"https://wa.me/p/8462685527080525/556584077695","Tags_Busca":"fone, treino, bluetooth, realfit, sem fio, tws, academia"}},{"json":{"row_number":50,"ID_Produto":"MXR049","Nome_Produto":"Fone Bluetooth Gamer Onikuma T308","Preco_Venda":"99.0","Quantidade_Estoque":2,"Descricao":"Fone Bluetooth Gamer Onikuma T308 🔊👹🔊 https://s.click.aliexpress.com/e/_mtifoxc","Categoria":"Fones Bluetooth","Link_Catalogo_WA":"https://wa.me/p/7458553237543722/556584077695","Tags_Busca":"fone, treino, bluetooth, realfit, sem fio, tws, academia"}},{"json":{"row_number":51,"ID_Produto":"MXR050","Nome_Produto":"Fone Bluetooth Baseus Bowie E19","Preco_Venda":"139.0","Quantidade_Estoque":1,"Descricao":"Fones de ouvido sem fio Baseus Bowie E19 Bluetooth 5.3 Big Bass Drivers de 12 mm IPX5 Fones de ouvid\nhttps://s.click.aliexpress.com/e/_mKxanH9","Categoria":"Fones Bluetooth","Link_Catalogo_WA":"https://wa.me/p/9299691736743563/556584077695","Tags_Busca":"fone, treino, bluetooth, baseus, sem fio, tws, academia"}},{"json":{"row_number":52,"ID_Produto":"MXR051","Nome_Produto":"Relógio Masculino NaviForce","Preco_Venda":"197.0","Quantidade_Estoque":1,"Descricao":"Relógio Masculino NaviForce, estilo esporte fino, pulseira de couro, analógico e digital.","Categoria":"Relógios","Link_Catalogo_WA":"https://wa.me/p/6283042515115713/556584077695","Tags_Busca":"relogio, masculino, militar, naviforce, esporte fino"}},{"json":{"row_number":53,"ID_Produto":"MXR052","Nome_Produto":"Relógio Masculino Militar Esportivo - Smael","Preco_Venda":"89.0","Quantidade_Estoque":1,"Descricao":"Relógio masculino estilo militar, resistente.","Categoria":"Relógios","Link_Catalogo_WA":"https://wa.me/p/9740901965982580/556584077695","Tags_Busca":"relogio, masculino, militar, smael, academia, treino"}},{"json":{"row_number":54,"ID_Produto":"MXR053","Nome_Produto":"Relógio Masculino Militar Esportivo - Smael","Preco_Venda":"89.0","Quantidade_Estoque":1,"Descricao":"Relógio masculino estilo militar, resistente.","Categoria":"Relógios","Link_Catalogo_WA":"https://wa.me/p/6818725521494176/556584077695","Tags_Busca":"relogio, masculino, militar, smael, academia, treino"}},{"json":{"row_number":55,"ID_Produto":"MXR054","Nome_Produto":"Relógio Masculino Militar Esportivo - Skmei","Preco_Venda":"99.0","Quantidade_Estoque":1,"Descricao":"Relógio Skmei Digital e Analógico masculino estilo militar, resistente. Relógios Masculinos Esportivos Skmei\n\nMultifuncional Cronógrafo \nhttps://s.click.aliexpress.com/e/_mMxsr35","Categoria":"Relógios","Link_Catalogo_WA":"https://wa.me/p/8669845799703278/556584077695","Tags_Busca":"relogio, masculino, militar, skmei, smael, academia, treino"}},{"json":{"row_number":56,"ID_Produto":"MXR055","Nome_Produto":"Relógio Masculino Militar Esportivo - Skmei","Preco_Venda":"99.0","Quantidade_Estoque":1,"Descricao":"Relógio Skmei Digital e Analógico masculino estilo militar, resistente. Relógios Masculinos Esportivos Skmei\n\nMultifuncional Cronógrafo \nhttps://s.click.aliexpress.com/e/_mMxsr35","Categoria":"Relógios","Link_Catalogo_WA":"https://wa.me/p/8451869918260779/556584077695","Tags_Busca":"relogio, masculino, militar, skmei, smael, academia, treino"}},{"json":{"row_number":57,"ID_Produto":"MXR056","Nome_Produto":"Caixinha de Som Bluetooth Lenovo","Preco_Venda":"99.0","Quantidade_Estoque":1,"Descricao":"Caixinha de Som Bluetooth portátil da marca Lenovo.","Categoria":"Outros Eletrônicos","Link_Catalogo_WA":"https://wa.me/c/556584077705","Tags_Busca":"caixa de som, bluetooth, lenovo, portatil, thinkplus"}},{"json":{"row_number":58,"ID_Produto":"MXR057","Nome_Produto":"Caixinha de Som Bluetooth Para Moto ou Bicicleta","Preco_Venda":"79.0","Quantidade_Estoque":1,"Descricao":"Caixinha de Som Bluetooth Para Moto ou Bicicleta","Categoria":"Outros Eletrônicos","Link_Catalogo_WA":"https://wa.me/c/556584077705","Tags_Busca":"caixa de som, bluetooth, bike, moto, portatil"}},{"json":{"row_number":59,"ID_Produto":"MXR058","Nome_Produto":"Fone Bluetooth para capacetes 🪖🎧 🛵= 🚀","Preco_Venda":"159.0","Quantidade_Estoque":1,"Descricao":"Fone Bluetooth para capacetes 🪖🎧 🛵= 🚀","Categoria":"Outros Eletrônicos","Link_Catalogo_WA":"https://wa.me/p/8637126856316814/556584077695","Tags_Busca":"fone para capacete, bluetooth, bike, moto, sem fio, portatil"}},{"json":{"row_number":60,"ID_Produto":"MXR059","Nome_Produto":"Monitor Gamer Ultra Wide","Preco_Venda":"1800.0","Quantidade_Estoque":1,"Descricao":"Monitor Gamer Curvo ⤵ Ultra Wide 34 polegadas 21:9.","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/c/556584077712","Tags_Busca":"monitor, gamer, ultra wide, tela, pc, 34 polegadas"}},{"json":{"row_number":61,"ID_Produto":"MXR060","Nome_Produto":"Suporte de monitor com braço articulado para Monitor, TV 📺 🖥️","Preco_Venda":"199.0","Quantidade_Estoque":1,"Descricao":"Suporte de monitor/braço articulado para Monitor, TV 📺 🖥️\n\nSuporte de monitor/braço articulado para TV Suporte de monitor articulado Suporte de monitor art\nhttps://s.click.aliexpress.com/e/_m0IcE4H","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/9870471456391178/556584077695","Tags_Busca":"monitor, braço articulado gamer, ultra wide, tela, pc, 34 polegadas"}},{"json":{"row_number":62,"ID_Produto":"MXR061","Nome_Produto":"Câmera web Anker PowerConf C200 2K 30FPS","Preco_Venda":"449.0","Quantidade_Estoque":1,"Descricao":"Câmera web Anker PowerConf C200 2K 30FPS. Câmera web Anker PowerConf C200 2K 30FPS cor preto\nhttps://s.click.aliexpress.com/e/_mKwz6qG","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/7949650288427745/556584077695","Tags_Busca":"câmera, webcam, gamer, 2k, gravação, pc, notebooks"}},{"json":{"row_number":63,"ID_Produto":"MXR062","Nome_Produto":"Tela secundária IPS tipo C de 3,5 polegadas para computador CPU GPU RAM HDD Display 320*480 USB LCD Monitor Freely AIDA64 Windows 10 11","Preco_Venda":"149.0","Quantidade_Estoque":1,"Descricao":"Tela secundária IPS tipo C de 3,5 polegadas para computador CPU GPU RAM HDD Display 320*480 USB LCD Monitor Freely AIDA64 Windows 10 11\n\nTela secundária IPS tipo C de 3,5 polegadas para computador CPU GPU RAM \n\nHDD Display 320*480 USB LC\nhttps://s.click.aliexpress.com/e/_mK2lK9m","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/8427937693968446/556584077695","Tags_Busca":"tela secundária, monitoramento, gamer, gravação, pc, notebooks"}},{"json":{"row_number":64,"ID_Produto":"MXR063","Nome_Produto":"Mouse Gamer Attack Shark 🦈 X2 PRO com dock de carregamento","Preco_Venda":"179.0","Quantidade_Estoque":1,"Descricao":"Mouse Gamer Attack Shark 🦈 X2 PRO com dock de carregamento","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/8528227447299536/556584077695","Tags_Busca":"mouse, gamer, pc, attack shark, notebooks"}},{"json":{"row_number":65,"ID_Produto":"MXR064","Nome_Produto":"Mouse Gamer Attack Shark 🦈 R1","Preco_Venda":"199.0","Quantidade_Estoque":1,"Descricao":"Mouse Gamer 🖱️ Attack Shark R1 🎮\n\nMouse 🔝\nhttps://s.click.aliexpress.com/e/_mMFZCxH","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/8233206923446877/556584077695","Tags_Busca":"mouse, gamer, pc, attack shark, notebooks"}},{"json":{"row_number":66,"ID_Produto":"MXR065","Nome_Produto":"Attack Shark X11 Mouse Gamer 🎮  🎯 🖱️ com dock de carregamento","Preco_Venda":"249.0","Quantidade_Estoque":1,"Descricao":"Attack Shark X11 Mouse Gamer 🎮  🎯 🖱️ com dock de carregamento\n\nhttps://s.click.aliexpress.com/e/_mqAKrQx","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/10023343464387076/556584077695","Tags_Busca":"mouse, gamer, pc, attack shark, notebooks, pc dock de carregamanto"}},{"json":{"row_number":67,"ID_Produto":"MXR066","Nome_Produto":"Memória RAM DDR5 para Notebooks 8 GB e 16 GB 4800 MHz","Preco_Venda":"199.0","Quantidade_Estoque":1,"Descricao":"emória RAM DDR5 para Notebooks:\n\n8 GB - R$199\n16 GB - R$377\n\nFrequência de 4800 MHz\n\nPodendo ser Pu\nhttps://s.click.aliexpress.com/e/_mthBmqR","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/9357368174297946/556584077695","Tags_Busca":"gamer, pc, memoria ram, notebooks"}},{"json":{"row_number":68,"ID_Produto":"MXR067","Nome_Produto":"1 TB - SSD Nvme M2 Gen 4 de 7.450 MB/s compatível com PS5","Preco_Venda":"599.0","Quantidade_Estoque":2,"Descricao":"1 TB - SSD Nvme M2 Gen 4 de 7.450 MB/s compatível com PS5\n\nhttps://s.click.aliexpress.com/e/_mKhN4dd","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/9420875864593780/556584077695","Tags_Busca":"ssd, nvme, gamer, pc, memoria, notebooks"}},{"json":{"row_number":69,"ID_Produto":"MXR068","Nome_Produto":"2 TB - SSD Nvme M2 Gen 4 de 7.450 MB/s compatível com PS5","Preco_Venda":"1199.0","Quantidade_Estoque":1,"Descricao":"2 TB SSD Nvme M2 Gen 4 de 7.450 MB/s compatível com PS5\n\nhttps://s.click.aliexpress.com/e/_mKhN4dd","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/9165221646932161/556584077695","Tags_Busca":"ssd, nvme, gamer, pc, memoria, notebooks"}},{"json":{"row_number":70,"ID_Produto":"MXR069","Nome_Produto":"4 TB - SSD Nvme M2 Gen 4 de 7.450 MB/s compatível com PS5","Preco_Venda":"1199.0","Quantidade_Estoque":1,"Descricao":"4 TB 🚀- SSD Nvme M2 Gen 4 de 7.450 MB/s compatível com PS5\n\nhttps://s.click.aliexpress.com/e/_mKGRF8r","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/27713100141671319/556584077695","Tags_Busca":"ssd, nvme, gamer, pc, memoria, notebooks"}},{"json":{"row_number":71,"ID_Produto":"MXR070","Nome_Produto":"Teclado Gamer sem fio 🪢 Aula F75","Preco_Venda":"399.0","Quantidade_Estoque":1,"Descricao":"Aula F75 Teclado Gamer sem fio 🪢\n\nDinheiro bem gasto 😌\nhttps://s.click.aliexpress.com/e/_mt60Zvv","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/30777831785164017/556584077695","Tags_Busca":"teclado, sem fio, Bluetooth, 2.4hz, gamer, pc, notebooks"}},{"json":{"row_number":72,"ID_Produto":"MXR071","Nome_Produto":"Teclado sem fio Bluetooth M87","Preco_Venda":"279.0","Quantidade_Estoque":1,"Descricao":"Teclado sem fio Bluetooth M87 de modo duplo, SENSAÇÃO mecânica para jogos, escritório, silencioso, PBT, boné esférico, luz arco-íris\n\nhttps://s.click.aliexpress.com/e/_mOKVDhV","Categoria":"Periféricos","Link_Catalogo_WA":"https://wa.me/p/10018226604937392/556584077695","Tags_Busca":"teclado, sem fio, Bluetooth, 2.4hz, gamer, pc, notebooks"}}],"When clicking ‘Execute workflow’":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"888","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mxmlocal","data":{"key":{"remoteJid":"556584773634@s.whatsapp.net","fromMe":false,"id":"2E8358412E06D344973A2C7036C7DD59"},"pushName":"Rafaela Thairyz","status":"DELIVERY_ACK","message":{"conversation":"quero saber quais relogios disponiveis. tente mais uma vez e sempre use a ferramentas de buscar estoque, isso é um teste","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"po6LzshhydAqeQ==","senderTimestamp":"1756406443","recipientKeyHash":"nH1pc/1sYZT8+A==","recipientTimestamp":"1756411434"},"deviceListMetadataVersion":2,"messageSecret":"e1EGWZCUmNhqgRm3pDys2zrgHggTTtqYJD8KJ0u//Fo="}},"messageType":"conversation","messageTimestamp":1756770419,"instanceId":"57c21d9e-71e1-4b40-b0cb-21e5b98c31fa","source":"android"},"destination":"http://host.docker.internal:5678/webhook/secretariamxr","date_time":"2025-09-01T20:47:01.018Z","sender":"556584077695@s.whatsapp.net","server_url":"http://localhost:8081","apikey":"78C6F6253FF6-4F6C-8BA1-A540DD00B6D0"},"webhookUrl":"http://localhost:5678/webhook/secretariamxr","executionMode":"production"}}],"Mensagem recebida":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"900","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mxmlocal","data":{"key":{"remoteJid":"556584773634@s.whatsapp.net","fromMe":false,"id":"A5A80A8F14336030F3BB9AC94F795DC3"},"pushName":"Rafaela Thairyz","status":"DELIVERY_ACK","message":{"conversation":"oi, bom dia","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"po6LzshhydAqeQ==","senderTimestamp":"1756406443","recipientKeyHash":"w51NK/l05qnCkg==","recipientTimestamp":"1757362231"},"deviceListMetadataVersion":2,"messageSecret":"GmPb1dSOlYzYR9X156hKLRQQagYTB4qJbrCINTRqTpc="}},"messageType":"conversation","messageTimestamp":1757526532,"instanceId":"1b233894-abb7-4021-891c-137da24ae92c","source":"android"},"destination":"http://host.docker.internal:5678/webhook/secretariamxr","date_time":"2025-09-10T14:48:52.445Z","sender":"556584077695@s.whatsapp.net","server_url":"http://localhost:8081","apikey":"5B0063656DD1-4A7E-9F23-950DB3711AB0"},"webhookUrl":"http://localhost:5678/webhook/secretariamxr","executionMode":"production"}}]},"versionId":"4ad0dcd8-17a5-4b40-92d0-5596bd2325e3","triggerCount":3,"shared":[{"createdAt":"2025-08-24T20:09:29.925Z","updatedAt":"2025-08-24T20:09:29.925Z","role":"workflow:owner","workflowId":"9p2VVVEkRXhym69i","projectId":"m4gaRnMghF20dUpc"}],"tags":[{"createdAt":"2025-05-04T11:03:17.202Z","updatedAt":"2025-05-04T11:03:17.202Z","id":"CL5V4CSTRXmkPvLz","name":"YT"}]}