9p2VVVEkRXhym69i.json
{"createdAt":"2025-08-24T20:09:29.889Z","updatedAt":"2025-09-02T17:16:28.000Z","id":"9p2VVVEkRXhym69i","name":"Secretaria MxR Store","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $('Info').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"4ca9226f-0401-49a7-93a1-8aeaf4b0bb79","leftValue":"={{ $('Info').item.json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.telefone }}","rightValue":"556584077695","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[688,720],"id":"7aa1612e-5441-4981-a450-5fc4994ee1dc","name":"Mensagem chegando?","disabled":true},{"parameters":{"httpMethod":"POST","path":"secretariamxr","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,720],"id":"21d8614a-6dcd-435b-9fda-fb58ea9ca647","name":"Mensagem recebida","webhookId":"248a270a-b1ff-472c-ac93-8655cd3b1c04"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,720],"id":"57644fe3-4fe0-4279-8685-ee6edc1686f2","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2672,720],"id":"66630c3e-3c6f-4f6d-aca3-074d7c274ee2","name":"Buscar mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,720],"id":"fdf54de7-2eb1-44de-aa2e-da13a48cbaf2","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3088,720],"id":"a3030a95-928f-4f06-aa7d-33761e7e4410","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"content":"Evolution não permite disparar evento de \"Digitando...\" de forma assíncrona, então usamos um workflow paralelo.","height":180,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3616,880],"id":"6c1b3057-02ca-4166-9b85-ed2657d96430","name":"Sticky Note1"},{"parameters":{"content":"# Processando mensagens encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n","height":500,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,528],"id":"0cf838e0-3358-442d-8049-759b84a18af8","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2448,720],"id":"6c8f860c-4834-4bc2-857c-1a49628bee8e","name":"Esperar","webhookId":"e8d66dc8-d3ec-42b4-ae3e-58b973cb8f53"},{"parameters":{"content":"# Gerando resposta","height":724,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,528],"id":"db6e0435-5c83-44d4-a172-bd932a0cf7a4","name":"Sticky Note3"},{"parameters":{"content":"# Enviando resposta","height":724,"width":728,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5872,528],"id":"3ee0e520-a5eb-47ce-adac-887f4dbf8208","name":"Sticky Note4"},{"parameters":{"content":"# Tratando input\n\nImplementação de etiquetas do Evolution API não é muito fácil de utilizar, portanto funcionalidade de \"agente off\" fica difícil de implementar.\nUma alternativa é utilizar uma base de dados externa para controle \"manual\" de etiquetas.","height":500,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,528],"id":"290a61b2-6093-4912-98e4-19745aef537f","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40a7f625-de6c-4f11-80c1-f153e32ffd6d","leftValue":"={{ $('Mensagem recebida').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1984,704],"id":"614996b6-dcd5-4d17-96d3-22480e9fb326","name":"Tipo de mensagem"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').item.json.instancia }}","messageId":"={{ $('Info').item.json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2336,1152],"id":"fd133b75-9929-4f3f-9790-2055c9453a54","name":"Download áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2944,1152],"id":"625c01c1-7a70-455f-8be3-5f626626c3b5","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"content":"# Processando áudio","height":320,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,1056],"id":"9b5ee479-b18d-4fb9-8bd5-4ff94996c859","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"=http://localhost:5678/webhook/secretariamxr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"composing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,720],"id":"247eeba9-7c7b-4c9c-b682-467aef856647","name":"Digitando async","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}},"disabled":true},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"recording"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,1152],"id":"d5e5bd6b-638d-4544-a3d5-9a7dd3e3aeae","name":"Gravando async","disabled":true},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5984,608],"id":"39f15c0c-643d-47a0-af44-63354ad2f9e8","name":"Resetar status1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"content":"Waveform nem sempre funciona no Evolution. Requer formato de áudio específico","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6208,496],"id":"23f51834-b2a8-4a73-a702-1a8faa46b2e6","name":"Sticky Note"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Info').item.json.id_mensagem }}","fromMe":"={{ $('Info').item.json.fromMe }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3312,1152],"id":"320dd923-c74a-46e5-b4c2-b0824e3287f3","name":"Marcar como lida","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"content":"Para testar, recomendado incluir seu telefone no filtro.\n\nDessa forma, o agente não vai responder outras pessoas.","height":140,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1616,848],"id":"20eb87e6-2058-4a34-ae3a-e03b4b18af4e","name":"Sticky Note8"},{"parameters":{"content":"Usado HTTP request devido limitação do community node do Evolution, que só permite marcar como lida 1 mensagem de cada vez (ver no fluxo de áudio abaixo).\n\nÉ possível fazer um loop e executar para cada mensagem da fila, mas HTTP request é mais eficiente.","height":180,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3264,880],"id":"2f0b0fd7-49de-45af-9e34-940376399779","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"readMessages\": {{ JSON.stringify($('Buscar mensagens').all().map(mensagem => \n    { \n      const { id_mensagem, telefone } = mensagem.json\n      return { id: id_mensagem, remoteJid: telefone + '@s.whatsapp.net', fromMe: false }\n    }))\n  }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,720],"id":"b130a503-5989-428f-8434-d3c79e0067d0","name":"Marcar como lidas","executeOnce":true,"credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"","mode":"list"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[4656,896],"id":"d05a9f7b-58dd-4c67-9f85-af532088ec84","name":"Listar arquivos","credentials":{"googleApi":{"id":"Qgax5uWEHJVUuboe","name":"Sheets N8N - Google Service Account -  Guilherme Lazarotto"}},"disabled":true},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n\n- 'tipo': 'imagem' ou 'documento'\n- 'nome_documento': caso tipo seja 'documento', passar nome do arquivo.","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","instancia":"={{ $('Info').item.json.instancia }}","telefone":"={{ $('Info').item.json.telefone }}","tipo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}","nome_documento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_documento', ``, 'string') }}"},"matchingColumns":["file_id"],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome_documento","displayName":"nome_documento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4784,896],"id":"f69d457a-ee15-4906-8081-1d0544c26247","name":"Baixar e enviar arquivo"},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":840,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3248,528],"id":"cab75fd8-770f-48a5-abdf-fca0310295e2","name":"Sticky Note12"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nNOME (no WhatsApp): {{ $('Info').item.json.name }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\nID DA CONVERSA: {{ $('Info').item.json.id_mensagem }}\n\n# PERSONA E OBJETIVO\n\nVocê é a assistente virtual da MxR Store, uma loja online de eletrônicos especializada em equipamentos de áudio. Seu nome é \"Ana, assistente da MxR\". Seu objetivo é responder às perguntas dos clientes de forma rápida, precisa e amigável, qualificando a necessidade do cliente e o guiando para finalizar a compra e agendar uma retirada ou entrega, utilizando SEMPRE a base de conhecimento externa para informações de produtos.\n\n# PRINCÍPIOS DE ATENDIMENTO\n*   **FOCO NO CLIENTE:** Mostre interesse genuíno em resolver o problema do cliente. Sua missão é ajudar.\n*   **TÉCNICAS DE CONVERSA (Inspirado em Chris Voss):**\n    *   **Escuta Ativa:** Demonstre que entendeu o que o cliente pediu antes de responder.\n    *   **Espelhamento Sutil:** Se o cliente diz \"Estou procurando um fone bom pra palco\", você pode começar sua resposta com \"Ah, legal! Para palco, temos ótimas opções...\".\n    *   **Rotulação:** Use frases como \"Entendi que você precisa de algo com mais grave, certo?\" para confirmar o entendimento.\n    *   **Perguntas Calibradas:** Use perguntas abertas como \"Para te ajudar melhor, qual seria o principal uso do fone?\".\n*   **TOM E ESTILO:**\n    *   Moderno, prestativo e confiante.\n    *   Frases curtas e diretas.\n    *   **Uma pergunta por vez.** Espere a resposta antes de prosseguir.\n    *   Use emojis de forma natural e moderada (ex: 🎧, 📦, 🛵, ✅, 📍).\n    *   Linguagem simples e descontraída.\n\n# BASE DE CONHECIMENTO E FERRAMENTAS\n\nSua única fonte da verdade sobre PRODUTOS, PREÇOS e ESTOQUE é a planilha de produtos. Você DEVE usar a ferramenta `Buscar_estoque` para acessar essa informação.\n\n## FERRAMENTA: Buscar_estoque\n\n*   **QUANDO USAR:** SEMPRE que um cliente perguntar sobre um produto específico, disponibilidade (\"tem?\"), preço, ou pedir recomendações por categoria (ex: \"quais microfones você tem?\").\n*   **COMO USAR:** Extraia os termos-chave da pergunta do cliente (ex: \"KZ ZSN PRO X\", \"headset gamer\", \"microfone barato\") e use-os na busca. A ferramenta irá pesquisar nas colunas `Nome_Produto`, `Categoria` e `Tags_Busca`.\n*   **COMO RESPONDER:**\n    *   **Se encontrar o produto:** Baseie sua resposta 100% nos dados retornados pela ferramenta. Mencione o nome, o preço (sempre adicionando \"para pagamento à vista na retirada\") e a descrição. Verifique a coluna `Quantidade_Estoque`. Se for maior que 0, o produto está disponível.\n    *   **Se NÃO encontrar o produto:** Responda de forma amigável: \"Não encontrei esse modelo exato em nosso sistema. Você poderia me explicar melhor ou gostaria de dar uma olhada em nosso catálogo completo? Lá temos todos os produtos atualizados. O link é este: \".\n    *   **Se o estoque for 0:** Informe ao cliente: \"O [Nome do Produto] está em reposição no momento. Posso te avisar quando chegar ou te mostrar uma alternativa similar?\".\n\n## INFORMAÇÕES GERAIS DA LOJA\n- **Nome da Loja:** MxR Store\n- **Catálogo Completo no WhatsApp:** https://wa.me/c/556584077695\n- **Instagram:** @mxr_stores (https://www.instagram.com/mxr_stores)\n\n## PAGAMENTO\n- **Formas de Pagamento:** Dinheiro, PIX, Cartão de Crédito ou Débito.\n- **Dados do PIX:** Celular 65984077695 (Michael Barbosa de Lima, 99pay).\n- **Taxa do Cartão:** Para cartão, informe que a taxa da maquininha é repassada ao cliente.\n- **Observação divertida:** Se o clima da conversa permitir, você pode brincar: \"Aceitamos quase tudo: Pix, dinheiro, cartão... Só não vendemos fiado e ainda não estamos aceitando porcos 🐽 ou galinhas 🐔 como pagamento, mas quem sabe um dia! rsrs\".\n\n## LOCALIZAÇÃO, RETIRADA E ENTREGA\n- **Endereço para Retirada:** Rua B, 10, Jardim Pres. II, Coxipó, Cuiabá - MT (Próximo ao Atacadão do Tijucal).\n- **Link do Google Maps:** https://maps.app.goo.gl/6bGyJefDpq9Nnv8r6\n- **REGRA DE OURO DA RETIRADA:** A retirada deve ser **SEMPRE** agendada e confirmada aqui no chat. Não somos uma loja física com porta aberta.\n- **Horário para Retirada:** Todos os dias, das 06:00 às 19:00, **mediante agendamento.**\n- **Entregas:**\n  - **Área:** Cuiabá e Várzea Grande (VG). Outras regiões a combinar.\n  - **Custo Estimado:** Os valores de entrega geralmente ficam entre **R$10 e R$20**, dependendo da distância e do horário.\n  - **Para calcular:** Preciso da localização exata por escrito e pelo google maps.\n  - **Método:** Uber Flash ou 99 Entregas. A taxa do app é repassada ao cliente.\n  - **Processo:** O pagamento total (produto + taxa) é feito antes do envio.\n  - **Rastreio:** Assim que o motoboy retira, você envia o link de rastreio e o código para o cliente receber o pedido.\n\n# FLUXO DE ATENDIMENTO E REGRAS\n1.  **Saudação:** Cumprimente o cliente pelo nome (`{{ $('Info').item.json.name }}`) e reaja à primeira mensagem dele.\n2.  **Consulta de Produtos (Regra Crítica):** Ao ser perguntado sobre qualquer produto, preço ou disponibilidade, sua primeira ação é **SEMPRE usar a ferramenta `Buscar_estoque`**. NUNCA responda sobre um produto de memória.\n3.  **Estoque e Produtos:** Se o produto estiver na lista fornecida pela ferramenta `Buscar_estoque`, confirme o preço. Se não estiver ou a pergunta for genérica (\"quais modelos vcs têm?\"), envie o link do catálogo e pergunte sobre o uso para poder recomendar algo.\n4.  **Retirada:** Ao ser perguntado sobre retirada, responda: \"Sim, pode retirar conosco no bairro Jd Presidente II (Próximo ao Atacadão do Tijucal)! 📍 **Importante:** precisamos apenas agendar um horário certinho para garantir que seu pedido esteja separado, ok? Qual período fica melhor pra você, hoje ou amanhã?\".\n5.  **Entrega:** Se perguntarem sobre entrega, responda: \"Entregamos sim, em Cuiabá e VG! 🛵 **A taxa de entrega costuma ficar entre R$10 e R$20**. Para eu calcular o valor exato e o tempo de entrega para o seu endereço, pode me enviar sua localização, por favor (escrito e pelo google maps)?\".\n6.  **Escalada para Humano:** Para perguntas técnicas não cobertas pela descrição do produto, descontos, ou insatisfação, diga: \"**Ótima pergunta! Para te passar esse detalhe com 100% de certeza, vou chamar nosso especialista aqui no chat. Só um momento, por favor.**\" e pare de responder.\n\n# EXEMPLOS DE INTERAÇÃO (Considerando o uso da ferramenta)\n\n- **Cliente:** \"Quanto custa o kz edx pro?\"\n- **Sua Ação Interna:** [USAR FERRAMENTA `Buscar_estoque` com o termo \"kz edx pro\"]\n- **Dados Retornados pela Ferramenta:** {Nome_Produto: \"KZ EDX PRO - 2 Drivers\", Preco: \"89.0\", Descricao: \"Fone de ouvido KZ EDX PRO com 2 drivers.\", ...}\n- **Sua Resposta:** \"O KZ EDX PRO está R$89,00 para pagamento à vista na retirada. É um fone excelente com 2 drivers. Você consegue retirar comigo ou prefere que eu calcule a entrega para você?\"\n\n- **Cliente:** \"vcs tem microfone?\"\n- **Sua Ação Interna:** [USAR FERRAMENTA `Buscar_estoque` com o termo \"microfone\"]\n- **Dados Retornados pela Ferramenta:** [Lista de 3 microfones da planilha]\n- **Sua Resposta:** \"Temos sim! Encontrei alguns modelos de microfone aqui, como o Fifine A8 Plus e opções de microfones lapela sem fio. Para qual finalidade você precisa? Assim posso te indicar o melhor. 😉\"\n\n- **Cliente:** \"Opa, tudo bem? Vcs tem fone de retorno da KZ?\"\n- **Sua Resposta:** \"Olá, {{ $('Info').item.json.name }}! Tudo ótimo por aqui. Temos sim, KZ é a nossa especialidade! 🎧 Para eu te ajudar melhor, você procura algum modelo específico, faixa de valor ou seria para qual tipo de uso (retorno de palco, estudo, jogos)?\"\n\n- **Cliente:** \"Onde fica a loja? Posso buscar agora?\"\n- **Sua Resposta:** \"Ficamos no Jardim Pres. II, em Cuiabá. ✅ Para garantir que seu produto esteja separado e pronto para você, precisamos agendar a retirada antes. Não é uma loja aberta ao público, sabe? Podemos combinar o melhor horário para você vir. Fica bom hoje à tarde ou amanhã de manhã?\"\n\n## INSTRUÇÕES CRÍTICAS\n*   **Nunca ofereça descontos.**\n*   Se o cliente demonstrar insatisfação ou pedir para falar com um atendente, escale para um especialista humano imediatamente.\n*   **Nunca crie textos longos.** Mantenha a comunicação ágil.\n*   **Observação sobre Preços:** Sempre informe que os valores são \"à vista para retirada\".\n\n# REAÇÕES\n\nUse em situações relevantes.\n- Início da conversa: 😀 ou 🎧\n- Pedido de entrega: 🏍️ ou 📦\n- Agradecimentos: ❤️ ou 🤝\n**SEMPRE USAR REAÇÕES NO INÍCIO E NO FINAL DA CONVERSA, E EM OUTROS MOMENTOS OPORTUNOS**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4224,608],"id":"ded91871-f155-4284-8a83-d32e0d86ac05","name":"Secretária","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4704,608],"id":"10397baa-3a21-4bc5-bd33-08b2509053fb","name":"Tipo de mensagem1"},{"parameters":{"content":"### Importante!!\n\nEssa lógica só irá funcionar com o workflow ativo (modo produção).\n\nNo modo \"Test workflow\", só uma mensagem será processada de cada vez, então nunca haverá fila.","height":140,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2736,880],"id":"bd7093fe-695b-46ae-a475-d3dddca40072","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5424,576],"id":"831ced74-655e-4a96-8de3-87ff992eba9b","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5504,736],"id":"17fead5e-bfc9-4882-a131-db7846a0abcb","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[4928,896],"id":"a5cb8372-035e-4c22-b64b-85574f2da6cf","name":"Enviar alerta de cancelamento","webhookId":"48048480-92a1-45e1-9f24-6cefa74d9d9f","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3984,896],"id":"6e38c60a-8103-4e92-a219-28248c892f11","name":"Gemini","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4112,896],"id":"d27738d7-6df1-434a-8258-a57b92ecf087","name":"Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[4224,896],"id":"31713966-b61d-4512-b312-9cef270142dc","name":"Refletir"},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\n```\nc_188fjds8f7hs83gk3i9@group.calendar.google.com\n```\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":320,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3952,1280],"id":"ef5b5a01-f52b-4725-bab3-448a0fbb7c05","name":"Sticky Note17"},{"parameters":{"content":"## Notas sobre a ferramenta \"Escalar humano\"\n\nDevido a dificuldade no uso de etiquetas do Evolution, não é trivial desabilitar o envio de mensagens para o usuário após o uso dessa ferramenta.\n\nPara ver como isso pode ser feito mais facilmente com o Chatwoot, assista o nosso vídeo.","height":320,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4640,1280],"id":"94a7d5cd-ba85-4bb4-95ca-7c9d635d566b","name":"Sticky Note18"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta quando detectar uma situação que deve ser informada ao gestor responsável.\n\nUse o seguinte formato para a mensagem\n\n```\nUsuário <nome do usuário> (<telefone do usuário>) precisa de atenção imediata.\n\nÚltima mensagem:\n\n---\n\n<última mensagem do usuário>\n```","chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[5072,896],"id":"79b90d03-a0e1-4535-8a4c-1c46b149c1d5","name":"Escalar humano","webhookId":"60f97b98-5f19-4eba-8013-91a84df782c5","disabled":true},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }},\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4368,896],"id":"6a39bf99-1c94-42b4-81b5-bddc4322b1e8","name":"Reagir mensagem","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2656,1152],"id":"18c71eb5-092c-4a34-aeef-4ff773a07ec5","name":"Converter base64 para áudio."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime('s') }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2224,720],"id":"9cda162b-2703-4636-9626-fb6f4c6c6897","name":"Enfileirar mensagem.","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $('Transcrever áudio').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,1152],"id":"48e263b9-b07a-44f7-953e-32cb923400cc","name":"Set mensagem.","executeOnce":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","messageText":"=𝗠𝘅𝗥 𝗦𝘁𝗼𝗿𝗲 \n\n{{ $('Formatar texto').item.json.text }}\n\n🙋🏼‍♀️ 𝑎𝑠𝑠𝑖𝑠𝑡𝑒𝑛𝑡𝑒 𝑑𝑎 𝘔𝑥𝘙 𝘚𝑡𝑜𝑟𝑒 🏪","options_message":{"delay":2200,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6352,608],"id":"85cbe11e-d33f-4906-93e1-e478a1b158d7","name":"Responder mensagem texto.","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"e1aac26c-0f11-4dd3-95c6-60411b1d1cdd","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.data.message.audioMessage?.ptt || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"number"},{"id":"a445d43a-6cd5-4388-982b-9fc58433b342","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"3faf2f42-c3aa-4862-8e35-a09cfe87b2b8","name":"mensagem_de_grupo","value":"={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}","type":"boolean"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"=http://host.docker.internal:8081","type":"string"},{"id":"9d73a108-1624-4d16-b3ba-caac1c921d1d","name":"telegram_chat_id","value":"<cole seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,720],"id":"7c7c9e03-a350-4cb1-afe6-ca8c54880b8c","name":"Info"},{"parameters":{"content":"## Lista de tests SANDBOX\n\n","height":1216,"width":2604,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1984,1648],"id":"7c83fc6e-f465-4e7c-8cdd-240ac5133b2c","name":"Sticky Note21"},{"parameters":{"content":"## 1. Secretária","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,416],"id":"13ed2dec-267c-4600-875a-af5fba87bbfc","name":"Sticky Note30"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4720,1728],"id":"04bd8b74-1312-4d57-b52c-b3252a78d131","name":"Gatilho diário","disabled":true},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Enviar uma mensagem de confirmação** usando a ferramenta “Enviar opções no WhatsApp”, perguntando se o paciente confirma a consulta ou prefere reagendar.\n4. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[5152,1728],"id":"e1240ac4-aa07-485c-b45d-83884eb652b1","name":"Assistente de confirmação"},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":500,"width":1060,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4624,1648],"id":"b65777b5-79e8-4f9d-8388-302445c72a07","name":"Sticky Note16"},{"parameters":{"toolDescription":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO telefone deve ser formatado com apenas números, incluindo o código do país.\n\nExemplo: \"551112345678\"","method":"POST","url":"={{ $('Info1').item.json.url_evolution }}/message/sendText/{{ $('Info1').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{telefone}\",\n  \"text\": \"{mensagem}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[5408,1968],"id":"57ecde52-9901-4695-8a46-c63ea5191b93","name":"Enviar informacoes agendamento1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4992,1968],"id":"1c756a29-4ec4-4017-aa58-6b1c64e555cf","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4848,1968],"id":"aa2466f6-8149-4e3e-addb-a71d3b172f04","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Notas sobre a ferramenta \"Salvar memoria\"\n\nPor padrão, no N8N não existe uma forma direta de compartilhar memória entre agentes diferentes.\n\nUsando a ferramenta acima \"Salvar memoria\", nós conseguimos simular no banco de dados o Assistente de confirmação respondendo como se fosse a Secretária.\n\nDessa forma, quando o paciente enviar uma mensagem para a Secretária, ela irá ver a mensagem do Assistente como se ela mesmo tivesse enviado.\n\nIsso garante que ela entenderá o contexto caso o paciente simplesmente responda \"confirmar\", por exemplo.","height":240,"width":1060,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4624,2176],"id":"9dd50639-1df6-4c49-881c-e5990e21e7e1","name":"Sticky Note19"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5120,1968],"id":"ee69bf99-bb33-4d46-baa3-b3c7fb99fb88","name":"Salvar memoria","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"sseEndpoint":"=<url do seu MCP Google Calendar>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[5264,1968],"id":"49c7ce46-d23b-4cf0-9713-bee5e1fddfbc","name":"MCP Google Calendar."},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[5552,1968],"id":"4fe40ae3-9a8c-4e93-998b-a55e4b5e7c08","name":"Refletir1"},{"parameters":{"assignments":{"assignments":[{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"<cole a URL do seu Evolution API>","type":"string"},{"id":"96cf1cfd-5604-4a21-900a-990cac0d9a0d","name":"url_n8n","value":"<cole a url do seu N8N>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4944,1728],"id":"385f8eba-e938-4ef3-b02b-0cf1111232cc","name":"Info1"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":757565468,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=757565468"},"filtersUI":{"values":[{"lookupColumn":"Nome_Produto","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[4528,896],"id":"7e2fbbb8-4b90-4d63-88f0-7f33472aa366","name":"Buscar_estoque","credentials":{"googleApi":{"id":"Qgax5uWEHJVUuboe","name":"Sheets N8N - Google Service Account -  Guilherme Lazarotto"}}},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[3888,896],"id":"6aa4e7d0-dc4f-4a47-83df-5c534a0a7593","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[5136,2560],"id":"5753b749-ffee-4b3b-bd9b-9a47043f6e4a","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"556584773634","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5104,2752],"id":"67b3727f-d506-4091-80d0-15fa11890200","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[4928,2560],"id":"aa2e292a-5172-4179-8cad-abced06ce23e","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"content":"## Limpar memória \n","height":432,"width":824,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4672,2464],"id":"3028f04e-33d6-42b6-96a5-1f66ea9da4c4","name":"Sticky Note22"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2208,336],"id":"ad713837-c023-4040-99e9-2cd7b4c274eb","name":"Convert image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Persona: você é um expert em análise de imagens.\n\nAction: você vai analisar as imagens e fará uma descrição rica em detalhes, mas direta e concisa.\n\nOutput: somente a descrição da imagem e nada mais, essa descrição será usada por outro agente para fornecer a resposta.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2432,336],"id":"5748fd0a-174e-4e15-81bf-9f4a2e3647fb","name":"OpenAI Image","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3712,336],"id":"932730cf-4321-43ed-ab34-1d8ac4544497","name":"Set mensagem.1","executeOnce":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.id }}","rightValue":"120363168788453502@g.us","operator":{"type":"string","operation":"equals"},"id":"6bc0750c-94f7-42eb-b25b-8aeeb91954ce"}],"combinator":"and"},"renameOutput":true,"outputKey":"MxR Store"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d34a66d-9e5f-491e-b907-5a166a2e71c0","leftValue":"","rightValue":"id grupo Escambo MT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Escambo MT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56dbeca7-481a-4c89-9c65-1c46bc779656","leftValue":"","rightValue":"id grupo Bateras MT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bateras MT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2080,2640],"id":"39a0247e-95c9-432d-8c1b-d53b43e7d53d","name":"Quem é?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.id }}","rightValue":"120363168788453502@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2080,2464],"id":"3c04e6ba-c291-4c97-88a4-e1f85d0f7674","name":"Responder somente para MxR Store"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2464,2496],"id":"c665a336-d661-436f-969e-24fd6665456a","name":"Responder somente palavra chave #FONE2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2464,2656],"id":"a8163da0-2a00-4a2e-9070-8649926ff978","name":"Responder somente palavra chave #FONE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2464,2816],"id":"832bcf3f-6065-49f2-a820-c299c618c65f","name":"Responder somente palavra chave #FONE1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem recebida').item.json.body.data.message.conversation }}","rightValue":"#ativar","operator":{"type":"string","operation":"contains"},"id":"0729151b-4e06-4d65-84b3-8e98149665c9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ativar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1764528d-aae8-4927-b5b8-137f601e6e09","leftValue":"={{ $('Mensagem recebida').item.json.body.data.message.conversation }}","rightValue":"#atendimento","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pausar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,368],"id":"36fd059d-7e44-4a7d-9714-8cc7980fa511","name":"Pausar ou Ativar1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"columns":{"mappingMode":"defineBelow","value":{"Número ":"={{ $item(\"0\").$node[\"Mensagem recebida\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","Pausado?":"sim"},"matchingColumns":["Número "],"schema":[{"id":"Número ","displayName":"Número ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pausado?","displayName":"Pausado?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1408,496],"id":"c8929a57-fdea-44f8-9770-ecc4c7cb593e","name":"Pausar1","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94746291-c0f3-44f3-b635-1fe696d7d74e","leftValue":"={{ $('Mensagem recebida').item.json.body.data.key.fromMe }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"02262f63-8c92-4ebf-a8d5-db5bb619848c","name":"Form Me1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,720]},{"parameters":{"documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"filtersUI":{"values":[{"lookupColumn":"Número ","lookupValue":"={{ $item(\"0\").$node[\"Mensagem recebida\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1408,288],"id":"46570fe6-99a0-4e50-b303-29dffd696e52","name":"GetRow1","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"startIndex":"={{ $item(\"0\").$node[\"GetRow1\"].json[\"row_number\"] }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1584,288],"id":"715b46ec-40b5-4d3c-a654-cade6c356dda","name":"DeleteRow1","credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30a2eecc-e02c-44eb-93ab-24861011eee9","leftValue":"={{ $json['Pausado?'] }}","rightValue":"sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,736],"id":"87d04c55-92a8-455c-ac7c-9c751567d2b2","name":"If2"},{"parameters":{"documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":774099589,"mode":"list","cachedResultName":"PausaBot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=774099589"},"filtersUI":{"values":[{"lookupColumn":"Número ","lookupValue":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1088,736],"id":"63001436-c5ac-4065-823c-8b77fa18d9c6","name":"GetStatus1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"sE7TsCMroy0etXyr","name":"Google Sheets shorts"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1648,576],"id":"9724aef4-4b39-4a64-a265-faf9d9f2fa54","name":"No Operation, do nothing1"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6352,800],"id":"f8e7ce37-4bb7-4a42-9b34-5cf740d5e5fe","name":"Enviar audio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"=data","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[6112,800],"id":"1af3456f-70fd-49f3-9e8b-4350c6e0b9cb","name":"Áudio para base64"},{"parameters":{"assignments":{"assignments":[{"id":"39f862f4-d1d9-46b9-95fa-a0b565ef405c","name":"response","value":"Desculpe, não consegui gerar o áudio!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6112,992],"id":"8c98c85a-c524-4d92-a32d-ddab0f0b30b2","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"pf_dora\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5920,880],"id":"e9ecb34f-808c-4fe7-a960-84b578791256","name":"Generate TTS AUDIO ptBR","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8081/message/sendWhatsAppAudio/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"audio\": \"{{ $json.data }}\",\n  \"delay\": 3,\n  \"linkPreview\": true,\n  \"mentionsEveryOne\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,1712],"id":"12fbe001-eeb5-4cd0-b50b-e9de7b8ef27b","name":"Enviar audio1","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5456,1088],"id":"bd20d54b-6fd3-403a-8d73-0893f59bb2c8","name":"Google Gemini Chat Model.1","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando SSML, mas nunca use tags.\n\nVocê irá receber um texto e a sua tarefa é deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**\n**NUNCA COLOQUE NADA MAIS ALEM DO TEXTO RECEBIDO. EX:<speak><break time=\\\"1.0s\\\"**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5440,912],"id":"e2ed1295-f03a-42a8-b019-211a6845f51c","name":"Formatar SSML"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Form Me1","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Convert image","type":"main","index":0}],[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Converter base64 para áudio.","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Marcar como lida","type":"main","index":0}]]},"Digitando async":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Gravando async":{"main":[[{"node":"Set mensagem.","type":"main","index":0}]]},"Resetar status1":{"main":[[{"node":"Responder mensagem texto.","type":"main","index":0}]]},"Marcar como lida":{"main":[[{"node":"Gravando async","type":"main","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando async","type":"main","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Secretária":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Resetar status1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Gemini":{"ai_languageModel":[[]]},"Memory":{"ai_memory":[[{"node":"Secretária","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Converter base64 para áudio.":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Set mensagem.":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Gatilho diário":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Enviar informacoes agendamento1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"Buscar_estoque":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Secretária","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"OpenAI Image","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Set mensagem.1","type":"main","index":0}]]},"Set mensagem.1":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Quem é?":{"main":[[{"node":"Responder somente palavra chave #FONE2","type":"main","index":0}],[{"node":"Responder somente palavra chave #FONE","type":"main","index":0}],[{"node":"Responder somente palavra chave #FONE1","type":"main","index":0}]]},"Pausar ou Ativar1":{"main":[[{"node":"GetRow1","type":"main","index":0}],[{"node":"Pausar1","type":"main","index":0}]]},"Form Me1":{"main":[[{"node":"Pausar ou Ativar1","type":"main","index":0}],[{"node":"GetStatus1","type":"main","index":0}]]},"GetRow1":{"main":[[{"node":"DeleteRow1","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Tipo de mensagem","type":"main","index":0}]]},"GetStatus1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Áudio para base64":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Generate TTS AUDIO ptBR":{"main":[[{"node":"Áudio para base64","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model.1":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Formatar SSML":{"main":[[{"node":"Generate TTS AUDIO ptBR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Mensagem recebida":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"888","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mxmlocal","data":{"key":{"remoteJid":"556584773634@s.whatsapp.net","fromMe":false,"id":"2E8358412E06D344973A2C7036C7DD59"},"pushName":"Rafaela Thairyz","status":"DELIVERY_ACK","message":{"conversation":"tente mais uma vez e sempre use a ferramentas de buscar estoque, isso é um teste","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"po6LzshhydAqeQ==","senderTimestamp":"1756406443","recipientKeyHash":"nH1pc/1sYZT8+A==","recipientTimestamp":"1756411434"},"deviceListMetadataVersion":2,"messageSecret":"e1EGWZCUmNhqgRm3pDys2zrgHggTTtqYJD8KJ0u//Fo="}},"messageType":"conversation","messageTimestamp":1756770419,"instanceId":"57c21d9e-71e1-4b40-b0cb-21e5b98c31fa","source":"android"},"destination":"http://host.docker.internal:5678/webhook/secretariamxr","date_time":"2025-09-01T20:47:01.018Z","sender":"556584077695@s.whatsapp.net","server_url":"http://localhost:8081","apikey":"78C6F6253FF6-4F6C-8BA1-A540DD00B6D0"},"webhookUrl":"http://localhost:5678/webhook/secretariamxr","executionMode":"production"}}]},"versionId":"4479f999-8e39-41b8-bbf2-991c945e0b7d","triggerCount":1,"tags":[{"createdAt":"2025-05-04T11:03:17.202Z","updatedAt":"2025-05-04T11:03:17.202Z","id":"CL5V4CSTRXmkPvLz","name":"YT"}]}