9p2VVVEkRXhym69i.json
{"createdAt":"2025-08-24T20:09:29.889Z","updatedAt":"2025-08-26T12:23:02.000Z","id":"9p2VVVEkRXhym69i","name":"Secretaria MxR Store","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $('Info').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"4ca9226f-0401-49a7-93a1-8aeaf4b0bb79","leftValue":"={{ $('Info').item.json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.telefone }}","rightValue":"556584077695","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1712,720],"id":"7aa1612e-5441-4981-a450-5fc4994ee1dc","name":"Mensagem chegando?"},{"parameters":{"httpMethod":"POST","path":"secretariamxr","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1152,720],"id":"21d8614a-6dcd-435b-9fda-fb58ea9ca647","name":"Mensagem recebida","webhookId":"248a270a-b1ff-472c-ac93-8655cd3b1c04"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,720],"id":"57644fe3-4fe0-4279-8685-ee6edc1686f2","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2672,720],"id":"66630c3e-3c6f-4f6d-aca3-074d7c274ee2","name":"Buscar mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,720],"id":"fdf54de7-2eb1-44de-aa2e-da13a48cbaf2","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3088,720],"id":"a3030a95-928f-4f06-aa7d-33761e7e4410","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"content":"Evolution não permite disparar evento de \"Digitando...\" de forma assíncrona, então usamos um workflow paralelo.","height":180,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3616,880],"id":"6c1b3057-02ca-4166-9b85-ed2657d96430","name":"Sticky Note1"},{"parameters":{"content":"# Processando mensagens encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n","height":500,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,528],"id":"0cf838e0-3358-442d-8049-759b84a18af8","name":"Sticky Note2"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2448,720],"id":"6c8f860c-4834-4bc2-857c-1a49628bee8e","name":"Esperar","webhookId":"e8d66dc8-d3ec-42b4-ae3e-58b973cb8f53"},{"parameters":{"content":"# Gerando resposta","height":500,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,528],"id":"db6e0435-5c83-44d4-a172-bd932a0cf7a4","name":"Sticky Note3"},{"parameters":{"content":"# Enviando resposta","height":500,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5872,528],"id":"3ee0e520-a5eb-47ce-adac-887f4dbf8208","name":"Sticky Note4"},{"parameters":{"content":"# Tratando input\n\nImplementação de etiquetas do Evolution API não é muito fácil de utilizar, portanto funcionalidade de \"agente off\" fica difícil de implementar.\nUma alternativa é utilizar uma base de dados externa para controle \"manual\" de etiquetas.","height":500,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1072,528],"id":"290a61b2-6093-4912-98e4-19745aef537f","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1984,720],"id":"614996b6-dcd5-4d17-96d3-22480e9fb326","name":"Tipo de mensagem"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').item.json.instancia }}","messageId":"={{ $('Info').item.json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2336,1152],"id":"fd133b75-9929-4f3f-9790-2055c9453a54","name":"Download áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2944,1152],"id":"625c01c1-7a70-455f-8be3-5f626626c3b5","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"content":"# Processando áudio","height":320,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,1056],"id":"9b5ee479-b18d-4fb9-8bd5-4ff94996c859","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"=http://localhost:5678/webhook/secretariamxr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"composing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,720],"id":"247eeba9-7c7b-4c9c-b682-467aef856647","name":"Digitando async","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}},"disabled":true},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"recording"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,1152],"id":"d5e5bd6b-638d-4544-a3d5-9a7dd3e3aeae","name":"Gravando async"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5984,832],"id":"aca7858f-3d9d-4087-9eca-cc59b840cd2f","name":"Resetar status","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5984,656],"id":"39f15c0c-643d-47a0-af44-63354ad2f9e8","name":"Resetar status1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"binaryToPropery","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[5712,832],"id":"e1d01149-598a-4e1d-b65b-8f182d6fea35","name":"Converter áudio para base64"},{"parameters":{"content":"Waveform nem sempre funciona no Evolution. Requer formato de áudio específico","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6208,560],"id":"23f51834-b2a8-4a73-a702-1a8faa46b2e6","name":"Sticky Note"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Info').item.json.id_mensagem }}","fromMe":"={{ $('Info').item.json.fromMe }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3312,1152],"id":"320dd923-c74a-46e5-b4c2-b0824e3287f3","name":"Marcar como lida","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"content":"Para testar, recomendado incluir seu telefone no filtro.\n\nDessa forma, o agente não vai responder outras pessoas.","height":140,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1616,848],"id":"20eb87e6-2058-4a34-ae3a-e03b4b18af4e","name":"Sticky Note8"},{"parameters":{"content":"Usado HTTP request devido limitação do community node do Evolution, que só permite marcar como lida 1 mensagem de cada vez (ver no fluxo de áudio abaixo).\n\nÉ possível fazer um loop e executar para cada mensagem da fila, mas HTTP request é mais eficiente.","height":180,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3264,880],"id":"2f0b0fd7-49de-45af-9e34-940376399779","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"readMessages\": {{ JSON.stringify($('Buscar mensagens').all().map(mensagem => \n    { \n      const { id_mensagem, telefone } = mensagem.json\n      return { id: id_mensagem, remoteJid: telefone + '@s.whatsapp.net', fromMe: false }\n    }))\n  }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,720],"id":"b130a503-5989-428f-8434-d3c79e0067d0","name":"Marcar como lidas","executeOnce":true,"credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"","mode":"list"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[4656,896],"id":"d05a9f7b-58dd-4c67-9f85-af532088ec84","name":"Listar arquivos","disabled":true},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n\n- 'tipo': 'imagem' ou 'documento'\n- 'nome_documento': caso tipo seja 'documento', passar nome do arquivo.","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","instancia":"={{ $('Info').item.json.instancia }}","telefone":"={{ $('Info').item.json.telefone }}","tipo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}","nome_documento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_documento', ``, 'string') }}"},"matchingColumns":["file_id"],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome_documento","displayName":"nome_documento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4784,896],"id":"f69d457a-ee15-4906-8081-1d0544c26247","name":"Baixar e enviar arquivo"},{"parameters":{"content":"## Pré-requisitos do workflow\n\n1. Banco de dados Postgres (recomendamos usar [Supabase](https://supabase.com/)). Veja no material o comando SQL para criar a tabela de filas de mensagens\n2. Instância [Evolution API](https://doc.evolution-api.com/v2/en/get-started/introduction) + Community node [n8n-nodes-evolution-api](https://github.com/oriondesign2015/n8n-nodes-evolution-api) para requisições\n3. Credenciais para ferramentas de IA. Nesse workflow usamos Gemini, OpenAI Whisper, e [ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel), mas você pode usar as que preferir\n4. Credenciais de API do Google.\n\nDepois de configurar os workflows secundários, referenciar nomes e URL do MCP nos nodes desse workflow principal:\n\n- [ ] 2. MCP Google Calendar\n- [ ] 3. Baixar e enviar arquivo do Google Drive\n- [ ] 4. Atualizar status\n- [ ] 5. Assistente interno","height":500,"width":1060,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,528],"id":"8d4d7c19-b4fd-469b-9a24-26b99bc8f3d6","name":"Sticky Note11"},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":840,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3248,528],"id":"cab75fd8-770f-48a5-abdf-fca0310295e2","name":"Sticky Note12"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,80],"id":"fc60b926-3989-43ee-a467-4d70209ae38a","name":"Sticky Note13"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Quando o usuário perguntar de algum produto pesquise na sua ferramenta 'Buscar_estoque' dentro todos os produtos retornados veja se tem o que o cliente pediu. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4224,608],"id":"ded91871-f155-4284-8a83-d32e0d86ac05","name":"Secretária","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5488,832],"id":"bb85f9c6-3d1a-4763-935c-5f0d75ce77df","name":"Gerar áudio","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"YLIJzXvBZurBhNCd","name":"Together.ai"}}},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5056,688],"id":"b32c4242-3597-4d9b-8838-12c1b5e9299f","name":"Formatar SSML"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4704,608],"id":"10397baa-3a21-4bc5-bd33-08b2509053fb","name":"Tipo de mensagem1"},{"parameters":{"content":"### Importante!!\n\nEssa lógica só irá funcionar com o workflow ativo (modo produção).\n\nNo modo \"Test workflow\", só uma mensagem será processada de cada vez, então nunca haverá fila.","height":140,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2736,880],"id":"bd7093fe-695b-46ae-a475-d3dddca40072","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5424,576],"id":"831ced74-655e-4a96-8de3-87ff992eba9b","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5616,720],"id":"17fead5e-bfc9-4882-a131-db7846a0abcb","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[4928,896],"id":"a5cb8372-035e-4c22-b64b-85574f2da6cf","name":"Enviar alerta de cancelamento","webhookId":"48048480-92a1-45e1-9f24-6cefa74d9d9f","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3984,896],"id":"6e38c60a-8103-4e92-a219-28248c892f11","name":"Gemini","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4112,896],"id":"d27738d7-6df1-434a-8258-a57b92ecf087","name":"Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[4224,896],"id":"31713966-b61d-4512-b312-9cef270142dc","name":"Refletir"},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\n```\nc_188fjds8f7hs83gk3i9@group.calendar.google.com\n```\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":320,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,1056],"id":"ef5b5a01-f52b-4725-bab3-448a0fbb7c05","name":"Sticky Note17"},{"parameters":{"content":"## Notas sobre a ferramenta \"Escalar humano\"\n\nDevido a dificuldade no uso de etiquetas do Evolution, não é trivial desabilitar o envio de mensagens para o usuário após o uso dessa ferramenta.\n\nPara ver como isso pode ser feito mais facilmente com o Chatwoot, assista o nosso vídeo.","height":320,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4624,1056],"id":"94a7d5cd-ba85-4bb4-95ca-7c9d635d566b","name":"Sticky Note18"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta quando detectar uma situação que deve ser informada ao gestor responsável.\n\nUse o seguinte formato para a mensagem\n\n```\nUsuário <nome do usuário> (<telefone do usuário>) precisa de atenção imediata.\n\nÚltima mensagem:\n\n---\n\n<última mensagem do usuário>\n```","chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[5072,896],"id":"79b90d03-a0e1-4535-8a4c-1c46b149c1d5","name":"Escalar humano","webhookId":"60f97b98-5f19-4eba-8013-91a84df782c5","disabled":true},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"={{ $('Converter áudio para base64').item.json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6256,832],"id":"60365f4a-8017-489f-b632-8d76ca944a66","name":"Responder mensagem áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }},\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4368,896],"id":"6a39bf99-1c94-42b4-81b5-bddc4322b1e8","name":"Reagir mensagem","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2656,1152],"id":"18c71eb5-092c-4a34-aeef-4ff773a07ec5","name":"Converter base64 para áudio."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime('s') }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2224,720],"id":"9cda162b-2703-4636-9626-fb6f4c6c6897","name":"Enfileirar mensagem.","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $('Transcrever áudio').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,1152],"id":"48e263b9-b07a-44f7-953e-32cb923400cc","name":"Set mensagem.","executeOnce":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5248,896],"id":"85801c39-f552-4e40-85fa-a6d9c3d4b2e6","name":"Google Gemini Chat Model.","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","messageText":"={{ $('Formatar texto').item.json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6256,656],"id":"85cbe11e-d33f-4906-93e1-e478a1b158d7","name":"Responder mensagem texto.","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"content":"![Evolution API](https://mintlify.s3.us-west-1.amazonaws.com/evolution/logo/dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,368],"id":"f5e042aa-0057-4237-b2bf-e72bfa4e6207","name":"Sticky Note20"},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.data.message.audioMessage?.ptt || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"number"},{"id":"a445d43a-6cd5-4388-982b-9fc58433b342","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"3faf2f42-c3aa-4862-8e35-a09cfe87b2b8","name":"mensagem_de_grupo","value":"={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}","type":"boolean"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"=http://host.docker.internal:8081","type":"string"},{"id":"9d73a108-1624-4d16-b3ba-caac1c921d1d","name":"telegram_chat_id","value":"<cole seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,720],"id":"7c7c9e03-a350-4cb1-afe6-ca8c54880b8c","name":"Info"},{"parameters":{"content":"## Listar vozes do ElevenLabs\n\nExiste um community node do ElevenLabs, mas só funciona para vozes em inglês. Como as requisições são simples, é fácil usar o HTTP request.\n\nVoz sugerida: [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n\n#### Configurações\n- Speed: 1.10\n- Stability: 35%\n- Similarity: 44%\n\n\n[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)\n\n## [Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)","height":480,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5392,1056],"id":"7c83fc6e-f465-4e7c-8cdd-240ac5133b2c","name":"Sticky Note21"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=evo-1)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,80],"id":"7cc3f0d2-7ca7-4925-a7d8-d53f51cba39e","name":"Sticky Note10"},{"parameters":{"content":"## 1. Secretária","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-32],"id":"13ed2dec-267c-4600-875a-af5fba87bbfc","name":"Sticky Note30"},{"parameters":{"url":"https://api.elevenlabs.io/v2/voices","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,1232],"id":"3beca029-12a4-41aa-91f8-27f36c68aa8f","name":"Testar credencial - ElevenLabs","disabled":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[6784,608],"id":"04bd8b74-1312-4d57-b52c-b3252a78d131","name":"Gatilho diário","disabled":true},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Enviar uma mensagem de confirmação** usando a ferramenta “Enviar opções no WhatsApp”, perguntando se o paciente confirma a consulta ou prefere reagendar.\n4. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[7216,608],"id":"e1240ac4-aa07-485c-b45d-83884eb652b1","name":"Assistente de confirmação"},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":500,"width":1060,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6688,528],"id":"b65777b5-79e8-4f9d-8388-302445c72a07","name":"Sticky Note16"},{"parameters":{"toolDescription":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO telefone deve ser formatado com apenas números, incluindo o código do país.\n\nExemplo: \"551112345678\"","method":"POST","url":"={{ $('Info1').item.json.url_evolution }}/message/sendText/{{ $('Info1').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{telefone}\",\n  \"text\": \"{mensagem}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[7472,848],"id":"57ecde52-9901-4695-8a46-c63ea5191b93","name":"Enviar informacoes agendamento1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7056,848],"id":"1c756a29-4ec4-4017-aa58-6b1c64e555cf","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6912,848],"id":"aa2466f6-8149-4e3e-addb-a71d3b172f04","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Notas sobre a ferramenta \"Salvar memoria\"\n\nPor padrão, no N8N não existe uma forma direta de compartilhar memória entre agentes diferentes.\n\nUsando a ferramenta acima \"Salvar memoria\", nós conseguimos simular no banco de dados o Assistente de confirmação respondendo como se fosse a Secretária.\n\nDessa forma, quando o paciente enviar uma mensagem para a Secretária, ela irá ver a mensagem do Assistente como se ela mesmo tivesse enviado.\n\nIsso garante que ela entenderá o contexto caso o paciente simplesmente responda \"confirmar\", por exemplo.","height":240,"width":1060,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6688,1056],"id":"9dd50639-1df6-4c49-881c-e5990e21e7e1","name":"Sticky Note19"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[7184,848],"id":"ee69bf99-bb33-4d46-baa3-b3c7fb99fb88","name":"Salvar memoria","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"sseEndpoint":"=<url do seu MCP Google Calendar>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[7328,848],"id":"49c7ce46-d23b-4cf0-9713-bee5e1fddfbc","name":"MCP Google Calendar."},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[7616,848],"id":"4fe40ae3-9a8c-4e93-998b-a55e4b5e7c08","name":"Refletir1"},{"parameters":{"assignments":{"assignments":[{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"<cole a URL do seu Evolution API>","type":"string"},{"id":"96cf1cfd-5604-4a21-900a-990cac0d9a0d","name":"url_n8n","value":"<cole a url do seu N8N>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7008,608],"id":"385f8eba-e938-4ef3-b02b-0cf1111232cc","name":"Info1"},{"parameters":{"content":"## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)","height":440,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1072,80],"id":"118b6a08-17bc-4fb7-b171-fc5dd373521c","name":"Sticky Note36"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw","mode":"list","cachedResultName":"estoque-produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1400608445,"mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jV3BXz3-3CK9KUPBKuDvBdHO6L4j4JfDXumZWkhlbxw/edit#gid=1400608445"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[4528,896],"id":"7e2fbbb8-4b90-4d63-88f0-7f33472aa366","name":"Buscar_estoque","credentials":{"googleApi":{"id":"Qgax5uWEHJVUuboe","name":"Sheets N8N - Google Service Account -  Guilherme Lazarotto"}}},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[4288,1008],"id":"6aa4e7d0-dc4f-4a47-83df-5c534a0a7593","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[4992,1600],"id":"5753b749-ffee-4b3b-bd9b-9a47043f6e4a","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"556584077695"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5040,1808],"id":"67b3727f-d506-4091-80d0-15fa11890200","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[4784,1600],"id":"aa2e292a-5172-4179-8cad-abced06ce23e","name":"When clicking ‘Execute workflow’"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Converter base64 para áudio.","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Marcar como lida","type":"main","index":0}]]},"Digitando async":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Gravando async":{"main":[[{"node":"Set mensagem.","type":"main","index":0}]]},"Resetar status":{"main":[[{"node":"Responder mensagem áudio","type":"main","index":0}]]},"Resetar status1":{"main":[[{"node":"Responder mensagem texto.","type":"main","index":0}]]},"Converter áudio para base64":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Marcar como lida":{"main":[[{"node":"Gravando async","type":"main","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando async","type":"main","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Secretária":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Gerar áudio":{"main":[[{"node":"Converter áudio para base64","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Resetar status1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Gemini":{"ai_languageModel":[[]]},"Memory":{"ai_memory":[[{"node":"Secretária","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Converter base64 para áudio.":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Set mensagem.":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Gatilho diário":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Enviar informacoes agendamento1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"Buscar_estoque":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Secretária","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Mensagem recebida":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"615","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mxmlocal","data":{"key":{"remoteJid":"556584077695@s.whatsapp.net","fromMe":true,"id":"D7E28EFFFF471B78E1B31A7FBD230C6F"},"pushName":"MxR Store & MxR Shoes","status":"SERVER_ACK","message":{"conversation":"Vocês tem o Fone KZ ZSN PRO? use a tool 'Buscar_estoque' para verificar, SEMPRE"},"messageType":"conversation","messageTimestamp":1756067025,"instanceId":"57c21d9e-71e1-4b40-b0cb-21e5b98c31fa","source":"android"},"destination":"http://host.docker.internal:5678/webhook/secretariamxrs","date_time":"2025-08-24T17:23:49.324Z","sender":"556584077695@s.whatsapp.net","server_url":"http://localhost:8081","apikey":"78C6F6253FF6-4F6C-8BA1-A540DD00B6D0"},"webhookUrl":"http://localhost:5678/webhook/secretariamxrs","executionMode":"production"}}]},"versionId":"ac44a9dc-592e-4bce-a0bd-400d0d702579","triggerCount":1,"tags":[{"createdAt":"2025-05-04T11:03:17.202Z","updatedAt":"2025-05-04T11:03:17.202Z","id":"CL5V4CSTRXmkPvLz","name":"YT"}]}