dm5MU6PPUHWPalTi.json
{"createdAt":"2025-07-29T21:36:44.155Z","updatedAt":"2025-08-01T22:13:04.000Z","id":"dm5MU6PPUHWPalTi","name":"Comentários Instagram","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-320,400],"id":"83d15f4f-00bd-42f3-8eeb-bb01a10b9378","name":"Respond to Webhook"},{"parameters":{"content":"## Ativação\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":240,"width":520,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-620,320],"typeVersion":1,"id":"15c03a7f-8430-4831-b964-07ccaf95e584","name":"Sticky Note"},{"parameters":{"path":"ig-mxm","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,400],"id":"21094a55-5985-4ed0-968e-8e069a67e83f","name":"Webhook Get","webhookId":"4ceb96cd-761f-499c-b44b-62c81f8fa659"},{"parameters":{"assignments":{"assignments":[{"id":"8caaa2ba-8f28-4e3a-96b5-3be920fc38d9","name":"meuid","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"74ed1baf-3f8c-44ef-aee7-3bfd9d40b8f7","name":"fromid","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"0164673b-a135-4baf-8394-f2b8c08d02ca","name":"fromusername","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"530e5b65-b636-4b55-9e8a-b4fde7753d13","name":"postid","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"fc73aea6-bf5a-4d54-8f38-4812c490ddd7","name":"commentid","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"74f05353-0e70-4ec1-a4dc-6ef0be523aae","name":"commenttext","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"1cf7c39b-6f73-4b51-b2ef-d0539ffc0ebb","name":"field","value":"={{ $json.body.entry[0].changes[0].field }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,400],"id":"8ad1a0fd-5755-4f27-be87-9444ecff9356","name":"Data Handler"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v21.0/{{ $json.commentid }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer x"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"=Obrigado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,400],"id":"487750f3-9d91-4cbc-8ee7-3b0440352ca5","name":"Reply Comments"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v21.0/{{ $('Data Handler').item.json.meuid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer xxxxxxxxxxxxxxxxxxxxxx"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"recipient.id","value":"={{ $('Data Handler').item.json.fromid }}"},{"name":"message.text","value":"=Respondendo seu comentário"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,400],"id":"5c24eb8b-76da-42e7-88d5-efff591cb9fc","name":"Reply Direct"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9358a34-8dfc-43c8-a591-7b7f210b5918","leftValue":"={{ $json.fromid }}","rightValue":"={{ $json.meuid }}","operator":{"type":"string","operation":"notEquals"}},{"id":"dac26075-d049-411c-b45e-84cf7fc20ad4","leftValue":"={{ $json.field }}","rightValue":"comments","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[360,400],"id":"e2e4d6df-2655-46f9-a0cc-71fa27d2918e","name":"Echo Message Filter"},{"parameters":{"httpMethod":"POST","path":"6fbed58c-edba-460a-b6d5-6dce3f518ae8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,400],"id":"3a93047d-7118-43d1-8adf-8de6b5ac9a9b","name":"Webhook Post","webhookId":"dd06c831-b6f2-4821-9b4f-8f5ba168e5ab"},{"parameters":{"content":"## Aula Pedro Almeida | Automações e IA\n\nAcesse meus Links:\n- **Grupo de WhatsApp:** [Clique aqui](https://chat.whatsapp.com/CtZDRhxz4tw9hKOdObzA0V)\n- **Instagram:** [Clique aqui](https://www.instagram.com/pedrolucasalmeida/)","height":207,"width":488},"id":"0f5cdfdf-2fd1-4627-a696-ec3286f1fed5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Fluxo de Produção","height":240,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-60,320],"typeVersion":1,"id":"615f8962-79e4-4821-89b4-5b2ce8b9375f","name":"Sticky Note1"},{"parameters":{"path":"tiktok-mxm","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-500,40],"id":"cc46f4a9-7f96-4b6a-8693-02945653532a","name":"Webhook Get1","webhookId":"4ceb96cd-761f-499c-b44b-62c81f8fa659"}],"connections":{"Webhook Get":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Data Handler":{"main":[[{"node":"Echo Message Filter","type":"main","index":0}]]},"Reply Comments":{"main":[[{"node":"Reply Direct","type":"main","index":0}]]},"Echo Message Filter":{"main":[[{"node":"Reply Comments","type":"main","index":0}]]},"Webhook Post":{"main":[[{"node":"Data Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook Post":[{"json":{"headers":{"host":"webhook.plasdigital.com.br","user-agent":"Webhooks/1.0 (https://fb.me/webhooks)","content-length":"310","accept":"*/*","content-type":"application/json","x-forwarded-for":"69.171.251.5","x-forwarded-host":"webhook.plasdigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0367a5e99639","x-hub-signature":"sha1=2e547f5c7d76db79418c57677a711762d8c98c63","x-hub-signature-256":"sha256=a9df1e6cd045f210455b924984421301511bc413caf009ab93dbe9cb3d6247bc","x-real-ip":"69.171.251.5","accept-encoding":"gzip"},"params":{},"query":{},"body":{"entry":[{"id":"17841463376040996","time":1731926663,"changes":[{"value":{"from":{"id":"542457632083909","username":"pedrolucasalmeida"},"media":{"id":"18089977156391270","media_product_type":"FEED"},"id":"18061121011657473","text":"Teste"},"field":"comments"}]}],"object":"instagram"},"webhookUrl":"https://webhook.plasdigital.com.br/webhook/33f08e5a-a303-4f38-9057-e977f656780b","executionMode":"production"}}]},"versionId":"094cbb02-d41d-4585-ab25-daed053ce965","triggerCount":3,"tags":[{"createdAt":"2025-07-29T21:36:09.728Z","updatedAt":"2025-07-29T21:36:09.728Z","id":"HhM11BVCwXf8wkme","name":"Aula Pedro Almeida"}]}