HGFLozoQJPpks3BY.json
{"createdAt":"2025-07-12T20:46:27.429Z","updatedAt":"2025-07-21T18:57:28.000Z","id":"HGFLozoQJPpks3BY","name":"Shorts MASTER v2 NocoDB","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"84924182-8e05-4bc6-b8b6-3863c1be0f06","name":"User Input","value":"={{ $json.Title }} {{ $json['The Main Topic'] }}","type":"string"},{"id":"02602696-d3ad-4aeb-9d18-e80c6cf2ec17","name":"Script Duration","value":"={{ $json.Duration }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,80],"id":"5c099f5c-4c42-42f5-b08d-1f9d34e74242","name":"Set Idea"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/image/transform/video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"image_url\":\"{{ $json.Image[0].url }}\",\n    \"length\": {{ $json.Duration }},\n    \"frame_rate\": 25,\n    \"zoom_speed\": 3,\n    \"id\": \"{{ $json.id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,2260],"id":"033fea93-d8d1-45d0-98c3-eace52ea2a43","name":"Create Clips","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/video/concatenate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_urls\": {{ JSON.stringify($json.video_urls) }},\n    \"id\": \"{{ $('Get video').item.json.id }}\"\n}","options":{"timeout":50000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,2580],"id":"95873085-9f8a-4cb5-a0ff-b0a132a751f4","name":"Combine Clips","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Video Clip URL"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1140,2580],"id":"ab0b73e6-3560-4f59-9beb-dae458e3a32d","name":"Aggregate1"},{"parameters":{"content":"## Create clips from images\n","height":320,"width":1400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,2160],"id":"0404bb4d-e757-4f87-8ab0-4f62e97dd43d","name":"Sticky Note2","disabled":true},{"parameters":{"content":"## Combine clips into 1 video","height":300,"width":1460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,2500],"id":"7bec7d67-fad6-42c0-ae99-37aaf6e4f794","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1160,2240],"id":"ccb03dc8-b58d-43b6-b10b-87d570849a46","name":"Loop Over Items3"},{"parameters":{"jsCode":"// Extract the array of URLs\nconst urls = items[0].json[\"Video Clip URL\"] || [];\n\n// Map URLs into the required structure\nconst formattedURLs = urls.map(url => ({ \"video_url\": url }));\n\n// Return the transformed data\nreturn [{\n    json: {\n        \"video_urls\": formattedURLs\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,2580],"id":"6aa27de0-a4c4-4428-bc4c-5fdded8fae6a","name":"Video url to array"},{"parameters":{"content":"## Add Captions","height":240,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,3080],"id":"dddbcaa7-cafc-4a66-a63b-dad220724ab4","name":"Sticky Note6","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json['RAW Video URL'] }}\"\n        },\n        {\n            \"file_url\": \"{{ $json['TTS Audio'][0].url }}\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]volume=1[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}\n","options":{"timeout":50000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2900],"id":"47852237-fce9-4a00-868c-098b2afe7636","name":"Combine Clips3","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json['Video + Caption URL'] }}\"\n        },\n        {\n            \"file_url\": \"{{ $json['BG Music'][0].url }}\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]aloop=loop=-1:size=2G[audio_loop];[0:a]volume=2[audio1];[audio_loop]volume=0.5[audio2];[audio1][audio2]amix=inputs=2:duration=first[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,3420],"id":"558373ee-5f59-4e28-8075-209273b12950","name":"Add Music","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"content":"## Combine Video & Audio","height":240,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,2820],"id":"9e6df1cf-2af3-4fc9-ab1c-ac5790cd6f2a","name":"Sticky Note7","disabled":true},{"parameters":{"fieldToSplitOut":"scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[720,2580],"id":"44a0b472-bdb5-4d86-ab4b-762559295c89","name":"Split Out1"},{"parameters":{"content":"## Create script, title & description","height":500,"width":1820,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,-80],"id":"19a1c9c6-b973-4989-9e97-9e3a819a1d7a","name":"Sticky Note"},{"parameters":{"method":"=GET","url":"=http://host.docker.internal:8880/dev/timestamps/{{ $('Generate TTS').item.json.headers[\"x-timestamps-path\"] }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,720],"id":"d49fd29a-90bc-4dc9-9f31-5ad9961656cc","name":"Get Captions"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.Script) }},\n  \"voice\": \"{{ $json['TTS Voice'] }}\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,500],"id":"0d4e2e90-2ae3-4cf5-9bf9-5f7edadf77b5","name":"Generate TTS"},{"parameters":{"content":"## Generate TTS (Voice Over)\n","height":500,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,440],"id":"66d77ba9-7197-465b-9369-405c2e4e4cfd","name":"Sticky Note1","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"Segments","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[860,1040],"id":"788637ea-78b7-4486-b390-bcd873fe83b1","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"segments","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1380,1040],"id":"72539c3d-e926-4507-8592-9ce31bef862c","name":"Split Out"},{"parameters":{"jsCode":"// Assume the previous node output is available here\nconst inputSegments = $input.first().json.segments; // Accessing segments from the previous output\n\nif (inputSegments.length > 0) {\n    const lastSegment = inputSegments[inputSegments.length - 1].json;\n    \n    // Check if the last segment's duration is less than 2 seconds\n    if (parseFloat(lastSegment.duration) < 2.0) {\n        // Combine the last segment with the previous segment if it exists\n        if (inputSegments.length > 1) {\n            const secondLastSegment = inputSegments[inputSegments.length - 2].json;\n\n            // Update the second last segment's words and duration\n            secondLastSegment.words += ' ' + lastSegment.words;\n            secondLastSegment.duration = (\n                parseFloat(secondLastSegment.duration) +\n                parseFloat(lastSegment.duration)\n            ).toFixed(2); // Update duration\n\n            // Remove the last segment as it has been merged\n            inputSegments.pop();\n        }\n    }\n}\n\n// Return the updated segments\nreturn [{ json: { segments: inputSegments } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,1040],"id":"015f86be-23bc-4086-8464-286b6c882be4","name":"Fixer"},{"parameters":{"content":"## Generate scenes & image prompts\n","height":320,"width":2380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,960],"id":"3da1b503-edf2-486a-8a93-b7203fd64754","name":"Sticky Note4"},{"parameters":{"url":"={{ $json['Captions URL'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,1040],"id":"dd8542b9-f62c-4a21-b586-dabab2e60432","name":"Get Segment File"},{"parameters":{"jsCode":"// Input from the previous step\nconst splitLength = 5;\nconst inputData = $input.first().json.Segments; // Assuming 'body' is passed from the previous node\nconst segments = [];\nlet currentSegment = {\n    id: 0,\n    words: \"\",\n    duration: 0\n};\nlet currentStartTime = -1; // Start before the first word\nlet totalDuration = 0; // Tracking total duration\nlet currentEndTime = 0;\n\n// Define the pause buffer (in seconds)\nconst pauseBuffer = 0.1; // Adjust this value based on your requirements\n\n// Loop through the input data\nfor (const wordObj of inputData) {\n    const { word, start_time, end_time } = wordObj;\n\n    // If this is the first word in a segment, set the start time\n    if (currentStartTime === -1) {\n        currentStartTime = start_time;\n    }\n\n    // Add the word to the current segment\n    currentSegment.words += (currentSegment.words ? ' ' : '') + word;\n\n    // Update the end time\n    currentEndTime = end_time;\n\n    // Keep track of the duration without pauses\n    currentSegment.duration = (currentEndTime - currentStartTime).toFixed(2);\n\n    // Check if we should finalize the current segment (if it exceeds 4 seconds)\n    if (currentSegment.duration >= splitLength) {\n        // Add pause buffer to the segment's duration before pushing it\n        currentSegment.duration = (parseFloat(currentSegment.duration) + pauseBuffer).toFixed(2);\n        \n        // Update total duration for the segment\n        totalDuration += parseFloat(currentSegment.duration);\n\n        // Push the current segment to segments\n        segments.push(currentSegment);\n\n        // Reset for the next segment\n        currentSegment = {\n            id: segments.length,\n            words: \"\",\n            duration: 0\n        };\n        currentStartTime = -1; // Reset the start time\n    }\n}\n\n// Handle any leftover words in the last segment\nif (currentSegment.words) {\n    currentSegment.duration = (currentEndTime - currentStartTime).toFixed(2);\n    // Add pause buffer to the last segment's duration\n    currentSegment.duration = (parseFloat(currentSegment.duration) + pauseBuffer).toFixed(2);\n    \n    totalDuration += parseFloat(currentSegment.duration); // Add last segment to total\n    segments.push(currentSegment);\n}\n\n// Round total duration\nconst roundedTotalDuration = Math.round(totalDuration);\n\n// Calculate total minutes and seconds\nconst totalSeconds = Math.floor(roundedTotalDuration);\nconst minutes = Math.floor(totalSeconds / 60);\nconst seconds = totalSeconds % 60;\n\n// Create a readable format for the total runtime\nconst totalRuntimeString = `${minutes} minute${minutes !== 1 ? 's' : ''}, ${seconds} second${seconds !== 1 ? 's' : ''}`;\n\n// Prepare output with segments, total duration, and total runtime string\nconst output = {\n    segments: segments.map(segment => {\n        return { json: segment };\n    }),\n    totalDuration: roundedTotalDuration,\n    TotalMinutes: totalRuntimeString\n};\n\n// Return the structured output\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1040],"id":"d45eb608-06be-4ca6-871e-26227a6e3975","name":"Split into 5s Scenes"},{"parameters":{"content":"## Add BG Music","height":240,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,3340],"id":"18e3c6c9-0f78-477e-86a7-641de2286823","name":"Sticky Note8","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/video/caption","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_url\": \"{{ $json['Video + Audio URL'] }}\",\n    \"language\": \"pt-BR\",\n    \"settings\": {\n        \"line_color\": \"#FFFFFF\",\n        \"word_color\": \"#FFD700\",\n        \"all_caps\": false,\n        \"max_words_per_line\": 3,\n        \"font_size\": 60,\n        \"bold\": false,\n        \"italic\": false,\n        \"underline\": false,\n        \"strikeout\": false,\n        \"outline_width\": 6,\n        \"shadow_offset\": 8,\n        \"style\": \"highlight\",\n        \"font_family\": \"The Bold Font\",\n        \"position\": \"bottom_center\"\n    },\n    \"id\": \"{{ $json.id }}\"\n}","options":{"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,3160],"id":"6aa066c8-dfe3-4275-9354-e4fcd82a1368","name":"Create Captions","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"databaseId":170,"tableId":684,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6622,"value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[860,2240],"id":"e34f7517-be3a-4ce2-ba2e-e7158f9eefda","name":"Baserow4","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":684,"rowId":"={{ $('Loop Over Items3').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6627,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1620,2260],"id":"c84fadc9-d779-49a3-8489-4ebf11b89cc8","name":"Baserow5","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6632,"operator":"empty"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,2900],"id":"5d76623a-c446-4244-b7c9-fb5ecce82acb","name":"Baserow11","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Baserow11').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6632,"fieldValue":"={{ $json.response[0].file_url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[940,2900],"id":"379c4cb6-0cb8-4a47-93fe-ab3cdb81a6f4","name":"Baserow12","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6631,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,3160],"id":"a8dde91e-e3af-466d-a399-499f4cb4da3d","name":"Baserow13","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Baserow13').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6631,"fieldValue":"={{ $json.response }}"},{"fieldId":6639,"fieldValue":"Done"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[940,3160],"id":"c6103993-bcd0-45a7-9c6e-47eb463fa34c","name":"Baserow14","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6630,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[480,3420],"id":"0abfd11a-e135-4de8-a7dd-023e741b9b4f","name":"Baserow15","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"formTitle":"Brainer Rotter 5000","formDescription":"Creates Brain Rot","formFields":{"values":[{"fieldLabel":"The Main Topic","fieldType":"textarea","placeholder":"Amazing world of cats","requiredField":true},{"fieldLabel":"Duration","fieldType":"dropdown","fieldOptions":{"values":[{"option":"30 Second"},{"option":"1 Minute"},{"option":"2 Minutes"}]}},{"fieldLabel":"Generative Style","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Lego"},{"option":"Minecraft"},{"option":"Disney Pixar"},{"option":"Hand-Drawn"},{"option":"Chibi"},{"option":"Anime"},{"option":"Hyper-Realistic"},{"option":"Cyberpunk"},{"option":"fantasy"}]}},{"fieldLabel":"Video Type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"From user idea"},{"option":"From transcript"}]},"requiredField":true},{"fieldLabel":"TTS Voice","fieldType":"dropdown","fieldOptions":{"values":[{"option":"af_alloy"},{"option":"af_aoede"},{"option":"af_bella"},{"option":"af_heart"},{"option":"af_jadzia"},{"option":"af_jessica"},{"option":"af_kore"},{"option":"af_nicole"},{"option":"af_nova"},{"option":"af_river"},{"option":"af_sarah"},{"option":"af_sky"},{"option":"am_adam"},{"option":"am_echo"},{"option":"am_eric"},{"option":"am_fenrir"},{"option":"am_liam"},{"option":"am_michael"},{"option":"am_onyx"},{"option":"am_puck"},{"option":"am_santa"}]},"requiredField":true},{"fieldLabel":"Image Provider","fieldType":"dropdown","fieldOptions":{"values":[{"option":"together.ai"},{"option":"fal.ai"}]},"requiredField":true}]},"options":{"appendAttribution":false,"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-220,1640],"id":"a8f907d9-24e8-4b7b-804e-8604c0fdaca2","name":"On form submission","webhookId":"b38a2825-d4e0-428d-8355-1eaa76678bee"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Short and engaging title, curiosity-driven.\"\n    },\n    \"Description\": {\n      \"type\": \"string\",\n      \"description\": \"Short description with key hashtags, hook, context, CTA, and hashtags.\"\n    },\n    \"Hook\": {\n      \"type\": \"string\",\n      \"description\": \"Introduction.\"\n    },\n    \"MainScript\": {\n      \"type\": \"string\",\n      \"description\": \"Main script content.\"\n    },\n    \"CTA\": {\n      \"type\": \"string\",\n      \"description\": \"Call to action\"\n    }\n  },\n  \"required\": [\"Title\", \"Description\", \"Intro\", \"MainScript\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1500,300],"id":"374dd16a-43b7-4ad2-aa7f-f49e6e9e2dc5","name":"Structured Output Parser1"},{"parameters":{"jsonSchemaExample":"{\n  \"Prompt\": \"enter prompt here\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1740,1140],"id":"1f3b1616-0df8-477a-aaf3-e80abe0636df","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=The Topic:\n{{ $json[\"User Input\"] }}\n\nRough Duration:\n{{ $('Set Idea').item.json['Script Duration'] }}","messages":{"messageValues":[{"message":"=Act as a YouTube video scriptwriter who specializes in turning user-submitted ideas—be it story concepts or intriguing facts—into engaging, concise video scripts. The user will also provide an ideal video length, which you should keep in mind when crafting your content. Your goal is to take these ideas and produce original, compelling content without referencing specific sources or names.\n\nYour script should be engaging, dynamic, and easy to follow, transforming user concepts into captivating narratives within the specified video length. Use a conversational tone, vivid descriptions, and a strong hook to grab attention instantly. Keep the pace fast, making sure every second counts.\n\nStick to the user’s input language.\n\nNEVER add line breaks or emojis to the hook, main script, and CTA.\n\n**Output Format:**\n- **Title:** [Catchy, thought-provoking title based on the user’s idea]\n- **Description:** [Concise 50-150 character summary with hashtags relevant to the user’s topic]\n- **Hook:** [An attention-grabbing opening line inspired by the user’s idea]\n- **Main Script:** [A natural, spoken script without line breaks or emojis, tailored to the user’s defined video length]\n- **Call to Action:** [A compelling message that encourages viewers to engage, such as “What was your favorite part of this story?” or “Want to explore more ideas? Follow to learn more!” or “Like and share if you found this content helpful”]\n\nMake sure your Main Script is seamless and original, as if these insights were being shared firsthand. No direct references to names, specific sources, or the user — just pure, engaging storytelling that keeps viewers engaged."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[920,180],"id":"2fb216e9-d41c-4aef-ade6-a2585917f64d","name":"Script Writier 🧠"},{"parameters":{"promptType":"define","text":"=User Imput:\n{{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Take the user input and output in the following JSON Structure, DO NOT change or alter any of the text\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Short and engaging title, curiosity-driven.\"\n    },\n    \"Description\": {\n      \"type\": \"string\",\n      \"description\": \"Short description with key hashtags, hook, context, CTA, and hashtags.\"\n    },\n    \"Hook\": {\n      \"type\": \"string\",\n      \"description\": \"The hook.\"\n    },\n    \"MainScript\": {\n      \"type\": \"string\",\n      \"description\": \"Main script content.\"\n    },\n    \"CTA\": {\n      \"type\": \"string\",\n      \"description\": \"Call to action\"\n    }\n  },\n  \"required\": [\"Title\", \"Description\", \"Intro\", \"MainScript\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1320,80],"id":"6e792d31-00a0-4a49-9ea5-04b47060175f","name":"Output Parser 🛠"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission').item.json['Video Type'] }}","rightValue":"From transcript","operator":{"type":"string","operation":"equals"},"id":"67835e1a-7770-4d3e-b9d6-0dac59a5923a"}],"combinator":"and"},"renameOutput":true,"outputKey":"From transcript"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"171a9dfd-59a3-49a4-af28-c284abc85f13","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"User Idea"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[660,80],"id":"e3b547c7-46e2-4f09-87f4-4b16ee9da5a8","name":"Switch"},{"parameters":{"promptType":"define","text":"=Heres the full script:\n{{ $('Get records1').item.json.Script }}\n\nGenerative style:\n{{ $('Get records1').item.json['Generative Style'] }}\n\nHere is the current scene:\nScript portion: {{ $json.json.words }}\nScript position: {{ $json.json.id }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an image prompt generator agent for video production. Your role is to create starting frames for a longer video by transforming script segments into visually descriptive image prompts. Each scene will be generated in a specified artistic style, which must be factored into the prompt to ensure consistency.  \n\nOutput a JSON object containing the prompt for the current script segment that you are presented with:  \n\n```json\n{\n  \"Prompt\": \"enter prompt here\"\n}\n```  \n\n### **IMPORTANT INSTRUCTIONS:**  \n\n- **Always** incorporate the given style into the visual description.  \n- **Never** include text in the images.\n- **Never** exceed 240 characters in your prompt.  \n- **Keep images visually compelling** – Instead of basic or static representations, focus on **dynamic compositions, dramatic angles, striking lighting, immersive textures, and environmental storytelling**.  \n- **Small subjects should have compelling micro-world narratives** – If the subject is small (e.g., a drop of water, a single key, a lone leaf), provide a **rich atmosphere**, interplay of lighting, and framing that enhances storytelling.  \n- **Focus on depth, detail, and artistic impact** rather than excessive complexity.  \n\n\nA well-crafted prompt should now include:  \n\n- **Subject:** The main focus of the image.  \n- **Style:** The artistic style provided for this scene (e.g., Lego, Minecraft, Disney Pixar, Hand-Drawn, Chibi, Anime, Hyper-Realistic, Cyberpunk).  \n- **Composition:** Use **engaging angles** (macro close-ups, over-the-shoulder, dynamic perspectives).  \n- **Lighting:** Prioritize dramatic effects like **backlighting, neon glows, moody shadows, or iridescent reflections** for added immersion. \n- **Micro-World Storytelling:** Ensure even small objects contribute to a **scene with intrigue, interaction, or emotion**.  \n- **Color Palette:** The dominant colors or color scheme.  \n- **Mood/Atmosphere:** The emotional tone of the image.  \n- **Technical Details:** Camera effects like **bokeh, depth of field, contrast**, or lens distortion to make the image feel real.  \n- **Additional Elements:** Small but meaningful details that **enhance interest without overwhelming the scene**.  \n\n\nExample Prompts\n\n- **Style: Hyper-Realistic** – A hyperrealistic macro shot of a single droplet of glue stretching delicately from a cracked porcelain teacup, caught in the moment before it falls. The soft golden glow from a nearby desk lamp refracts through the droplet, revealing tiny swirling textures inside. Dust particles float around, illuminated in the warm evening light.  \n- **Style: Minecraft** – A blocky Minecraft-style cavern glowing with radiant blue crystals embedded in stone. A pixelated adventurer stands at the entrance, silhouetted against eerie, ambient light. Shadows dance across the cave walls, creating intrigue.  \n- **Style: Disney Pixar** – A cozy animated bakery at sunrise, where a little girl with oversized round glasses watches a tray of fresh golden pastries steaming on the counter. Soft beams of morning sunlight filter in, casting a warm, dreamy glow on the checkered tiles.  \n- **Style: Cyberpunk** – A neon-lit cyberpunk alleyway drenched in rain. The headlights of a hoverbike cut through thin mist as a shadowy figure in a metallic trench coat leans against a graffiti-covered wall. Bright neon blues and deep magentas create dramatic contrast.  \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1640,1000],"id":"dcd63f97-73bc-4a4f-8f85-0d1c76436efc","name":"Image Prompter V2 📷"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,1520],"id":"de30653f-ae53-486f-9322-ef2d2eda39e1","name":"Loop Over Items"},{"parameters":{"content":"## Image Generation - flux/schnell\n","height":840,"width":2240,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,1300],"id":"4a970f08-3d4f-4215-bbf8-95090ab8a7c2","name":"Sticky Note11","disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2020,1800],"id":"2666c5fe-380b-4bbd-9f4d-c4de149f3b24","name":"Wait1","webhookId":"9f15c9fe-eab0-42e7-a148-ee6f0bd200da"},{"parameters":{"promptType":"define","text":"=The Transcript:\n{{ $json['User Input'] }}","messages":{"messageValues":[{"message":"=Act as a YouTube video scriptwriter who specializes in transforming insights, interesting facts, and key takeaways into engaging, bite-sized video scripts. Your goal is to craft compelling short-form scripts based on the most intriguing ideas from long-form podcast transcripts—presenting them as fresh, original content without referencing sources or names.  \n\nYour script should be engaging, energetic, and easy to follow, turning complex ideas into exciting, digestible narratives. Use a conversational tone, vivid descriptions, and a strong hook to instantly grab attention. Keep the pacing snappy, ensuring every second counts.  \n\nImportant Guidelines:\n- Do NOT use asterisks (*) or emojis. Keep the text clean and formatted naturally.  \n- Do NOT include line breaks within the \"MainScript\" unless necessary for readability. Write in a natural, spoken style as if it’s being delivered by a person.  \n- The script must feel ORIGINAL and conversational, without direct references to specific podcasts, hosts, or episodes.  \n- The Call to Action should remain simple and engaging. Examples: \"What was your favorite insight?\" or \"Want more ideas like this? Follow for more!\"\n\nOutput Format: \n- Title: [Catchy, curiosity-driven title]  \n- Description: [50-150 characters, snappy summary with key hashtags]  \n- Hook: [An attention-grabbing opening line]  \n- MainScript: [A natural, spoken-style script—NO asterisks, NO emojis, NO unnecessary formatting]  \n- Call to Action: [A compelling prompt encouraging viewers to engage]  \n\nMake sure the MainScript feels seamless and engaging, as if these insights are being shared firsthand. Keep everything punchy and to the point, ensuring high retention and engagement.  "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[920,-40],"id":"5a243c3f-36b6-4e47-b3fd-7cac3c5ecac9","name":"Long form to Script Writier 🧠"},{"parameters":{"operation":"create","databaseId":170,"tableId":683,"fieldsUi":{"fieldValues":[{"fieldId":6619,"fieldValue":"={{ $('Output Parser 🛠').item.json.output.Title }}"},{"fieldId":6620,"fieldValue":"={{ $('Output Parser 🛠').item.json.output.Description }}"},{"fieldId":6621,"fieldValue":"={{ $json.Script }}"},{"fieldId":6638,"fieldValue":"={{ $('Set Idea').item.json['User Input'] }}"},{"fieldId":6637,"fieldValue":"={{ $('On form submission').item.json['Generative Style'] }}"},{"fieldId":6635,"fieldValue":"={{ $('On form submission').item.json['TTS Voice'] }}"},{"fieldId":6639,"fieldValue":"Processing"},{"fieldId":6640,"fieldValue":"={{ $('On form submission').item.json['Image Provider'] }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2060,80],"id":"37a4e8bd-65a5-4cf9-a98e-983a3bcb98df","name":"Baserow - Create record","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6633,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,2580],"id":"55608b43-9cef-499c-acb7-f3cc85addf57","name":"Get video","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":684,"additionalOptions":{"filters":{"fields":[{"field":6622,"value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2580],"id":"99372c86-1ead-492a-ac13-ae315c87a4ae","name":"Get Scenes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6633,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1760,2580],"id":"8634d515-d734-4f07-b083-66c89f34725d","name":"Baserow","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:86/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,500],"id":"533ef7d4-379d-4a13-86cd-e579f5092a3b","name":"Upload tts to baserow","credentials":{"httpHeaderAuth":{"id":"lLkXujIucef3on31","name":"Baserow"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6634,"operator":"empty"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,500],"id":"f53d94b1-197d-4b00-871e-02ed17d44099","name":"Get records","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6629,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,1040],"id":"c8c9d5ee-72c8-4dbc-8b49-c552313b1df1","name":"Get records1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6633,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,2240],"id":"d06184e9-4bf0-4965-b47c-02460e4bc68b","name":"Get video1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,2240],"id":"46e55ff6-d806-48d8-9959-7f3ab1e88824","name":"Split Out2"},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Baserow15').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6630,"fieldValue":"={{ $json.response[0].file_url }}"},{"fieldId":6639,"fieldValue":"Done"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,3420],"id":"237e5df0-e816-45f2-8300-61946f00d930","name":"Baserow1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1240,300],"id":"c6aa6244-65a0-482a-b8d9-da503ef2ab7d","name":"Open Router - Deepseek v3.1","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1580,1140],"id":"bd6d1bb9-0d85-4535-964c-4b1124d19644","name":"Open Router - Deepseek v3.","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7cd1dc03-8331-44ba-bda9-848145bab939","name":"Main Script","value":"={{ $json.output.Hook }} {{ $json.output.MainScript }} {{ $json.output.CTA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,80],"id":"46b0fee6-4e6e-4912-be53-c59e8f4864e4","name":"Combine"},{"parameters":{"assignments":{"assignments":[{"id":"bfd6c0e6-93c2-496a-8f3d-9ebc3061e78f","name":"Script","value":"={{$json['Main Script']\n  .replace(/\\n{2,}/g, \"\")      // Remove multiple newlines\n  .replace(/\\*(.*?)\\*/g, \"$1\") // Remove asterisks around words\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,80],"id":"12f977b7-4a8d-4e76-b833-c27e1ebc2329","name":"Format Cleanup"},{"parameters":{"fields":{"values":[{"name":"base64Image","stringValue":"={{ $json.body.data[0].b64_json }}"}]},"options":{}},"id":"2d4eb6f3-d346-46ce-9472-b880bc739013","name":"Base64 To String","type":"n8n-nodes-base.set","typeVersion":3.1,"position":[1340,1800]},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"base64Image","options":{"dataIsBase64":true,"fileName":"image.png","mimeType":"image/png"}},"id":"5f9aeff4-dfbc-49e0-96e4-76869d1b2d71","name":"Convert String to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1520,1800]},{"parameters":{"method":"POST","url":"http://host.docker.internal:86/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,1800],"id":"1a6a89be-5e95-474b-8efa-764a44b23beb","name":"HTTP - Upload To Baserow","credentials":{"httpHeaderAuth":{"id":"lLkXujIucef3on31","name":"Baserow"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:86/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,720],"id":"2bcd1285-021f-44e2-877b-613391d844d6","name":"Upload captions To Baserow","credentials":{"httpHeaderAuth":{"id":"lLkXujIucef3on31","name":"Baserow"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Get records').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6634,"fieldValue":"={{ $('Upload tts to baserow').item.json.name }}"},{"fieldId":6636,"fieldValue":"={{ $json.url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,720],"id":"dd393101-01f4-4322-89b8-68306ebf6e23","name":"Update Record","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Get records1').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6629,"fieldValue":"={{ $json.ids }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2640,1040],"id":"2891f265-f786-487e-98de-598bfcdba533","name":"Baserow19","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"jsCode":"// Initialize an array to hold IDs\nconst ids = [];\n\n// Loop over input items\nfor (const item of $input.all()) {\n  // Loop through each 'data' array\n  for (const dataItem of item.json.data) {\n    // Check if 'id' is defined\n    if (dataItem.id) {\n      // Push the ID into the array\n      ids.push(dataItem.id);\n    }\n  }\n}\n\n// Return the array wrapped in an object\nreturn [{ json: { ids } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,1040],"id":"bf3c4699-ace4-42f9-83f7-a960320e09fb","name":"IDs To Array1"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2220,1040],"id":"f5d1ffd7-9b02-4082-9941-2f084f8321da","name":"Aggregate3"},{"parameters":{"operation":"create","databaseId":170,"tableId":684,"fieldsUi":{"fieldValues":[{"fieldId":6623,"fieldValue":"={{ $json.output.Prompt }}"},{"fieldId":6625,"fieldValue":"={{ $('Split Out').item.json.json.duration }}"},{"fieldId":6624,"fieldValue":"={{ $('Get records1').item.json['Image Provider'].value }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2000,1040],"id":"106d9112-c0d3-41d6-a1ea-c2098eff4708","name":"Baserow22","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"black-forest-labs/FLUX.1-schnell-Free\",\n    \"prompt\": {{ JSON.stringify($json.Prompt) }},\n    \"width\": 576,\n    \"height\": 1024,\n    \"steps\": 4,\n    \"n\": 1,\n    \"response_format\": \"b64_json\"\n   }","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,1800],"id":"ded2fcae-ec8f-48bd-833e-3b5810a4013a","name":"HTTP - Together.ai","credentials":{"httpHeaderAuth":{"id":"YLIJzXvBZurBhNCd","name":"Together.ai"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Over Items').item.json['Image Provider'].value }}","rightValue":"fal.ai","operator":{"type":"string","operation":"equals"},"id":"eaf1a214-ae9e-455f-889b-5fb2f010b2a6"}],"combinator":"and"},"renameOutput":true,"outputKey":"fal.ai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e78a869-ccdb-4d17-b4f0-bc61733f6232","leftValue":"={{ $('Loop Over Items').item.json['Image Provider'].value }}","rightValue":"together.ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"together.ai"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,1540],"id":"1b45efa3-3f31-4df5-a78e-193cac8bf7f7","name":"Switch - Image Provider"},{"parameters":{"databaseId":170,"tableId":684,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6626,"operator":"empty"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[480,1520],"id":"3d5a97f0-193f-4f05-84f0-ea4da17e6221","name":"Get scenes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/flux/schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ JSON.stringify($json.Prompt) }}"},{"name":"image_size","value":"portrait_16_9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,1460],"id":"c4154e48-81d5-4fa2-aeb3-0a6450f09be3","name":"fal.ai - Submit request","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6631ecc8-bcf2-43b1-8fa4-63b23795815f","name":"status_url","value":"={{ $json.status_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1500],"id":"b80f805e-6c8a-4a55-bd5a-498b4f910ffe","name":"set status_url","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"393f74e8-2678-4e29-9831-bcd043da904b","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,1460],"id":"1d9aad84-819d-4432-8f2a-bcc6af6b4f66","name":"If complete","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:85/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,1340],"id":"a72b0cc8-b5b7-4910-8a36-17b64ef068f5","name":"HTTP - Upload To Baserow1","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Passthrough","typeVersion":1,"position":[2400,1840],"id":"26cfa5ed-c449-477e-978c-a85c0c3989ca"},{"parameters":{"content":"## together.ai FREE - Has rate limits so much slower due to batching","height":260,"width":1160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,1720],"id":"e7771e6b-5183-4f80-9de2-feb1bf7228f0","name":"Sticky Note5"},{"parameters":{"content":"## fal.ai - Much faster.\n$0.003 - $1 you can run this model approximately 333 times.","height":380,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,1320],"id":"dd887f80-5b22-4595-9ba5-1f56d9973a09","name":"Sticky Note9","disabled":true},{"parameters":{"url":"={{ $json.status_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,1460],"id":"a8557366-bba1-4726-93c0-4e5b4170934e","name":"HTTP - get status","disabled":true},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,1340],"id":"7913533a-fb16-420f-8774-b68f60ed789f","name":"HTTP - get image url","disabled":true},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,1340],"id":"8cdcf7a7-7997-43b0-a193-45cd3eaeda05","name":"HTTP Download Image","disabled":true},{"parameters":{"operation":"update","databaseId":94,"tableId":682,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6627,"fieldValue":"={{ $json.name }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2400,1340],"id":"f86e16c0-6460-479e-b005-17f03140b3d9","name":"Update Scene record","disabled":true},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1740,1500],"id":"caf79e5c-d6f6-48d3-8c9b-5678c7122149","name":"Wait 1s","webhookId":"ee70645c-29a6-49d0-909e-14ae85f13b5d","disabled":true},{"parameters":{"operation":"update","databaseId":170,"tableId":684,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6626,"fieldValue":"={{ $json.name }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1860,1800],"id":"9561658e-76bd-4c15-b2da-d449cc246f8b","name":"Uploading scenes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": \"{{ $json.id }}\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.Image[0].url }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[0:v]zoompan=z='zoom+0.002':x='(iw/zoom-ow)*on/125':y='ih/2-(ih/zoom/2)':d=125,rotate=PI/12*sin(2*PI*t/5):c=black@0,fade=t=in:st=0:d=1,fade=t=out:st=4:d=1[vid]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[vid]\"\n        },\n        {\n          \"option\": \"-t\",\n          \"argument\": 5\n        },\n        {\n          \"option\": \"-r\",\n          \"argument\": 25\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-crf\",\n          \"argument\": 18\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"thumbnail\": true,\n    \"filesize\": true,\n    \"duration\": true,\n    \"bitrate\": true,\n    \"encoder\": true\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,3820],"id":"3cae5e04-d8d5-466c-888b-49dec5e1623f","name":"Create Clips1","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1180,3800],"id":"727f2e49-842d-48a4-b56c-5ca6b5a291ac","name":"Loop Over Items4"},{"parameters":{"databaseId":170,"tableId":684,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6622,"value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[880,3800],"id":"0665f8b3-4cfc-4bd1-b29e-c21718eb62a7","name":"Baserow6","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":684,"rowId":"={{ $('Loop Over Items4').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6627,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1640,3820],"id":"5052a3f5-3734-43e9-894f-9d3cd0f4a40a","name":"Baserow7","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6633,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,3800],"id":"4677ab41-fe46-48aa-9d45-f598d740bdf0","name":"Get video2","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[700,3800],"id":"5dd3562e-1f38-4f8d-8817-ce0958b715f7","name":"Split Out3"},{"parameters":{"content":"## Tests Create clips from images\n","height":320,"width":1400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,3720],"id":"ed9a1fd2-5276-4904-a7b5-ff2f03ac59d0","name":"Sticky Note10","disabled":true},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Baserow16').item.json.Title }}","regionCode":"US","categoryId":"24","options":{"defaultLanguage":"en","description":"={{ $('Baserow16').item.json['Initial Prompt'] }}\n\n{{ $('Baserow16').item.json.Script }}","embeddable":false,"privacyStatus":"public","publicStatsViewable":false,"selfDeclaredMadeForKids":false,"tags":"={{ $('Baserow16').item.json.Description }} #Moneywar"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1780,4420],"id":"fe7d2bb2-b1e7-4e25-97a9-f2a5c4e4834c","name":"YouTube","credentials":{"youTubeOAuth2Api":{"id":"gyb44TbxD62kwqO8","name":"YouTube account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6630,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[680,4420],"id":"c144e21c-34cf-475f-b959-ade24f3ef3f9","name":"Baserow16","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"url":"={{ $json['Video + Caption URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,4420],"id":"603238ad-05b0-4ac9-9cce-2d48bc46661b","name":"Download video"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,80],"id":"959b6409-2a19-4065-a9ae-46561fce0c28","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"item.binary.data.mimeType = 'video/mp4';\nitem.binary.data.dataType = 'file'; // ESSENCIAL para o YouTube reconhecer corretamente\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,4420],"id":"ccd99e44-f421-43ed-98d8-7d061b1a5dec","name":"Code"},{"parameters":{"operation":"upload","bucketName":"nca-toolkit","fileName":"=","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1320,4420],"id":"2a292106-75dc-430d-b890-209eb9375035","name":"S3","credentials":{"s3":{"id":"TRtuzhLqAiwk4Unk","name":"S3 account"}}},{"parameters":{"url":"={{ $('Download video').item.json['Video + Caption URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,4420],"id":"d3f93145-7ac3-45a0-b8db-637640e12292","name":"Download video1"},{"parameters":{"method":"POST","url":"https://api.ayrshare.com/api/post","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 26230248-93BE4BE7-9ECCD60A-0650A3EC"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"post\": \"Today is a great day!\",\n  \"platforms\": [\n    \"twitter\",\n    \"facebook\",\n    \"instagram\",\n    \"linkedin\",\n    \"pinterest\"\n  ],\n  \"mediaUrls\": [\n    \"https://img.ayrshare.com/012/gb.jpg\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,4640],"id":"655d8980-f2f7-438e-a13b-99cbb1105808","name":"POST Ayrshire - em redes sociais apenas imagens 20 por mês"},{"parameters":{"content":"## Tests for sharing social medias\n","height":580,"width":1580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,4300],"id":"40f629d0-1f34-42d7-9853-fdf9d03be431","name":"Sticky Note12","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[920,4660],"id":"d0f2565e-e32d-409d-87cf-b8b1c22f77b8","name":"Read/Write Files from Disk","alwaysOutputData":false,"disabled":true},{"parameters":{"operation":"delete","databaseId":170,"tableId":683,"rowId":"8"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[680,4640],"id":"0869fc29-ff7a-420d-9f2f-c6a5967b775b","name":"DELET ROW","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"pf_dora\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,520],"id":"782a20ab-77ff-4b94-b488-ff3349944473","name":"Generate TTS AUDIO TEST ptBR"},{"parameters":{"assignments":{"assignments":[{"id":"bed8f65d-bc6b-4fb5-8582-e5cff2d0fd14","name":"text","value":"Já parou pra pensar que até as pequenas coisas podem ter um valor gigante quando feitas com o coração? O versículo de Colossenses 3:23 nos lembra: \"Tudo o que fizerem, façam de todo o coração, como para o Senhor, e não para os homens.\" Isso significa que cada ação, grande ou pequena, ganha um novo significado quando feita com dedicação e amor. Não importa se é um trabalho, um estudo, ou até um gesto simples — quando você coloca o coração, deixa de ser apenas uma tarefa e vira um ato de propósito. Imagine o impacto se vivêssemos cada dia com essa mentalidade? Sua rotina se transformaria, e sua ...","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1380,520],"id":"022cf392-b8c0-4771-b09c-9b96166015f6","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-220,1800],"id":"75c3a100-d945-4ad7-b71f-9e40932498d9","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n  \"process_ideas\": [\n    \"Weaving grass hammocks between bonsai trees\",\n    \"Frosting miniature cupcakes with flower-petal icing\",\n    \"Filling sand timers with stardust grains\",\n    \"Polishing beetle shells for royal insect parades\",\n    \"Stacking and organizing leaf-cut paper files\",\n    \"Charging glowberries with tiny lightning rods\",\n    \"Binding dream journals using spider-silk thread\",\n    \"Repainting street signs in a snail-sized village\",\n    \"Carving furniture from sugar cubes\",\n    \"Harvesting dewdrops from velvet moss\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-380,3260],"id":"35b585b1-201a-4bd4-867b-8999008e9694","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Existing ideas:\n{{ JSON.stringify($json.data) }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a creative ideation agent tasked with generating original and visually compelling process ideas for short-form video content that creatively illustrates concepts related to business, finance, investing, and personal development, using AI-generated assets.\n\n## Context\nYour mission is to develop innovative, never-before-used visual metaphors that capture concepts related to financial business. These metaphors should be visually dynamic, emotionally resonant, and conceptually tied to real-world ideas from the world of financial and personal growth.\n\nEach idea must be inspired by or belong to one of the following adapted categories:\n- Wealth Building\n- Entrepreneurial Tasks\n- Investment Mechanisms (Bitcoins)\n- Personal Growth Systems (Workout, Nutrition, etc.)\n- Time and Productivity Tips (Workout, Nutrition, Meditation, Hyperfocus, etc.)\n- Economic Simulations\n- Organizational Finance Workflows\n\nThey can be **real, abstract, or symbolic** (Focus on real financial facts), as long as they are highly visual and appropriate for a short 1-minute video in the **finance/business niche**.\n\n## Instructions\n- The user will provide a list of previously generated ideas.\n- Use the **web search tool** to ensure the latest news, relevance, and novelty where necessary.\n- You must generate **10 new concepts** per request — avoid rephrasing or duplicating existing ideas. - **Don't** break each idea down into steps — produce only **concise** and **distinct** process titles or labels.\n- Avoid generic financial terms; **prioritize metaphor, puns, movement, and originality**.\n\n## Tools\n- web search tool (for research and contextual alignment with financial trends).\n\n## Examples\n\n\"Bitcoin hitting a new all-time high\"\n\"Balancing social life, budget, and investing in cryptocurrencies\"\n\"Bitcoin halving: what is it and when is the next one?\" \"Reinvesting the nine-ball of compound interest in startups\"\n\"Stamping passport approval for international travel\"\n\"Extracting motivation and transforming it into consistent habits\"\n\"Fueling cryptocurrencies with dividends\"\n\"Recharging ambition to achieve the extraordinary\"\n\"Reputable and validated investment books\"\n\"What is the Bitcoin Halving? Dates and History in a pyramid format\"\n\n## Output JSON format:\n\n```json\n{\n\"process_ideas\": [\n\"Bitcoin hitting a new all-time high\",\n\"Balancing social life, budget, and investing in cryptocurrencies\",\n\"Bitcoin halving: what is it and when is the next one?\",\n\"Reinvesting the nine-ball of compound interest in startups\",\n\"Stamping passport approval for international travel\",\n\"Extracting motivation and transforming it into consistent habits\",\n\"Fueling cryptocurrencies with dividends\",\n\"Recharging ambition to achieve the extraordinary extraordinary\",\n\"Reputable and validated investment books\",\n\"What is the Bitcoin Halving? Dates and History in a pyramid scheme\"\n]\n}\n```\n\n## SOP (Standard Operating Procedure)\n1. Review the user's existing idea list.\n2. Check recent financial trends or relevant news using a web search engine, if necessary.\n3. Brainstorm 10 new ideas that visually reflect financial/business themes.\n4. Format the output in the required JSON format.\n\n## Final Remarks\n- Concepts should be aligned with investing, entrepreneurship, personal finance, or mindset improvement.\n- Use symbolic visuals that evoke emotional and intellectual engagement.\n- Avoid dry or overly technical terms—keep them engaging, metaphorical, and rich in value.\n\n---\n\nToday is: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-640,3040],"id":"d87b449a-5bce-4dcd-b053-f2fe9296ab7b","name":"Generate"},{"parameters":{"operation":"create","databaseId":191,"tableId":734,"fieldsUi":{"fieldValues":[{"fieldId":7170,"fieldValue":"={{ $json[\"output.process_ideas\"] }}"},{"fieldId":7211,"fieldValue":"Available"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-60,2980],"id":"4c34c099-57af-4aae-b5a5-911b93d72e03","name":"Add New Processes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}},"disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"Title","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-860,3140],"id":"36e8730f-92ae-40ee-b5b9-bc7a156c27b4","name":"Aggregate2"},{"parameters":{"fieldToSplitOut":"output.process_ideas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-260,3140],"id":"c6467185-a6d7-417f-a706-ce78c7dab6bc","name":"Split Out4"},{"parameters":{"content":"## Process Generator (10 new)\n","height":440,"width":1320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,2960],"id":"f5d37bda-77a4-4818-8fb4-6484f2565380","name":"Sticky Note13"},{"parameters":{"model":"openai/gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[720,5340],"id":"b850d750-1dbc-4601-ba20-93a4ac9a3b95","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"string\",\n  \"hashtags\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[940,5340],"id":"80c30234-37aa-4b3b-bd70-821c627ae8a1","name":"Structured Output Parser6"},{"parameters":{"promptType":"define","text":"=Process: {{ $json.Process }}","hasOutputParser":true,"options":{"systemMessage":"=You are a creative AI assistant that specializes in crafting viral YouTube Shorts titles and hashtags. You are given a short, whimsical description of a process done by tiny, cute workers (e.g., fairies, mini creatures, toy-like beings). Your job is to generate:\n\n1. A catchy and curiosity-inducing **title** that would make viewers want to click.\n2. A set of **2 to 3 relevant and popular hashtags**, optimized for virality in the \"cute\", \"miniature\", and \"oddly satisfying\" niches.\n\n📝 Your output must follow this **JSON format**:\n\n```json\n{\n  \"title\": \"string\",\n  \"hashtags\": \"string\"\n}\n```\n\n🎯 The **combined length of the title and hashtags must not exceed 80 characters**.\nMake the title playful, emotional, or intriguing. Hashtags should be space-separated and each start with `#`."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[740,5180],"id":"d32cb900-9c61-4237-ad60-8098023054ce","name":"Create titles & hashtags"},{"parameters":{"databaseId":191,"tableId":735,"limit":1,"additionalOptions":{"order":{"fields":[{"field":7253,"direction":"-"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,5180],"id":"14cf5332-31c6-4c86-87a9-75c39b2c5c7a","name":"Get Last video","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Create titles & hashtags').item.json.output.title }}, {{ $json.output.hashtags }}","regionCode":"GB","categoryId":"24","options":{"description":"={{ $('Create titles & hashtags').item.json.output.title }} {{ $json.output.hashtags }}","privacyStatus":"private","selfDeclaredMadeForKids":false}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1340,5180],"id":"358d49df-9ad3-4b46-a898-dd94edbab612","name":"YouTube1","credentials":{"youTubeOAuth2Api":{"id":"gyb44TbxD62kwqO8","name":"YouTube account"}}},{"parameters":{"url":"={{ $('Get Last video').item.json['Final Video'][0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,5180],"id":"33b781ea-9ad1-43c3-8100-8c3f8470fa0f","name":"Download video2"},{"parameters":{"content":"## Generate title & hashtag, Upload to YouTube","height":360,"width":1220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,5120],"id":"4b7672df-3bd1-4528-a896-148b23e9ebad","name":"Sticky Note14"},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6639,"operator":"contains","value":"Done"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-800,80],"id":"f23c2f7e-4e6a-4077-aa3d-c091915e6287","name":"Get records2","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pntnu8bvzk2iqm7","table":"m0rcym5x5vvjma5","options":{"fields":[],"where":"(Status,eq,Available)"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[40,80],"id":"eb15d02c-1429-448a-8eea-ee0473db7f5d","name":"NocoDB Get Ideas","credentials":{"nocoDbApiToken":{"id":"eAqsFJ47anNKIuFC","name":"NocoDB"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[220,80],"id":"ec1bd3e4-b006-452f-9f69-d0010854a776","name":"Limit"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pntnu8bvzk2iqm7","table":"m0rcym5x5vvjma5","options":{"fields":[],"where":"(Status,eq,Available)"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-1080,3140],"id":"147fe402-0835-4fc1-946b-20449bc2cd34","name":"NocoDB Get All Ideas","credentials":{"nocoDbApiToken":{"id":"eAqsFJ47anNKIuFC","name":"NocoDB"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"pntnu8bvzk2iqm7","table":"m0rcym5x5vvjma5","fieldsUi":{"fieldValues":[{"fieldName":"Title","fieldValue":"={{ $json[\"output.process_ideas\"] }}"},{"fieldName":"Status","fieldValue":"Available"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-40,3240],"id":"08e33432-2c99-45d1-b56c-3ac7dd6604a3","name":"NocoDB Add New Processes","credentials":{"nocoDbApiToken":{"id":"eAqsFJ47anNKIuFC","name":"NocoDB"}}},{"parameters":{"promptType":"define","text":"=Newsletter Topic: {{ $json.Topic }}\nNewsletter Tone: {{ $json.Tone }}\nNewsletter Target Audience: {{ $json['Target Audience'] }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview  \nYou are an AI agent responsible for planning the sections of a newsletter by creating an engaging table of contents tailored to the newsletter's topic, tone, and target audience.  \n\n## Context  \n- The newsletter will vary in topic, tone, and target audience depending on the request.  \n- Your role is to use the \"Web_search\" tool to search for relevant topics and craft a high-level, engaging table of contents.  \n- The table of contents should resonate with the target audience and encourage them to read the full newsletter.  \n\n## Instructions  \n1. Analyze the incoming information, including the newsletter topic, tone, and target audience details.  \n2. Use the \"tavily\" tool to research relevant and trending subtopics related to the main newsletter topic.  \n3. Based on your findings, create a table of contents with high-level, engaging topics tailored to the target audience.  \n4. Ensure the topics align with the newsletter's tone and are structured to maintain the reader's interest.  \n5. Include brief descriptions for each section if requested.  \n\n## Tools  \n- web_search_tool for internet research  \n- Predefined audience profiles (if provided)  \n\n## Examples  \n- **Input:**  \n  - Topic: \"Sustainable Living\"  \n  - Tone: Informative yet approachable  \n  - Target Audience: Young adults interested in eco-friendly lifestyles  \n\n- **Output:**  \n  Table of Contents:  \n  1. \"What is Sustainable Living? A Beginner’s Guide\"  \n  2. \"Top 10 Small Changes for a Big Impact\"  \n  3. \"The Science Behind Sustainability: Why It Matters\"  \n  4. \"Spotlight on Innovations: Green Tech of 2025\"  \n  5. \"Inspiration Corner: Stories of Everyday Eco-Warriors\"  \n\n- **Input:**  \n  - Topic: \"Remote Work Tips\"  \n  - Tone: Professional yet motivational  \n  - Target Audience: Corporate professionals transitioning to remote work  \n\n- **Output:**  \n  Table of Contents:  \n  1. \"Remote Work Revolution: Adapting to the New Norm\"  \n  2. \"Home Office Hacks for Maximum Productivity\"  \n  3. \"Balancing Act: Work-Life Harmony Tips\"  \n  4. \"Top Collaboration Tools Every Remote Team Needs\"  \n  5. \"Success Stories: How Remote Work Changed Lives\"  \n\n## SOP (Standard Operating Procedure)  \n1. Review the provided details about the newsletter's topic, tone, and target audience.  \n2. Use the \"web_search_tool\" tool to search for trending, relevant, and engaging subtopics.  \n3. Brainstorm 4-6 high-level topics that fit within the theme of the newsletter and appeal to the target audience.  \n4. Verify that each section aligns with the tone and goals of the newsletter.  \n5. Finalize the table of contents and, if requested, provide brief descriptions for each section.  \n\n## Final Notes  \n- Keep the topics concise and engaging to maximize interest.  \n- Adapt your tone and choice of topics to suit the specific audience profile.  \n- Always aim for a balance of informative and engaging content to maintain readership.  \n---  \nHere is the current date {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2280,3860],"id":"ad8ed95d-5751-4be4-96a0-a4b6c8039e90","name":"Newsletter Expert"},{"parameters":{"promptType":"define","text":"=Section Title: {{ $('Split Out5').item.json.title }}\n\nSection Description: {{ $('Split Out5').item.json.description }}\n\nNewsletter Target Audience: {{ $('On form submission1').item.json['Target Audience'] }}\n\nNewsletter Tone: {{ $('On form submission1').item.json.Tone }}","options":{"systemMessage":"=# Overview  \nYou are an AI agent responsible for delivering only the final content for a newsletter section. Your role is to produce concise, well-researched, and audience-tailored content based solely on the provided inputs, with no prefacing statements or explanations.  \n\n## Context  \n- All necessary details, including the section title, description, target audience, and tone, will be provided.  \n- The goal is to create engaging content that aligns with the audience's expectations and the newsletter's objectives.  \n- Content must be supported by research, with sources clearly cited using hyperlinks.  \n\n## Instructions  \n1. Write the final content without including any introductory or concluding remarks about the writing process.  \n2. Conduct research using the web_search tool to ensure credibility and relevance.  \n3. Use the provided inputs to craft a focused section tailored to the target audience.  \n4. Include citations seamlessly within the content using hyperlinks to the original sources.  \n\n## Tools  \n- web_search_tool (for research and citations). \n\n## Citation Guidelines\n- Use the web_search tool to gather information and cite sources\n- For each major claim or piece of information, include a hyperlinked inline citation\n- Format citations as HTML links with descriptive text:\n  <a href=\"[URL]\">[Source: Publication Name]</a>\n- When directly quoting from a source, use quotation marks and include the citation\n\n## Examples  \n- **Input**:  \n  - Section Title: \"The Psychology of Happy Patients\"  \n  - Description: Discuss strategies dental offices can use to improve patient experiences and satisfaction, such as personalized care and stress-reducing techniques.  \n  - Target Audience: Dentists and dental practice managers.  \n  - Tone: Informative yet approachable.  \n- **Output**:  \n  \"Creating a positive patient experience starts with understanding the key drivers of satisfaction in dental care. Personalized care, such as addressing individual patient concerns and tailoring treatments, can significantly boost trust and comfort [Source](https://example.com/personalized-care). Stress-reducing techniques, like offering noise-canceling headphones or aromatherapy in waiting rooms, have also been shown to alleviate anxiety and improve overall impressions of care [Source](https://example.com/stress-reduction). By focusing on these elements, dental practices can foster happier, more loyal patients.\"  \n\n## SOP (Standard Operating Procedure)  \n1. **Input Analysis**: Understand the section's title, description, target audience, and tone.  \n2. **Research**: Use the web_search tool to gather relevant, credible information.  \n3. **Content Writing**: Craft a section based on the provided inputs, ensuring it is directly usable in the newsletter.  \n4. **Cite Sources**: Integrate hyperlinks to all references within the content.  \n5. **Review and Deliver**: Proofread the content to ensure clarity, accuracy, and alignment with the target audience.  \n\n## Final Notes  \n- The output must start directly with the content, without introductory or transitional phrases.  \n- All sources must be clearly cited and integrated naturally into the text.  \n- Focus on delivering value and ensuring readability for the target audience.  \n---  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1400,3660],"id":"abf9406b-c927-4d72-9152-5f25fface570","name":"Research Team"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1040,3760],"id":"70e18ba1-b050-44be-bce1-e03519fecb0f","name":"Merge"},{"parameters":{"promptType":"define","text":"=List of titles: {{ $json.title }}\nList of article content: {{ $json.output }}","options":{"systemMessage":"=## Overview\nYou are an expert editor specializing in creating and refining content to output a high quality, formatted article. You are given a list of titles and outputs and you will use these to create a newsletter tailored towards the defined target audience. Create a section in the article for each title, with a hyperlinked source in each section based on the content.\n\n## Objective\n1. Create content for each title using the provided content\n2. Each section should contain inline citations *Don't leave any out*\n3. Improve the flow of the newsletter and format it for readability\n\n## Citation Management\n1. Preserve all inline citations\n2. Standardize citation format\n3. Ensure citations don't disrupt the flow of reading\n\n## Source Section\n1. Create ONE \"Sources\" section at the end of the newsletter\n2. Format each source entry consistently: \n   <li><a href=\"[URL]\">[Publication Name] - [Article Title]</a></li>\n3. Include complete URL for each source\n4. Organize all sources alphabetically\n5. Verify all links are functional\n\n## Output Format\nThe newsletter should be structured as HTML that will be sent through email:\n- Do not output a title or an introduction, the output should start with the first article heading\n- Main content with hyperlink citations in each section.\n- Headers for each section of the article\n- Sources section at the end with all links\n\n## Important ##\nOutput 1000 words maximum or else the automation breaks!\noutput clean modern HTML that will look good in an email\n\nToday's date is {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,3760],"id":"8324473e-4d86-423b-baa8-fee040822242","name":"Editor"},{"parameters":{"formTitle":"Newsletter Submission Form","formDescription":"Provides a structured newsletter based on the following fields.","formFields":{"values":[{"fieldLabel":"Topic","placeholder":"Voice AI","requiredField":true},{"fieldLabel":"Tone","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Professional"},{"option":"Funny"}]},"requiredField":true},{"fieldLabel":"Target Audience","placeholder":"Dentist Offices","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2460,3860],"id":"42b3557f-d94e-4b26-9727-60dde6fb4580","name":"On form submission1","webhookId":"4f9e114e-fb68-404a-9fd5-2b3310e061fd"},{"parameters":{"promptType":"define","text":"=","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Your job is to split out the table of contents into an individual item for each section. Output each section separately in a field called \"newsletterSections\". When doing so, keep in mind that the newsletter target audience is {{ $('On form submission1').item.json['Target Audience'] }} and the tone of the newsletter should be {{ $('On form submission1').item.json.Tone }}\n\nHere is the table of contents: {{ $json.output }}\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-1940,3860],"id":"7d23faec-3e94-4ad0-a846-2f9e821d2e65","name":"Project Planner"},{"parameters":{"toolDescription":"web_search_tool - searches the internet","url":"http://host.docker.internal:8089/search","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"format","valueProvider":"fieldValue","value":"json"}]},"optimizeResponse":true,"dataField":"results"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1500,4160],"id":"9fe76abf-5998-414d-9722-595e7e00fa65","name":"web_search_tool"},{"parameters":{"sendTo":"benjamin.keating@ymail.com","subject":"={{ $json.response.text }}","message":"={{ $('Editor').item.json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[40,3760],"id":"d6d526b2-3b22-4b91-9c3a-3044cd9fbe13","name":"Gmail","webhookId":"72210ee0-b977-4e7f-861e-f0fb9cabf288","disabled":true},{"parameters":{"promptType":"define","text":"=Create a title for the incoming newsletter. The tone of the newsletter is {{ $('On form submission1').item.json.Tone }} and the target audience is {{ $('On form submission1').item.json['Target Audience'] }}.\n\nHere is the newsletter:\n{{ $json.output }}\n\n# Output format\nOutput the title in plain text, no quotation marks, and capitalize the first letter of each word.\nExample: Is Artificial Intelligence A Friend Or Foe?"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-280,3760],"id":"2a5f0bc5-e194-4e5b-aedb-f6a0b0bdad47","name":"Create TItle"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1300,4160],"id":"03fda83d-1542-4ee9-b193-4f837f6ea899","name":"GPT 4o mini","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"fieldToSplitOut":"output.newsletterSections","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1640,3780],"id":"db40bea0-35bd-4d23-829b-1a15beea8990","name":"Split Out5"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"},{"fieldToAggregate":"output"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-820,3760],"id":"259719d6-db6c-4944-81bc-ca197defe8fd","name":"Aggregate4"},{"parameters":{"content":"# Newsletter Automation\n","height":780,"width":3580,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3300,3540],"typeVersion":1,"id":"95d81d30-f50a-44cd-b688-2a57b33e4097","name":"Sticky Note15"},{"parameters":{"content":"\n","height":180,"width":200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1360,4100],"typeVersion":1,"id":"07d2a4cb-6ca4-4d66-99e2-4bb32ac7469e","name":"Sticky Note16"},{"parameters":{"jsonSchemaExample":"{\n  \"newsletterSections\": [\n    {\n      \"title\": \"<Insert section title here>\",\n      \"description\": \"<Insert section description here>\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1860,4000],"id":"168e5939-d035-4e0b-9970-e877e7e62795","name":"Structured Output Parser3"},{"parameters":{"content":"**📰 Newsletter Automation – End-to-End AI-Powered Content Creation**\n\nThis workflow automates the process of generating a full newsletter using AI agents, research tools, and email delivery.\n\n1. **On Form Submission** – Triggers when a user submits a form to start the process.  \n2. **Newsletter Expert (Agent)** – Gathers initial direction and context for the newsletter content.  \n3. **Project Planner** – Breaks down the task into smaller content pieces or sections.  \n4. **Split Out** – Splits the structured plan into individual items for processing.  \n5. **Research Team (Agent)** – Performs topic research using web tools and GPT.  \n6. **Merge** – Combines AI research with initial input data.  \n7. **Aggregate** – Merges the multiple content blocks into one draft.  \n8. **Editor (Agent)** – Refines and polishes the final newsletter draft.  \n9. **Create Title** – Uses an LLM to generate a catchy subject line.  \n10. **Gmail** – Sends the final newsletter via email.  \n11. **Structured Output Parser** – Handles the formatting and parsing of content for internal processing.  \n12. **Web Search Tool** – Gathers real-time data and references for the research agent.  \n13. **GPT-4o Mini** – Supports content generation, summarization, and rephrasing throughout the flow.\n\n---\n\n🔧 *Template originally created by Nate Herk*  \n🎥 [Check out his channel](https://www.youtube.com/@nateherk)\n","height":600,"width":860,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3260,3640],"id":"035f39d8-2bd3-4da1-ae84-d5782ae68358","name":"Sticky Note17"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1920,3240],"id":"510f644b-f757-4285-9e38-21c3e14fd8b6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Existing ideas:\n{{ JSON.stringify($json.chatInput) }}","hasOutputParser":true,"options":{"systemMessage":"=You are a Creative Research Agent tasked with helping generate **original and visually appealing process ideas** for use in AI-generated content production, based on user search terms.\n\n\n**Important Instructions:**\n- Conduct research using the web_search tool to ensure credibility and relevance.\n- Always return 3 results.\n\n## Tools  \n- web_search_tool (for research, images, links and citations). \n\n---\nexample outputs\n\n    \"Weaving grass hammocks between bonsai trees\",\n    \"Frosting miniature cupcakes with flower-petal icing\",\n    \"Filling sand timers with stardust grains\",\n   \n\n\n**Output JSON format:**\n\n{\n  \"process_search\": [\n    {\n      \"title\": \"3 Motivos para usar fones de retorno profissionais\",\n      \"description\": \"Guia técnico sobre a importância de fones com resposta de frequência precisa para monitoramento de áudio em estúdios, baseado em metodologias de produção musical [[6]].\",\n      \"image_url\": \"https://example.com/pro-audio-headphones.jpg \"\n    },\n    {\n      \"title\": \"Quais são os melhores fones para músicos iniciantes\",\n      \"description\": \"Análise comparativa de modelos com cancelamento de ruído e drivers dinâmicos, alinhada às técnicas de escolha de equipamentos apresentadas em cursos de produção [[2]].\",\n      \"image_url\": \"https://audio-tech.com/beginner-headphones-demo.png \"\n    },\n    {\n      \"title\": \"Painel de Visualização Sonora para Engenheiros\",\n      \"description\": \"Ferramenta interativa que mostra espectrogramas e padrões de dispersão sonora, utilizando técnicas de visualização criativa discutidas em estudos de design [[8]].\",\n      \"image_url\": \"https://soundviz.com/audio-dashboard.png \"\n    }\n  ]\n}\n\n\n## Important ##\nOutput 1000 words maximum or else the automation breaks!\noutput clean modern HTML that will look good in an email\n\nToday's date is {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1820,3020],"id":"8fb976e4-ac51-4645-b740-ca16b8ad80cf","name":"Generate1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1760,3240],"id":"71c9b7e4-360a-4fa1-a206-fc0a758b2c1a","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2000,3020],"id":"de8fdc8e-9cff-43fb-9176-1de73246d5f8","name":"When chat message received","webhookId":"6a444a16-cabb-4d42-b6e2-81bb0a948963"},{"parameters":{"jsonSchemaExample":"{\n  \"newsletterSections\": [\n    {\n      \"title\": \"<Insert section title here>\",\n      \"description\": \"<Insert section description here>\",\n      \"image_url\": \"<Insert section image url here>\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1620,3240],"id":"f7a3a53a-6b80-41d5-83d9-0ee37f7fa9fd","name":"Structured Output Parser4"},{"parameters":{"assignments":{"assignments":[{"id":"9fb35632-60b7-4ec7-8d10-4b20721ad6e7","name":"output.newsletterSections","value":"={{ $json.output.newsletterSections }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,3020],"id":"541b253b-4a47-4f39-8892-dde774b786b9","name":"Edit Fields1"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{"maxTokens":10000,"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-700,3260],"id":"f0369549-5e9e-4d69-adb6-335d3b866449","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-60,2720],"id":"76c2fd85-ae83-4d21-b704-21498ce20249","name":"Execution Data"}],"connections":{"Set Idea":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Create Clips":{"main":[[{"node":"Baserow5","type":"main","index":0}]]},"Combine Clips":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Video url to array","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Create Clips","type":"main","index":0}]]},"Video url to array":{"main":[[{"node":"Combine Clips","type":"main","index":0}]]},"Combine Clips3":{"main":[[{"node":"Baserow12","type":"main","index":0}]]},"Add Music":{"main":[[{"node":"Baserow1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Get Scenes","type":"main","index":0}]]},"Get Captions":{"main":[[{"node":"Upload captions To Baserow","type":"main","index":0}]]},"Generate TTS":{"main":[[{"node":"Upload tts to baserow","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split into 5s Scenes","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Image Prompter V2 📷","type":"main","index":0}]]},"Fixer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Get Segment File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split into 5s Scenes":{"main":[[{"node":"Fixer","type":"main","index":0}]]},"Create Captions":{"main":[[{"node":"Baserow14","type":"main","index":0}]]},"Baserow4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Baserow5":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Baserow11":{"main":[[{"node":"Combine Clips3","type":"main","index":0}]]},"Baserow13":{"main":[[{"node":"Create Captions","type":"main","index":0}]]},"Baserow15":{"main":[[{"node":"Add Music","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Get records1","type":"main","index":0},{"node":"Get scenes","type":"main","index":0},{"node":"Get video1","type":"main","index":0},{"node":"Get video","type":"main","index":0},{"node":"Baserow13","type":"main","index":0},{"node":"Get records","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Output Parser 🛠","type":"ai_outputParser","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Image Prompter V2 📷","type":"ai_outputParser","index":0}]]},"Script Writier 🧠":{"main":[[{"node":"Output Parser 🛠","type":"main","index":0}]]},"Output Parser 🛠":{"main":[[{"node":"Combine","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Long form to Script Writier 🧠","type":"main","index":0}],[{"node":"Script Writier 🧠","type":"main","index":0}]]},"Image Prompter V2 📷":{"main":[[{"node":"Baserow22","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch - Image Provider","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Long form to Script Writier 🧠":{"main":[[{"node":"Output Parser 🛠","type":"main","index":0}]]},"Get video":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Scenes":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Upload tts to baserow":{"main":[[{"node":"Get Captions","type":"main","index":0}]]},"Get records":{"main":[[{"node":"Generate TTS","type":"main","index":0}]]},"Get records1":{"main":[[{"node":"Get Segment File","type":"main","index":0}]]},"Get video1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Baserow4","type":"main","index":0}]]},"Open Router - Deepseek v3.1":{"ai_languageModel":[[{"node":"Output Parser 🛠","type":"ai_languageModel","index":0},{"node":"Script Writier 🧠","type":"ai_languageModel","index":0},{"node":"Long form to Script Writier 🧠","type":"ai_languageModel","index":0}]]},"Open Router - Deepseek v3.":{"ai_languageModel":[[{"node":"Image Prompter V2 📷","type":"ai_languageModel","index":0}]]},"Combine":{"main":[[{"node":"Format Cleanup","type":"main","index":0}]]},"Format Cleanup":{"main":[[{"node":"Baserow - Create record","type":"main","index":0}]]},"Base64 To String":{"main":[[{"node":"Convert String to binary","type":"main","index":0}]]},"Convert String to binary":{"main":[[{"node":"HTTP - Upload To Baserow","type":"main","index":0}]]},"HTTP - Upload To Baserow":{"main":[[{"node":"Uploading scenes","type":"main","index":0}]]},"Upload captions To Baserow":{"main":[[{"node":"Update Record","type":"main","index":0}]]},"IDs To Array1":{"main":[[{"node":"Baserow19","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"IDs To Array1","type":"main","index":0}]]},"Baserow22":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"HTTP - Together.ai":{"main":[[{"node":"Base64 To String","type":"main","index":0}]]},"Switch - Image Provider":{"main":[[{"node":"fal.ai - Submit request","type":"main","index":0}],[{"node":"HTTP - Together.ai","type":"main","index":0}]]},"Get scenes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"fal.ai - Submit request":{"main":[[{"node":"HTTP - get status","type":"main","index":0}]]},"set status_url":{"main":[[{"node":"HTTP - get status","type":"main","index":0}]]},"If complete":{"main":[[{"node":"HTTP - get image url","type":"main","index":0}],[{"node":"Wait 1s","type":"main","index":0}]]},"HTTP - Upload To Baserow1":{"main":[[{"node":"Update Scene record","type":"main","index":0}]]},"Passthrough":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP - get status":{"main":[[{"node":"If complete","type":"main","index":0}]]},"HTTP - get image url":{"main":[[{"node":"HTTP Download Image","type":"main","index":0}]]},"HTTP Download Image":{"main":[[{"node":"HTTP - Upload To Baserow1","type":"main","index":0}]]},"Update Scene record":{"main":[[{"node":"Passthrough","type":"main","index":0}]]},"Wait 1s":{"main":[[{"node":"set status_url","type":"main","index":0}]]},"Uploading scenes":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Create Clips1":{"main":[[{"node":"Baserow7","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Create Clips1","type":"main","index":0}]]},"Baserow6":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Baserow7":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Get video2":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Baserow6","type":"main","index":0}]]},"Baserow16":{"main":[[{"node":"Download video","type":"main","index":0}]]},"Download video":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"NocoDB Get Ideas","type":"main","index":0}]]},"Code":{"main":[[{"node":"S3","type":"main","index":0}]]},"S3":{"main":[[{"node":"Download video1","type":"main","index":0}]]},"Download video1":{"main":[[{"node":"YouTube","type":"main","index":0}]]},"Generate TTS AUDIO TEST ptBR":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Generate TTS AUDIO TEST ptBR","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate","type":"ai_outputParser","index":0}]]},"Generate":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Generate","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Add New Processes","type":"main","index":0},{"node":"NocoDB Add New Processes","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Create titles & hashtags","type":"ai_languageModel","index":0}]]},"Structured Output Parser6":{"ai_outputParser":[[{"node":"Create titles & hashtags","type":"ai_outputParser","index":0}]]},"Create titles & hashtags":{"main":[[{"node":"Download video2","type":"main","index":0}]]},"Get Last video":{"main":[[{"node":"Create titles & hashtags","type":"main","index":0}]]},"Download video2":{"main":[[{"node":"YouTube1","type":"main","index":0}]]},"Get records2":{"main":[[]]},"NocoDB Get Ideas":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Set Idea","type":"main","index":0}]]},"NocoDB Get All Ideas":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Newsletter Expert":{"main":[[{"node":"Project Planner","type":"main","index":0}]]},"Research Team":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Editor":{"main":[[{"node":"Create TItle","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Newsletter Expert","type":"main","index":0}]]},"Project Planner":{"main":[[{"node":"Split Out5","type":"main","index":0}]]},"web_search_tool":{"ai_tool":[[{"node":"Newsletter Expert","type":"ai_tool","index":0},{"node":"Research Team","type":"ai_tool","index":0},{"node":"Generate1","type":"ai_tool","index":0},{"node":"Generate","type":"ai_tool","index":0}]]},"Create TItle":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Editor","type":"ai_languageModel","index":0},{"node":"Create TItle","type":"ai_languageModel","index":0},{"node":"Newsletter Expert","type":"ai_languageModel","index":0},{"node":"Research Team","type":"ai_languageModel","index":0},{"node":"Project Planner","type":"ai_languageModel","index":0}]]},"Split Out5":{"main":[[{"node":"Research Team","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Aggregate4":{"main":[[{"node":"Editor","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Project Planner","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Generate1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Generate1","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Generate1","type":"main","index":0}]]},"Generate1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Generate1","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Generate","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"The Main Topic":"Quem pensa enriquece, Napoleon Hill","Duration":"30 Second","Generative Style":"Hyper-Realistic","Video Type":"From user idea","TTS Voice":"am_michael","Image Provider":"together.ai","submittedAt":"2025-05-24T06:40:53.565-04:00","formMode":"test"}}],"On form submission1":[{"json":{"Topic":"Fone KZ Lançamento","Tone":"Professional","Target Audience":"adults","submittedAt":"2025-07-13T17:14:02.796-04:00","formMode":"test"}}]},"versionId":"d9533155-677c-41f3-b349-b1c64ff0146d","triggerCount":0,"tags":[{"createdAt":"2025-05-04T11:03:17.202Z","updatedAt":"2025-05-04T11:03:17.202Z","id":"CL5V4CSTRXmkPvLz","name":"YT"}]}