JsJLt3nMHIJGX1FN.json
{"createdAt":"2025-05-21T15:02:49.008Z","updatedAt":"2025-08-28T19:10:16.000Z","id":"JsJLt3nMHIJGX1FN","name":"Personal AI WPP + MCP","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-816,48],"id":"a284a4f0-e7f8-4438-bf6d-281ea1f5ad4c","name":"Webhook","webhookId":"4a2a1389-f5db-4de2-9d78-37ceb338aa16"},{"parameters":{"assignments":{"assignments":[{"id":"dacac35a-c4d3-4dfb-92d9-7182c6520240","name":"name","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"d39460db-3c42-455b-aed5-aceb33faf250","name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"0b5fd6bb-0767-4162-ac36-0ea7b908455b","name":"msg","value":"={{ $json.text || $json.content || $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-16],"id":"d82e1787-b77b-4a90-84f7-c852f0908861","name":"Edit Fields"},{"parameters":{"content":"## I'm a test\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":840,"width":1140},"type":"n8n-nodes-base.stickyNote","position":[2384,1088],"typeVersion":1,"id":"47d056a6-40c4-459c-9925-b8a7eb3d9e6c","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2ba0da3-3aa6-4dc8-a943-430529a47c48","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"60d218a6-0ee7-4c9b-9116-0bce30677be6"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dfee18af-5576-4eaa-99c7-df20eb64d29f","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"none","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,32],"id":"257c7180-8534-4d74-9928-72205ca043c6","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[432,368],"id":"ccde0e21-71c1-446e-8837-33581a84890b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.number }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3056,1440],"id":"a483a115-9af1-42e3-ad6c-ffdd74f64976","name":"Simple Memory"},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8081/message/sendStatus/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"type\": \"image\",\n  \"content\": \"https://kz-audio.com/images/kz-ae01-pro-01.jpeg\",\n  \"caption\": \"capition\",\n  \"allContacts\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,1600],"id":"93594659-b60e-46a3-828b-75adadd9d083","name":"Status","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8980/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.number }}"},{"name":"text","value":"opa"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,1424],"id":"b9f634a6-d433-4ec2-aa63-910d664613fc","name":"Enviar texto","credentials":{"httpBasicAuth":{"id":"ByC27JTxqolUy2KL","name":"Evolution API"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"url":"=http://host.docker.internal:8980/group/inviteInfo/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"inviteCode","value":"DhkP5nkLnhOBESWEwVOrpm"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,1760],"id":"4776fcaa-972a-46b4-bc91-f5251cee01d8","name":"GET ID Group","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363168788453502@g.us"},{"name":"text","value":"Catálogo completo:   \\n https://wa.me/c/556584077695"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,1760],"id":"07605904-f958-4b41-bf2d-31ab271dde1e","name":"Send Msg Group","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"url":"=http://host.docker.internal:8980/group/inviteInfo/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"inviteCode","value":"L19yTps0p6d9XBgLvPpxgE"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,1584],"id":"b0bab47d-da83-4232-9866-8e52be9389e7","name":"GET ID Group1","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"assignments":{"assignments":[{"id":"f6994542-a2c7-49ee-9f98-02d7253664dd","name":"phoneNumber","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"b7106c72-d2b3-4d5d-9aef-d60d2a18487e","name":"metadata_message.content_type","value":"={{  $json.body.data.message.extendedTextMessage ? \"text\":\"\" }}{{  $json.body.data.message.audioMessage ? \"audio\":\"\" }}{{  $json.body.data.message.imageMessage ? \"image\":\"\" }}{{  $json.body.data.message.conversation ? \"text\":\"\" }}","type":"string"},{"id":"e292ef24-1aed-48e8-9193-32788f5eb6d9","name":"metadata_message.content","value":"={{  $json.body.data.message.extendedTextMessage.text || '' }}{{  $json.body.data.message.audioMessage || '' }}{{  $json.body.data.message.imageMessage.caption || '' }}{{  $json.body.data.message.conversation || '' }}","type":"string"},{"id":"60f06cd2-d596-4c65-aa78-0234a3c9ce11","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"85911d3d-0975-4756-866a-da3cc7ef5500","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"051718ff-fa65-42a6-98e9-b38eaf881868","name":"instance.message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"44770039-32a5-469c-9f6b-7f149a86ee91","name":"instance.chat_id","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"5e863c0a-0d48-429e-aefa-d61a07ac4170","name":"evolution_api_url","value":"(pegar url de render)","type":"string"},{"id":"202c6a94-1260-48bb-9415-74f8a06f0c65","name":"message_to_send","value":"Hola, que tal?","type":"string"},{"id":"6c9c410b-c79c-4e3a-a4eb-d2e51479ad4a","name":"delay","value":1200,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,1248],"id":"b60bb7a8-99d8-4abd-bfdd-c6ed7e4d9857","name":"Chat info"},{"parameters":{"httpMethod":"POST","path":"evolution","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2576,1248],"id":"323c0f4e-e54a-4c8a-907d-6fa423c47115","name":"Webhook1","webhookId":"d69ad426-94a4-4f9b-b9b5-4221c807ab83","disabled":true},{"parameters":{"method":"POST","url":"={{ $json.evolution_api_url }}/message/sendText/{{ $json.instance.name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.phoneNumber }}\",\n    \"options\": {\n        \"delay\": {{ $json.delay }},\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.message_to_send }}\"\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,1248],"id":"b891ad7d-49a7-49f8-a3f1-7798325e69fe","name":"Enviar mensaje","disabled":true},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"mxmlocal","inviteCode":"L19yTps0p6d9XBgLvPpxgE"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3248,1312],"id":"74ee9498-f595-4cdd-9485-3199fa6ba055","name":"Evolution API","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-stories","instanceName":"mxmlocal","content":"https://kz-audio.com/images/main-slide-42.webp","caption":"em breve novidades","allContacts":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3248,1152],"id":"627e739d-8292-4846-83c1-62a32cb5a734","name":"Evolution API1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59053a6b-0a09-4640-ab41-3de8c1590546","leftValue":"={{ $json.body.sender }}","rightValue":"556584077695@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a4c1e7f2-01cf-416d-8e7c-5c7d0df9358d","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"da88b671-1a6f-4f66-8705-cfead147d011","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556584077695@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-624,48],"id":"98d1b156-9493-424b-b60c-b2a26eca06e7","name":"EU"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[752,-16],"id":"9246f274-875f-431a-b7c0-0435bcbc2e11","name":"Merge"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[80,80],"id":"c1a1e7d9-12d6-4e6c-9c29-fb120b91a491","name":"Convert image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Persona: você é um expert em análise de imagens.\n\nAction: você vai analisar as imagens e fará uma descrição rica em detalhes, mas direta e concisa.\n\nOutput: somente a descrição da imagem e nada mais, essa descrição será usada por outro agente para fornecer a resposta.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,80],"id":"f76574ec-3eb4-4032-8c72-8ab4287beded","name":"OpenAI Image","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[80,-128],"id":"1c60076f-19db-4db4-a6f6-3315a149ba1a","name":"Convert audio"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,-128],"id":"8ffbd4ee-0726-410f-a586-107549a36099","name":"OpenAI audio","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId || $('Edit Fields').item.json.number }}"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[816,384],"id":"278e229e-cb91-48ac-87ae-089ab6774133","name":"Zep","credentials":{"zepApi":{"id":"QaQfwkRhT96UZfkz","name":"Zep Api account"}}},{"parameters":{"toolDescription":"web_search_tool - searches the internet","url":"http://host.docker.internal:8089/search","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"format","valueProvider":"fieldValue","value":"json"}]},"optimizeResponse":true,"dataField":"results"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1472,320],"id":"347cc4f0-1e04-4e23-aa8c-f4fa66f0f314","name":"web_search_tool"},{"parameters":{},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[3232,-16],"id":"1af23382-3481-444e-a5dd-6536bc25d621","name":"Execution Data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2752,-160],"id":"284e44de-e7ae-47d8-afd0-364fff4a8045","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2544,-32],"id":"d1743199-19da-47c8-aed4-2d71896a9e67","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2736,-16],"id":"3db1fc7f-56e8-4c4e-bb26-b4c3f8848132","name":"Wait","webhookId":"6ab4aaff-7557-4403-b566-37a830e42861"},{"parameters":{"jsCode":"const text = $json.text;\nconst delaySeconds = 2;\nconst maxLength = 180;\n\n// 1. Captura URLs de forma mais abrangente\nconst urlRegex = /((https?:\\/\\/)?[\\w-]+(\\.[\\w-]+)+(\\/[\\w.?%=@&+-]*)?)/gi;\nconst links = [];\nlet processedText = text.replace(urlRegex, (match) => {\n  links.push(match);\n  return `__LINK_${links.length - 1}__`; // Usar delimitadores mais seguros\n});\n\n// 2. Regex segura para quebra de frases (sem quebrar números como 5.000)\nconst sentenceRegex = /(?<!\\d)([.!?])\\s+/g;\nconst rawChunks = processedText.split(sentenceRegex)\n  .map((s, i) => i % 2 === 0 ? s.trim() : s) // Mantém pontuação\n  .filter(s => s.trim() !== '');\n\n// 3. Reagrupar para respeitar tamanho máximo\nconst result = [];\nlet buffer = '';\n\nfor (const sentence of rawChunks) {\n  const candidate = buffer ? `${buffer} ${sentence}` : sentence;\n  \n  if (candidate.length <= maxLength) {\n    buffer = candidate;\n  } else {\n    if (buffer) result.push(buffer);\n    buffer = sentence;\n  }\n}\nif (buffer) result.push(buffer);\n\n// 4. Restaurar URLs e preparar mensagens\nconst finalMessages = result.map(msg => {\n  let restored = msg;\n  links.forEach((link, i) => {\n    restored = restored.replace(`__LINK_${i}__`, link);\n  });\n  return { message: restored, delay: delaySeconds };\n});\n\nreturn finalMessages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,-32],"id":"22f5af7e-5355-4e61-a058-5494a3253570","name":"Separator"},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[256,368],"id":"eb17211f-dc32-4563-a637-c72ee4aac8ca","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1648,320],"id":"e44c0509-7cb1-430d-96f6-9d45c25e3ac9","name":"AI Agent Tool","disabled":true},{"parameters":{"description":"Use a ferramenta para pensar sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas anexará o pensamento ao registro. Use-a quando for necessário raciocínio complexo ou alguma memória cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[912,384],"id":"aa3c41cc-bf53-4ab6-9c29-2d4733700945","name":"Think"},{"parameters":{"endpointUrl":"http://localhost:5678/mcp/google-calendar/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[1168,336],"id":"f65016f9-60f6-4f86-975b-6668b4711095","name":"MCP Client","disabled":true},{"parameters":{"content":"## Brains 🧠 ","height":240,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[224,256],"id":"7840eb0a-b5b8-4a08-bfb7-9841ad2eeaf7","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.minimax.io/v1/t2a_v2?GroupId=1891535732829331697","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"speech-2.5-hd-preview\",\n  \"text\": \"Qual doutora você quer agendar a consulta? Pode falar o nome completo dela pra eu conferir aqui pra você.\",\n  \"stream\": false,\n  \"voice_setting\": {\n    \"voice_id\": \"moss_audio_34a52380-76eb-11f0-ad85-4a8957831abe\",\n    \"speed\": 1,\n    \"vol\": 1,\n    \"pitch\": 0\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  }\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,1216],"id":"3315afc8-9e6f-42cc-bdce-447bebf272d1","name":"HTTP Test Audio Minimax","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"SXqGLhau1UM364TI","name":"Minimax account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"40f671c2-a4dc-407d-93d2-b61abc986ff0","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $('Webhook').item.json.body.data.messageType || '' }}","type":"string"},{"id":"ccd07210-fa02-473b-8d2b-9d7f5cf643ea","name":"body.data.message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwoot.cloud","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,48],"id":"5d3daf4f-0702-404d-afc6-ab5412c24941","name":"Info"},{"parameters":{"promptType":"define","text":"={{ $json.msg }}","options":{"systemMessage":"=Você é uma assistente de AI pessoal\n\n# Tools\n- **web_search_tool**: use esta ferramenta para fazer pesquisas na web sempre que necessário.\n- **Think**: Use esta ferramenta para pensar profundamente ou se você ficar preso\n- **emailAgent**: Use esta ferramenta para realizar ações no e-mail\n- **calendarAgent**: Use esta ferramenta para realizar ações no calendário\n- **contactAgent**: Use esta ferramenta para obter, atualizar ou adicionar contatos\n- **contentCreator**: Use esta ferramenta para criar posts de blog\n- **webAgent**: Use esta ferramenta para realizar pesquisas mais aprofundadas na web ou obter informações meteorológicas atuais\n\n# Sempre  \n1. Dividir textos a cada final de frase em mensagens separadas por quebras de linha  (`\\n`)  \n2. Aplicar formatação WhatsApp adequada  \n3. Manter a estrutura legível e profissional  \n\n---\n\n### **Regras de Formatação**  \n✅ **Sintaxe Oficial WhatsApp:**  \n- `*negrito*` → **negrito**  \n- `_itálico_` → _itálico_  \n- `~tachado~` → ~tachado~  \n- ```código``` → `código` (monoespaçado)  \n\n✅ **Estruturação:**  \n- Máximo de 3 emojis por mensagem  \n- Usar quebras de linha (`Shift + Enter`) para separar parágrafos  \n- Limite de 200 caracteres por mensagem  \n\n❌ **Proibido:**  \n- Usar Markdown (`**texto**` ou `__texto__`)  \n- Exceder 5 mensagens seguidas  \n- Mensagens sem pontuação  \n\n## Lembretes Finais\nAqui está a data/hora atual: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1120,-16],"id":"1743fc8f-bee7-4216-a985-a59dba7e22cf","name":"AI Agent LLM Select"},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1648,496],"id":"a5d49a6c-5cde-4196-bcaa-733f3df0636d","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}},"disabled":true},{"parameters":{"calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1760,1136],"id":"37d28a87-61fe-4d51-b4e5-1eee2b2257e6","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1504,1136],"id":"2408ddae-cbcd-48d8-b3b0-205aa53b2ba1","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1760,992],"id":"ce5b3ee5-cc25-47e0-8c2d-d26a2d9672e7","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1632,992],"id":"5dea5fb6-7320-4a1c-acfa-bc833c75db49","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1632,1136],"id":"62f9e154-297f-4b9f-b9da-2195435ca64a","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"toolDescription":"Um agente de calendário para todas as ações do calendário","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# Visão Geral\nVocê é um assistente de calendário. Suas responsabilidades incluem criar, obter e excluir eventos no calendário do usuário.\n\n**Ferramentas de Gerenciamento de Calendário**\n- Use \"Criar Evento com Participante\" quando um evento incluir um participante.\n- Use \"Criar Evento\" para eventos individuais.\n- Use \"Obter Eventos\" para buscar agendas de calendário quando solicitado.\n- Use \"Excluir Evento\" para excluir um evento. Você deve usar \"Obter Eventos\" primeiro para obter o ID do evento a ser excluído.\n- Use \"Atualizar Evento\" para atualizar um evento. Você deve usar \"Obter Eventos\" primeiro para obter o ID do evento a ser atualizado.\n\n## Observações Finais\nAqui está a data/hora atual: {{ $now }}\nSe a duração de um evento não for especificada, considere que será de uma hora."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1520,816],"id":"fe139488-19f0-49f1-8752-28a1f82e2a19","name":"Calendar Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1424,976],"id":"9d8ab5b0-7db4-4aac-89aa-a22ddd5258ed","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","messages":{"messageValues":[{"message":"=\n- Substitua ** por *\n- Remova #\n- Remova emojis \n\nVocê não pode gerar novas mensagens com System Prompt, e sim apenas aplicar regras como um pós-processador, sem modificar o conteúdo da mensagem da secretária."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1568,-16],"id":"f103686d-99ee-4cf3-b2bf-87a5cd5cdf8a","name":"Formatar texto","alwaysOutputData":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1680,128],"id":"d6428cd8-0d0d-4aee-a13c-17c1a95b4d8c","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instance }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"=data","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3232,208],"id":"248adcc8-189a-48ac-a0c8-8ac880b4d36c","name":"Enviar audio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando SSML, mas nunca use tags.\n\nVocê irá receber um texto e a sua tarefa é deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**\n**NUNCA COLOQUE NADA MAIS ALEM DO TEXTO RECEBIDO. EX:<speak><break time=\\\"1.0s\\\"**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2080,224],"id":"25323244-e4ae-4cdb-99d3-af3912793e87","name":"Formatar SSML"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2144,400],"id":"5f206aad-8121-485f-a5a8-a4b26f5b5b7e","name":"Google Gemini Chat Model.","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"=data","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2752,208],"id":"9e862e55-1efd-411f-8474-cc56ff4e50b1","name":"Áudio para base64"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Webhook').item.json.body.data.messageType || '' }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1904,-16],"id":"18c54646-e619-468e-8720-47e9f92532d5","name":"Tipo de mensagem2"},{"parameters":{"assignments":{"assignments":[{"id":"39f862f4-d1d9-46b9-95fa-a0b565ef405c","name":"response","value":"Desculpe, não consegui gerar o áudio!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,384],"id":"0735c4d9-97bd-436a-a381-1df90f65797e","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"pf_dora\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,224],"id":"96ef1cda-6aa5-4a1f-93ff-915a797295fb","name":"Generate TTS AUDIO ptBR","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"mediatype\": \"<string>\",\n  \"mimetype\": \"<string>\",\n  \"caption\": \"<string>\",\n  \"media\": \"<string>\",\n  \"fileName\": \"<string>\",\n  \"delay\": 123,\n  \"linkPreview\": true,\n  \"mentionsEveryOne\": true,\n  \"mentioned\": [\n    \"{{remoteJID}}\"\n  ],\n  \"quoted\": {\n    \"key\": {\n      \"id\": \"<string>\"\n    },\n    \"message\": {\n      \"conversation\": \"<string>\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,576],"id":"54267647-75be-4801-bcb7-aa2d34ce155b","name":"Send Media","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8081/message/sendWhatsAppAudio/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"audio\": \"{{ $json.data }}\",\n  \"delay\": 3,\n  \"linkPreview\": true,\n  \"mentionsEveryOne\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,368],"id":"5bc4180a-26a8-4059-8708-bfa1453cfc82","name":"Enviar audio1","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields').item.json.number }}"},{"name":"text","value":"={{ $json.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,-16],"id":"d9fb95d4-06de-4a40-aab3-c37cd7f275ab","name":"Send text","credentials":{"httpBasicAuth":{"id":"ByC27JTxqolUy2KL","name":"Evolution API"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"resource":"messages-api","instanceName":"mxmlocal","remoteJid":"120363168788453502@g.us","messageText":"* Temos o *Fone KZ ZSN PRO* disponível em estoque!   *Quantidade:* 4 unidades   *Preço de venda:* R$ 159,00   *Descrição:* \"Top fone de retorno para músicos profissionais\"    Gostaria de confirmar a compra ou saber mais detalhes sobre o produto?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3360,1520],"id":"e99b6fa5-316d-4229-ba9d-30dd6059cbf4","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"EU","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent LLM Select","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Convert audio","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Convert image","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[]]},"Webhook1":{"main":[[{"node":"Chat info","type":"main","index":0}]]},"Chat info":{"main":[[{"node":"Enviar mensaje","type":"main","index":0}]]},"EU":{"main":[[{"node":"Info","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"OpenAI Image","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Convert audio":{"main":[[{"node":"OpenAI audio","type":"main","index":0}]]},"OpenAI audio":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Zep":{"ai_memory":[[{"node":"AI Agent LLM Select","type":"ai_memory","index":0}]]},"Execution Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"web_search_tool":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send text","type":"main","index":0}]]},"Separator":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent LLM Select","type":"ai_languageModel","index":0}]]},"AI Agent Tool":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Switch","type":"main","index":0}]]},"AI Agent LLM Select":{"main":[[{"node":"Formatar texto","type":"main","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"AI Agent Tool","type":"ai_languageModel","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Formatar texto":{"main":[[{"node":"Tipo de mensagem2","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Generate TTS AUDIO ptBR","type":"main","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Tipo de mensagem2":{"main":[[{"node":"Separator","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Áudio para base64":{"main":[[{"node":"Enviar audio","type":"main","index":0},{"node":"Enviar audio1","type":"main","index":0}]]},"Generate TTS AUDIO ptBR":{"main":[[{"node":"Áudio para base64","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Send text":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Evolution API":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Evolution API":[{"json":{"success":true,"data":{"id":"120363168788453502@g.us","subject":"MxR Store 🏬🏪","subjectOwner":"556584077695@s.whatsapp.net","subjectTime":1692207324,"size":2,"creation":1692207324,"owner":"556584077695@s.whatsapp.net","owner_country_code":"BR","desc":"Todas as mídias e informações de produtos vamos priorizar mandar por aqui.\n\nPara ficarmos mais organizados:\n\nFotos\nDescrição\nVendas \nEndereços de clientes\nSai e entrada de estoque\nEtc ...\n\nTudo que for relacionado as nossas vendas coloca aqui\n\nhttps://pos-mxm.bubbleapps.io/version-test","descId":"AB1E5687CC2EA278C522CA5BE7103A58","descOwner":"556584077695@s.whatsapp.net","descTime":1715021914,"restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"joinApprovalMode":true,"memberAddMode":false,"participants":[{"id":"556584077695@s.whatsapp.net","jid":"556584077695@s.whatsapp.net","admin":"superadmin"},{"id":"556584773634@s.whatsapp.net","jid":"556584773634@s.whatsapp.net","admin":null}]}}}],"Webhook":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"706","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mxmlocal","data":{"key":{"remoteJid":"556584077695@s.whatsapp.net","fromMe":true,"id":"7D2DA179E85C5912C363EA4B0D11422A"},"pushName":"MxR Store & MxR Shoes","status":"SERVER_ACK","message":{"conversation":"Oi"},"contextInfo":{"entryPointConversionSource":"catalog_link","entryPointConversionDelaySeconds":506705},"messageType":"conversation","messageTimestamp":1755169185,"instanceId":"f61fe9be-fe5c-4a80-b0ce-5574d6ae2bdf","source":"android"},"destination":"http://host.docker.internal:5678/webhook/evo","date_time":"2025-08-14T07:59:45.464Z","sender":"556584077695@s.whatsapp.net","server_url":"http://localhost:8081","apikey":"F3AC5B0989DE-4A31-95EB-6E15FF2585F2"},"webhookUrl":"http://localhost:5678/webhook/evo","executionMode":"production"}}]},"versionId":"014ccfe4-8b48-4f88-8868-8be4530f738a","triggerCount":1,"tags":[]}