jYJK8EQOm6hYa9EK.json
{"createdAt":"2025-05-24T10:27:20.134Z","updatedAt":"2025-09-11T14:45:37.000Z","id":"jYJK8EQOm6hYa9EK","name":"Shorts MASTER","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"84924182-8e05-4bc6-b8b6-3863c1be0f06","name":"User Input","value":"={{ $json['The Main Topic'] }}","type":"string"},{"id":"02602696-d3ad-4aeb-9d18-e80c6cf2ec17","name":"Script Duration","value":"={{ $json.Duration }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,80],"id":"e8a15024-6c5e-4d4d-8bc8-93569dca4513","name":"Set Idea"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/image/transform/video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"image_url\":\"{{ $json.Image[0].url }}\",\n    \"length\": {{ $json.Duration }},\n    \"frame_rate\": 25,\n    \"zoom_speed\": 3,\n    \"id\": \"{{ $json.id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,2260],"id":"61fd7b8c-f326-469e-a325-2220ea6d0a86","name":"Create Clips","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/video/concatenate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_urls\": {{ JSON.stringify($json.video_urls) }},\n    \"id\": \"{{ $('Get video').item.json.id }}\"\n}","options":{"timeout":50000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,2580],"id":"3dec3616-391c-47a6-9f57-3471e4d3c3e6","name":"Combine Clips","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Video Clip URL"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1140,2580],"id":"ed11beb0-914b-4a5a-a5df-1a1c20fa4ad6","name":"Aggregate1"},{"parameters":{"content":"## Create clips from images\n","height":320,"width":1400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,2160],"id":"d397346b-26cf-430a-91e8-c52214948609","name":"Sticky Note2","disabled":true},{"parameters":{"content":"## Combine clips into 1 video","height":300,"width":1460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,2500],"id":"3fde51bf-d8a1-4097-a32e-142cc3e76315","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1160,2240],"id":"adb6c065-ac49-4d27-b4b1-e6e1399253e8","name":"Loop Over Items3"},{"parameters":{"jsCode":"// Extract the array of URLs\nconst urls = items[0].json[\"Video Clip URL\"] || [];\n\n// Map URLs into the required structure\nconst formattedURLs = urls.map(url => ({ \"video_url\": url }));\n\n// Return the transformed data\nreturn [{\n    json: {\n        \"video_urls\": formattedURLs\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,2580],"id":"c39f6816-0c8c-4e0c-be67-b4c779f88406","name":"Video url to array"},{"parameters":{"content":"## Add Captions","height":240,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,3080],"id":"b512e0e7-9288-4c61-a7a7-daf9226b2cb1","name":"Sticky Note6","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json['RAW Video URL'] }}\"\n        },\n        {\n            \"file_url\": \"{{ $json['TTS Audio'][0].url }}\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]volume=1[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}\n","options":{"timeout":50000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2900],"id":"63b8ca8c-8a79-4f4f-a00d-f4fec2586cd2","name":"Combine Clips3","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json['Video + Caption URL'] }}\"\n        },\n        {\n            \"file_url\": \"{{ $json['BG Music'][0].url }}\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]aloop=loop=-1:size=2G[audio_loop];[0:a]volume=2[audio1];[audio_loop]volume=0.5[audio2];[audio1][audio2]amix=inputs=2:duration=first[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,3420],"id":"e8d55ee6-da0d-4acf-97d2-6241440a3054","name":"Add Music","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"content":"## Combine Video & Audio","height":240,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,2820],"id":"b6e9d401-a964-48ff-a18f-b91b6a5a3974","name":"Sticky Note7","disabled":true},{"parameters":{"fieldToSplitOut":"scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[720,2580],"id":"2bb86b25-8ff3-4560-b620-dac68f17e73e","name":"Split Out1"},{"parameters":{"content":"## Create script, title & description","height":500,"width":1820,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,-80],"id":"6597d48e-25a7-4811-86f8-23a12e18c0da","name":"Sticky Note"},{"parameters":{"method":"=GET","url":"=http://host.docker.internal:8880/dev/timestamps/{{ $('Generate TTS').item.json.headers[\"x-timestamps-path\"] }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,720],"id":"15ad06ee-637b-49a4-8462-fe6c3fcf3bcf","name":"Get Captions"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.Script) }},\n  \"voice\": \"{{ $json['TTS Voice'] }}\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,500],"id":"dd0f23a7-1e06-43af-a91c-14531283d528","name":"Generate TTS"},{"parameters":{"content":"## Generate TTS (Voice Over)\n","height":500,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,440],"id":"96ac9520-ffe1-4ad3-9265-528530f8300e","name":"Sticky Note1","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"Segments","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[860,1040],"id":"cfa8a4d7-ec63-4d55-9d99-17d7a4e11f0f","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"segments","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1380,1040],"id":"e94c94bc-5047-4210-a3ad-4b6726670489","name":"Split Out"},{"parameters":{"jsCode":"// Assume the previous node output is available here\nconst inputSegments = $input.first().json.segments; // Accessing segments from the previous output\n\nif (inputSegments.length > 0) {\n    const lastSegment = inputSegments[inputSegments.length - 1].json;\n    \n    // Check if the last segment's duration is less than 2 seconds\n    if (parseFloat(lastSegment.duration) < 2.0) {\n        // Combine the last segment with the previous segment if it exists\n        if (inputSegments.length > 1) {\n            const secondLastSegment = inputSegments[inputSegments.length - 2].json;\n\n            // Update the second last segment's words and duration\n            secondLastSegment.words += ' ' + lastSegment.words;\n            secondLastSegment.duration = (\n                parseFloat(secondLastSegment.duration) +\n                parseFloat(lastSegment.duration)\n            ).toFixed(2); // Update duration\n\n            // Remove the last segment as it has been merged\n            inputSegments.pop();\n        }\n    }\n}\n\n// Return the updated segments\nreturn [{ json: { segments: inputSegments } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,1040],"id":"cfc87314-8e39-449e-81a0-8acd2def8805","name":"Fixer"},{"parameters":{"content":"## Generate scenes & image prompts\n","height":320,"width":2380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,960],"id":"411ccf3d-9af6-4b11-a556-3f6275578cc9","name":"Sticky Note4"},{"parameters":{"url":"={{ $json['Captions URL'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,1040],"id":"30990a5c-9905-48d9-99df-9203d4320cb1","name":"Get Segment File"},{"parameters":{"jsCode":"// Input from the previous step\nconst splitLength = 5;\nconst inputData = $input.first().json.Segments; // Assuming 'body' is passed from the previous node\nconst segments = [];\nlet currentSegment = {\n    id: 0,\n    words: \"\",\n    duration: 0\n};\nlet currentStartTime = -1; // Start before the first word\nlet totalDuration = 0; // Tracking total duration\nlet currentEndTime = 0;\n\n// Define the pause buffer (in seconds)\nconst pauseBuffer = 0.1; // Adjust this value based on your requirements\n\n// Loop through the input data\nfor (const wordObj of inputData) {\n    const { word, start_time, end_time } = wordObj;\n\n    // If this is the first word in a segment, set the start time\n    if (currentStartTime === -1) {\n        currentStartTime = start_time;\n    }\n\n    // Add the word to the current segment\n    currentSegment.words += (currentSegment.words ? ' ' : '') + word;\n\n    // Update the end time\n    currentEndTime = end_time;\n\n    // Keep track of the duration without pauses\n    currentSegment.duration = (currentEndTime - currentStartTime).toFixed(2);\n\n    // Check if we should finalize the current segment (if it exceeds 4 seconds)\n    if (currentSegment.duration >= splitLength) {\n        // Add pause buffer to the segment's duration before pushing it\n        currentSegment.duration = (parseFloat(currentSegment.duration) + pauseBuffer).toFixed(2);\n        \n        // Update total duration for the segment\n        totalDuration += parseFloat(currentSegment.duration);\n\n        // Push the current segment to segments\n        segments.push(currentSegment);\n\n        // Reset for the next segment\n        currentSegment = {\n            id: segments.length,\n            words: \"\",\n            duration: 0\n        };\n        currentStartTime = -1; // Reset the start time\n    }\n}\n\n// Handle any leftover words in the last segment\nif (currentSegment.words) {\n    currentSegment.duration = (currentEndTime - currentStartTime).toFixed(2);\n    // Add pause buffer to the last segment's duration\n    currentSegment.duration = (parseFloat(currentSegment.duration) + pauseBuffer).toFixed(2);\n    \n    totalDuration += parseFloat(currentSegment.duration); // Add last segment to total\n    segments.push(currentSegment);\n}\n\n// Round total duration\nconst roundedTotalDuration = Math.round(totalDuration);\n\n// Calculate total minutes and seconds\nconst totalSeconds = Math.floor(roundedTotalDuration);\nconst minutes = Math.floor(totalSeconds / 60);\nconst seconds = totalSeconds % 60;\n\n// Create a readable format for the total runtime\nconst totalRuntimeString = `${minutes} minute${minutes !== 1 ? 's' : ''}, ${seconds} second${seconds !== 1 ? 's' : ''}`;\n\n// Prepare output with segments, total duration, and total runtime string\nconst output = {\n    segments: segments.map(segment => {\n        return { json: segment };\n    }),\n    totalDuration: roundedTotalDuration,\n    TotalMinutes: totalRuntimeString\n};\n\n// Return the structured output\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1040],"id":"091a7c3f-e41d-4ac1-8432-095653cc722f","name":"Split into 5s Scenes"},{"parameters":{"content":"## Add BG Music","height":240,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,3340],"id":"96e02332-306c-4ec2-9bda-048e4b972922","name":"Sticky Note8","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/video/caption","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_url\": \"{{ $json['Video + Audio URL'] }}\",\n    \"language\": \"pt-BR\",\n    \"settings\": {\n        \"line_color\": \"#FFFFFF\",\n        \"word_color\": \"#FFD700\",\n        \"all_caps\": false,\n        \"max_words_per_line\": 3,\n        \"font_size\": 60,\n        \"bold\": false,\n        \"italic\": false,\n        \"underline\": false,\n        \"strikeout\": false,\n        \"outline_width\": 6,\n        \"shadow_offset\": 8,\n        \"style\": \"highlight\",\n        \"font_family\": \"The Bold Font\",\n        \"position\": \"bottom_center\"\n    },\n    \"id\": \"{{ $json.id }}\"\n}","options":{"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,3160],"id":"ca5b6922-56b0-41e3-9fcb-323c19748d01","name":"Create Captions","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"databaseId":170,"tableId":684,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6622,"value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[860,2240],"id":"8cb88f59-3d73-446d-90fc-d8be7fa30efb","name":"Baserow4","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":684,"rowId":"={{ $('Loop Over Items3').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6627,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1620,2260],"id":"3bea9050-2aa9-46e5-899e-ef7df21c0222","name":"Baserow5","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6632,"operator":"empty"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,2900],"id":"040743b1-7002-4031-b0e4-5fe4f851b6bc","name":"Baserow11","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Baserow11').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6632,"fieldValue":"={{ $json.response[0].file_url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[940,2900],"id":"ab9a9e27-ec04-46ad-a55b-0ca5fffacf07","name":"Baserow12","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6631,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,3160],"id":"cd791923-09b0-4f3c-b8f2-0027cf3b9e29","name":"Baserow13","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Baserow13').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6631,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[940,3160],"id":"2394e4f7-b218-42ca-97f6-491dc185e486","name":"Baserow14","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6630,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[480,3420],"id":"fc4f21ad-2f00-4d01-a3dd-253df2f37192","name":"Baserow15","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"formTitle":"Brainer Rotter 5000","formDescription":"Creates Brain Rot","formFields":{"values":[{"fieldLabel":"The Main Topic","fieldType":"textarea","placeholder":"Amazing world of cats","requiredField":true},{"fieldLabel":"Duration","fieldType":"dropdown","fieldOptions":{"values":[{"option":"30 Second"},{"option":"1 Minute"},{"option":"2 Minutes"}]}},{"fieldLabel":"Generative Style","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Lego"},{"option":"Minecraft"},{"option":"Disney Pixar"},{"option":"Hand-Drawn"},{"option":"Chibi"},{"option":"Anime"},{"option":"Hyper-Realistic"},{"option":"Cyberpunk"},{"option":"fantasy"}]}},{"fieldLabel":"Video Type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"From user idea"},{"option":"From transcript"}]},"requiredField":true},{"fieldLabel":"TTS Voice","fieldType":"dropdown","fieldOptions":{"values":[{"option":"af_alloy"},{"option":"af_aoede"},{"option":"af_bella"},{"option":"af_heart"},{"option":"af_jadzia"},{"option":"af_jessica"},{"option":"af_kore"},{"option":"af_nicole"},{"option":"af_nova"},{"option":"af_river"},{"option":"af_sarah"},{"option":"af_sky"},{"option":"am_adam"},{"option":"am_echo"},{"option":"am_eric"},{"option":"am_fenrir"},{"option":"am_liam"},{"option":"am_michael"},{"option":"am_onyx"},{"option":"am_puck"},{"option":"am_santa"}]},"requiredField":true},{"fieldLabel":"Image Provider","fieldType":"dropdown","fieldOptions":{"values":[{"option":"together.ai"},{"option":"fal.ai"}]},"requiredField":true}]},"options":{"appendAttribution":false,"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-220,1640],"id":"36a064e5-0328-4b7e-8b17-39fe5a275551","name":"On form submission","webhookId":"3b749a18-39ca-4f86-9f0d-c3de1cf8a05f","disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Short and engaging title, curiosity-driven.\"\n    },\n    \"Description\": {\n      \"type\": \"string\",\n      \"description\": \"Short description with key hashtags, hook, context, CTA, and hashtags.\"\n    },\n    \"Hook\": {\n      \"type\": \"string\",\n      \"description\": \"Introduction.\"\n    },\n    \"MainScript\": {\n      \"type\": \"string\",\n      \"description\": \"Main script content.\"\n    },\n    \"CTA\": {\n      \"type\": \"string\",\n      \"description\": \"Call to action\"\n    }\n  },\n  \"required\": [\"Title\", \"Description\", \"Intro\", \"MainScript\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1500,300],"id":"6327703f-234e-4d94-95d5-25ef7a3c07fe","name":"Structured Output Parser1"},{"parameters":{"jsonSchemaExample":"{\n  \"Prompt\": \"enter prompt here\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1740,1140],"id":"cf567df0-24c8-4082-be21-90b04cea2c84","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=The Topic:\n{{ $json[\"User Input\"] }}\n\nRough Duration:\n{{ $('Set Idea').item.json['Script Duration'] }}","messages":{"messageValues":[{"message":"=Act as a YouTube video scriptwriter who specializes in turning user-submitted ideas—be it story concepts or intriguing facts—into engaging, concise video scripts. The user will also provide an ideal video length, which you should keep in mind when crafting your content. Your goal is to take these ideas and produce original, compelling content without referencing specific sources or names.\n\nYour script should be engaging, dynamic, and easy to follow, transforming user concepts into captivating narratives within the specified video length. Use a conversational tone, vivid descriptions, and a strong hook to grab attention instantly. Keep the pace fast, making sure every second counts.\n\nStick to the user’s input language.\n\nNEVER add line breaks or emojis to the hook, main script, and CTA.\n\n**Output Format:**\n- **Title:** [Catchy, thought-provoking title based on the user’s idea]\n- **Description:** [Concise 50-150 character summary with hashtags relevant to the user’s topic]\n- **Hook:** [An attention-grabbing opening line inspired by the user’s idea]\n- **Main Script:** [A natural, spoken script without line breaks or emojis, tailored to the user’s defined video length]\n- **Call to Action:** [A compelling message that encourages viewers to engage, such as “What was your favorite part of this story?” or “Want to explore more ideas? Follow to learn more!” or “Like and share if you found this content helpful”]\n\nMake sure your Main Script is seamless and original, as if these insights were being shared firsthand. No direct references to names, specific sources, or the user — just pure, engaging storytelling that keeps viewers engaged."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[920,180],"id":"3e9934e4-f2c0-44b1-b39a-f185e19f4019","name":"Script Writier 🧠"},{"parameters":{"promptType":"define","text":"=User Imput:\n{{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Take the user input and output in the following JSON Structure, DO NOT change or alter any of the text\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Short and engaging title, curiosity-driven.\"\n    },\n    \"Description\": {\n      \"type\": \"string\",\n      \"description\": \"Short description with key hashtags, hook, context, CTA, and hashtags.\"\n    },\n    \"Hook\": {\n      \"type\": \"string\",\n      \"description\": \"The hook.\"\n    },\n    \"MainScript\": {\n      \"type\": \"string\",\n      \"description\": \"Main script content.\"\n    },\n    \"CTA\": {\n      \"type\": \"string\",\n      \"description\": \"Call to action\"\n    }\n  },\n  \"required\": [\"Title\", \"Description\", \"Intro\", \"MainScript\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1320,80],"id":"8b0d31b4-c54b-49a6-870e-33abcfaef696","name":"Output Parser 🛠"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission').item.json['Video Type'] }}","rightValue":"From transcript","operator":{"type":"string","operation":"equals"},"id":"67835e1a-7770-4d3e-b9d6-0dac59a5923a"}],"combinator":"and"},"renameOutput":true,"outputKey":"From transcript"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"171a9dfd-59a3-49a4-af28-c284abc85f13","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"User Idea"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[660,80],"id":"31640a58-e08d-4bdb-8cfe-4ee6ecedd1ce","name":"Switch"},{"parameters":{"promptType":"define","text":"=Heres the full script:\n{{ $('Get records1').item.json.Script }}\n\nGenerative style:\n{{ $('Get records1').item.json['Generative Style'] }}\n\nHere is the current scene:\nScript portion: {{ $json.json.words }}\nScript position: {{ $json.json.id }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an image prompt generator agent for video production. Your role is to create starting frames for a longer video by transforming script segments into visually descriptive image prompts. Each scene will be generated in a specified artistic style, which must be factored into the prompt to ensure consistency.  \n\nOutput a JSON object containing the prompt for the current script segment that you are presented with:  \n\n```json\n{\n  \"Prompt\": \"enter prompt here\"\n}\n```  \n\n### **IMPORTANT INSTRUCTIONS:**  \n\n- **Always** incorporate the given style into the visual description.  \n- **Never** include text in the images.\n- **Never** exceed 240 characters in your prompt.  \n- **Keep images visually compelling** – Instead of basic or static representations, focus on **dynamic compositions, dramatic angles, striking lighting, immersive textures, and environmental storytelling**.  \n- **Small subjects should have compelling micro-world narratives** – If the subject is small (e.g., a drop of water, a single key, a lone leaf), provide a **rich atmosphere**, interplay of lighting, and framing that enhances storytelling.  \n- **Focus on depth, detail, and artistic impact** rather than excessive complexity.  \n\n\nA well-crafted prompt should now include:  \n\n- **Subject:** The main focus of the image.  \n- **Style:** The artistic style provided for this scene (e.g., Lego, Minecraft, Disney Pixar, Hand-Drawn, Chibi, Anime, Hyper-Realistic, Cyberpunk).  \n- **Composition:** Use **engaging angles** (macro close-ups, over-the-shoulder, dynamic perspectives).  \n- **Lighting:** Prioritize dramatic effects like **backlighting, neon glows, moody shadows, or iridescent reflections** for added immersion. \n- **Micro-World Storytelling:** Ensure even small objects contribute to a **scene with intrigue, interaction, or emotion**.  \n- **Color Palette:** The dominant colors or color scheme.  \n- **Mood/Atmosphere:** The emotional tone of the image.  \n- **Technical Details:** Camera effects like **bokeh, depth of field, contrast**, or lens distortion to make the image feel real.  \n- **Additional Elements:** Small but meaningful details that **enhance interest without overwhelming the scene**.  \n\n\nExample Prompts\n\n- **Style: Hyper-Realistic** – A hyperrealistic macro shot of a single droplet of glue stretching delicately from a cracked porcelain teacup, caught in the moment before it falls. The soft golden glow from a nearby desk lamp refracts through the droplet, revealing tiny swirling textures inside. Dust particles float around, illuminated in the warm evening light.  \n- **Style: Minecraft** – A blocky Minecraft-style cavern glowing with radiant blue crystals embedded in stone. A pixelated adventurer stands at the entrance, silhouetted against eerie, ambient light. Shadows dance across the cave walls, creating intrigue.  \n- **Style: Disney Pixar** – A cozy animated bakery at sunrise, where a little girl with oversized round glasses watches a tray of fresh golden pastries steaming on the counter. Soft beams of morning sunlight filter in, casting a warm, dreamy glow on the checkered tiles.  \n- **Style: Cyberpunk** – A neon-lit cyberpunk alleyway drenched in rain. The headlights of a hoverbike cut through thin mist as a shadowy figure in a metallic trench coat leans against a graffiti-covered wall. Bright neon blues and deep magentas create dramatic contrast.  \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1640,1000],"id":"88ca98b2-4131-4004-95f0-f58dd98462a9","name":"Image Prompter V2 📷"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,1520],"id":"0385c83c-1997-4a4b-bcef-16d042478614","name":"Loop Over Items"},{"parameters":{"content":"## Image Generation - flux/schnell\n","height":840,"width":2240,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,1300],"id":"ee64d95a-e39d-42af-b138-3dd9b651b0a7","name":"Sticky Note11","disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2020,1800],"id":"ccceaa92-21f6-483c-b174-11ce4e7738bd","name":"Wait1","webhookId":"417c1874-053b-4a23-b40b-2378fa533a7f"},{"parameters":{"promptType":"define","text":"=The Transcript:\n{{ $json['User Input'] }}","messages":{"messageValues":[{"message":"=Act as a YouTube video scriptwriter who specializes in transforming insights, interesting facts, and key takeaways into engaging, bite-sized video scripts. Your goal is to craft compelling short-form scripts based on the most intriguing ideas from long-form podcast transcripts—presenting them as fresh, original content without referencing sources or names.  \n\nYour script should be engaging, energetic, and easy to follow, turning complex ideas into exciting, digestible narratives. Use a conversational tone, vivid descriptions, and a strong hook to instantly grab attention. Keep the pacing snappy, ensuring every second counts.  \n\nImportant Guidelines:\n- Do NOT use asterisks (*) or emojis. Keep the text clean and formatted naturally.  \n- Do NOT include line breaks within the \"MainScript\" unless necessary for readability. Write in a natural, spoken style as if it’s being delivered by a person.  \n- The script must feel ORIGINAL and conversational, without direct references to specific podcasts, hosts, or episodes.  \n- The Call to Action should remain simple and engaging. Examples: \"What was your favorite insight?\" or \"Want more ideas like this? Follow for more!\"\n\nOutput Format: \n- Title: [Catchy, curiosity-driven title]  \n- Description: [50-150 characters, snappy summary with key hashtags]  \n- Hook: [An attention-grabbing opening line]  \n- MainScript: [A natural, spoken-style script—NO asterisks, NO emojis, NO unnecessary formatting]  \n- Call to Action: [A compelling prompt encouraging viewers to engage]  \n\nMake sure the MainScript feels seamless and engaging, as if these insights are being shared firsthand. Keep everything punchy and to the point, ensuring high retention and engagement.  "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[920,-40],"id":"bd392e4a-d05d-4f49-bb6a-a7fab56b35ff","name":"Long form to Script Writier 🧠"},{"parameters":{"operation":"create","databaseId":170,"tableId":683,"fieldsUi":{"fieldValues":[{"fieldId":6619,"fieldValue":"={{ $('Output Parser 🛠').item.json.output.Title }}"},{"fieldId":6620,"fieldValue":"={{ $('Output Parser 🛠').item.json.output.Description }}"},{"fieldId":6621,"fieldValue":"={{ $json.Script }}"},{"fieldId":6638,"fieldValue":"={{ $('Set Idea').item.json['User Input'] }}"},{"fieldId":6637,"fieldValue":"={{ $('On form submission').item.json['Generative Style'] }}"},{"fieldId":6635,"fieldValue":"={{ $('On form submission').item.json['TTS Voice'] }}"},{"fieldId":6639,"fieldValue":"Processing"},{"fieldId":6640,"fieldValue":"={{ $('On form submission').item.json['Image Provider'] }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2060,80],"id":"654f8406-dd4b-4e61-9f1f-a13f9714e6b7","name":"Baserow - Create record","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6633,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,2580],"id":"5160a8cd-1170-4884-a8df-399bbc25b3f4","name":"Get video","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":684,"additionalOptions":{"filters":{"fields":[{"field":6622,"value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2580],"id":"56924245-71f5-4070-98b2-7630f8723748","name":"Get Scenes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6633,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1760,2580],"id":"8df15a15-60d4-434b-88d2-64759d1d9a5d","name":"Baserow","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:86/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,500],"id":"8c749a58-7c08-4b06-aa0b-87b8e6899536","name":"Upload tts to baserow","credentials":{"httpHeaderAuth":{"id":"lLkXujIucef3on31","name":"Baserow"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6634,"operator":"empty"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,500],"id":"5ad375e3-b6d4-40d8-94f0-b3faa4dbd979","name":"Get records","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6629,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,1040],"id":"434f584d-c5be-40fb-b9c7-fe79cc7a6912","name":"Get records1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6633,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,2240],"id":"db3e1eec-ae1b-4241-872f-f3740198a516","name":"Get video1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,2240],"id":"31fc67e6-794a-430f-8dad-193c5e36f6b7","name":"Split Out2"},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Baserow15').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6630,"fieldValue":"={{ $json.response[0].file_url }}"},{"fieldId":6639,"fieldValue":"Done"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,3420],"id":"021a112e-db4d-4977-9b53-59a18a8fc211","name":"Baserow1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1240,300],"id":"289e328d-15f7-47ad-ba3b-8881399feb8c","name":"Open Router - Deepseek v3.1","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1580,1140],"id":"34776e80-fc87-42f4-81c8-27d9e476e3a8","name":"Open Router - Deepseek v3.","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7cd1dc03-8331-44ba-bda9-848145bab939","name":"Main Script","value":"={{ $json.output.Hook }} {{ $json.output.MainScript }} {{ $json.output.CTA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,80],"id":"4fac0fc7-29bf-4da3-9bdf-a18c10dae89d","name":"Combine"},{"parameters":{"assignments":{"assignments":[{"id":"bfd6c0e6-93c2-496a-8f3d-9ebc3061e78f","name":"Script","value":"={{$json['Main Script']\n  .replace(/\\n{2,}/g, \"\")      // Remove multiple newlines\n  .replace(/\\*(.*?)\\*/g, \"$1\") // Remove asterisks around words\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,80],"id":"8db86134-6cc6-4d55-9c23-44d1af0f35b4","name":"Format Cleanup"},{"parameters":{"fields":{"values":[{"name":"base64Image","stringValue":"={{ $json.body.data[0].b64_json }}"}]},"options":{}},"id":"564a2115-4d00-4fa7-91ac-cb70739e9ad4","name":"Base64 To String","type":"n8n-nodes-base.set","typeVersion":3.1,"position":[1340,1800]},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"base64Image","options":{"dataIsBase64":true,"fileName":"image.png","mimeType":"image/png"}},"id":"ea37a275-bf9c-4a40-9a06-e0c079bff5e4","name":"Convert String to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1520,1800]},{"parameters":{"method":"POST","url":"http://host.docker.internal:86/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,1800],"id":"b7d812d8-9876-4aab-a1c7-acbcd7f5f9a8","name":"HTTP - Upload To Baserow","credentials":{"httpHeaderAuth":{"id":"lLkXujIucef3on31","name":"Baserow"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:86/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,720],"id":"6527e44d-803d-40e4-bfd6-7ca30b4f3858","name":"Upload captions To Baserow","credentials":{"httpHeaderAuth":{"id":"lLkXujIucef3on31","name":"Baserow"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Get records').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6634,"fieldValue":"={{ $('Upload tts to baserow').item.json.name }}"},{"fieldId":6636,"fieldValue":"={{ $json.url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,720],"id":"2ae0a15b-b007-4a63-ae77-82ad8250767c","name":"Update Record","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":683,"rowId":"={{ $('Get records1').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6629,"fieldValue":"={{ $json.ids }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2640,1040],"id":"5468137f-8c17-4e96-8289-d75c501a3418","name":"Baserow19","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"jsCode":"// Initialize an array to hold IDs\nconst ids = [];\n\n// Loop over input items\nfor (const item of $input.all()) {\n  // Loop through each 'data' array\n  for (const dataItem of item.json.data) {\n    // Check if 'id' is defined\n    if (dataItem.id) {\n      // Push the ID into the array\n      ids.push(dataItem.id);\n    }\n  }\n}\n\n// Return the array wrapped in an object\nreturn [{ json: { ids } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,1040],"id":"b02ee714-00c0-45cc-98ec-5b4dda98d51b","name":"IDs To Array1"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2220,1040],"id":"ac7a45df-8774-4d1d-842e-b9d1969f2458","name":"Aggregate3"},{"parameters":{"operation":"create","databaseId":170,"tableId":684,"fieldsUi":{"fieldValues":[{"fieldId":6623,"fieldValue":"={{ $json.output.Prompt }}"},{"fieldId":6625,"fieldValue":"={{ $('Split Out').item.json.json.duration }}"},{"fieldId":6624,"fieldValue":"={{ $('Get records1').item.json['Image Provider'].value }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2000,1040],"id":"72e22f0d-8757-48bd-a263-52137d8896d7","name":"Baserow22","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"black-forest-labs/FLUX.1-schnell-Free\",\n    \"prompt\": {{ JSON.stringify($json.Prompt) }},\n    \"width\": 576,\n    \"height\": 1024,\n    \"steps\": 4,\n    \"n\": 1,\n    \"response_format\": \"b64_json\"\n   }","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,1800],"id":"ca889139-17f8-4a28-9a83-33de82fadf4f","name":"HTTP - Together.ai","credentials":{"httpHeaderAuth":{"id":"YLIJzXvBZurBhNCd","name":"Together.ai"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Over Items').item.json['Image Provider'].value }}","rightValue":"fal.ai","operator":{"type":"string","operation":"equals"},"id":"eaf1a214-ae9e-455f-889b-5fb2f010b2a6"}],"combinator":"and"},"renameOutput":true,"outputKey":"fal.ai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e78a869-ccdb-4d17-b4f0-bc61733f6232","leftValue":"={{ $('Loop Over Items').item.json['Image Provider'].value }}","rightValue":"together.ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"together.ai"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,1540],"id":"0a3f8be3-f36a-41be-af4e-5ab59d568180","name":"Switch - Image Provider"},{"parameters":{"databaseId":170,"tableId":684,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6626,"operator":"empty"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[480,1520],"id":"061e30ef-2f6e-4a8b-88c3-43e5f23b98c5","name":"Get scenes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/flux/schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ JSON.stringify($json.Prompt) }}"},{"name":"image_size","value":"portrait_16_9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,1460],"id":"7426d64d-5da3-4f73-bd99-b9ba60741e48","name":"fal.ai - Submit request","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6631ecc8-bcf2-43b1-8fa4-63b23795815f","name":"status_url","value":"={{ $json.status_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1500],"id":"b0e5f58b-a2a3-4f24-8dae-9259a790da42","name":"set status_url","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"393f74e8-2678-4e29-9831-bcd043da904b","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,1460],"id":"3a673972-872f-4ec5-a386-fb93a448c181","name":"If complete","disabled":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:85/api/user-files/upload-file/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,1340],"id":"587b130d-2bb5-4588-98a9-8c572f89bbcd","name":"HTTP - Upload To Baserow1","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Passthrough","typeVersion":1,"position":[2400,1840],"id":"ee7af94a-6697-4630-acd1-5bbc999e7d13"},{"parameters":{"content":"## together.ai FREE - Has rate limits so much slower due to batching","height":260,"width":1160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,1720],"id":"4faf4a06-f9e9-40ac-a6c6-9390e937332c","name":"Sticky Note5"},{"parameters":{"content":"## fal.ai - Much faster.\n$0.003 - $1 you can run this model approximately 333 times.","height":380,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,1320],"id":"59afbc07-f015-4606-8346-a85ff687b6e0","name":"Sticky Note9","disabled":true},{"parameters":{"url":"={{ $json.status_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,1460],"id":"f0b03ed9-0d63-47e8-9696-b32850cba1a3","name":"HTTP - get status","disabled":true},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,1340],"id":"f656f480-ea30-4c34-8e7c-e075871164a3","name":"HTTP - get image url","disabled":true},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,1340],"id":"6ce0518d-97a1-4619-a7a4-2baccf4a49d3","name":"HTTP Download Image","disabled":true},{"parameters":{"operation":"update","databaseId":94,"tableId":682,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6627,"fieldValue":"={{ $json.name }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2400,1340],"id":"d120c628-0b54-4bad-a714-e26e60384734","name":"Update Scene record","disabled":true},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1740,1500],"id":"9a09baf7-1ce3-4dbe-9542-7a2876f883bc","name":"Wait 1s","webhookId":"833a4309-7169-43f7-bfc3-edfe58e50d97","disabled":true},{"parameters":{"operation":"update","databaseId":170,"tableId":684,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6626,"fieldValue":"={{ $json.name }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1860,1800],"id":"884cd36e-527b-40ed-81d0-b7cd7ac78a76","name":"Uploading scenes","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": \"{{ $json.id }}\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.Image[0].url }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[0:v]zoompan=z='zoom+0.002':x='(iw/zoom-ow)*on/125':y='ih/2-(ih/zoom/2)':d=125,rotate=PI/12*sin(2*PI*t/5):c=black@0,fade=t=in:st=0:d=1,fade=t=out:st=4:d=1[vid]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[vid]\"\n        },\n        {\n          \"option\": \"-t\",\n          \"argument\": 5\n        },\n        {\n          \"option\": \"-r\",\n          \"argument\": 25\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-crf\",\n          \"argument\": 18\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"thumbnail\": true,\n    \"filesize\": true,\n    \"duration\": true,\n    \"bitrate\": true,\n    \"encoder\": true\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,3820],"id":"6f69e662-31f7-424c-b539-c5d78eabc40f","name":"Create Clips1","credentials":{"httpHeaderAuth":{"id":"hzCOSNvfgPRt06Zx","name":"NCA Tool kit"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1180,3800],"id":"a6899abb-d41a-41d1-b884-a2a56216ad8a","name":"Loop Over Items4"},{"parameters":{"databaseId":170,"tableId":684,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6622,"value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[880,3800],"id":"34eda33c-bd6f-477d-beaf-5fac3f0a25bc","name":"Baserow6","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":170,"tableId":684,"rowId":"={{ $('Loop Over Items4').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6627,"fieldValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1640,3820],"id":"d8eec520-4fda-4c73-8efb-aaa1d151d7ea","name":"Baserow7","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6633,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[520,3800],"id":"cff999ca-55f9-4c7e-bbd8-cdff6f0b17aa","name":"Get video2","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[700,3800],"id":"0327c845-b431-4be8-b45c-0988520eb45a","name":"Split Out3"},{"parameters":{"content":"## Tests Create clips from images\n","height":320,"width":1400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,3720],"id":"a9f85272-4390-4ae9-a4ca-6d5fab2e33b6","name":"Sticky Note10","disabled":true},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Baserow16').item.json.Title }}","regionCode":"US","categoryId":"24","options":{"defaultLanguage":"en","description":"={{ $('Baserow16').item.json['Initial Prompt'] }}\n\n{{ $('Baserow16').item.json.Script }}","embeddable":false,"privacyStatus":"public","publicStatsViewable":false,"selfDeclaredMadeForKids":false,"tags":"={{ $('Baserow16').item.json.Description }} #Moneywar"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[3100,3100],"id":"a9578248-b030-48e6-b73d-186de8d484f0","name":"YouTube","credentials":{"youTubeOAuth2Api":{"id":"gyb44TbxD62kwqO8","name":"YouTube account"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6630,"operator":"empty"},{"field":6639,"operator":"contains","value":"Processing"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2000,3100],"id":"e0551ef7-b6e4-4a93-b82e-faae55a4bc57","name":"Baserow16","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"url":"={{ $json['Video + Caption URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,3100],"id":"1d64575e-c5ba-4cda-add4-1901ee1598fa","name":"Download video"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1380,820],"id":"c6a30bb1-6d72-4c53-93be-490773700de8","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"item.binary.data.mimeType = 'video/mp4';\nitem.binary.data.dataType = 'file'; // ESSENCIAL para o YouTube reconhecer corretamente\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2420,3100],"id":"85858a9d-e161-4660-86a3-fe474fa78a85","name":"Code"},{"parameters":{"operation":"upload","bucketName":"nca-toolkit","fileName":"=","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[2640,3100],"id":"553fb709-5030-48be-b200-e14fdfd02dcc","name":"S3","credentials":{"s3":{"id":"TRtuzhLqAiwk4Unk","name":"S3 account"}}},{"parameters":{"url":"={{ $('Download video').item.json['Video + Caption URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,3100],"id":"fd2bfcba-eec7-4c8c-9a29-d029e581b474","name":"Download video1"},{"parameters":{"method":"POST","url":"https://api.ayrshare.com/api/post","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 26230248-93BE4BE7-9ECCD60A-0650A3EC"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"post\": \"Today is a great day!\",\n  \"platforms\": [\n    \"twitter\",\n    \"facebook\",\n    \"instagram\",\n    \"linkedin\",\n    \"pinterest\"\n  ],\n  \"mediaUrls\": [\n    \"https://img.ayrshare.com/012/gb.jpg\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3100,3320],"id":"3c593987-f211-4076-b39e-7cf8ddab953c","name":"POST Ayrshire - em redes sociais apenas imagens 20 por mês"},{"parameters":{"content":"## Tests for sharing social medias\n","height":580,"width":1580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,2980],"id":"740e78f6-63a6-436e-8e51-9b49bb9d90dc","name":"Sticky Note12","disabled":true},{"parameters":{"operation":"delete","databaseId":170,"tableId":683,"rowId":"8"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1800,2840],"id":"cd16d824-47ed-4676-b6df-c83424ecfdd0","name":"DELET ROW","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"pf_dora\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,600],"id":"606fc8ae-0f84-438e-9fb6-3837cf961237","name":"Generate TTS AUDIO TEST ptBR"},{"parameters":{"assignments":{"assignments":[{"id":"bed8f65d-bc6b-4fb5-8582-e5cff2d0fd14","name":"text","value":"Já parou pra pensar que até as pequenas coisas podem ter um valor gigante quando feitas com o coração? O versículo de Colossenses 3:23 nos lembra: \"Tudo o que fizerem, façam de todo o coração, como para o Senhor, e não para os homens.\" Isso significa que cada ação, grande ou pequena, ganha um novo significado quando feita com dedicação e amor. Não importa se é um trabalho, um estudo, ou até um gesto simples — quando você coloca o coração, deixa de ser apenas uma tarefa e vira um ato de propósito. Imagine o impacto se vivêssemos cada dia com essa mentalidade? Sua rotina se transformaria, e sua ...","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,600],"id":"fb9b4495-6745-4bc5-8de3-811b3d3dff32","name":"Edit Fields"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prbnve8pon3334h","table":"mcvbzipnt1sggwe","options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[2360,2820],"id":"4c363de4-c77f-4990-9e1d-8799447e4075","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"eAqsFJ47anNKIuFC","name":"NocoDB"}}},{"parameters":{"databaseId":170,"tableId":683,"returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2060,2840],"id":"4ef9a2bb-bc8e-4680-b01a-81fb8e84c362","name":"Get ROW1","credentials":{"baserowApi":{"id":"tYV1U8mNC5TG68rD","name":"Baserow account"}}}],"connections":{"Set Idea":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Create Clips":{"main":[[{"node":"Baserow5","type":"main","index":0}]]},"Combine Clips":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Video url to array","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Create Clips","type":"main","index":0}]]},"Video url to array":{"main":[[{"node":"Combine Clips","type":"main","index":0}]]},"Combine Clips3":{"main":[[{"node":"Baserow12","type":"main","index":0}]]},"Add Music":{"main":[[{"node":"Baserow1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Get Scenes","type":"main","index":0}]]},"Get Captions":{"main":[[{"node":"Upload captions To Baserow","type":"main","index":0}]]},"Generate TTS":{"main":[[{"node":"Upload tts to baserow","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split into 5s Scenes","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Image Prompter V2 📷","type":"main","index":0}]]},"Fixer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Get Segment File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split into 5s Scenes":{"main":[[{"node":"Fixer","type":"main","index":0}]]},"Create Captions":{"main":[[{"node":"Baserow14","type":"main","index":0}]]},"Baserow4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Baserow5":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Baserow11":{"main":[[{"node":"Combine Clips3","type":"main","index":0}]]},"Baserow13":{"main":[[{"node":"Create Captions","type":"main","index":0}]]},"Baserow15":{"main":[[{"node":"Add Music","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Get records1","type":"main","index":0},{"node":"Get scenes","type":"main","index":0},{"node":"Get video1","type":"main","index":0},{"node":"Get video","type":"main","index":0},{"node":"Baserow13","type":"main","index":0},{"node":"Get records","type":"main","index":0},{"node":"Set Idea","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Output Parser 🛠","type":"ai_outputParser","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Image Prompter V2 📷","type":"ai_outputParser","index":0}]]},"Script Writier 🧠":{"main":[[{"node":"Output Parser 🛠","type":"main","index":0}]]},"Output Parser 🛠":{"main":[[{"node":"Combine","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Long form to Script Writier 🧠","type":"main","index":0}],[{"node":"Script Writier 🧠","type":"main","index":0}]]},"Image Prompter V2 📷":{"main":[[{"node":"Baserow22","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch - Image Provider","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Long form to Script Writier 🧠":{"main":[[{"node":"Output Parser 🛠","type":"main","index":0}]]},"Get video":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Scenes":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Upload tts to baserow":{"main":[[{"node":"Get Captions","type":"main","index":0}]]},"Get records":{"main":[[{"node":"Generate TTS","type":"main","index":0}]]},"Get records1":{"main":[[{"node":"Get Segment File","type":"main","index":0}]]},"Get video1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Baserow4","type":"main","index":0}]]},"Open Router - Deepseek v3.1":{"ai_languageModel":[[{"node":"Output Parser 🛠","type":"ai_languageModel","index":0},{"node":"Script Writier 🧠","type":"ai_languageModel","index":0},{"node":"Long form to Script Writier 🧠","type":"ai_languageModel","index":0}]]},"Open Router - Deepseek v3.":{"ai_languageModel":[[{"node":"Image Prompter V2 📷","type":"ai_languageModel","index":0}]]},"Combine":{"main":[[{"node":"Format Cleanup","type":"main","index":0}]]},"Format Cleanup":{"main":[[{"node":"Baserow - Create record","type":"main","index":0}]]},"Base64 To String":{"main":[[{"node":"Convert String to binary","type":"main","index":0}]]},"Convert String to binary":{"main":[[{"node":"HTTP - Upload To Baserow","type":"main","index":0}]]},"HTTP - Upload To Baserow":{"main":[[{"node":"Uploading scenes","type":"main","index":0}]]},"Upload captions To Baserow":{"main":[[{"node":"Update Record","type":"main","index":0}]]},"IDs To Array1":{"main":[[{"node":"Baserow19","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"IDs To Array1","type":"main","index":0}]]},"Baserow22":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"HTTP - Together.ai":{"main":[[{"node":"Base64 To String","type":"main","index":0}]]},"Switch - Image Provider":{"main":[[{"node":"fal.ai - Submit request","type":"main","index":0}],[{"node":"HTTP - Together.ai","type":"main","index":0}]]},"Get scenes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"fal.ai - Submit request":{"main":[[{"node":"HTTP - get status","type":"main","index":0}]]},"set status_url":{"main":[[{"node":"HTTP - get status","type":"main","index":0}]]},"If complete":{"main":[[{"node":"HTTP - get image url","type":"main","index":0}],[{"node":"Wait 1s","type":"main","index":0}]]},"HTTP - Upload To Baserow1":{"main":[[{"node":"Update Scene record","type":"main","index":0}]]},"Passthrough":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP - get status":{"main":[[{"node":"If complete","type":"main","index":0}]]},"HTTP - get image url":{"main":[[{"node":"HTTP Download Image","type":"main","index":0}]]},"HTTP Download Image":{"main":[[{"node":"HTTP - Upload To Baserow1","type":"main","index":0}]]},"Update Scene record":{"main":[[{"node":"Passthrough","type":"main","index":0}]]},"Wait 1s":{"main":[[{"node":"set status_url","type":"main","index":0}]]},"Uploading scenes":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Create Clips1":{"main":[[{"node":"Baserow7","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Create Clips1","type":"main","index":0}]]},"Baserow6":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Baserow7":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Get video2":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Baserow6","type":"main","index":0}]]},"Baserow16":{"main":[[{"node":"Download video","type":"main","index":0}]]},"Download video":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Baserow13","type":"main","index":0}]]},"Code":{"main":[[{"node":"S3","type":"main","index":0}]]},"S3":{"main":[[{"node":"Download video1","type":"main","index":0}]]},"Download video1":{"main":[[{"node":"YouTube","type":"main","index":0}]]},"Generate TTS AUDIO TEST ptBR":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Generate TTS AUDIO TEST ptBR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"The Main Topic":"Quem pensa enriquece, Napoleon Hill","Duration":"30 Second","Generative Style":"Hyper-Realistic","Video Type":"From user idea","TTS Voice":"am_michael","Image Provider":"together.ai","submittedAt":"2025-05-24T06:40:53.565-04:00","formMode":"test"}}]},"versionId":"e7ce5470-5671-4f10-af71-cf39477c6bf5","triggerCount":0,"shared":[{"createdAt":"2025-05-24T10:27:20.171Z","updatedAt":"2025-05-24T10:27:20.171Z","role":"workflow:owner","workflowId":"jYJK8EQOm6hYa9EK","projectId":"m4gaRnMghF20dUpc"}],"tags":[]}