ktkjrWWOvtIq6ZMA.json
{"createdAt":"2025-08-26T17:19:08.104Z","updatedAt":"2025-08-26T18:12:39.000Z","id":"ktkjrWWOvtIq6ZMA","name":"N8N Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,64],"id":"5cae2b59-b3ee-40da-9529-ff8a319c8305","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-144,-80],"id":"6e6127a2-9ae0-4426-a9d8-f62e8ec2c79d","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[128,0],"id":"6b7fdd80-e79e-4481-aaf9-1a5dff74cba3","name":"Get many workflows","credentials":{"n8nApi":{"id":"L95cm8pKa9o927QM","name":"n8n - backups github"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"michaelXmaycon","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/michaelXmaycon/backup-n8n"},"filePath":"={{ $json.id }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[336,0],"id":"1a8b00cb-abe6-40ae-be62-749ccc0d5b1f","name":"Get a file","webhookId":"f0b8051d-782e-4157-a95f-5732110fbeb9","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"FxFBrsG0t2PtJNgZ","name":"GitHub account - backup"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"2dc99f4e-63e0-4ae0-bea3-1ca0a95e6696"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar_backup"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[544,0],"id":"bb678562-f92f-49ab-8937-59c30938a2b4","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"michaelXmaycon","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/michaelXmaycon/backup-n8n"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"={{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[752,-96],"id":"7dea7c53-537b-4af9-b306-80305dddf009","name":"Create a file","webhookId":"d04538d4-89b0-43e9-81e8-edb17dc58aca","credentials":{"githubOAuth2Api":{"id":"FxFBrsG0t2PtJNgZ","name":"GitHub account - backup"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1002ab10-b89b-4ba5-9462-728eb5fa048b","triggerCount":0,"tags":[{"createdAt":"2025-05-04T11:03:17.202Z","updatedAt":"2025-05-04T11:03:17.202Z","id":"CL5V4CSTRXmkPvLz","name":"YT"}]}