oS3sMc7OBvUPKx36.json
{"createdAt":"2025-05-02T14:15:47.230Z","updatedAt":"2025-09-11T14:46:13.000Z","id":"oS3sMc7OBvUPKx36","name":"short-video-maker-rest-api Ollama","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,400],"id":"515040bc-ea23-4ecc-9618-88c759236eb6","name":"When clicking ‘Test workflow’"},{"parameters":{"model":"mistral-small3.1:24b-instruct-2503-q8_0","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1100,840],"id":"b765e242-dfc3-407e-a0ce-2831b51040c0","name":"Ollama Model"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"scenes\": {\n            \"type\": \"array\",\n            \"description\": \"the scenes of the video\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"text\": {\n                        \"type\": \"string\",\n                        \"description\": \"the main content; this will be used to generate speech from\"\n                    },\n                    \"searchTerms\": {\n                        \"type\": \"array\",\n                        \"description\": \"the search terms to use to find background videos on pexels\",\n                        \"items\": {\n                            \"type\": \"string\"\n                        }\n                    }\n                },\n                \"required\": [\n                    \"text\",\n                    \"searchTerms\"\n                ]\n            }\n        }\n    },\n    \"required\": [\n        \"scenes\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[900,740],"id":"036d9c16-b68d-4de1-8a6f-d27ead455b97","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"a19f9caa-f1aa-4ff0-a270-59248eeb27dd","name":"SERVER_URL","value":"http://host.docker.internal:3123","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,400],"id":"e60d966b-5345-4dea-9349-50a1e33bee4f","name":"Configure"},{"parameters":{"promptType":"define","text":"=I'm creating a video programmatically using an API.\nThe API needs scenes to work with.\nEach scene requires a text, that will be transformed to speech, and 2-3 one-word search terms, that would be used to search background videos in the pexels api.\n\nCreate a short, 2 scene video about how good it is to stay in school.","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[780,400],"id":"d75e9f0c-510b-4a72-af9d-965ecfff2a63","name":"Generate content"},{"parameters":{"method":"POST","url":"={{ $('Configure').item.json.SERVER_URL }}/api/short-video","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"scenes\": {{ JSON.stringify($('Generate content').item.json.output.scenes, null, 2) }},\n  \"config\": {\n    \"paddingBack\": 1500,\n    \"music\": \"{{ $json.output.musicTag }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,400],"id":"992fe58f-6132-4c49-8543-5fc33a9e6e07","name":"Start generating the video"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2100,380],"id":"e4d635bb-104d-4a95-b904-9e625b82da75","name":"Wait","webhookId":"fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video').item.json.output.videoId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,280],"id":"a36a8703-3bde-4fa9-8b78-eb5923f79149","name":"Download the video","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Generate video').item.json.output.videoTitle }}","regionCode":"HU","categoryId":"24","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[3140,280],"id":"7a3603c9-0cb7-4963-adfd-db04523c41c8","name":"Share on YouTube","disabled":true},{"parameters":{"url":"={{ $('Configure').item.json.SERVER_URL }}/api/short-video/{{ $('Start generating the video').item.json.videoId }}/status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,380],"id":"2f66acf2-28a3-4604-badc-7b2e96d91cf4","name":"Check video status","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cc1bd80-2bb7-47b6-950e-be3d6a36a965","leftValue":"={{ $json.status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2540,380],"id":"4e728e6c-59d3-4e9c-9f18-d03fa4afcc97","name":"Ready?"},{"parameters":{"content":"# Configure the server URL\n\nIf you run n8n in docker, you should use host.docker.internal:3123\n\nIf you run n8n with npm, use localhost:3123","height":620,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"023c6955-65c4-4669-a707-d3bf96c148c1","name":"Sticky Note"},{"parameters":{"url":"={{ $json.SERVER_URL }}/api/music-tags","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,400],"id":"0d27cd3c-f29f-47bd-a813-0bbc51e71aca","name":"Get music tags"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"musicTag\": {\n            \"type\": \"string\",\n            \"description\": \"the selected music tag that goes well with the video\"\n        }\n    },\n    \"required\": [\n        \"musicTag\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1400,620],"id":"59e1be0e-393c-4b34-85f4-e07bd3835892","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=I'm generating a video programmatically using an API. I've already generated the scenes, and your task is to find the right music tag for he video.\n\n<VideoScenes>\n{{ $json.output.scenes.map(item => item.text).map(item => `<VideoScene>${item}</VideoScene>`).join('\\n') }}\n</VideoScenes>\n\n<MusicTags>\n{{ $('Group the music tags').item.json.data.map(item => `<MusicTag>${item}</MusicTag>`).join('\\n') }}\n</MusicTags>","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1260,400],"id":"cc8188da-910d-4b14-b76b-2d8eff693f6c","name":"Pick the right music"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[500,400],"id":"37bf95a8-c12e-4fa0-a07a-4768857cb3cb","name":"Group the music tags"},{"parameters":{"content":"# Increase me!","height":360,"width":180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2060,220],"id":"2951824e-981b-4d92-85ee-f48a56720bdc","name":"Sticky Note1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Configure","type":"main","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Generate content","type":"ai_languageModel","index":0},{"node":"Pick the right music","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate content","type":"ai_outputParser","index":0}]]},"Configure":{"main":[[{"node":"Get music tags","type":"main","index":0}]]},"Generate content":{"main":[[{"node":"Pick the right music","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Check video status","type":"main","index":0}]]},"Download the video":{"main":[[{"node":"Share on YouTube","type":"main","index":0}]]},"Start generating the video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Check video status":{"main":[[{"node":"Ready?","type":"main","index":0}]]},"Ready?":{"main":[[{"node":"Download the video","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Get music tags":{"main":[[{"node":"Group the music tags","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Pick the right music","type":"ai_outputParser","index":0}]]},"Pick the right music":{"main":[[{"node":"Start generating the video","type":"main","index":0}]]},"Group the music tags":{"main":[[{"node":"Generate content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"15be8e55-28aa-421a-b96a-2b1c3874adce","triggerCount":0,"shared":[{"createdAt":"2025-05-02T14:15:47.243Z","updatedAt":"2025-05-02T14:15:47.243Z","role":"workflow:owner","workflowId":"oS3sMc7OBvUPKx36","projectId":"m4gaRnMghF20dUpc"}],"tags":[]}