UpRI7PoCEFQC9are.json
{"createdAt":"2025-08-17T20:36:51.307Z","updatedAt":"2025-10-06T15:21:50.000Z","id":"UpRI7PoCEFQC9are","name":"Disparos em Massa","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items').item.json.novonum }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"Message a model\"].json[\"message\"][\"content\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"9961e979-5cc4-442a-84ec-465880c48073","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,32]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"df2f9a04-9ae9-4403-b726-798246db7bdd","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"62692e80-ce81-42d5-92aa-fc14860d0329","name":"novonum","value":"={{ (() => {\n    const numerosString = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"Numeros\"];\n    const numerosArray = numerosString.split('\\n').filter(num => num !== '');\n    return numerosArray;\n})() }}","type":"array"}]},"options":{}},"id":"cbe5a150-696a-4adc-ac1c-7be2bd798e22","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,160]},{"parameters":{"options":{}},"id":"2d1efd11-3c33-4bba-9f31-5c3a6652e17b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,0]},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"39dbcbef-2804-43e6-a1fa-0d7f9aa439cf","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,32]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code\"].json[\"randomNumber\"] }}"},"id":"8f40974c-b8b4-4d78-8566-38549007951d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,32],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"url\"] }}/message/sendMedia/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items1').item.json.novonum }}"},{"name":"mediatype","value":"image"},{"name":"mimetype","value":"image/png"},{"name":"caption","value":"={{ $item(\"0\").$node[\"OpenAI1\"].json[\"message\"][\"content\"] }}"},{"name":"media","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"arquivo\"] }}"},{"name":"fileName","value":"Imagem.png"}]},"options":{"redirect":{"redirect":{}}}},"id":"4fa990dd-08c5-41ad-bec4-03e8ac2f4ded","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,304]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"30c1c5a4-480b-42fe-8e6e-74ff4b16239e","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,288]},{"parameters":{"options":{}},"id":"f68558a1-10e7-43aa-a516-bfbc1a0b51bd","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,288]},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"ab08c748-cf77-47b7-b791-da38edd3a5fd","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,304]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code1\"].json[\"randomNumber\"] }}"},"id":"96310e59-9525-4378-9eb9-6b2c4f4e599c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,304],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"cc34c6bc-66c8-4c5a-b836-9b5652388ad4","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[480,304],"credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"envio\"] }}","rightValue":"texto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f3271ce-385f-4dce-b681-6a1f5d9235f6","leftValue":"={{ $('Webhook').item.json.body.envio }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"}]},"options":{}},"id":"559b6d2c-48ab-4859-8886-31913cd61f43","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-256,160]},{"parameters":{"httpMethod":"POST","path":"disparo","options":{}},"id":"d448c662-968c-4c82-8b84-b7a73d89e4db","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,160],"webhookId":"51e91d49-351f-40ea-9279-fb8d5725fa81"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items2').item.json.novonum }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"OpenAI2\"].json[\"message\"][\"content\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"c991f325-e441-4292-97db-4f120a6de1bf","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,752]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"c0905c3a-3d52-49f6-9e04-087611b2fe22","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,736]},{"parameters":{"assignments":{"assignments":[{"id":"62692e80-ce81-42d5-92aa-fc14860d0329","name":"novonum","value":"={{ (() => {\n    const numerosString = $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"Numeros\"];\n    const numerosArray = numerosString.split('\\n').filter(num => num !== '');\n    return numerosArray;\n})() }}","type":"array"}]},"options":{}},"id":"4a0cf261-1894-4dfb-8e30-58a355c6db98","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,880]},{"parameters":{"options":{}},"id":"a145e591-5376-4b17-a827-c8c02eae0269","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,736]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"43f42e23-a5aa-441c-9aa0-c1626013566d","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[592,752],"credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"f41cb485-6e9d-45dd-9703-1ad425540469","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,752]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code2\"].json[\"randomNumber\"] }}"},"id":"067431ae-94ff-4db8-9182-ede858a2b757","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,752],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"url\"] }}/message/sendMedia/{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items3').item.json.novonum }}"},{"name":"mediatype","value":"image"},{"name":"mimetype","value":"image/png"},{"name":"caption","value":"={{ $item(\"0\").$node[\"OpenAI3\"].json[\"message\"][\"content\"] }}"},{"name":"media","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"arquivo\"] }}"},{"name":"fileName","value":"Imagem.png"}]},"options":{"redirect":{"redirect":{}}}},"id":"275c907b-6fee-4194-9784-281446702298","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,1040]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"f11b1ae4-22cf-4bd3-b414-0ceeca7cc0bb","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,1024]},{"parameters":{"options":{}},"id":"9fd131cc-4699-4e10-931e-7a1d931bd775","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,1024]},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"5602d643-6976-4921-8757-5669dc301a4b","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,1040]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code3\"].json[\"randomNumber\"] }}"},"id":"67c19e16-fae7-4f6e-9a5c-8e49e36ec275","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,1040],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"7f17c858-6b45-4e61-a2d0-d5a5a4a268ad","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[592,1040],"credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"envio\"] }}","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"c1bb4bf7-109f-4575-9b9b-214c7e4847ae"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f3271ce-385f-4dce-b681-6a1f5d9235f6","leftValue":"={{ $('Webhook1').item.json.body.envio }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"}]},"options":{}},"id":"9273d923-e911-470a-8dff-3912f8df5305","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-192,880]},{"parameters":{"httpMethod":"POST","path":"disparo-aula","options":{}},"id":"d05c7e01-3199-43e7-a1f0-a72855ccca68","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,880],"webhookId":"51e91d49-351f-40ea-9279-fb8d5725fa81"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"a90bf7e1-b5f6-4af8-a04b-96256da6b24c","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[464,32],"credentials":{"openAiApi":{"id":"gXLlE697ucUUeR4E","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Crie uma variação do texto: \"Opa, tudo bom, quente hoje né?\\n\\n Deixa eu te falar, sou Michel aqui da MXR Store passando só para lembrar se precisar de algo relacionado a áudio, fones, etc. Só me chamar 🤝\\n\\nSegue o link da nossa loja: https://wa.me/c/556584077695\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1664,-48],"id":"a4c03100-e67b-4162-92c7-843331f316e8","name":"Basic LLM Chain"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1600,160],"id":"5ae60451-6615-4a20-a7c3-0c665f175023","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/X6FdYr89fMymozpkb","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0GjeJ4bLkLdd3Lj4GM9lmGtdASpA892d5rXh"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,-80],"id":"d3932ad3-429b-411e-bffd-ae06421f6a54","name":"apify","credentials":{"httpHeaderAuth":{"id":"gcAWNmOjwGHH6H2z","name":"APIFY"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/VAC14sd6Rllrgoy2g/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0GjeJ4bLkLdd3Lj4GM9lmGtdASpA892d5rXh"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,96],"id":"5ba6cb00-4fa7-4688-b6b6-0fe02bc6ab4a","name":"apify1","credentials":{"httpHeaderAuth":{"id":"gcAWNmOjwGHH6H2z","name":"APIFY"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1840,-48],"id":"83d77cfd-7525-4a23-bd40-741538e9dba9","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"messages-api","instanceName":"=mxmlocal","remoteJid":"=+5565984077695","messageText":"=𝗠𝘅𝗥 𝗦𝘁𝗼𝗿𝗲 \n\n{{ $json.text }}\n\n🙋🏼‍♀️ 𝑎𝑠𝑠𝑖𝑠𝑡𝑒𝑛𝑡𝑒 𝑑𝑎 𝘔𝑥𝘙 𝘚𝑡𝑜𝑟𝑒 🏪","options_message":{"delay":2200,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1328,-48],"id":"051c7b6f-6554-4853-afa1-60116a3ce190","name":"Responder mensagem texto.","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution"}}}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Message a model","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"OpenAI1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Split Out1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"OpenAI3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Split Out2","type":"main","index":0}],[{"node":"Split Out3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Responder mensagem texto.","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"apify":[{"json":{"data":{"id":"X6FdYr89fMymozpkb","actId":"nwua9Gu5YrADL7ZDj","userId":"wOPVhk1wROce4YXfG","startedAt":"2025-10-01T10:06:19.989Z","finishedAt":"2025-10-01T10:07:12.117Z","status":"SUCCEEDED","statusMessage":null,"isStatusMessageTerminal":null,"meta":{"origin":"WEB","userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0"},"stats":{"inputBodyLen":627,"migrationCount":0,"rebootCount":0,"restartCount":0,"durationMillis":51965,"resurrectCount":0,"runTimeSecs":51.965,"metamorph":0,"computeUnits":0.05773888888888889,"memAvgBytes":144061561.57709923,"memMaxBytes":165859328,"memCurrentBytes":0,"cpuAvgUsage":9.580409086546885,"cpuMaxUsage":125.2617,"cpuCurrentUsage":0,"netRxBytes":4383892,"netTxBytes":584576},"options":{"build":"latest","timeoutSecs":604800,"memoryMbytes":4096,"maxTotalChargeUsd":5,"diskMbytes":8192},"buildId":"o28jNCOiNSdVFg9mV","exitCode":0,"defaultKeyValueStoreId":"WDbfQaaPpg94nyG9l","defaultDatasetId":"VAC14sd6Rllrgoy2g","defaultRequestQueueId":"FZhsTgfZ3q62sXxV1","pricingInfo":{"pricingModel":"PAY_PER_EVENT","reasonForChange":"We are introducing Store pricing discounts for this Actor; more info in the follow-up email.","minimalMaxTotalChargeUsd":0.5,"createdAt":"2025-10-01T00:38:14.776Z","startedAt":"2025-10-01T00:38:14.776Z","apifyMarginPercentage":0.2,"notifiedAboutChangeAt":"2025-05-26T13:35:17.744Z","pricingPerEvent":{"actorChargeEvents":{"actor-start":{"eventTitle":"Actor start","eventDescription":"Flat fee for starting an Actor run. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.007},"place-scraped":{"eventTitle":"Place scraped","eventDescription":"Cost per place successfully scraped from Google Maps. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.004},"filter-applied":{"eventTitle":"Add-on: Filter applied","eventDescription":"Extra cost per place for each filter applied (e.g. category, title match, minimum stars, website availability, or skipping closed places). Final price = places scraped * filter price * number of filters. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.001},"place-details-scraped":{"eventTitle":"Add-on: Additional place details scraped","eventDescription":"Flat cost per place to retrieve additional place details (e.g. table reservation data, web results, or max questions). The price remains the same no matter how many details you select. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.002},"contact-details-scraped":{"eventTitle":"Add-on: Company contacts enrichment","eventDescription":"Extra cost per place for finding the associated web page and extracting contact information (e.g. social media accounts or company email). <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.002},"lead-scraped":{"eventTitle":"Add-on: Business leads enrichment","eventDescription":"Cost per successfully extracted business lead. Get key prospect details: full name, work email, phone number, job title, and LinkedIn profile. Enable the 'scrape places with website' filter to only show places that have an active website. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.005},"review-scraped":{"eventTitle":"Add-on: Review scraped","eventDescription":"Extra cost per individual review scraped. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.0005},"image-scraped":{"eventTitle":"Add-on: Image scraped","eventDescription":"Extra cost per image retrieved from a place, including author details. <a href=\"https://help.apify.com/en/articles/10774732-google-maps-scraper-is-going-to-pay-per-event-pricing\">More details.</a>","eventPriceUsd":0.0005}}}},"chargedEventCounts":{"actor-start":1,"place-scraped":55,"filter-applied":0,"place-details-scraped":0,"contact-details-scraped":0,"lead-scraped":0,"review-scraped":0,"image-scraped":0},"platformUsageBillingModel":"DEVELOPER","accountedChargedEventCounts":{"actor-start":1,"place-scraped":55,"filter-applied":0,"place-details-scraped":0,"contact-details-scraped":0,"lead-scraped":0,"review-scraped":0,"image-scraped":0},"generalAccess":"ANYONE_WITH_ID_CAN_READ","buildNumber":"0.14.496","containerUrl":"https://43r837hwefja.runs.apify.net","usageTotalUsd":0.227,"consoleUrl":"https://console.apify.com/view/runs/X6FdYr89fMymozpkb"}}}],"apify1":[{"json":{"title":"OMB-MT - Ordem dos Músicos do Brasil Conselho Regional Mato Grosso","price":null,"categoryName":"Organização de serviço social","address":"R. Maj. Gama, 1027 - Centro Sul, Cuiabá - MT, 78020-170, Brasil","neighborhood":"Centro Sul","street":"R. Maj. Gama, 1027","city":"Cuiabá","postalCode":"78020-170","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99999-1366","phoneUnformatted":"+5565999991366","claimThisBusiness":true,"location":{"lat":-15.6050504,"lng":-56.1037879},"totalScore":2.7,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ0ejpevKxnZMRUVZU2XYyhdk","categories":["Organização de serviço social"],"fid":"0x939db1f27ae9e8d1:0xd9853276d9545651","cid":"15673989564166592081","reviewsCount":3,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:26.487Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"13:00 to 18:00"},{"day":"quinta-feira","hours":"13:00 to 18:00"},{"day":"sexta-feira","hours":"13:00 to 18:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"13:00 to 18:00"},{"day":"terça-feira","hours":"13:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=OMB-MT%20-%20Ordem%20dos%20M%C3%BAsicos%20do%20Brasil%20Conselho%20Regional%20Mato%20Grosso&query_place_id=ChIJ0ejpevKxnZMRUVZU2XYyhdk","searchPageUrl":"https://www.google.com/maps/search/m%C3%BAsicos/@-15.662808547986222,-55.387803811545496,12z?hl=pt-BR","searchString":"músicos","language":"pt-BR","rank":1,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=bWB96CNwtnedfvtaDYkhoA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=200.5845&pitch=0&thumbfov=100","kgmid":"/g/11g8vppmdr"}},{"json":{"title":"ORDEM DOS MÚSICOS DO BRASIL","price":null,"address":"Av. Sen. Metelo, No. 1165 - Goiabeiras, Cuiabá - MT, 78025-302, Brasil","neighborhood":"Goiabeiras","street":"Av. Sen. Metelo, No. 1165","city":"Cuiabá","postalCode":"78025-302","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99350-1399","phoneUnformatted":"+5565993501399","claimThisBusiness":true,"location":{"lat":-15.6057965,"lng":-56.1090485},"permanentlyClosed":true,"temporarilyClosed":false,"placeId":"ChIJ5yr3e_SxnZMRRMwL2Ue5rms","categories":[],"fid":"0x939db1f47bf72ae7:0x6baeb947d90bcc44","cid":"7759342926241188932","reviewsCount":0,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:26.491Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=ORDEM%20DOS%20M%C3%9ASICOS%20DO%20BRASIL&query_place_id=ChIJ5yr3e_SxnZMRRMwL2Ue5rms","searchPageUrl":"https://www.google.com/maps/search/m%C3%BAsicos/@-15.662808547986222,-55.387803811545496,12z?hl=pt-BR","searchString":"músicos","language":"pt-BR","rank":2,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=0RyJiL_5bwIm06F-LwnZWQ&cb_client=search.gws-prod.gps&w=408&h=240&yaw=208.77557&pitch=0&thumbfov=100","kgmid":"/g/11tgbv1qzz"}},{"json":{"title":"BM estúdio","price":null,"categoryName":"Estúdio de gravação","address":"Av. Gov. Dante Martins de Oliveira, 3305 - Carumbé, Cuiabá - MT, 78050-700, Brasil","neighborhood":"Carumbé","street":"Av. Gov. Dante Martins de Oliveira, 3305","city":"Cuiabá","postalCode":"78050-700","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99610-0915","phoneUnformatted":"+5565996100915","claimThisBusiness":false,"location":{"lat":-15.5884869,"lng":-56.0597396},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJnaJnQESwnZMRiHlypeCDm0s","categories":["Estúdio de gravação"],"fid":"0x939db0444067a29d:0x4b9b83e0a5727988","cid":"5448093175106402696","reviewsCount":184,"imagesCount":97,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:27.302Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"14:00 to 00:00"},{"day":"quinta-feira","hours":"14:00 to 00:00"},{"day":"sexta-feira","hours":"14:00 to 00:00"},{"day":"sábado","hours":"14:00 to 20:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"14:00 to 00:00"},{"day":"terça-feira","hours":"14:00 to 00:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Entrega":false}],"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true},{"Pagamentos por dispositivo móvel via NFC":true}],"Estacionamento":[{"Estacionamento descoberto gratuito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=BM%20est%C3%BAdio&query_place_id=ChIJnaJnQESwnZMRiHlypeCDm0s","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-16.222779844991415,-55.328370724273306,13z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":1,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPUBF8f07XHaZ4lxSCdNkNW3xsVWZ8FmAdAxN9-=w532-h240-k-no","kgmid":"/g/11g6r23s9k"}},{"json":{"title":"Lírica Produções Musicais","price":null,"categoryName":"Produtor musical","address":"R. Torino Jd Itália, n 444 - Jardim Itália, Cuiabá - MT, 78060-830, Brasil","neighborhood":"Jardim Itália","street":"R. Torino Jd Itália, n 444","city":"Cuiabá","postalCode":"78060-830","state":"Mato Grosso","countryCode":"BR","website":"https://instagram.com/liricaproducoesmusicais?igshid=MWQ1ZGUxMzBkMA==","phone":"+55 65 99306-8005","phoneUnformatted":"+5565993068005","claimThisBusiness":false,"location":{"lat":-15.6037522,"lng":-56.0584047},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJLSnudcKxnZMR3DkHVQeu_rY","categories":["Produtor musical"],"fid":"0x939db1c275ee292d:0xb6feae07550739dc","cid":"13186168105501931996","reviewsCount":21,"imagesCount":59,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:31.283Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 16:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Opções de serviço":[{"Serviços no local":true}],"Acessibilidade":[{"Assento com acessibilidade para pessoas em cadeira de rodas":true},{"Banheiro com acessibilidade para pessoas em cadeira de rodas":true},{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=L%C3%ADrica%20Produ%C3%A7%C3%B5es%20Musicais&query_place_id=ChIJLSnudcKxnZMR3DkHVQeu_rY","searchPageUrl":"https://www.google.com/maps/search/m%C3%BAsicos/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"músicos","language":"pt-BR","rank":3,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOBDJAm3WQu0OLiyjU5w2ZjxYd_gsThDOhlz7g4=w408-h272-k-no","kgmid":"/g/11dyzf6w17"}},{"json":{"title":"Estudio Demo Ex Machina","price":null,"categoryName":"Estúdio de gravação","address":"R. Pres. Campos Sáles, 70 - Santa Helena, Cuiabá - MT, 78045-060, Brasil","neighborhood":"Santa Helena","street":"R. Pres. Campos Sáles, 70","city":"Cuiabá","postalCode":"78045-060","state":"Mato Grosso","countryCode":"BR","website":"http://www.demoexmachina.com/","phone":"+55 65 99957-6840","phoneUnformatted":"+5565999576840","claimThisBusiness":false,"location":{"lat":-15.5830228,"lng":-56.0932342},"totalScore":4.8,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJLdQxbZ-xnZMRu5hFLSE29R4","categories":["Estúdio de gravação"],"fid":"0x939db19f6d31d42d:0x1ef536212d4598bb","cid":"2230748706553305275","reviewsCount":28,"imagesCount":12,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:33.154Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"16:00 to 22:00"},{"day":"quinta-feira","hours":"Fechado"},{"day":"sexta-feira","hours":"16:00 to 22:00"},{"day":"sábado","hours":"16:00 to 22:00"},{"day":"domingo","hours":"16:00 to 22:00"},{"day":"segunda-feira","hours":"16:00 to 22:00"},{"day":"terça-feira","hours":"16:00 to 22:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Entrega":false},{"Serviços no local":false}],"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Estudio%20Demo%20Ex%20Machina&query_place_id=ChIJLdQxbZ-xnZMRu5hFLSE29R4","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.131791556041334,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":3,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPlsZjZe5ZlaTrzRbsFALQG6R7mG0ek1PRk5Dkh=w408-h307-k-no","kgmid":"/g/11b6s06pqj"}},{"json":{"title":"Estúdio GMC Music","price":null,"categoryName":"Estúdio de gravação","address":"R. Benedito Camargo - Jardim Leblon, Cuiabá - MT, 78060-094, Brasil","neighborhood":"Jardim Leblon","street":"R. Benedito Camargo","city":"Cuiabá","postalCode":"78060-094","state":"Mato Grosso","countryCode":"BR","website":"https://www.youtube.com/channel/UCo1DhzJYkt1s1Zcamkh5naw?sub_confimation=1","phone":"+55 62 99409-0606","phoneUnformatted":"+5562994090606","claimThisBusiness":false,"location":{"lat":-15.5948388,"lng":-56.076906},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJLYjnAOCxnZMRY17_urhJxwo","categories":["Estúdio de gravação","Produtor musical"],"fid":"0x939db1e000e7882d:0xac749b8baff5e63","cid":"776670518504808035","reviewsCount":1,"imagesCount":2,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:33.154Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"09:00 to 17:00"},{"day":"quinta-feira","hours":"09:00 to 17:00"},{"day":"sexta-feira","hours":"09:00 to 17:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"09:00 to 17:00"},{"day":"terça-feira","hours":"09:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20GMC%20Music&query_place_id=ChIJLYjnAOCxnZMRY17_urhJxwo","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.131791556041334,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":4,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=We8FWIslJ1Gey5d1ZJtV-A&cb_client=search.gws-prod.gps&w=408&h=240&yaw=204.64417&pitch=0&thumbfov=100","kgmid":"/g/11fl0wqmf1"}},{"json":{"title":"Estudio Som de Mestre","price":null,"categoryName":"Estúdio de gravação","address":"Residencial Mônaco - Av. A, Q22 C05 - Parque das Nações, Cuiabá - MT, 78056-909, Brasil","neighborhood":"Parque das Nações","street":"Residencial Mônaco - Av. A, Q22 C05","city":"Cuiabá","postalCode":"78056909","state":"Mato Grosso","countryCode":"BR","website":"http://linktr.ee/somdemestre","phone":"+55 65 99277-5611","phoneUnformatted":"+5565992775611","claimThisBusiness":false,"location":{"lat":-15.5450221,"lng":-56.0859713},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJF40xfemxnZMRKiF11kv-LWE","categories":["Estúdio de gravação","Produtor musical","Estúdio de ensaio"],"fid":"0x939db1e97d318d17:0x612dfe4bd675212a","cid":"7002532597304992042","reviewsCount":2,"imagesCount":2,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:33.154Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"10:00 to 21:00"},{"day":"quinta-feira","hours":"10:00 to 21:00"},{"day":"sexta-feira","hours":"10:00 to 21:00"},{"day":"sábado","hours":"08:00 to 00:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"10:00 to 21:00"},{"day":"terça-feira","hours":"10:00 to 21:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true},{"Pagamentos por dispositivo móvel via NFC":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Estudio%20Som%20de%20Mestre&query_place_id=ChIJF40xfemxnZMRKiF11kv-LWE","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.131791556041334,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":5,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNT3u6U1X0GnuWVUO7d25-AD6-QRb5K57rsdQaH=w426-h240-k-no","kgmid":"/g/11w8pw0yx_"}},{"json":{"title":"Rooney Mattos - YouTube","price":null,"categoryName":"Professor de música","address":null,"website":"https://www.youtube.com/RooneyMattosCruz","phone":"+55 65 99634-8531","phoneUnformatted":"+5565996348531","claimThisBusiness":false,"location":{"lat":-15.4493936,"lng":-56.1538826},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJf7RBFwXUE6IRkDUg6ekTqLc","categories":["Professor de música","Service establishment"],"fid":"0xa213d4051741b47f:0xb7a813e9e9203590","cid":"13233849400387712400","reviewsCount":0,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:33.808Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"07:00 to 17:30"},{"day":"quinta-feira","hours":"07:00 to 17:00"},{"day":"sexta-feira","hours":"07:00 to 00:00"},{"day":"sábado","hours":"07:00 to 00:00"},{"day":"domingo","hours":"07:00 to 00:00"},{"day":"segunda-feira","hours":"07:00 to 17:00"},{"day":"terça-feira","hours":"07:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Rooney%20Mattos%20-%20YouTube&query_place_id=ChIJf7RBFwXUE6IRkDUg6ekTqLc","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.131791556041334,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":21,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOOKe66xNoxAFz6YfYJqKjzxRGt43QuE4aT4poX=w408-h283-k-no","kgmid":"/g/11t13rdbh4"}},{"json":{"title":"Studio Volume","price":null,"categoryName":"Escola de Música","address":"R. Diogo Domingos Ferreira, 522 - Bandeirantes, Cuiabá - MT, 78010-000, Brasil","neighborhood":"Bandeirantes","street":"R. Diogo Domingos Ferreira, 522","city":"Cuiabá","postalCode":"78010-000","state":"Mato Grosso","countryCode":"BR","website":"http://www.studiovolume.com.br/","phone":"+55 65 99234-5390","phoneUnformatted":"+5565992345390","claimThisBusiness":false,"location":{"lat":-15.5983673,"lng":-56.0905826},"totalScore":4.9,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ8Qvr07yvnZMRV_RYScqbPvU","categories":["Escola de Música","Professor de violão","Professor de música","Professor de piano","Estúdio de gravação"],"fid":"0x939dafbcd3eb0bf1:0xf53e9bca4958f457","cid":"17671733280964670551","reviewsCount":85,"imagesCount":99,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.107Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 22:00"},{"day":"quinta-feira","hours":"08:00 to 22:00"},{"day":"sexta-feira","hours":"08:00 to 22:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 22:00"},{"day":"terça-feira","hours":"08:00 to 22:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Opções de serviço":[{"Aulas on-line":true},{"Serviços no local":true}],"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true}],"Crianças":[{"Bom para ir com crianças":true}],"Estacionamento":[{"Estacionamento coberto gratuito":true},{"Estacionamento descoberto gratuito":true},{"Estacionamento no local":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Studio%20Volume&query_place_id=ChIJ8Qvr07yvnZMRV_RYScqbPvU","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":4,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPEDtbPo4bu7NRjyIyW6ADHMPgJ7k3qzwDIrpM-=w408-h304-k-no","kgmid":"/g/12qh06gv9"}},{"json":{"title":"M1 STUDIOS","price":null,"categoryName":"Estúdio de gravação","address":"R. Dezoito, 29 - Boa Esperança, Cuiabá - MT, 78068-655, Brasil","neighborhood":"Boa Esperança","street":"R. Dezoito, 29","city":"Cuiabá","postalCode":"78068-655","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99610-6159","phoneUnformatted":"+5565996106159","claimThisBusiness":false,"location":{"lat":-15.6072534,"lng":-56.0561921},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJfezXskCxnZMRZwur3I0cJUc","categories":["Estúdio de gravação"],"fid":"0x939db140b2d7ec7d:0x47251c8ddcab0b67","cid":"5126535146449341287","reviewsCount":5,"imagesCount":5,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.107Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=M1%20STUDIOS&query_place_id=ChIJfezXskCxnZMRZwur3I0cJUc","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":6,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqUn9BiXfLq_mPQ7vF9-M_NLf7SjnjptmPatO1JVd27-d5OU2KWGaQgOIZutdY73s81gDFTkrs2Uk3rvgt6tb5D-3mN5VbxDvgD9brN51_0vNJ1KIi7ggFwcjan8nTCIZeDgvPX=w426-h240-k-no","kgmid":"/g/11r9fhms3x"}},{"json":{"title":"Studio A.V.R Gravações Em Áudio vinhetas","price":null,"categoryName":"Estúdio de gravação","address":"Rua Sabina Tomázia da Silva, 12 - Novo Colorado, Cuiabá - MT, 78042-635, Brasil","neighborhood":"Novo Colorado","street":"Rua Sabina Tomázia da Silva, 12","city":"Cuiabá","postalCode":"78042-635","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 98406-1714","phoneUnformatted":"+5565984061714","claimThisBusiness":false,"location":{"lat":-15.5628043,"lng":-56.1135569},"totalScore":4.9,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJvf8tUhCynZMRwf6b0BFaXoA","categories":["Estúdio de gravação"],"fid":"0x939db210522dffbd:0x805e5a11d09bfec1","cid":"9249929717226405569","reviewsCount":8,"imagesCount":23,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.107Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"09:00 to 17:00"},{"day":"quinta-feira","hours":"09:00 to 17:00"},{"day":"sexta-feira","hours":"09:00 to 17:00"},{"day":"sábado","hours":"09:00 to 17:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"09:00 to 17:00"},{"day":"terça-feira","hours":"09:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true}],"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Studio%20A.V.R%20Grava%C3%A7%C3%B5es%20Em%20%C3%81udio%20vinhetas&query_place_id=ChIJvf8tUhCynZMRwf6b0BFaXoA","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":7,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOZ6_RNvf78TmweTMlkfAEHFUGlGHgg1Gdvm7vR=w408-h408-k-no","kgmid":"/g/11hcjvhlk9"}},{"json":{"title":"Estúdio Inca","price":null,"categoryName":"Estúdio de gravação","address":"R. Monterey, 602 - Jardim California, Cuiabá - MT, 78070-430, Brasil","neighborhood":"Jardim California","street":"R. Monterey, 602","city":"Cuiabá","postalCode":"78070-430","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99938-3353","phoneUnformatted":"+5565999383353","claimThisBusiness":false,"location":{"lat":-15.6268359,"lng":-56.0726396},"totalScore":4.5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJsS-2hS2unZMROMdhr4Rvnxs","categories":["Estúdio de gravação"],"fid":"0x939dae2d85b62fb1:0x1b9f6f84af61c738","cid":"1990432175989835576","reviewsCount":4,"imagesCount":2,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.107Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20Inca&query_place_id=ChIJsS-2hS2unZMROMdhr4Rvnxs","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":8,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=tpTu_sW11uRzj5_u7352Lg&cb_client=search.gws-prod.gps&w=408&h=240&yaw=157.08832&pitch=0&thumbfov=100","kgmid":"/g/1ptvw7q6c"}},{"json":{"title":"Maestro Estúdio Digital Áudio","price":null,"categoryName":"Estúdio de gravação","address":"R. Rio Piraqui - Grande Terceiro, Cuiabá - MT, 78065-710, Brasil","neighborhood":"Grande Terceiro","street":"R. Rio Piraqui","city":"Cuiabá","postalCode":"78065-710","state":"Mato Grosso","countryCode":"BR","website":"https://www.facebook.com/Maestro-Est%C3%BAdio-Digital-%C3%81udio-372847696549430/?modal=admin_todo_tour","phone":"+55 65 99229-9515","phoneUnformatted":"+5565992299515","claimThisBusiness":false,"location":{"lat":-15.6263595,"lng":-56.0798231},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJDwkxtxivnZMRQSeE1ioRhBE","categories":["Estúdio de gravação"],"fid":"0x939daf18b731090f:0x1184112ad6842741","cid":"1262152671255865153","reviewsCount":9,"imagesCount":30,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.107Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"07:00 to 18:00"},{"day":"quinta-feira","hours":"07:00 to 19:00"},{"day":"sexta-feira","hours":"07:00 to 21:00"},{"day":"sábado","hours":"08:30 to 13:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"07:00 to 19:00"},{"day":"terça-feira","hours":"07:00 to 20:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Maestro%20Est%C3%BAdio%20Digital%20%C3%81udio&query_place_id=ChIJDwkxtxivnZMRQSeE1ioRhBE","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":9,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipP4G2clYhRpmZwYuwKNEQS-vwT9W-VDYTnek9Yv=w408-h306-k-no","kgmid":"/g/11g0r236zx"}},{"json":{"title":"Podcast Cuiabá - Estúdio Comunica Assessoria","price":null,"categoryName":"Estúdio de gravação","address":"Av. Dr. Hélio Ribeiro, 301 - sala 104 - Res. Paiaguás, Cuiabá - MT, 78048-250, Brasil","neighborhood":"Residencial Paiaguás","street":"Av. Dr. Hélio Ribeiro, 301 - sala 104","city":"Cuiabá","postalCode":"78048-250","state":"Mato Grosso","countryCode":"BR","claimThisBusiness":false,"location":{"lat":-15.5644093,"lng":-56.0811265},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJZYW-P4WxnZMR1LHoZ6iIkWI","categories":["Estúdio de gravação"],"fid":"0x939db1853fbe8565:0x629188a867e8b1d4","cid":"7102608344219169236","reviewsCount":29,"imagesCount":170,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.108Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 19:00"},{"day":"quinta-feira","hours":"08:00 to 19:00"},{"day":"sexta-feira","hours":"08:00 to 19:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 19:00"},{"day":"terça-feira","hours":"08:00 to 19:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true},{"Pagamentos por dispositivo móvel via NFC":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Podcast%20Cuiab%C3%A1%20-%20Est%C3%BAdio%20Comunica%20Assessoria&query_place_id=ChIJZYW-P4WxnZMR1LHoZ6iIkWI","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":10,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNQY5R0mwoRTK5MbHRztg6es4CiFjbxrDf6cY8H=w408-h544-k-no","kgmid":"/g/11vrj68l3r"}},{"json":{"title":"Estudio Som do Cerrado","price":null,"categoryName":"Estúdio de gravação","address":"R. Monsenhor Trebaure - Centro Norte, Cuiabá - MT, 78005-380, Brasil","neighborhood":"Centro Norte","street":"R. Monsenhor Trebaure","city":"Cuiabá","postalCode":"78005-380","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99971-2136","phoneUnformatted":"+5565999712136","claimThisBusiness":false,"location":{"lat":-15.5902892,"lng":-56.0964089},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJI4isGWWxnZMRBoy_0FRRYQw","categories":["Estúdio de gravação"],"fid":"0x939db16519ac8823:0xc615154d0bf8c06","cid":"892083625917385734","reviewsCount":18,"imagesCount":22,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.108Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 22:00"},{"day":"quinta-feira","hours":"08:00 to 22:00"},{"day":"sexta-feira","hours":"08:00 to 22:00"},{"day":"sábado","hours":"08:00 to 19:00"},{"day":"domingo","hours":"09:00 to 17:00"},{"day":"segunda-feira","hours":"08:00 to 22:00"},{"day":"terça-feira","hours":"08:00 to 22:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Entrega":false}],"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Estudio%20Som%20do%20Cerrado&query_place_id=ChIJI4isGWWxnZMRBoy_0FRRYQw","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":11,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOHZYqJqMdI3LJJSkmcXNNBZ6UYlr10SEvLDk4Q=w408-h306-k-no","kgmid":"/g/11fs8rws1d"}},{"json":{"title":"Estúdio Rec Bros","price":null,"categoryName":"Estúdio de gravação","address":"R. Projetada, 21 - Chácara dos Pinheiros, Cuiabá - MT, 78080-068, Brasil","neighborhood":"Chácara dos Pinheiros","street":"R. Projetada, 21","city":"Cuiabá","postalCode":null,"state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99336-3231","phoneUnformatted":"+5565993363231","claimThisBusiness":true,"location":{"lat":-15.6259197,"lng":-56.0529183},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJdcTTf0KvnZMRGTkRj3f34yw","categories":["Estúdio de gravação"],"fid":"0x939daf427fd3c475:0x2ce3f7778f113919","cid":"3234701050255587609","reviewsCount":2,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.108Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"08:00 to 18:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20Rec%20Bros&query_place_id=ChIJdcTTf0KvnZMRGTkRj3f34yw","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":12,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=PzzP1jfWxdFB3CxuBLfAjw&cb_client=search.gws-prod.gps&w=408&h=240&yaw=31.139023&pitch=0&thumbfov=100","kgmid":"/g/11sbt6xqxt"}},{"json":{"title":"Estúdio Riff","price":null,"categoryName":"Produtor musical","address":"R. Trinta, 35 - Boa Esperança, Cuiabá - MT, 78068-790, Brasil","neighborhood":"Boa Esperança","street":"R. Trinta, 35","city":"Cuiabá","postalCode":"78068-790","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99801-1836","phoneUnformatted":"+5565998011836","claimThisBusiness":true,"location":{"lat":-15.6157366,"lng":-56.0704789},"totalScore":4.9,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJydxSZWCxnZMR4v4X6nHeFIg","categories":["Produtor musical"],"fid":"0x939db1606552dcc9:0x8814de71ea17fee2","cid":"9805706869532524258","reviewsCount":19,"imagesCount":3,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.108Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20Riff&query_place_id=ChIJydxSZWCxnZMR4v4X6nHeFIg","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":13,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/gps-cs-s/AC9h4noKnN_4FXh7C5PN1JUkV788Mnb5O1Y-6gbGYOedHqU-hzMMMUjzM6jFa_xgX7cESxFN3gAO21h-7VQDgXiYhf3xPuksg7o1OBRq5ifswKGKk8hQw2MqNowWo-V2VfMPNJY0C3Y=w408-h545-k-no","kgmid":"/g/11qnfrh20l"}},{"json":{"title":"PerenhaCast","price":null,"categoryName":"Estúdio de gravação","address":"Av. Carmindo de Campos, 727 - Jardim Petropolis, Cuiabá - MT, 78070-100, Brasil","neighborhood":"Jardim Petropolis","street":"Av. Carmindo de Campos, 727","city":"Cuiabá","postalCode":"78070-100","state":"Mato Grosso","countryCode":"BR","claimThisBusiness":false,"location":{"lat":-15.6207808,"lng":-56.0741043},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJJy8dNAmvnZMR8D4hT0YXzJM","categories":["Estúdio de gravação"],"fid":"0x939daf09341d2f27:0x93cc17464f213ef0","cid":"10649912809567108848","reviewsCount":2,"imagesCount":6,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.108Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 17:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=PerenhaCast&query_place_id=ChIJJy8dNAmvnZMR8D4hT0YXzJM","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":14,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNM8uJDPgItgZ8xlvBE2xqT9p910YIAZS2_KaRE=w426-h240-k-no","kgmid":"/g/11mdmw5_z4"}},{"json":{"title":"Estúdio Jam","price":null,"categoryName":"Estúdio de gravação","address":"R. Santa Isabel, n° 16 - Santa Marta, Cuiabá - MT, 78043-620, Brasil","neighborhood":"Santa Marta","street":"R. Santa Isabel, n° 16","city":"Cuiabá","postalCode":"78043-620","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99607-7854","phoneUnformatted":"+5565996077854","claimThisBusiness":false,"location":{"lat":-15.5750305,"lng":-56.1011367},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJZZ3neEuxnZMRMrrF8GjwGFQ","categories":["Estúdio de gravação","Estúdio de ensaio"],"fid":"0x939db14b78e79d65:0x5418f068f0c5ba32","cid":"6059857632133757490","reviewsCount":2,"imagesCount":18,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.108Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 20:00"},{"day":"quinta-feira","hours":"08:00 to 20:00"},{"day":"sexta-feira","hours":"08:00 to 20:00"},{"day":"sábado","hours":"08:00 to 14:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 20:00"},{"day":"terça-feira","hours":"08:00 to 20:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true},{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true},{"Assento com acessibilidade para pessoas em cadeira de rodas":false},{"Banheiro com acessibilidade para pessoas em cadeira de rodas":false}],"Público":[{"Empresa que acolhe a comunidade LGBTQ+":true},{"Espaço seguro para pessoas transgênero":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20Jam&query_place_id=ChIJZZ3neEuxnZMRMrrF8GjwGFQ","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":16,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqZjh0nrVsO83gjbJXYaotqpRxY-Ws0fNI-vpa6hfNutRIGK280fDBKl4k9yKBEtdu7WAW3FeZaMmOQHmC5d4gGpUQ_b_VrLp6m0ZQsGNqbfgxBpsEus-MqepEVZa-KvA4fR9Ta=w408-h306-k-no","kgmid":"/g/11j8_hvq8b"}},{"json":{"title":"VA Produçoes","price":null,"categoryName":"Estúdio de gravação","address":"R. Custódio de Melo, 295 - Verdão, Cuiabá - MT, 78000-000, Brasil","neighborhood":"Verdão","street":"R. Custódio de Melo, 295","city":"Cuiabá","postalCode":"78000-000","state":"Mato Grosso","countryCode":"BR","claimThisBusiness":true,"location":{"lat":-15.6085775,"lng":-56.1198411},"totalScore":4,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ-xxHNRmynZMRSCOfak8xwSQ","categories":["Estúdio de gravação"],"fid":"0x939db21935471cfb:0x24c1314f6a9f2348","cid":"2648452273031553864","reviewsCount":4,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:38.109Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"13:00 to 00:00"},{"day":"quinta-feira","hours":"13:00 to 00:00"},{"day":"sexta-feira","hours":"13:00 to 00:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"13:00 to 00:00"},{"day":"terça-feira","hours":"13:00 to 00:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true},{"Pagamentos por dispositivo móvel via NFC":true},{"Cartões de crédito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=VA%20Produ%C3%A7oes&query_place_id=ChIJ-xxHNRmynZMRSCOfak8xwSQ","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":18,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=jNF2j48g3j5pOBQHkpBe5g&cb_client=search.gws-prod.gps&w=408&h=240&yaw=226.15475&pitch=0&thumbfov=100","kgmid":"/g/11c2pmbc9y"}},{"json":{"title":"Groove Studio","price":null,"categoryName":"Estúdio de gravação","address":"Av. Principal, 19 - Bela Marina, Cuiabá - MT, 78070-710, Brasil","neighborhood":"Bela Marina","street":"Av. Principal, 19","city":"Cuiabá","postalCode":"78070-710","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 98141-6925","phoneUnformatted":"+5565981416925","claimThisBusiness":true,"location":{"lat":-15.6194053,"lng":-56.001785},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJLeRuEAClnZMRWT8EkcFmajY","categories":["Estúdio de gravação"],"fid":"0x939da500106ee42d:0x366a66c191043f59","cid":"3921059407127134041","reviewsCount":1,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:42.443Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"Atendimento 24 horas"},{"day":"quinta-feira","hours":"Atendimento 24 horas"},{"day":"sexta-feira","hours":"Atendimento 24 horas"},{"day":"sábado","hours":"Atendimento 24 horas"},{"day":"domingo","hours":"Atendimento 24 horas"},{"day":"segunda-feira","hours":"Atendimento 24 horas"},{"day":"terça-feira","hours":"Atendimento 24 horas"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Groove%20Studio&query_place_id=ChIJLeRuEAClnZMRWT8EkcFmajY","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-55.663998037181834,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":2,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=-xxTNfay_6BJSvtCPs3PVA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=60.960003&pitch=0&thumbfov=100","kgmid":"/g/11wb3ycvkq"}},{"json":{"title":"Nosso estúdio soluções em áudio","price":null,"categoryName":"Estúdio de gravação","address":"R. Dois, 388 - Jardim Industriario II, Cuiabá - MT, 78098-622, Brasil","neighborhood":"Jardim Industriario II","street":"R. Dois, 388","city":"Cuiabá","postalCode":"78098-622","state":"Mato Grosso","countryCode":"BR","website":"https://www.nossoestudiocuiaba.com/","phone":"+55 65 99217-5343","phoneUnformatted":"+5565992175343","claimThisBusiness":true,"location":{"lat":-15.6446995,"lng":-55.9741653},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJOzT5FxalnZMRfItJYC91hvw","categories":["Estúdio de gravação"],"fid":"0x939da51617f9343b:0xfc86752f60498b7c","cid":"18196360190776413052","reviewsCount":2,"imagesCount":6,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:42.443Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"09:00 to 17:00"},{"day":"quinta-feira","hours":"09:00 to 17:00"},{"day":"sexta-feira","hours":"09:00 to 17:00"},{"day":"sábado","hours":"09:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"09:00 to 17:00"},{"day":"terça-feira","hours":"09:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Nosso%20est%C3%BAdio%20solu%C3%A7%C3%B5es%20em%20%C3%A1udio&query_place_id=ChIJOzT5FxalnZMRfItJYC91hvw","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-55.663998037181834,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":4,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrCVYQH4c-jQShYPEP2GBQrYTfTrT47s3lSVuqRK-6L7vKhVpH01XZTlUhDRlEMnqniMZ0JJWSbji4Ag3xT-KOsvZl7nk5ilJmpAX5KrLSISU11LmgCx6hGmleh8_H9vXnjKYf4Ow=w408-h306-k-no","kgmid":"/g/11p4qpm14b"}},{"json":{"title":"⚜️JOANDERSON TATTOO STUDIO.⚜️","price":null,"categoryName":"Estúdio de gravação","address":"R. 7, 24 - Pedra 90, Cuiabá - MT, 78099-035, Brasil","neighborhood":"Pedra 90","street":"R. 7, 24","city":"Cuiabá","postalCode":"78099-035","state":"Mato Grosso","countryCode":"BR","claimThisBusiness":true,"location":{"lat":-15.6309452,"lng":-55.9593389},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJdblHLAClnZMROnq1A1mAO0U","categories":["Estúdio de gravação"],"fid":"0x939da5002c47b975:0x453b805903b57a3a","cid":"4988722132045625914","reviewsCount":1,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:42.443Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=%E2%9A%9C%EF%B8%8FJOANDERSON%20TATTOO%20STUDIO.%E2%9A%9C%EF%B8%8F&query_place_id=ChIJdblHLAClnZMROnq1A1mAO0U","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-55.663998037181834,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":5,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=q66e6zvhi6mUHUK5K_K4Sg&cb_client=search.gws-prod.gps&w=408&h=240&yaw=235.43225&pitch=0&thumbfov=100","kgmid":"/g/11yhfrchqz"}},{"json":{"title":"Showcuia Produções","price":null,"categoryName":"Estúdio de gravação","address":"Jardim Industriario II, Cuiabá - MT, 78098-638, Brasil","neighborhood":"Jardim Industriario II","street":null,"city":"Cuiabá","postalCode":null,"state":"Mato Grosso","countryCode":"BR","phone":"+55 65 98441-6602","phoneUnformatted":"+5565984416602","claimThisBusiness":true,"location":{"lat":-15.6478402,"lng":-55.9794878},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJvZZJYD6lnZMR-3NVbnMpav0","categories":["Estúdio de gravação"],"fid":"0x939da53e604996bd:0xfd6a29736e5573fb","cid":"18260453214876169211","reviewsCount":2,"imagesCount":6,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:42.443Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"Atendimento 24 horas"},{"day":"quinta-feira","hours":"Atendimento 24 horas"},{"day":"sexta-feira","hours":"Atendimento 24 horas"},{"day":"sábado","hours":"Atendimento 24 horas"},{"day":"domingo","hours":"Atendimento 24 horas"},{"day":"segunda-feira","hours":"Atendimento 24 horas"},{"day":"terça-feira","hours":"Atendimento 24 horas"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Showcuia%20Produ%C3%A7%C3%B5es&query_place_id=ChIJvZZJYD6lnZMR-3NVbnMpav0","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-55.663998037181834,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":12,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/gps-cs-s/AC9h4npTLZ-tYj6jzVCncI7-y5hrHnpPKTyjNYC-sizl0t52IPv8UOkN5_dD2MLvc49fw69iOdqDYV0ROnh9XFa2mGa4l5C8MVQSJ1mQmvywR7O_qNv6ayBDWS4nAsGExYekHI-lTZKcoQ=w408-h544-k-no","kgmid":"/g/11px981wlz"}},{"json":{"title":"Studio Acorde | Escola de Música","price":null,"categoryName":"Escola de Música","address":"Av. Newton Rabello de Castro, 693 - Pedra 90, Cuiabá - MT, 78099-005, Brasil","neighborhood":"Pedra 90","street":"Av. Newton Rabello de Castro, 693","city":"Cuiabá","postalCode":"78099-005","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99609-1067","phoneUnformatted":"+5565996091067","claimThisBusiness":false,"location":{"lat":-15.6327116,"lng":-55.9563509},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJfSacgeqlnZMRnr-Rt_pcFX8","categories":["Escola de Música"],"fid":"0x939da5ea819c267d:0x7f155cfab791bf9e","cid":"9157327649219133342","reviewsCount":11,"imagesCount":10,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:42.443Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 00:00"},{"day":"quinta-feira","hours":"08:00 to 00:00"},{"day":"sexta-feira","hours":"08:00 to 00:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 00:00"},{"day":"terça-feira","hours":"08:00 to 00:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Studio%20Acorde%20%7C%20Escola%20de%20M%C3%BAsica&query_place_id=ChIJfSacgeqlnZMRnr-Rt_pcFX8","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-55.663998037181834,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":15,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipMFLw2SdnMBnzooRbK9tvhX_sQ5Q9ACH78LvHb8=w408-h306-k-no","kgmid":"/g/11w3kg_rps"}},{"json":{"title":"LTA Produtora","price":null,"categoryName":"Estúdio de gravação","address":"RUA SEIS, R. 1, 09 - 101 QDA - Jardim Vitória, Cuiabá - MT, 78055-764, Brasil","neighborhood":"Jardim Vitória","street":"RUA SEIS, R. 1, 09 - 101 QDA","city":"Cuiabá","postalCode":"78055-764","state":"MT","countryCode":"BR","website":"https://www.facebook.com/LTAProdutora/","phone":"+55 65 99293-6195","phoneUnformatted":"+5565992936195","claimThisBusiness":false,"location":{"lat":-15.5421447,"lng":-56.0654228},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJRaHjrdixnZMROsuTt0_zWeI","categories":["Estúdio de gravação"],"fid":"0x939db1d8ade3a145:0xe259f34fb793cb3a","cid":"16310335049206844218","reviewsCount":2,"imagesCount":2,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:42.443Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"13:00 to 20:00"},{"day":"quinta-feira","hours":"13:00 to 20:00"},{"day":"sexta-feira","hours":"13:00 to 20:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"13:00 to 20:00"},{"day":"terça-feira","hours":"13:00 to 20:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=LTA%20Produtora&query_place_id=ChIJRaHjrdixnZMROsuTt0_zWeI","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.662808547986222,-55.663998037181834,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":16,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=0LShk9LGrzr2S4w0VbQagA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=343.58798&pitch=0&thumbfov=100","kgmid":"/g/11f7g5v5sn"}},{"json":{"title":"Runa Filmes","price":null,"categoryName":"Estúdio de gravação","address":"Rua J - Res. Ilza Terezinha Picolli, Cuiabá - MT, 78056-714, Brasil","neighborhood":"Residencial Ilza Terezinha Picolli","street":"Rua J","city":"Cuiabá","postalCode":"78056714","state":"Mato Grosso","countryCode":"BR","website":"https://runafilmes.xyz/","phone":"+55 65 98417-7260","phoneUnformatted":"+5565984177260","claimThisBusiness":true,"location":{"lat":-15.5372778,"lng":-56.0323414},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJqYHQWQ-xnZMRzl9U9h40USc","categories":["Estúdio de gravação"],"fid":"0x939db10f59d081a9:0x2751341ef6545fce","cid":"2833102948179140558","reviewsCount":0,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:47.185Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Runa%20Filmes&query_place_id=ChIJqYHQWQ-xnZMRzl9U9h40USc","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.397300052013778,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":11,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=9GPhnaYfeTCqDufynDrxKA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=74.64075&pitch=0&thumbfov=100","kgmid":"/g/11mdvq5q02"}},{"json":{"title":"Play Laser gravação","price":null,"categoryName":"Estúdio de gravação","address":"Av. Beira Rio, 261 - Santa Isabel, Cuiabá - MT, 78035-175, Brasil","neighborhood":"Santa Isabel","street":"Av. Beira Rio, 261","city":"Cuiabá","postalCode":"78035-175","state":"Mato Grosso","countryCode":"BR","website":"https://playlaser.my.canva.site/playlaser","phone":"+55 65 99816-4421","phoneUnformatted":"+5565998164421","claimThisBusiness":false,"location":{"lat":-15.6038549,"lng":-56.1371508},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJeykUlKqznZMRV_d6r8Bj-PQ","categories":["Estúdio de gravação"],"fid":"0x939db3aa9414297b:0xf4f863c0af7af757","cid":"17651968418707601239","reviewsCount":5,"imagesCount":20,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:47.185Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 17:00"},{"day":"quinta-feira","hours":"08:00 to 17:00"},{"day":"sexta-feira","hours":"08:00 to 17:00"},{"day":"sábado","hours":"08:00 to 17:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 17:00"},{"day":"terça-feira","hours":"08:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Play%20Laser%20grava%C3%A7%C3%A3o&query_place_id=ChIJeykUlKqznZMRV_d6r8Bj-PQ","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.397300052013778,-56.21638648845451,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":19,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPGc7P_J5nJ_Jmdj31pImlVkFwL4hqP-Q4dFT3s=w408-h543-k-no","kgmid":"/g/11ybrpmtyg"}},{"json":{"title":"Splendore Musical","price":null,"categoryName":"Produtor musical","address":"Av. Mal. Deodoro, 1194 - Centro Norte, Cuiabá - MT, 78005-100, Brasil","neighborhood":"Centro Norte","street":"Av. Mal. Deodoro, 1194","city":"Cuiabá","postalCode":"78005-100","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 3023-5520","phoneUnformatted":"+556530235520","claimThisBusiness":false,"location":{"lat":-15.5900976,"lng":-56.0985048},"totalScore":4.7,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ0ffPEZqxnZMRkqScU-s_Suo","categories":["Produtor musical"],"fid":"0x939db19a11cff7d1:0xea4a3feb539ca492","cid":"16882376433104364690","reviewsCount":50,"imagesCount":4,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:47.224Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Splendore%20Musical&query_place_id=ChIJ0ffPEZqxnZMRkqScU-s_Suo","searchPageUrl":"https://www.google.com/maps/search/m%C3%BAsicos/@-15.662808547986222,-55.94019226281817,12z?hl=pt-BR","searchString":"músicos","language":"pt-BR","rank":3,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOYJNT5keZ90zFxFieqk9a3D--Km2qeJx3s0k1h=w408-h544-k-no","kgmid":"/g/11bwd2ks11"}},{"json":{"title":"Escola de Múcisa IGC Cuiabá","price":null,"categoryName":"Escola de Música","address":"R. Cmte. Costa, 190 - Centro, Cuiabá - MT, 78020-400, Brasil","neighborhood":"Centro","street":"R. Cmte. Costa, 190","city":"Cuiabá","postalCode":"78020-400","state":"Mato Grosso","countryCode":"BR","website":"https://www.escolademusicaigc.com/","phone":"+55 65 3359-3481","phoneUnformatted":"+556533593481","claimThisBusiness":false,"location":{"lat":-15.5927016,"lng":-56.0953654},"totalScore":4.8,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJBaq3ypGxnZMR9AbgS0J6XSA","categories":["Escola de Música","Professor de violão","Professor de música","Professor de piano"],"fid":"0x939db191cab7aa05:0x205d7a424be006f4","cid":"2332154607207188212","reviewsCount":58,"imagesCount":42,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:47.224Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Opções de serviço":[{"Aulas on-line":true},{"Serviços no local":true},{"Português":true}],"Acessibilidade":[{"Assento com acessibilidade para pessoas em cadeira de rodas":true},{"Entrada com acessibilidade para pessoas em cadeira de rodas":true},{"Banheiro com acessibilidade para pessoas em cadeira de rodas":false}],"Público":[{"Empresa que acolhe a comunidade LGBTQ+":true},{"Espaço seguro para pessoas transgênero":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Escola%20de%20M%C3%BAcisa%20IGC%20Cuiab%C3%A1&query_place_id=ChIJBaq3ypGxnZMR9AbgS0J6XSA","searchPageUrl":"https://www.google.com/maps/search/m%C3%BAsicos/@-15.662808547986222,-55.94019226281817,12z?hl=pt-BR","searchString":"músicos","language":"pt-BR","rank":4,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPSaQ9IbF714-T5-sKiCIoiX32bFZgh9vY7qOX-=w408-h544-k-no","kgmid":"/g/1yg57vhf9"}},{"json":{"title":"Pentagrama Produção Musical","price":null,"categoryName":"Serviço de Produção de Vídeos","address":"Av. Gen. Mello, 262 - Dom Aquino, Cuiabá - MT, 78015-300, Brasil","neighborhood":"Dom Aquino","street":"Av. Gen. Mello, 262","city":"Cuiabá","postalCode":"78015-300","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99317-7492","phoneUnformatted":"+5565993177492","claimThisBusiness":false,"location":{"lat":-15.6046697,"lng":-56.093855},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJXbTXXiaunZMR2mUWB7OHAyw","categories":["Serviço de Produção de Vídeos","Empresa de organização de eventos","Serviço de soluções de tecnologia para eventos","Escola de Música","Gravadora","Serviço de videoconferência"],"fid":"0x939dae265ed7b45d:0x2c0387b3071665da","cid":"3171527765586765274","reviewsCount":3,"imagesCount":65,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:53.419Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 21:00"},{"day":"quinta-feira","hours":"08:00 to 21:00"},{"day":"sexta-feira","hours":"08:00 to 21:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 21:00"},{"day":"terça-feira","hours":"08:00 to 21:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Pentagrama%20Produ%C3%A7%C3%A3o%20Musical&query_place_id=ChIJXbTXXiaunZMR2mUWB7OHAyw","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.928317043958666,-55.387803811545496,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":11,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOKn-XJrUbuFJTl_VeH_x0eRjLWnMXslhXFloq3=w426-h240-k-no","kgmid":"/g/11clw2k2wn"}},{"json":{"title":"Produtora PRA STAR","price":null,"categoryName":"Escola de Música","address":"R. Pres. Campos Sáles, 464 - Quilombo, Cuiabá - MT, 78045-060, Brasil","neighborhood":"Quilombo","street":"R. Pres. Campos Sáles, 464","city":"Cuiabá","postalCode":"78045-060","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99920-6666","phoneUnformatted":"+5565999206666","claimThisBusiness":false,"location":{"lat":-15.5814925,"lng":-56.0965461},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJhxTGsp6xnZMRRWUKcRKTYyQ","categories":["Escola de Música","Fonoaudiólogo"],"fid":"0x939db19eb2c61487:0x24639312710a6545","cid":"2622101115474961733","reviewsCount":3,"imagesCount":4,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:53.420Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 19:00"},{"day":"quinta-feira","hours":"08:00 to 19:00"},{"day":"sexta-feira","hours":"08:00 to 19:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 19:00"},{"day":"terça-feira","hours":"08:00 to 19:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Aulas on-line":true},{"Serviços no local":true}],"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true},{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Produtora%20PRA%20STAR&query_place_id=ChIJhxTGsp6xnZMRRWUKcRKTYyQ","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.928317043958666,-55.387803811545496,12z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":14,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipN2eg_hyEZy-yh3-H03d49I6XW7k_-W2dtnMJjA=w408-h306-k-no","kgmid":"/g/11bz_z2jf4"}},{"json":{"title":"Nomade assessoria musical","price":null,"categoryName":"Estúdio de gravação","address":"R. Antônio Batista Belém, 65 - Lixeira, Cuiabá - MT, 78008-465, Brasil","neighborhood":"Lixeira","street":"R. Antônio Batista Belém, 65","city":"Cuiabá","postalCode":"78008-465","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99622-1274","phoneUnformatted":"+5565996221274","claimThisBusiness":false,"location":{"lat":-15.5981975,"lng":-56.0871171},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJSxReT7-xnZMR34uxxyNq2Cc","categories":["Estúdio de gravação"],"fid":"0x939db1bf4f5e144b:0x27d86a23c7b18bdf","cid":"2871161464355392479","reviewsCount":0,"imagesCount":10,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:58.061Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"09:00 to 19:00"},{"day":"quinta-feira","hours":"09:00 to 19:00"},{"day":"sexta-feira","hours":"09:00 to 19:00"},{"day":"sábado","hours":"09:00 to 13:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"09:00 to 19:00"},{"day":"terça-feira","hours":"09:00 to 19:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Serviços no local":true}],"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Nomade%20assessoria%20musical&query_place_id=ChIJSxReT7-xnZMR34uxxyNq2Cc","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":11,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipMBmWvHvdHp3w4ol-MjOZbp710xs_ZkMEggOQ6g=w408-h306-k-no","kgmid":"/g/11g8782rc4"}},{"json":{"title":"Estúdio Podcast Patio Cuiabá","price":null,"categoryName":"Estúdio de gravação","address":"Rua 24 de Outubro, 520 - Centro Norte, Cuiabá - MT, 78005-330, Brasil","neighborhood":"Centro Norte","street":"Rua 24 de Outubro, 520","city":"Cuiabá","postalCode":"78005-330","state":"Mato Grosso","countryCode":"BR","website":"http://www.instagram.com/patioestudio","phone":"+55 65 99920-7108","phoneUnformatted":"+5565999207108","claimThisBusiness":false,"location":{"lat":-15.5937223,"lng":-56.1021519},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ48HqLXixnZMRjtdZcTnHfqw","categories":["Estúdio de gravação"],"fid":"0x939db1782deac1e3:0xac7ec7397159d78e","cid":"12429591071117924238","reviewsCount":0,"imagesCount":3,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:58.061Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"Atendimento 24 horas"},{"day":"quinta-feira","hours":"Atendimento 24 horas"},{"day":"sexta-feira","hours":"Atendimento 24 horas"},{"day":"sábado","hours":"Atendimento 24 horas"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"Atendimento 24 horas"},{"day":"terça-feira","hours":"Atendimento 24 horas"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20Podcast%20Patio%20Cuiab%C3%A1&query_place_id=ChIJ48HqLXixnZMRjtdZcTnHfqw","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":12,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=Xr34JJBQZUD7m030jq4eWg&cb_client=search.gws-prod.gps&w=408&h=240&yaw=20.284777&pitch=0&thumbfov=100","kgmid":"/g/11l37cptm3"}},{"json":{"title":"Espaço Toma","price":null,"categoryName":"Estúdio de gravação","address":"Quadra 04, R. Nove, 103 - Jardim Petropolis, Cuiabá - MT, 78070-118, Brasil","neighborhood":"Jardim Petropolis","street":"Quadra 04, R. Nove, 103","city":"Cuiabá","postalCode":"78070-118","state":"MT","countryCode":"BR","phone":"+55 65 99600-9388","phoneUnformatted":"+5565996009388","claimThisBusiness":false,"location":{"lat":-15.6197333,"lng":-56.0710148},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJoUUfg56xnZMRn-KMxIGLMEE","categories":["Estúdio de gravação","Produtor musical"],"fid":"0x939db19e831f45a1:0x41308b81c48ce29f","cid":"4697407800812036767","reviewsCount":4,"imagesCount":7,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:58.062Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 20:00"},{"day":"quinta-feira","hours":"08:00 to 20:00"},{"day":"sexta-feira","hours":"08:00 to 20:00"},{"day":"sábado","hours":"08:00 to 13:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 20:00"},{"day":"terça-feira","hours":"08:00 to 20:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Acessibilidade":[{"Assento com acessibilidade para pessoas em cadeira de rodas":true}],"Comodidades":[{"Banheiro de gênero neutro":true}],"Público":[{"Empresa que acolhe a comunidade LGBTQ+":true},{"Espaço seguro para pessoas transgênero":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Espa%C3%A7o%20Toma&query_place_id=ChIJoUUfg56xnZMRn-KMxIGLMEE","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":19,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNuNR934i5ZILB1AJsSpKhLaqmqgPBzOy1zNvc2=w408-h544-k-no","kgmid":"/g/11bw46y5h9"}},{"json":{"title":"Emerson Rodrigues Fria","price":null,"categoryName":"Estúdio de gravação","address":"R. Primavera, 180 - Dr. Fábio Leite, Cuiabá - MT, 78060-609, Brasil","neighborhood":"Doutor Fábio Leite","street":"R. Primavera, 180","city":"Cuiabá","postalCode":"78060-609","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 3054-5001","phoneUnformatted":"+556530545001","claimThisBusiness":true,"location":{"lat":-15.5725263,"lng":-56.0276316},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJs80oIX-wnZMRGyEBdb7JYIs","categories":["Estúdio de gravação"],"fid":"0x939db07f2128cdb3:0x8b60c9be7501211b","cid":"10043248988880183579","reviewsCount":0,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:58.062Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Emerson%20Rodrigues%20Fria&query_place_id=ChIJs80oIX-wnZMRGyEBdb7JYIs","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":20,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=Ib_wOX3Rjb5X0Pb-wCIh1g&cb_client=search.gws-prod.gps&w=408&h=240&yaw=198.14258&pitch=0&thumbfov=100","kgmid":"/g/11b6hr5vpl"}},{"json":{"title":"Start Cast","price":null,"categoryName":"Estúdio de gravação","address":"Av. Gen. Mello - Jardim Tropical, Cuiabá - MT, 78065-290, Brasil","neighborhood":"Jardim Tropical","street":"Av. Gen. Mello","city":"Cuiabá","postalCode":"78065-290","state":"Mato Grosso","countryCode":"BR","website":"https://linktr.ee/startcast2","phone":"+55 65 99221-7492","phoneUnformatted":"+5565992217492","claimThisBusiness":false,"location":{"lat":-15.6199819,"lng":-56.0796715},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJEQ2yXJqvnZMRyY7Qk77_WfM","categories":["Estúdio de gravação"],"fid":"0x939daf9a5cb20d11:0xf359ffbe93d08ec9","cid":"17535327818132524745","reviewsCount":0,"imagesCount":13,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:59.162Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"Atendimento 24 horas"},{"day":"quinta-feira","hours":"Atendimento 24 horas"},{"day":"sexta-feira","hours":"Atendimento 24 horas"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"Atendimento 24 horas"},{"day":"terça-feira","hours":"Atendimento 24 horas"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}],"Estacionamento":[{"Estacionamento no local":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Start%20Cast&query_place_id=ChIJEQ2yXJqvnZMRyY7Qk77_WfM","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":39,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNJTqK_dvd4kbe4wCf_Go6V6wu4yhm9shng7-14=w408-h725-k-no","kgmid":"/g/11x0qcpl3g"}},{"json":{"title":"HB17 Record","price":null,"categoryName":"Estúdio de gravação","address":"R. Comendador Henrique, 1171 - Dom Aquino, Cuiabá - MT, 78015-050 - Dom Aquino, Cuiabá - MT, 78015-050, Brasil","neighborhood":"Dom Aquino","street":"R. Comendador Henrique, 1171 - Dom Aquino, Cuiabá - MT, 78015-050","city":"Cuiabá","postalCode":"78015-050","state":"MT","countryCode":"BR","website":"https://youtube.com/@hb17mt?si=_04vbMmPcZ0Q3IMH","phone":"+55 65 98116-9585","phoneUnformatted":"+5565981169585","claimThisBusiness":false,"location":{"lat":-15.61072,"lng":-56.0909275},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJB8gwLQCxnZMRBuWmntBCHFo","categories":["Estúdio de gravação"],"fid":"0x939db1002d30c807:0x5a1c42d09ea6e506","cid":"6493138226543781126","reviewsCount":0,"imagesCount":null,"imageCategories":[],"scrapedAt":"2025-10-01T10:06:59.162Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"07:00 to 17:00"},{"day":"quinta-feira","hours":"07:00 to 17:00"},{"day":"sexta-feira","hours":"07:00 to 17:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"07:00 to 17:00"},{"day":"terça-feira","hours":"07:00 to 17:00"}],"additionalOpeningHours":{"Horário de atendimento on-line":[{"day":"quarta-feira","hours":"Fechado"},{"day":"quinta-feira","hours":"Fechado"},{"day":"sexta-feira","hours":"Fechado"},{"day":"sábado","hours":"17:00–22:00"},{"day":"domingo","hours":"17:00–22:00"},{"day":"segunda-feira","hours":"Fechado"},{"day":"terça-feira","hours":"Fechado"}]},"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Pagamentos":[{"Cartão de débito":true},{"Pagamentos por dispositivo móvel via NFC":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=HB17%20Record&query_place_id=ChIJB8gwLQCxnZMRBuWmntBCHFo","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":40,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPuCHTYmuvVY-x1hYD36XlUut-QKYbYI5pzv56k=w426-h240-k-no","kgmid":"/g/11wvtf9tzc"}},{"json":{"title":"Sinta Music","price":null,"categoryName":"Estúdio de gravação","address":"R. Tabatinga - Novo Terceiro, Cuiabá - MT, 78028-350, Brasil","neighborhood":"Novo Terceiro","street":"R. Tabatinga","city":"Cuiabá","postalCode":"78028-350","state":"Mato Grosso","countryCode":"BR","website":"http://www.sintamusic.com/","phone":"+55 65 99214-6332","phoneUnformatted":"+5565992146332","claimThisBusiness":false,"location":{"lat":-15.6125265,"lng":-56.1284737},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJtdlAg2mznZMRybGv1_NQ1YY","categories":["Estúdio de gravação","Produtor musical","Gravadora"],"fid":"0x939db3698340d9b5:0x86d550f3d7afb1c9","cid":"9715760779347603913","reviewsCount":0,"imagesCount":7,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.342Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 23:00"},{"day":"quinta-feira","hours":"08:00 to 23:00"},{"day":"sexta-feira","hours":"08:00 to 23:00"},{"day":"sábado","hours":"08:00 to 18:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 23:00"},{"day":"terça-feira","hours":"08:00 to 23:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Sinta%20Music&query_place_id=ChIJtdlAg2mznZMRybGv1_NQ1YY","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.574294566666666,-56.08537049999999,12.948734910042457z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":40,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/gps-cs-s/AC9h4npJ5N63b5cEzn1XguFHwn3fAjEtgFB-nZDYAnyj3gyovRkLZmDKTuvpnAWVI_3NcpXK2I5ThF-xJOEImsLMD9_DTQSi4t_vHkh8U5sfPG0rAhG7q8839lcKBmhqYxvkZCaA3kkl=w408-h242-k-no","kgmid":"/g/11jz6_8y81"}},{"json":{"title":"sempressa","price":null,"categoryName":"Estúdio de gravação","address":"R. Maj. Gama, 615 - Centro Sul, Cuiabá - MT, 78020-170, Brasil","neighborhood":"Centro Sul","street":"R. Maj. Gama, 615","city":"Cuiabá","postalCode":"78020-170","state":"Mato Grosso","countryCode":"BR","claimThisBusiness":false,"location":{"lat":-15.6074114,"lng":-56.1006989},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJDch4vQixnZMRju5-XbnUvUY","categories":["Estúdio de gravação"],"fid":"0x939db108bd78c80d:0x46bdd4b95d7eee8e","cid":"5097464245855907470","reviewsCount":0,"imagesCount":2,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=sempressa&query_place_id=ChIJDch4vQixnZMRju5-XbnUvUY","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":41,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=z6BlVB2SBTqfUuIwVzh9aA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=200.70345&pitch=0&thumbfov=100","kgmid":"/g/11x8jz6g2v"}},{"json":{"title":"Phablo Mix","price":null,"categoryName":"Estúdio de gravação","address":"Av. das Palmeiras - Jardim Imperial, Cuiabá - MT, 78075-850, Brasil","neighborhood":"Jardim Imperial","street":"Av. das Palmeiras","city":"Cuiabá","postalCode":"78075-850","state":"Mato Grosso","countryCode":"BR","website":"https://www.instagram.com/phablomix","phone":"+55 65 99222-0150","phoneUnformatted":"+5565992220150","claimThisBusiness":false,"location":{"lat":-15.6117074,"lng":-56.0183867},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ13GSQpWxnZMRlWdBTD6e5-4","categories":["Estúdio de gravação"],"fid":"0x939db195429271d7:0xeee79e3e4c416795","cid":"17214902091051526037","reviewsCount":0,"imagesCount":4,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 17:00"},{"day":"quinta-feira","hours":"08:00 to 17:00"},{"day":"sexta-feira","hours":"08:00 to 17:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 17:00"},{"day":"terça-feira","hours":"08:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Phablo%20Mix&query_place_id=ChIJ13GSQpWxnZMRlWdBTD6e5-4","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":43,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOYawXamn6spJhU7k5XMdDOyeWj6hEcyYYoFvNZ=w408-h612-k-no","kgmid":"/g/11v144015v"}},{"json":{"title":"Estúdio Transmute - Podcasts, Eventos, Lives, Cursos e Treinamentos.","price":null,"categoryName":"Estúdio de gravação","address":"R. das Papoulas, 412 - anexo B - Jardim Cuiaba, Cuiabá - MT, 78043-138, Brasil","neighborhood":"Jardim Cuiaba","street":"R. das Papoulas, 412 - anexo B","city":"Cuiabá","postalCode":"78043-138","state":"Mato Grosso","countryCode":"BR","website":"http://www.trasmutepro.com.br/","phone":"+55 65 99900-9010","phoneUnformatted":"+5565999009010","claimThisBusiness":false,"location":{"lat":-15.5971959,"lng":-56.1151631},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ89F4LgWznZMR1zcnsUowRQ8","categories":["Estúdio de gravação","Serviço de videoconferência","Serviço de Produção de Vídeos"],"fid":"0x939db3052e78d1f3:0xf45304ab12737d7","cid":"1100338781319804887","reviewsCount":1,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":1},"imagesCount":29,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}],"Estacionamento":[{"Estacionamento gratuito na rua":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20Transmute%20-%20Podcasts%2C%20Eventos%2C%20Lives%2C%20Cursos%20e%20Treinamentos.&query_place_id=ChIJ89F4LgWznZMR1zcnsUowRQ8","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":44,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPaTPb2tNPk6XxEtQQWMvizRQyCa-BJI7rvtCYx=w408-h257-k-no","kgmid":"/g/11m693p1cf"}},{"json":{"title":"ON Estúdio","price":null,"categoryName":"Produtor musical","address":"Av. Gen. Mello, 348A - Sala 06 - Dom Aquino, Cuiabá - MT, 78015-300, Brasil","neighborhood":"Dom Aquino","street":"Av. Gen. Mello, 348A - Sala 06","city":"Cuiabá","postalCode":"78015-300","state":"Mato Grosso","countryCode":"BR","website":"https://www.instagram.com/onestudioofc/","phone":"+55 65 98147-1198","phoneUnformatted":"+5565981471198","claimThisBusiness":false,"location":{"lat":-15.6053084,"lng":-56.0931198},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJdRD3n16xnZMRgbT6ua77U2s","categories":["Produtor musical"],"fid":"0x939db15e9ff71075:0x6b53fbaeb9fab481","cid":"7733801712988370049","reviewsCount":0,"imagesCount":7,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 00:00"},{"day":"quinta-feira","hours":"08:00 to 00:00"},{"day":"sexta-feira","hours":"08:00 to 00:00"},{"day":"sábado","hours":"09:00 to 15:00"},{"day":"domingo","hours":"08:00 to 11:00"},{"day":"segunda-feira","hours":"08:00 to 00:00"},{"day":"terça-feira","hours":"08:00 to 00:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=ON%20Est%C3%BAdio&query_place_id=ChIJdRD3n16xnZMRgbT6ua77U2s","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":45,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNAEYbeVve3HkUZiZ-4T3uVpJ9xD1vTMuxHHc9B=w408-h306-k-no","kgmid":"/g/11tgggwkgv"}},{"json":{"title":"Pineto Studio Digital","price":null,"categoryName":"Editora musical","address":"R. João Bento, 551 - Quilombo, Cuiabá - MT, 78045-190, Brasil","neighborhood":"Quilombo","street":"R. João Bento, 551","city":"Cuiabá","postalCode":"78045-190","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99992-8962","phoneUnformatted":"+5565999928962","claimThisBusiness":false,"location":{"lat":-15.5892925,"lng":-56.1038394},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJuehtgJCxnZMRJWXcOPEQkDo","categories":["Editora musical"],"fid":"0x939db190806de8b9:0x3a9010f138dc6525","cid":"4219891479073285413","reviewsCount":1,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":1},"imagesCount":4,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Acessibilidade":[{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Pineto%20Studio%20Digital&query_place_id=ChIJuehtgJCxnZMRJWXcOPEQkDo","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":46,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=43dGuR7oX3mXmQN0lk1CnA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=211.09221&pitch=0&thumbfov=100","kgmid":"/g/1tg51hxx"}},{"json":{"title":"Estúdio JF Arte Musical","price":null,"categoryName":"Professor de música","address":"R. E Cpa IV - Jardim Brasil, Cuiabá - MT, 78052-528, Brasil","neighborhood":"Jardim Brasil","street":"R. E Cpa IV","city":"Cuiabá","postalCode":null,"state":"Mato Grosso","countryCode":"BR","claimThisBusiness":true,"location":{"lat":-15.5662243,"lng":-56.0311327},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJM7Ez6aKxnZMRUAq_hzANJtk","categories":["Professor de música"],"fid":"0x939db1a2e933b133:0xd9260d3087bf0a50","cid":"15647208457432402512","reviewsCount":0,"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Est%C3%BAdio%20JF%20Arte%20Musical&query_place_id=ChIJM7Ez6aKxnZMRUAq_hzANJtk","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":47,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=kVPDnkczz3fkxrWj-icENA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=130.72408&pitch=0&thumbfov=100","kgmid":"/g/11mr0f8p_3"}},{"json":{"title":"CreatorsLab","price":null,"categoryName":"Estúdio de gravação","address":"Edificio Dr Bené - Av. Pres. Getúlio Vargas, 500 - Sala 25 - Popular, Cuiabá - MT, 78045-490, Brasil","neighborhood":"Popular","street":"Edificio Dr Bené - Av. Pres. Getúlio Vargas, 500 - Sala 25","city":"Cuiabá","postalCode":"78045-490","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99247-6236","phoneUnformatted":"+5565992476236","claimThisBusiness":false,"location":{"lat":-15.5935,"lng":-56.1017928},"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ6xnhoA-xnZMRenqR8x6Gytc","categories":["Estúdio de gravação","Agência de Marketing","Consultoria em Marketing"],"fid":"0x939db10fa0e119eb:0xd7ca861ef3917a7a","cid":"15549388130943597178","reviewsCount":0,"imagesCount":7,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.425Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"09:00 to 17:00"},{"day":"quinta-feira","hours":"09:00 to 17:00"},{"day":"sexta-feira","hours":"09:00 to 17:00"},{"day":"sábado","hours":"Fechado"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"09:00 to 17:00"},{"day":"terça-feira","hours":"09:00 to 17:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Acessibilidade":[{"Assento com acessibilidade para pessoas em cadeira de rodas":true}],"Comodidades":[{"Banheiro de gênero neutro":true},{"Wi-Fi":true},{"Wi-Fi gratuito":true}],"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=CreatorsLab&query_place_id=ChIJ6xnhoA-xnZMRenqR8x6Gytc","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":48,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOiTYwT7L3pZOtJY6JsmNu3tOMeJvaGVActbY_F=w408-h723-k-no","kgmid":"/g/11y6bjb0pl"}},{"json":{"title":"Up Music Cuiabá","price":null,"categoryName":"Escola de Música","address":"R. Cmte. Costa, 2191 - Centro Sul, Cuiabá - MT, 78005-400, Brasil","neighborhood":"Centro Sul","street":"R. Cmte. Costa, 2191","city":"Cuiabá","postalCode":"78005-400","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99300-1211","phoneUnformatted":"+5565993001211","claimThisBusiness":false,"location":{"lat":-15.6057584,"lng":-56.1078901},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJL5DFG0exnZMRtTmMs6CBiKA","categories":["Escola de Música"],"fid":"0x939db1471bc5902f:0xa08881a0b38c39b5","cid":"11567638170108180917","reviewsCount":1,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":1},"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"07:00 to 22:00"},{"day":"quinta-feira","hours":"07:00 to 22:00"},{"day":"sexta-feira","hours":"07:00 to 22:00"},{"day":"sábado","hours":"07:00 to 22:00"},{"day":"domingo","hours":"07:00 to 22:00"},{"day":"segunda-feira","hours":"07:00 to 22:00"},{"day":"terça-feira","hours":"07:00 to 22:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Up%20Music%20Cuiab%C3%A1&query_place_id=ChIJL5DFG0exnZMRtTmMs6CBiKA","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":49,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPtfWI5iYY6kebZ0uDgMNfBWQV0ZzoD01T_yTkU=w408-h295-k-no","kgmid":"/g/11x6lhxzbl"}},{"json":{"title":"Bateras Beat - Unidade 01 - Centro / Quilombo","price":null,"categoryName":"Escola de Música","address":"Av. Sen. Filinto Müller, 829 - Quilombo, Cuiabá - MT, 78043-409, Brasil","neighborhood":"Quilombo","street":"Av. Sen. Filinto Müller, 829","city":"Cuiabá","postalCode":"78043-409","state":"Mato Grosso","countryCode":"BR","website":"http://www.baterasbeatcuiaba.com.br/","phone":"+55 65 99994-6505","phoneUnformatted":"+5565999946505","claimThisBusiness":false,"location":{"lat":-15.5895008,"lng":-56.1066704},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJKwOJ_oSxnZMRFJDJMyj_n_g","categories":["Escola de Música"],"fid":"0x939db184fe89032b:0xf89fff2833c99014","cid":"17915318390835744788","reviewsCount":115,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":1,"fourStar":1,"fiveStar":113},"imagesCount":173,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 20:30"},{"day":"quinta-feira","hours":"08:00 to 20:30"},{"day":"sexta-feira","hours":"08:00 to 20:30"},{"day":"sábado","hours":"08:00 to 13:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 21:30"},{"day":"terça-feira","hours":"08:00 to 20:30"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Aulas on-line":true}],"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true},{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Bateras%20Beat%20-%20Unidade%2001%20-%20Centro%20%2F%20Quilombo&query_place_id=ChIJKwOJ_oSxnZMRFJDJMyj_n_g","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":50,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPUjNj1sGwHTvl0uy1-rKUtXa6-SWyBMBMCcG3P=w432-h240-k-no","kgmid":"/g/11b6ggl7n5"}},{"json":{"title":"JF Arte Musical - Aulas de música e produção musical","price":null,"categoryName":"Escola de Música","address":"R. L, casa 6, quadra 29 - Jardim Brasil, Cuiabá - MT, 78052-516, Brasil","neighborhood":"Jardim Brasil","street":"R. L, casa 6, quadra 29","city":"Cuiabá","postalCode":"78052-516","state":"Mato Grosso","countryCode":"BR","website":"https://wa.me/5565992778522","phone":"+55 65 99277-8522","phoneUnformatted":"+5565992778522","claimThisBusiness":false,"location":{"lat":-15.5620692,"lng":-56.0298818},"totalScore":4.9,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJy9TZF9yxnZMRPVm_ZSoR0bo","categories":["Escola de Música","Professor de violão","Professor de música","Produtor musical","Professor de piano","Aulas particulares"],"fid":"0x939db1dc17d9d4cb:0xbad1112a65bf593d","cid":"13461559634980460861","reviewsCount":18,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":1,"fiveStar":17},"imagesCount":11,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"07:00 to 18:00"},{"day":"quinta-feira","hours":"07:00 to 18:00"},{"day":"sexta-feira","hours":"07:00 to 18:00"},{"day":"sábado","hours":"07:00 to 18:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"07:00 to 18:00"},{"day":"terça-feira","hours":"07:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Aulas on-line":true},{"Serviços no local":true},{"Português":true}],"Acessibilidade":[{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true},{"Assento com acessibilidade para pessoas em cadeira de rodas":false},{"Banheiro com acessibilidade para pessoas em cadeira de rodas":false}],"Crianças":[{"Bom para ir com crianças":true}],"Estacionamento":[{"Estacionamento gratuito na rua":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=JF%20Arte%20Musical%20-%20Aulas%20de%20m%C3%BAsica%20e%20produ%C3%A7%C3%A3o%20musical&query_place_id=ChIJy9TZF9yxnZMRPVm_ZSoR0bo","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":51,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipPFSa7H6uDDAV5XeWhm_MdoFcJ0EFaEouzJi2kz=w480-h240-k-no","kgmid":"/g/11rscm9xtw"}},{"json":{"title":"Dj Kids","price":null,"categoryName":"Estúdio de gravação","address":"R. Avestruz, antiga 34 - Quadra58, 08 - Cpa IV, Cuiabá - MT, Brasil","neighborhood":"Cpa IV","street":"R. Avestruz, antiga 34 - Quadra58, 08","city":"Cuiabá","postalCode":null,"state":"Mato Grosso","countryCode":"BR","website":"https://www.djkids.com.br/","claimThisBusiness":true,"location":{"lat":-15.5659892,"lng":-56.0321835},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJX96MfSGxnZMRUgM9mJSg4qM","categories":["Estúdio de gravação"],"fid":"0x939db1217d8cde5f:0xa3e2a094983d0352","cid":"11809177732988601170","reviewsCount":3,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":3},"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Opções de serviço":[{"Entrega":false}],"Pagamentos":[{"Cartão de crédito":true},{"Cartão de débito":true},{"Pagamentos por dispositivo móvel via NFC":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Dj%20Kids&query_place_id=ChIJX96MfSGxnZMRUgM9mJSg4qM","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":52,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=oWByMo885Nb55eGzloGHuA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=105.872154&pitch=0&thumbfov=100","kgmid":"/g/11hdw8_zpy"}},{"json":{"title":"Voz&Melodia / Espaço 6M","price":null,"categoryName":"Professor de música","address":"Av. Fernando Corrêa da Costa, 1296 - Pico do Amor, Cuiabá - MT, 78065-000, Brasil","neighborhood":"Pico do Amor","street":"Av. Fernando Corrêa da Costa, 1296","city":"Cuiabá","postalCode":"78065-000","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99200-4128","phoneUnformatted":"+5565992004128","claimThisBusiness":false,"location":{"lat":-15.6094364,"lng":-56.0793625},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ2_fs4a6xnZMRZyt1GzxfLM4","categories":["Professor de música"],"fid":"0x939db1aee1ecf7db:0xce2c5f3c1b752b67","cid":"14856353982551763815","reviewsCount":44,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":44},"imagesCount":35,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"Fechado"},{"day":"quinta-feira","hours":"09:00 to 19:00"},{"day":"sexta-feira","hours":"13:00 to 20:00"},{"day":"sábado","hours":"09:00 to 16:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"Fechado"},{"day":"terça-feira","hours":"Fechado"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Da empresa":[{"Se identifica como uma empresa de empreendedoras":true}],"Opções de serviço":[{"Aulas on-line":true},{"Serviços no local":true}],"Acessibilidade":[{"Assento com acessibilidade para pessoas em cadeira de rodas":false},{"Banheiro com acessibilidade para pessoas em cadeira de rodas":false}],"Comodidades":[{"Banheiro de gênero neutro":true}],"Crianças":[{"Desconto para famílias":true}],"Estacionamento":[{"Estacionamento descoberto gratuito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Voz%26Melodia%20%2F%20Espa%C3%A7o%206M&query_place_id=ChIJ2_fs4a6xnZMRZyt1GzxfLM4","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":53,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipNvYZTUYb46tM7IHziHTg_m8cGa_j8ujlxW-x28=w408-h726-k-no","kgmid":"/g/11fmv2kqsf"}},{"json":{"title":"Mundo Music Cba","price":null,"categoryName":"Escola de Música","address":"Av. Brasil, 1 487 - Cidade Alta, Cuiabá - MT, 78030-304, Brasil","neighborhood":"Cidade Alta","street":"Av. Brasil, 1 487","city":"Cuiabá","postalCode":"78030-304","state":"Mato Grosso","countryCode":"BR","website":"https://www.facebook.com/mundomusiccba/","phone":"+55 65 98402-7997","phoneUnformatted":"+5565984027997","claimThisBusiness":true,"location":{"lat":-15.6052847,"lng":-56.1182467},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJB2wfXEexnZMRbp9VZZJpH0w","categories":["Escola de Música"],"fid":"0x939db1475c1f6c07:0x4c1f699265559f6e","cid":"5485218948646805358","reviewsCount":2,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":2},"imagesCount":2,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"09:00 to 17:30"},{"day":"quinta-feira","hours":"09:00 to 17:30"},{"day":"sexta-feira","hours":"09:00 to 17:30"},{"day":"sábado","hours":"13:30 to 15:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"09:00 to 17:30"},{"day":"terça-feira","hours":"09:00 to 17:30"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Mundo%20Music%20Cba&query_place_id=ChIJB2wfXEexnZMRbp9VZZJpH0w","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":54,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=_9X4Fp2gKDr_dQxpSUtR1w&cb_client=search.gws-prod.gps&w=408&h=240&yaw=117.7016&pitch=0&thumbfov=100","kgmid":"/g/11g0h0nzd4"}},{"json":{"title":"Quartel General - SM","price":null,"categoryName":"Estúdio de gravação","address":"Rua Alyrio Hugne de Mattos, 827 - Araes, Cuiabá - MT, 78005-570, Brasil","neighborhood":"Araes","street":"Rua Alyrio Hugne de Mattos, 827","city":"Cuiabá","postalCode":null,"state":"Mato Grosso","countryCode":"BR","website":"https://www.facebook.com/saudosamalocarap/","phone":"+55 65 99934-3764","phoneUnformatted":"+5565999343764","claimThisBusiness":true,"location":{"lat":-15.5863169,"lng":-56.0916257},"totalScore":5,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ9z0wd6KxnZMRh_Hlq6TDoUg","categories":["Estúdio de gravação"],"fid":"0x939db1a277303df7:0x48a1c3a4abe5f187","cid":"5233679354007253383","reviewsCount":1,"reviewsDistribution":{"oneStar":0,"twoStar":0,"threeStar":0,"fourStar":0,"fiveStar":1},"imagesCount":1,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 18:00"},{"day":"quinta-feira","hours":"08:00 to 18:00"},{"day":"sexta-feira","hours":"08:00 to 18:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 18:00"},{"day":"terça-feira","hours":"08:00 to 18:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Pagamentos":[{"Cartão de débito":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Quartel%20General%20-%20SM&query_place_id=ChIJ9z0wd6KxnZMRh_Hlq6TDoUg","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":55,"isAdvertisement":false,"imageUrl":"https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=46NXZpS6K9GV_xRn0IIQxQ&cb_client=search.gws-prod.gps&w=408&h=240&yaw=350.10352&pitch=0&thumbfov=100","kgmid":"/g/11fy2vknzp"}},{"json":{"title":"Bateras Beat Unidade 02 - Jardim das Américas","price":null,"categoryName":"Escola de Música","address":"Rua La Paz, 546 - Jardim das Américas, Cuiabá - MT, 78060-599, Brasil","neighborhood":"Jardim das Américas","street":"Rua La Paz, 546","city":"Cuiabá","postalCode":"78060-599","state":"Mato Grosso","countryCode":"BR","phone":"+55 65 99350-1091","phoneUnformatted":"+5565993501091","claimThisBusiness":false,"location":{"lat":-15.6094959,"lng":-56.0713181},"totalScore":4.8,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJ7RfsAc2xnZMRVOGAsQsNWds","categories":["Escola de Música"],"fid":"0x939db1cd01ec17ed:0xdb590d0bb180e154","cid":"15805678711107281236","reviewsCount":24,"reviewsDistribution":{"oneStar":1,"twoStar":0,"threeStar":0,"fourStar":1,"fiveStar":22},"imagesCount":22,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:00 to 20:30"},{"day":"quinta-feira","hours":"08:00 to 20:30"},{"day":"sexta-feira","hours":"08:00 to 20:30"},{"day":"sábado","hours":"08:00 to 13:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:00 to 20:30"},{"day":"terça-feira","hours":"08:00 to 20:30"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true},{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Bateras%20Beat%20Unidade%2002%20-%20Jardim%20das%20Am%C3%A9ricas&query_place_id=ChIJ7RfsAc2xnZMRVOGAsQsNWds","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":56,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipOTu3UiC-W-P8kgQBG5rMGzJ2dRUPLC9WbJGEnK=w408-h271-k-no","kgmid":"/g/11lrlt92g3"}},{"json":{"title":"Bebop Música e Treinamento","price":null,"categoryName":"Escola de Música","address":"R. Trinta, 161 - Boa Esperança, Cuiabá - MT, 78020-270, Brasil","neighborhood":"Boa Esperança","street":"R. Trinta, 161","city":"Cuiabá","postalCode":"78020-270","state":"Mato Grosso","countryCode":"BR","website":"https://www.instagram.com/bebopcuiaba/","phone":"+55 65 99215-4822","phoneUnformatted":"+5565992154822","claimThisBusiness":false,"location":{"lat":-15.6163605,"lng":-56.0694806},"totalScore":4.8,"permanentlyClosed":false,"temporarilyClosed":false,"placeId":"ChIJzd7jiiqwnZMRKCLoURz9mL4","categories":["Escola de Música"],"fid":"0x939db02a8ae3decd:0xbe98fd1c51e82228","cid":"13734005361741406760","reviewsCount":28,"reviewsDistribution":{"oneStar":1,"twoStar":0,"threeStar":0,"fourStar":2,"fiveStar":25},"imagesCount":246,"imageCategories":[],"scrapedAt":"2025-10-01T10:07:00.426Z","googleFoodUrl":null,"hotelAds":[],"openingHours":[{"day":"quarta-feira","hours":"08:30 to 21:00"},{"day":"quinta-feira","hours":"08:30 to 21:00"},{"day":"sexta-feira","hours":"08:30 to 18:00"},{"day":"sábado","hours":"08:00 to 12:00"},{"day":"domingo","hours":"Fechado"},{"day":"segunda-feira","hours":"08:30 to 21:00"},{"day":"terça-feira","hours":"08:30 to 21:00"}],"peopleAlsoSearch":[],"placesTags":[],"reviewsTags":[],"additionalInfo":{"Acessibilidade":[{"Entrada com acessibilidade para pessoas em cadeira de rodas":true},{"Estacionamento com acessibilidade para pessoas em cadeira de rodas":true}],"Crianças":[{"Bom para ir com crianças":true}]},"gasPrices":[],"url":"https://www.google.com/maps/search/?api=1&query=Bebop%20M%C3%BAsica%20e%20Treinamento&query_place_id=ChIJzd7jiiqwnZMRKCLoURz9mL4","searchPageUrl":"https://www.google.com/maps/search/est%C3%BAdios%20de%20m%C3%BAsica/@-15.5884869,-56.0597396,13.948635258494722z?hl=pt-BR","searchString":"estúdios de música","language":"pt-BR","rank":57,"isAdvertisement":false,"imageUrl":"https://lh3.googleusercontent.com/p/AF1QipM8rFAOMkt53stv404YrxzaVuGXCJPoNBkX_N-C=w408-h270-k-no","kgmid":"/g/12qfqqj1c"}}]},"versionId":"0974e6a3-bd1f-42af-bdcc-db2742a178e0","triggerCount":0,"shared":[{"createdAt":"2025-08-17T20:36:51.358Z","updatedAt":"2025-08-17T20:36:51.358Z","role":"workflow:owner","workflowId":"UpRI7PoCEFQC9are","projectId":"m4gaRnMghF20dUpc"}],"tags":[{"createdAt":"2025-08-17T20:36:28.368Z","updatedAt":"2025-08-17T20:36:28.368Z","id":"yfMOmrTvk2UcdP2p","name":"Templates"}]}