UpRI7PoCEFQC9are.json
{"createdAt":"2025-08-17T20:36:51.307Z","updatedAt":"2025-08-17T20:48:44.000Z","id":"UpRI7PoCEFQC9are","name":"Disparos em Massa","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items').item.json.novonum }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"Message a model\"].json[\"message\"][\"content\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"9961e979-5cc4-442a-84ec-465880c48073","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,32]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"df2f9a04-9ae9-4403-b726-798246db7bdd","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"62692e80-ce81-42d5-92aa-fc14860d0329","name":"novonum","value":"={{ (() => {\n    const numerosString = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"Numeros\"];\n    const numerosArray = numerosString.split('\\n').filter(num => num !== '');\n    return numerosArray;\n})() }}","type":"array"}]},"options":{}},"id":"cbe5a150-696a-4adc-ac1c-7be2bd798e22","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,160]},{"parameters":{"options":{}},"id":"2d1efd11-3c33-4bba-9f31-5c3a6652e17b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,0]},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"39dbcbef-2804-43e6-a1fa-0d7f9aa439cf","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,32]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code\"].json[\"randomNumber\"] }}"},"id":"8f40974c-b8b4-4d78-8566-38549007951d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,32],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"url\"] }}/message/sendMedia/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items1').item.json.novonum }}"},{"name":"mediatype","value":"image"},{"name":"mimetype","value":"image/png"},{"name":"caption","value":"={{ $item(\"0\").$node[\"OpenAI1\"].json[\"message\"][\"content\"] }}"},{"name":"media","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"arquivo\"] }}"},{"name":"fileName","value":"Imagem.png"}]},"options":{"redirect":{"redirect":{}}}},"id":"4fa990dd-08c5-41ad-bec4-03e8ac2f4ded","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,304]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"30c1c5a4-480b-42fe-8e6e-74ff4b16239e","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,288]},{"parameters":{"options":{}},"id":"f68558a1-10e7-43aa-a516-bfbc1a0b51bd","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,288]},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"ab08c748-cf77-47b7-b791-da38edd3a5fd","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,304]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code1\"].json[\"randomNumber\"] }}"},"id":"96310e59-9525-4378-9eb9-6b2c4f4e599c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,304],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"cc34c6bc-66c8-4c5a-b836-9b5652388ad4","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[480,304],"credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"envio\"] }}","rightValue":"texto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f3271ce-385f-4dce-b681-6a1f5d9235f6","leftValue":"={{ $('Webhook').item.json.body.envio }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"}]},"options":{}},"id":"559b6d2c-48ab-4859-8886-31913cd61f43","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-256,160]},{"parameters":{"httpMethod":"POST","path":"disparo","options":{}},"id":"d448c662-968c-4c82-8b84-b7a73d89e4db","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,160],"webhookId":"51e91d49-351f-40ea-9279-fb8d5725fa81"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items2').item.json.novonum }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"OpenAI2\"].json[\"message\"][\"content\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"c991f325-e441-4292-97db-4f120a6de1bf","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,752]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"c0905c3a-3d52-49f6-9e04-087611b2fe22","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,736]},{"parameters":{"assignments":{"assignments":[{"id":"62692e80-ce81-42d5-92aa-fc14860d0329","name":"novonum","value":"={{ (() => {\n    const numerosString = $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"Numeros\"];\n    const numerosArray = numerosString.split('\\n').filter(num => num !== '');\n    return numerosArray;\n})() }}","type":"array"}]},"options":{}},"id":"4a0cf261-1894-4dfb-8e30-58a355c6db98","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,880]},{"parameters":{"options":{}},"id":"a145e591-5376-4b17-a827-c8c02eae0269","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,736]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"43f42e23-a5aa-441c-9aa0-c1626013566d","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[592,752],"credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"f41cb485-6e9d-45dd-9703-1ad425540469","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,752]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code2\"].json[\"randomNumber\"] }}"},"id":"067431ae-94ff-4db8-9182-ede858a2b757","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,752],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"url\"] }}/message/sendMedia/{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"instancia\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Loop Over Items3').item.json.novonum }}"},{"name":"mediatype","value":"image"},{"name":"mimetype","value":"image/png"},{"name":"caption","value":"={{ $item(\"0\").$node[\"OpenAI3\"].json[\"message\"][\"content\"] }}"},{"name":"media","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"arquivo\"] }}"},{"name":"fileName","value":"Imagem.png"}]},"options":{"redirect":{"redirect":{}}}},"id":"275c907b-6fee-4194-9784-281446702298","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,1040]},{"parameters":{"fieldToSplitOut":"novonum","options":{}},"id":"f11b1ae4-22cf-4bd3-b414-0ceeca7cc0bb","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,1024]},{"parameters":{"options":{}},"id":"9fd131cc-4699-4e10-931e-7a1d931bd775","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,1024]},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 1;\nconst max = 3;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"id":"5602d643-6976-4921-8757-5669dc301a4b","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,1040]},{"parameters":{"amount":"={{ $item(\"0\").$node[\"Code3\"].json[\"randomNumber\"] }}"},"id":"67c19e16-fae7-4f6e-9a5c-8e49e36ec275","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,1040],"webhookId":"46138c81-712b-4cf0-b414-69ad59881350"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"7f17c858-6b45-4e61-a2d0-d5a5a4a268ad","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[592,1040],"credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"envio\"] }}","rightValue":"texto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f3271ce-385f-4dce-b681-6a1f5d9235f6","leftValue":"={{ $('Webhook1').item.json.body.envio }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"}]},"options":{}},"id":"9273d923-e911-470a-8dff-3912f8df5305","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-192,880]},{"parameters":{"httpMethod":"POST","path":"disparo-aula","options":{}},"id":"d05c7e01-3199-43e7-a1f0-a72855ccca68","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,880],"webhookId":"51e91d49-351f-40ea-9279-fb8d5725fa81"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie uma variação do texto: \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"Mensagem\"] }}\", mantenha exatamente o mesmo sentido, acrescente emojis. Sua resposta deve ser apenas o texto editado!"}]},"options":{}},"id":"a90bf7e1-b5f6-4af8-a04b-96256da6b24c","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[464,32],"credentials":{"openAiApi":{"id":"gXLlE697ucUUeR4E","name":"OpenAi account"}}},{"parameters":{"promptType":"define","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1440,208],"id":"a4c03100-e67b-4162-92c7-843331f316e8","name":"Basic LLM Chain"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1504,416],"id":"5ae60451-6615-4a20-a7c3-0c665f175023","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}}}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Message a model","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"OpenAI1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Split Out1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"OpenAI3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Split Out2","type":"main","index":0}],[{"node":"Split Out3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"249a4d4a-672f-41f4-92e8-d13390a21be2","triggerCount":0,"tags":[{"createdAt":"2025-08-17T20:36:28.368Z","updatedAt":"2025-08-17T20:36:28.368Z","id":"yfMOmrTvk2UcdP2p","name":"Templates"}]}