UZLDShDelaeblvhd.json
{"createdAt":"2025-06-08T18:01:46.100Z","updatedAt":"2025-06-08T18:01:46.100Z","id":"UZLDShDelaeblvhd","name":"ChatterBox TTS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[600,340],"id":"6e6e2945-0b48-4a6c-829e-113cd4e35a79","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8004/v1/audio/speech","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"tts-1\",\n  \"input\": \"{{ $json.text }}\",\n  \"voice\": \"Jade.wav\",\n  \"response_format\": \"wav\",\n  \"speed\": 1,\n  \"seed\": 0\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,100],"id":"acc03a42-c5b4-41c0-91fa-017003b0c08d","name":"OpenAI End Point","notesInFlow":true,"notes":"/v1/audio/speech"},{"parameters":{"url":"http://host.docker.internal:8004/get_predefined_voices","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,-80],"id":"35b33372-3d69-46f6-a64c-e5343fb2c90b","name":"Get Predefined Voices","notesInFlow":true,"notes":"/get_predefined_voices"},{"parameters":{"url":"http://host.docker.internal:8004/get_reference_files","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,100],"id":"0db6d60f-5818-4ce3-8fc2-8802db212e10","name":"Get Reference Files","notesInFlow":true,"notes":"/get_reference_files"},{"parameters":{"content":"## Helpers","height":440,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-160],"id":"461374a5-1ecc-4892-8e07-5c8621fc85c0","name":"Sticky Note"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8004/tts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.text }}\",\n  \"voice_mode\": \"clone\",\n  \"predefined_voice_id\": \"Abigail.wav\",\n  \"reference_audio_filename\": \"Gianna.wav\",\n  \"output_format\": \"wav\",\n  \"split_text\": true,\n  \"chunk_size\": 120,\n  \"temperature\": 0.7,\n  \"exaggeration\": 0.4,\n  \"cfg_weight\": 0.5,\n  \"seed\": 0,\n  \"speed_factor\": 1,\n  \"language\": \"en\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,-80],"id":"ff65ee07-360f-48aa-b751-916a4307ccc0","name":"Generate TTS","notesInFlow":true,"notes":"/tts"},{"parameters":{"assignments":{"assignments":[{"id":"7745bbfa-8293-487a-b0b4-dac9ec9b9858","name":"text","value":"=Welcome to chatter box text-to-speech demonstration. This sample is designed to showcase clear and natural voice synthesis, with smooth pacing and pronunciation.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,-80],"id":"4827ff6b-013c-425f-bc02-0d9f6b6e8f01","name":"Text"},{"parameters":{"content":"## TTS Generation","height":440,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,-160],"id":"1c281685-5ca0-491f-8f8d-6dd92f0c3303","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"7745bbfa-8293-487a-b0b4-dac9ec9b9858","name":"text","value":"=Welcome to chatter box text-to-speech demonstration. This sample is designed to showcase clear and natural voice synthesis, with smooth pacing and pronunciation.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,100],"id":"6ef6db23-d15d-419e-9531-83a2c4c3a9e7","name":"Text1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8004/tts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.text }}\",\n  \"voice_mode\": \"predefined\",\n  \"predefined_voice_id\": \"{{ $('Loop Over Items1').item.json.filename }}\",\n  \"reference_audio_filename\": \"string\",\n  \"output_format\": \"wav\",\n  \"split_text\": true,\n  \"chunk_size\": 120,\n  \"temperature\": 0.8,\n  \"exaggeration\": 0.4,\n  \"cfg_weight\": 0.5,\n  \"seed\": 0,\n  \"speed_factor\": 1,\n  \"language\": \"en\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,460],"id":"c41494f3-2341-4685-aed2-25c9e9144959","name":"Generate TTS1","notesInFlow":true,"notes":"/tts"},{"parameters":{"assignments":{"assignments":[{"id":"7745bbfa-8293-487a-b0b4-dac9ec9b9858","name":"text","value":"=Welcome to chatter box text-to-speech demonstration. This sample is designed to showcase clear and natural voice synthesis, with smooth pacing and pronunciation.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,460],"id":"4966080a-58c1-4829-b5b3-ffb4ce96f16c","name":"Text2"},{"parameters":{"url":"http://host.docker.internal:8004/get_predefined_voices","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,440],"id":"dcb8a4db-1c33-4df5-9304-535442f8d7b1","name":"Get Predefined Voices1","notesInFlow":true,"notes":"/get_predefined_voices"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1480,440],"id":"e9acd85b-31b2-4fb3-9664-63fc67a20a81","name":"Loop Over Items1"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1240,440],"id":"9db77548-fd95-407d-9f2a-2ab66f10cd1e","name":"Limit"},{"parameters":{"jsCode":"$input.item.binary.data.fileName = $('Loop Over Items1').first().json.filename\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,460],"id":"5358c84b-8db9-4185-9cd9-e61f6b5b63e8","name":"Set File Name1"},{"parameters":{"content":"## 🗣️ ChatterBox TTS Workflow (Demo)  \nThis n8n workflow showcases several demos using the **ChatterBox TTS** API, including:  \n- 🎤 Retrieving predefined voices via n8n nodes  \n- 🗣️ Using reference voices for voice cloning  \n- 🔊 Basic speech synthesis with selected voices  \n- 🤖 Utilizing the OpenAI TTS endpoint for advanced synthesis  \n\n### 💡 Notes  \n- This workflow is **completely free to use** — feel free to remix, modify, and build on top of it.  \n- Designed for local dev environments (`host.docker.internal`), so adjust endpoints as needed for deployment.  ","height":880,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,-160],"id":"92840661-1a76-4aa5-9121-674fe7903d1e","name":"Sticky Note6"},{"parameters":{"content":"## Generate Speech for all predefined voices","height":420,"width":1480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,300],"id":"322e2bbc-345f-4a2e-b0ef-3add109cb701","name":"Sticky Note2"},{"parameters":{"content":"## Save elevenlabs Voices","height":420,"width":1480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,1180],"id":"0699c0e7-4754-485a-8e8e-4eb7c6e13b99","name":"Sticky Note3"},{"parameters":{},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[1020,1360],"id":"6f23a51f-3fab-41e9-aee2-1b311faabe9b","name":"ElevenLabs1","credentials":{}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,1360],"id":"97f8ed9a-2d0f-40a1-b6ba-e6d6fe8a7573","name":"Loop Over Items"},{"parameters":{"jsCode":"$input.item.binary.data.fileName = $input.first().json.name + '_' + $input.first().json.voice_id + \".\" + $input.item.binary.data.fileExtension\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,1280],"id":"5c72c704-7416-453f-9768-5921686e0957","name":"Set File Name"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2160,1360],"id":"e44a82aa-9be8-470f-9b98-e2e881cf439f","name":"Wait","webhookId":"eaadf041-1d38-42ad-bae0-f1a53da96647"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8004/tts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.text }}\",\n  \"voice_mode\": \"clone\",\n  \"predefined_voice_id\": \"\",\n  \"reference_audio_filename\": \"{{ $('Loop Over Items2').item.json.body }}\",\n  \"output_format\": \"wav\",\n  \"split_text\": true,\n  \"chunk_size\": 120,\n  \"temperature\": 0.8,\n  \"exaggeration\": 0.4,\n  \"cfg_weight\": 0.5,\n  \"seed\": 0,\n  \"speed_factor\": 1,\n  \"language\": \"en\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,840],"id":"a21f8a1e-2013-4b5d-96fc-f3f1eafea74a","name":"Generate TTS2","notesInFlow":true,"notes":"/tts"},{"parameters":{"assignments":{"assignments":[{"id":"7745bbfa-8293-487a-b0b4-dac9ec9b9858","name":"text","value":"=Welcome to chatter box text-to-speech demonstration. This sample is designed to showcase clear and natural voice synthesis, with smooth pacing and pronunciation.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,840],"id":"5d5597a7-6613-4c98-8f41-5d7443aa3fda","name":"Text3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1660,840],"id":"b9124e53-0bcf-4a3b-a00c-6d7ab5deff78","name":"Loop Over Items2"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1440,920],"id":"394c8153-345f-4dc6-83ce-104ecfeddeff","name":"Limit1"},{"parameters":{"jsCode":"$input.item.binary.data.fileName = $('Loop Over Items2').first().json.body\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,920],"id":"31d4c1f8-b61a-457d-9752-9714583b75c8","name":"Set File Name2"},{"parameters":{"content":"## Generate Speech for all reference voices","height":420,"width":1540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,740],"id":"e5fd075c-785f-4d8d-ace1-c82cc77b828b","name":"Sticky Note4"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1220,920],"id":"e47494cd-9dc9-4159-8e13-c3fc6b3d648c","name":"Split Out"},{"parameters":{"url":"={{ $json.preview_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,1280],"id":"94f949c4-d18f-4001-a5eb-17d368e90ff8","name":"Download Audio"},{"parameters":{"url":"http://host.docker.internal:8004/get_reference_files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,920],"id":"6c98c9f1-e2c1-4c99-8a23-e7d1987b8b7d","name":"Get Reference Voices","notesInFlow":true,"notes":"/get_reference_files"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8004/upload_reference","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,1280],"id":"be7f6d18-970f-420e-9c5a-197e5a1930f7","name":"Upload Reference","notes":"/upload_reference"}],"connections":{"Text":{"main":[[{"node":"Generate TTS","type":"main","index":0}]]},"Text1":{"main":[[{"node":"OpenAI End Point","type":"main","index":0}]]},"Text2":{"main":[[{"node":"Generate TTS1","type":"main","index":0}]]},"Get Predefined Voices1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Text2","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Generate TTS1":{"main":[[{"node":"Set File Name1","type":"main","index":0}]]},"Set File Name1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download Audio","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set File Name":{"main":[[{"node":"Upload Reference","type":"main","index":0}]]},"Generate TTS2":{"main":[[{"node":"Set File Name2","type":"main","index":0}]]},"Text3":{"main":[[{"node":"Generate TTS2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Text3","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Set File Name2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Set File Name","type":"main","index":0}]]},"Get Reference Voices":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Upload Reference":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c3cded05-89fb-4654-99ba-b6933bed873d","triggerCount":0,"tags":[]}