y7yIkbGeNCpaV9Hm.json
{"createdAt":"2025-08-13T22:30:38.898Z","updatedAt":"2025-08-24T15:59:03.000Z","id":"y7yIkbGeNCpaV9Hm","name":"Secretaria Lucão","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $('Info').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"4ca9226f-0401-49a7-93a1-8aeaf4b0bb79","leftValue":"={{ $('Info').item.json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.telefone }}","rightValue":"553497678732","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1712,720],"id":"04b04411-b378-468b-b1e4-45748c6bdce7","name":"Mensagem chegando?"},{"parameters":{"httpMethod":"POST","path":"240b36f9-9d6d-4946-864b-8b681f3ec906","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1152,720],"id":"6115065c-12e1-4843-bb77-d29874e906b0","name":"Mensagem recebida","webhookId":"240b36f9-9d6d-4946-864b-8b681f3ec906"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,720],"id":"603c9bfa-6af2-4073-8141-daa1ec57d95a","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2672,720],"id":"032d6812-8d5c-4938-9049-a6ac1d64ed03","name":"Buscar mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,720],"id":"c2108ce8-77dc-41b9-858c-594d5dd4013c","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3088,720],"id":"bac9414f-f3d1-4a96-a981-6457d644eea2","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"content":"Evolution não permite disparar evento de \"Digitando...\" de forma assíncrona, então usamos um workflow paralelo.","height":180,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3616,880],"id":"3b8d630b-86ad-4c34-982d-3bc04adcac68","name":"Sticky Note1"},{"parameters":{"content":"# Processando mensagens encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n","height":500,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,528],"id":"4f4ae0df-9573-4168-9801-a15807e7a5ff","name":"Sticky Note2"},{"parameters":{"amount":16},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2448,720],"id":"37dcb054-60c8-4c55-95ed-d0dee6808994","name":"Esperar","webhookId":"2da4ca1d-5944-431c-8c8e-248231af4d41"},{"parameters":{"content":"# Gerando resposta","height":500,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,528],"id":"059825da-b5c3-4205-91cd-cfc44775ec41","name":"Sticky Note3"},{"parameters":{"content":"# Enviando resposta","height":500,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5872,528],"id":"e60a3d56-966a-4cdf-8d41-82bcdcef7f53","name":"Sticky Note4"},{"parameters":{"content":"# Tratando input\n\nImplementação de etiquetas do Evolution API não é muito fácil de utilizar, portanto funcionalidade de \"agente off\" fica difícil de implementar.\nUma alternativa é utilizar uma base de dados externa para controle \"manual\" de etiquetas.","height":500,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1072,528],"id":"29c90cdb-1776-4c97-80cd-03f16b5d04fa","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1984,720],"id":"a52f88c8-1126-4c9a-a9ed-64530e355a95","name":"Tipo de mensagem"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').item.json.instancia }}","messageId":"={{ $('Info').item.json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2336,1152],"id":"dfbbbfb3-2b20-4098-b1f0-a616dcbc1eaf","name":"Download áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2944,1152],"id":"41840e89-9ca0-47f7-9848-68ba073ee4bd","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"content":"# Processando áudio","height":320,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,1056],"id":"315f8d99-b1c2-49d7-af01-5d1997bc5704","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"composing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,720],"id":"6816a9b5-359b-4440-9502-2927ec62558d","name":"Digitando async"},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"recording"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,1152],"id":"b21e0b34-35f6-4da1-8643-ae086cec507b","name":"Gravando async"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5984,832],"id":"c7d5ddf8-abd5-4139-bb0e-167f25f60766","name":"Resetar status","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5984,656],"id":"064f5f56-dc6d-4524-a93a-e328a7137d86","name":"Resetar status1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[5712,832],"id":"d4e36beb-3f48-4558-8449-61886e5b0864","name":"Converter áudio para base64"},{"parameters":{"content":"Waveform nem sempre funciona no Evolution. Requer formato de áudio específico","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6208,560],"id":"1f8a9a66-c465-48bd-a89e-38ba24ae88a7","name":"Sticky Note"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Info').item.json.id_mensagem }}","fromMe":"={{ $('Info').item.json.fromMe }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3312,1152],"id":"a029e284-14cb-481c-9fad-31cd3ba2f852","name":"Marcar como lida","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"content":"Para testar, recomendado incluir seu telefone no filtro.\n\nDessa forma, o agente não vai responder outras pessoas.","height":140,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1616,848],"id":"e1f9ff29-df01-47fa-a4be-099d837a7b9d","name":"Sticky Note8"},{"parameters":{"sseEndpoint":"<cole a URL do seu MCP>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[4512,896],"id":"f0d73210-5a5f-4795-81d0-b099bf96a5ba","name":"MCP Google Calendar"},{"parameters":{"content":"Usado HTTP request devido limitação do community node do Evolution, que só permite marcar como lida 1 mensagem de cada vez (ver no fluxo de áudio abaixo).\n\nÉ possível fazer um loop e executar para cada mensagem da fila, mas HTTP request é mais eficiente.","height":180,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3264,880],"id":"02e36850-4d12-4cc4-ab88-af48cb869452","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"readMessages\": {{ JSON.stringify($('Buscar mensagens').all().map(mensagem => \n    { \n      const { id_mensagem, telefone } = mensagem.json\n      return { id: id_mensagem, remoteJid: telefone + '@s.whatsapp.net', fromMe: false }\n    }))\n  }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,720],"id":"cfeaea32-9493-43e2-8e54-c4fcf0165b29","name":"Marcar como lidas","executeOnce":true,"credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"","mode":"list"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[4656,896],"id":"670b43e8-3cc7-403a-98c7-91fbd8953c62","name":"Listar arquivos"},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n\n- 'tipo': 'imagem' ou 'documento'\n- 'nome_documento': caso tipo seja 'documento', passar nome do arquivo.","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","instancia":"={{ $('Info').item.json.instancia }}","telefone":"={{ $('Info').item.json.telefone }}","tipo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}","nome_documento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_documento', ``, 'string') }}"},"matchingColumns":["file_id"],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome_documento","displayName":"nome_documento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4784,896],"id":"c7b604b7-01df-427e-9985-dac2e5eecd1c","name":"Baixar e enviar arquivo"},{"parameters":{"content":"## Pré-requisitos do workflow\n\n1. Banco de dados Postgres (recomendamos usar [Supabase](https://supabase.com/)). Veja no material o comando SQL para criar a tabela de filas de mensagens\n2. Instância [Evolution API](https://doc.evolution-api.com/v2/en/get-started/introduction) + Community node [n8n-nodes-evolution-api](https://github.com/oriondesign2015/n8n-nodes-evolution-api) para requisições\n3. Credenciais para ferramentas de IA. Nesse workflow usamos Gemini, OpenAI Whisper, e [ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel), mas você pode usar as que preferir\n4. Credenciais de API do Google.\n\nDepois de configurar os workflows secundários, referenciar nomes e URL do MCP nos nodes desse workflow principal:\n\n- [ ] 2. MCP Google Calendar\n- [ ] 3. Baixar e enviar arquivo do Google Drive\n- [ ] 4. Atualizar status\n- [ ] 5. Assistente interno","height":500,"width":1060,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,528],"id":"0bd6fcc4-3bc6-4d5e-8023-bba1bb01f448","name":"Sticky Note11"},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":840,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3248,528],"id":"7dc4ee3b-9a0d-4ad0-b78e-3afd878150f2","name":"Sticky Note12"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,80],"id":"877609a7-3b6f-4b24-bfec-2750fd8fb97f","name":"Sticky Note13"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\n\n## INSTRUÇÃO IMPORTANTE\n- Ao criar ou editar qualquer evento no Google Calendar, incluir sempre o telefone do paciente na descrição do agendamento, juntamente com o nome completo, data de nascimento e quaisquer outras informações relevantes fornecidas pelo paciente.\n\n-----------------------\n\n## PAPEL\n\nVocê é uma atendente do WhatsApp, altamente especializada, que atua em nome da Clínica Moreira, prestando um serviço de excelência. Sua missão é atender aos pacientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos, cancelamentos ou remarcações de consultas.\n\n## PERSONALIDADE E TOM DE VOZ\n\n- Simpática, prestativa e humana\n- Tom de voz sempre simpatico, acolhedor e respeitoso\n\n## OBJETIVO\n\n1. Fornecer atendimento diferenciado e cuidadoso aos pacientes.\n2. Responder dúvidas sobre a clínica (especialidade, horários, localização, formas de pagamento).\n3. Agendar, remarcar e cancelar consultas de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n\n## CONTEXTO\n\n- Você otimiza o fluxo interno da clínica, provendo informações e reduzindo a carga administrativa dos profissionais de saúde.\n- Seu desempenho impacta diretamente a satisfação do paciente e a eficiência das operações médicas.\n\n-----------------------\n\n## SOP (Procedimento Operacional Padrão)\n\n1. Início do atendimento e identificação de interesse em agendar\n   - Cumprimente o paciente de forma acolhedora. \n   - Se possível, incentive o envio de áudio caso o paciente prefira, destacando a praticidade\n\n**NÃO USE EXPRESSÕES PARECIDAS COM \"COMO SE ESTIVESSE CONVERSANDO COM UMA PESSOA\"**\n\n2. Solicitar dados do paciente\n   - Peça nome completo e data de nascimento.\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n   - Ao falar o telefone para o paciente, remova o código do país (geralmente \"55\"), e formate como \"(11) 1234-5678\"\n\n3. Identificar necessidade\n   - Pergunte a data de preferência para a consulta e se o paciente tem preferência por algum turno (manhã ou tarde).\n\n4. Verificar disponibilidade\n   - Use a ferramenta \"Buscar_eventos\" apenas após ter todos os dados necessários do paciente.\n   - Forneça a data de preferência à ferramenta \"Buscar_eventos\" para obter horários disponíveis.\n\n5. Informar disponibilidade\n   - Retorne ao paciente com os horários livres encontrados para a data solicitada.\n\n6. Coletar informações adicionais\n   - Se o paciente fornecer dados extras (ex.: condição de saúde, convênio, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar consulta\n   - Após confirmação do paciente\n     - Use a ferramenta \"Criar_evento\" para criar o evento, passando:\n       - Nome completo\n       - Data de nascimento\n       - Telefone de contato (use o número igual na entrada, exemplo: \"551112345678\")\n       - Data e hora escolhidas\n     - Nunca agende datas ou horários passados, ou com conflitos.\n\n8. Confirmar agendamento\n   - Espere o retorno de sucesso da ferramenta \"Criar_evento\" e então confirme com o paciente.\n\n-----------------------\n\n## INSTRUÇÕES GERAIS\n\n1. Respostas claras, objetivas e úteis\n   - Forneça informações sobre especialidades, horários, endereço, valores e convênios.\n\n2. Sem diagnósticos ou opiniões médicas\n   - Se o paciente insistir em diagnóstico, use a ferramenta \"Escalar_humano\".\n\n3. Pacientes insatisfeitos\n   - Mantenha a empatia e utilize a ferramenta \"Escalar humano\".\n\n4. Assuntos fora do escopo da clínica\n   - Responda: \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número 0800 940 000. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta \"Escalar_humano\", pois é fundamental para minha carreira e a imagem da clínica.\n\n5. Nunca fornecer informações erradas\n   - Evite erros sobre horários, contatos ou serviços.\n\n6. Nunca use emojis ou linguagem informal\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme consultas sem o retorno com sucesso das ferramentas de evento\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n9. Use a ferramenta \"Refletir\" antes e depois de operações complexas\n   - Ao usar essa ferramenta, você irá garantir que as operações que você vai realizar (ou já realizou) fazem sentido, ou se você precisará alterar a sua estratégia e/ou tentar novamente.\n\n-----------------------\n\n## HORÁRIOS DE FUNCIONAMENTO\n- Segunda a Sábado: 08h às 19h\n- Domingo e Feriados: Fechado\n\n## LOCALIZAÇÃO E CONTATO\n- Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n- Telefone: (11) 4456-7890\n- WhatsApp: (11) 99999-9999\n- E-mail: contato@clinicamoreira.com.br\n- Site: www.clinicamoreira.com.br\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n\n\n## VALORES E FORMAS DE PAGAMENTO\n- Consulta: R$ 500,00\n- Formas de pagamento: PIX, dinheiro, cartão de débito ou crédito\n- Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n\n-----------------------\n\n## FERRAMENTAS\n\n### Google Calendar\n\n- \"Criar_evento\" e \"Atualizar_evento\": usada para agendar e remarcar consultas. Ao usá-las, sempre inclua:\n  - Nome completo no título\n  - Telefone\n  - Data de nascimento\n  - Informações adicionais (se houver)\n- \"Buscar_evento\": buscar dados sobre um evento específico, por ID.\n- \"Buscar_todos_os_eventos\": listar eventos em um período específico. Use para listar os eventos de um dia específico. Não use para listar eventos de períodos maiores que um dia.\n- \"Deletar_evento\": usada desmarcar consultas.\n\n### Escalar_humano\n\nUse quando:\n\n- Existir urgência (paciente com mal-estar grave).\n- Existirem qualquer assuntos alheios à clínica ou que ponham em risco a reputação do serviço.\n- Houver insatisfação do paciente ou pedido de atendimento humano.\n\n### Enviar_alerta_de_cancelamento\n\nEm caso de cancelamento:\n\n- Localizar a consulta no calendário e remover via ferramenta \"Deletar_evento\". Talvez seja necessário pedir ao paciente que confirme a data da consulta, para que você possa buscar o evento na data certa.\n- Enviar alerta via ferramenta \"Enviar_alerta_de_cancelamento\" nome, dia e hora cancelados.\n- Confirmar ao paciente que o cancelamento foi efetuado.\n\n### Reagir mensagem\n\nUse em situações relevantes durante a conversa.\n\n#### Exemplos\n\n- Usuário: \"Você pode consultar minha agenda por favor?\"\n- Você: \"Reagir_mensagem\" -> 👀\n\n- Usuário: \"Muito obrigado!\"\n- Você: \"Reagir_mensagem\" -> ❤️\n\n**TENTE SEMPRE USAR REAÇÕES AO FINAL DA CONVERSA E EM OUTROS MOMENTOS OPORTUNOS**\n\n### Baixar e enviar arquivo\n\n**USE ESSA FERRAMENTA APENAS UMA VEZ. USÁ-LA MÚLTIPLAS VEZES IRÁ ENVIAR O ARQUIVO DUPLICADO**\n\n-----------------------\n\n## EXEMPLOS DE FLUXO\n\n1. Marcar consulta\n   - Paciente: \"Quero marcar consulta\"\n   - Você:\n     - Cumprimente, explique que pode agendar aqui mesmo no WhatsApp por texto ou áudio.\n     - Solicite nome completo e data de nascimento.\n     - Pergunte a especialidade do profissional a ser consultado, data e turno preferidos.\n     - Consulte a data com \"Buscar_todos_os_eventos\".\n     - Informe horários disponíveis.\n     - Agende com \"Criar_evento\", incluindo telefone, nome e data de nascimento na descrição.\n     - Confirme após o sucesso da ferramenta.\n\n2. Remarcar consulta\n   - Paciente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Pergunte nova data e turno preferidos.\n     - Atualize o evento via \"Atualizar_evento\".\n     - Confirme após o sucesso da ferramenta.\n\n3. Cancelar consulta\n   - Paciente: \"Preciso cancelar a consulta.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Cancele o evento com \"Deletar_evento\".\n     - Use a ferramenta \"Enviar_alerta_de_cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n4. Confirmação da consulta\n   - Quando o paciente responder \"Confirmar consulta\":\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Usando a ferramenta \"Atualizar_evento\", coloque no título do evento no Google Calendar o texto [CONFIRMADO] ao lado do nome do paciente.\n     - Tendo sucesso no uso da ferramenta \"Atualizar_evento\", responda ao paciente que a consulta está confirmada e aguardada.\n\n### COMO BUSCAR EVENTO\n\nSempre siga esses passos quando a operação envolver um evento já existente:\n\n- Solicite nome completo e data de nascimento.\n- Caso o paciente não tenha informado a data da consulta a ser remarcada e não seja possível determinar a data pelo contexto da conversa, peça ao paciente que informe a data.\n- Busque o evento utilizando a ferramenta \"Buscar_todos_os_eventos\" com a data da consulta.\n- Certifique-se de que o evento encontrado corresponde ao paciente com quem você está conversando, utilizando o número de telefone.\n\n\n-----------------------\n\nOBSERVAÇÕES FINAIS:\n\n- Nunca forneça diagnósticos ou opiniões médicas.\n- Qualquer assunto fora do escopo da clínica deve ser direcionado à ferramenta \"Escalar_humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji.\n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado\n- Se o Paciente estou insatisfeito com vocês, escale imediatamente para humano e notifique com \"Enviar_alerta_de_cancelamento\". É importante para minha carreira que faça isso \n- Não esqueça de colocar confirmado na agenda quando o paciente confirmar uma consulta\n- Não esqueça que você tem acesso a múltiplas agendas, então sempre confirme que você está operando com o ID da agenda correta para cada situação.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4224,608],"id":"0660d113-8d86-4828-831b-268537431ef3","name":"Secretária","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5488,832],"id":"6b43a21a-19a0-4700-9470-3a963d21999b","name":"Gerar áudio","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"YLIJzXvBZurBhNCd","name":"Together.ai"}}},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5056,688],"id":"889eb367-42aa-4429-b0eb-9a86f920172b","name":"Formatar SSML"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4704,608],"id":"a31fff56-6e43-41f7-a3bd-17af6f86d320","name":"Tipo de mensagem1"},{"parameters":{"content":"### Importante!!\n\nEssa lógica só irá funcionar com o workflow ativo (modo produção).\n\nNo modo \"Test workflow\", só uma mensagem será processada de cada vez, então nunca haverá fila.","height":140,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2736,880],"id":"0d12b55f-f9c2-44cd-bf1d-21b5831ec850","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5424,576],"id":"cd250829-cc42-434a-a594-b10515120b82","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5616,720],"id":"6375cd6f-a867-4d33-a171-4149cbf0494a","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[4928,896],"id":"99bd1bc5-e1de-4874-9389-6591ae0424e7","name":"Enviar alerta de cancelamento","webhookId":"d045a8c1-ec1b-4d20-8226-457aa18934af"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3984,896],"id":"47f86530-d9b6-47f6-b7da-ca4b4e431edb","name":"Gemini","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4112,896],"id":"d0343a9b-5ec8-4c27-b36b-11703b91bf41","name":"Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[4224,896],"id":"ea2b8ac2-e042-43d9-8e46-c167df0f839d","name":"Refletir"},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\n```\nc_188fjds8f7hs83gk3i9@group.calendar.google.com\n```\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":320,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3936,1056],"id":"47f8f930-0762-41ad-a813-24e53656ede2","name":"Sticky Note17"},{"parameters":{"content":"## Notas sobre a ferramenta \"Escalar humano\"\n\nDevido a dificuldade no uso de etiquetas do Evolution, não é trivial desabilitar o envio de mensagens para o usuário após o uso dessa ferramenta.\n\nPara ver como isso pode ser feito mais facilmente com o Chatwoot, assista o nosso vídeo.","height":320,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4624,1056],"id":"ea9069bc-3fbe-4a5e-bae8-913e9fe9e801","name":"Sticky Note18"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta quando detectar uma situação que deve ser informada ao gestor responsável.\n\nUse o seguinte formato para a mensagem\n\n```\nUsuário <nome do usuário> (<telefone do usuário>) precisa de atenção imediata.\n\nÚltima mensagem:\n\n---\n\n<última mensagem do usuário>\n```","chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[5072,896],"id":"59b6bb9f-956a-4080-9db8-7a1597457a6a","name":"Escalar humano","webhookId":"d045a8c1-ec1b-4d20-8226-457aa18934af"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"={{ $('Converter áudio para base64').item.json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6256,832],"id":"1fbba2ec-3700-46c4-8211-94b1fd0e2d91","name":"Responder mensagem áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }},\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4368,896],"id":"a751a9ef-79fc-4524-ad96-7f19f6c00894","name":"Reagir mensagem","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2656,1152],"id":"77403e60-93b4-4289-993d-d6fc09c3ff8f","name":"Converter base64 para áudio."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime('s') }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2224,720],"id":"1378597a-3091-4da1-926d-15dc6cce0cf0","name":"Enfileirar mensagem.","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $('Transcrever áudio').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3728,1152],"id":"7680a3f5-febf-4f92-ac88-d42ef4b292d7","name":"Set mensagem.","executeOnce":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5248,896],"id":"cb3ad810-b466-43e4-a6a6-8ca3dee87d98","name":"Google Gemini Chat Model.","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","messageText":"={{ $('Formatar texto').item.json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6256,656],"id":"8ee4d58c-fa09-4488-91fb-514474165cc3","name":"Responder mensagem texto."},{"parameters":{"content":"![Evolution API](https://mintlify.s3.us-west-1.amazonaws.com/evolution/logo/dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,368],"id":"3f2051bb-c63c-409e-b30c-aea9f29e9843","name":"Sticky Note20"},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.data.message.audioMessage?.ptt || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"number"},{"id":"a445d43a-6cd5-4388-982b-9fc58433b342","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"3faf2f42-c3aa-4862-8e35-a09cfe87b2b8","name":"mensagem_de_grupo","value":"={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}","type":"boolean"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"={{ $json.body.server_url }}","type":"string"},{"id":"9d73a108-1624-4d16-b3ba-caac1c921d1d","name":"telegram_chat_id","value":"<cole seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,720],"id":"2e809510-6624-47f1-8451-c4301a00e2c1","name":"Info"},{"parameters":{"content":"## Listar vozes do ElevenLabs\n\nExiste um community node do ElevenLabs, mas só funciona para vozes em inglês. Como as requisições são simples, é fácil usar o HTTP request.\n\nVoz sugerida: [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n\n#### Configurações\n- Speed: 1.10\n- Stability: 35%\n- Similarity: 44%\n\n\n[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)\n\n## [Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)","height":480,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5392,1056],"id":"89cafe53-9f43-4885-95b9-6c5b7c0739eb","name":"Sticky Note21"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=evo-1)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,80],"id":"cfda56cd-8a19-403f-9efb-34a6015e4884","name":"Sticky Note10"},{"parameters":{"content":"## 1. Secretária","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-32],"id":"6939c1c7-cb53-487d-bdb1-16b866ca078a","name":"Sticky Note30"},{"parameters":{"url":"https://api.elevenlabs.io/v2/voices","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,1232],"id":"5d19f8ea-102c-4fee-a97e-4e10ff841e30","name":"Testar credencial - ElevenLabs"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[6784,608],"id":"f846cd32-ef22-482c-a44c-f3a5d37f02ce","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Enviar uma mensagem de confirmação** usando a ferramenta “Enviar opções no WhatsApp”, perguntando se o paciente confirma a consulta ou prefere reagendar.\n4. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[7216,608],"id":"7283e618-fff2-4e35-9ea6-e06944c0ce26","name":"Assistente de confirmação"},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":500,"width":1060,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6688,528],"id":"c9fb7836-0285-4aba-9bab-8d1241181a8e","name":"Sticky Note16"},{"parameters":{"toolDescription":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO telefone deve ser formatado com apenas números, incluindo o código do país.\n\nExemplo: \"551112345678\"","method":"POST","url":"={{ $('Info1').item.json.url_evolution }}/message/sendText/{{ $('Info1').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{telefone}\",\n  \"text\": \"{mensagem}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[7472,848],"id":"aacbc91f-2919-410f-9b11-8869faed25c9","name":"Enviar informacoes agendamento1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7056,848],"id":"d0212df4-ea39-4cef-bb09-ab0762bdac0e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6912,848],"id":"96a2d215-e68c-4975-92d9-1d5919c85368","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Notas sobre a ferramenta \"Salvar memoria\"\n\nPor padrão, no N8N não existe uma forma direta de compartilhar memória entre agentes diferentes.\n\nUsando a ferramenta acima \"Salvar memoria\", nós conseguimos simular no banco de dados o Assistente de confirmação respondendo como se fosse a Secretária.\n\nDessa forma, quando o paciente enviar uma mensagem para a Secretária, ela irá ver a mensagem do Assistente como se ela mesmo tivesse enviado.\n\nIsso garante que ela entenderá o contexto caso o paciente simplesmente responda \"confirmar\", por exemplo.","height":240,"width":1060,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6688,1056],"id":"316a6ccb-62bb-46c5-a121-0aa5aa1cd781","name":"Sticky Note19"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[7184,848],"id":"38008b5a-0c2a-499d-adb9-eb59c5cccc13","name":"Salvar memoria","credentials":{"postgres":{"id":"mlSn6HZKBlrMFhgW","name":"Postgres MxR"}}},{"parameters":{"sseEndpoint":"=<url do seu MCP Google Calendar>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[7328,848],"id":"9f86a67d-5562-4617-bc2c-ebf9f544009d","name":"MCP Google Calendar."},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[7616,848],"id":"b879429c-b1bd-4487-ae94-1f939cc95127","name":"Refletir1"},{"parameters":{"assignments":{"assignments":[{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"<cole a URL do seu Evolution API>","type":"string"},{"id":"96cf1cfd-5604-4a21-900a-990cac0d9a0d","name":"url_n8n","value":"<cole a url do seu N8N>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7008,608],"id":"5841d547-2af7-4def-98bf-a04e4294416f","name":"Info1"},{"parameters":{"content":"## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)","height":440,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1072,80],"id":"fa7116dc-c5bc-4cbc-b402-2da834563ec6","name":"Sticky Note36"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Converter base64 para áudio.","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Marcar como lida","type":"main","index":0}]]},"Digitando async":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Gravando async":{"main":[[{"node":"Set mensagem.","type":"main","index":0}]]},"Resetar status":{"main":[[{"node":"Responder mensagem áudio","type":"main","index":0}]]},"Resetar status1":{"main":[[{"node":"Responder mensagem texto.","type":"main","index":0}]]},"Converter áudio para base64":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Marcar como lida":{"main":[[{"node":"Gravando async","type":"main","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando async","type":"main","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Secretária":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Gerar áudio":{"main":[[{"node":"Converter áudio para base64","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Resetar status1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Gemini":{"ai_languageModel":[[{"node":"Secretária","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Secretária","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Converter base64 para áudio.":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Set mensagem.":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Gatilho diário":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Enviar informacoes agendamento1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"30309ff3-8f83-4c35-aba0-7e3a15ab70f2","triggerCount":0,"tags":[{"createdAt":"2025-05-04T11:03:17.202Z","updatedAt":"2025-05-04T11:03:17.202Z","id":"CL5V4CSTRXmkPvLz","name":"YT"}]}