zwtDZuFBYsYT7F6h.json
{"createdAt":"2025-08-17T19:30:13.825Z","updatedAt":"2025-08-24T20:19:46.000Z","id":"zwtDZuFBYsYT7F6h","name":"Minha secretária pessoal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3920,496],"id":"2b19e83b-a59b-40d4-80f0-54bc36fa51f6","name":"Webhook","webhookId":"4a2a1389-f5db-4de2-9d78-37ceb338aa16"},{"parameters":{"assignments":{"assignments":[{"id":"dacac35a-c4d3-4dfb-92d9-7182c6520240","name":"name","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"d39460db-3c42-455b-aed5-aceb33faf250","name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"0b5fd6bb-0767-4162-ac36-0ea7b908455b","name":"msg","value":"={{ $json.text || $json.content || $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2144,432],"id":"db8c5068-5544-4ac1-9449-3ff934eb4802","name":"Edit Fields"},{"parameters":{"content":"## I'm a test\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":840,"width":1140},"type":"n8n-nodes-base.stickyNote","position":[-4000,1584],"typeVersion":1,"id":"de9eaaf7-7291-456e-a8fc-36e6056cb249","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2ba0da3-3aa6-4dc8-a943-430529a47c48","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"60d218a6-0ee7-4c9b-9116-0bce30677be6"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dfee18af-5576-4eaa-99c7-df20eb64d29f","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"none","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3248,480],"id":"fc2e3929-ef4e-49a2-b96c-6cf8b4ea3afc","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3904,1696],"id":"38de22ad-dda2-4414-89c3-9fe029c8a47d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"QdnxsfiR3etVIUeV","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.number }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-3216,2304],"id":"463793cb-a3b9-4ad3-a4fd-67dea245c7e2","name":"Simple Memory"},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8081/message/sendStatus/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"type\": \"image\",\n  \"content\": \"https://kz-audio.com/images/kz-ae01-pro-01.jpeg\",\n  \"caption\": \"capition\",\n  \"allContacts\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,1808],"id":"6447a7c1-9a42-45a7-807c-fa2812224f0d","name":"Status","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8980/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.number }}"},{"name":"text","value":"opa"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3440,2272],"id":"5fcb4470-f815-4f29-810e-e5de085577dd","name":"Enviar texto","credentials":{"httpBasicAuth":{"id":"ByC27JTxqolUy2KL","name":"Evolution API"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"url":"=http://host.docker.internal:8980/group/inviteInfo/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"inviteCode","value":"DhkP5nkLnhOBESWEwVOrpm"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,2032],"id":"316301b6-09de-40dc-8b0a-37806ac680aa","name":"GET ID Group","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363168788453502@g.us"},{"name":"text","value":"Catálogo completo:   \\n https://wa.me/c/556584077695"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,2256],"id":"8e027cf1-c318-4712-9d0d-39c00d0fadc1","name":"Send Msg Group","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"url":"=http://host.docker.internal:8980/group/inviteInfo/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"inviteCode","value":"L19yTps0p6d9XBgLvPpxgE"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,1584],"id":"4ed69c05-9de0-4b99-b3d0-2b56aac97e0a","name":"GET ID Group1","credentials":{"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"assignments":{"assignments":[{"id":"f6994542-a2c7-49ee-9f98-02d7253664dd","name":"phoneNumber","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"b7106c72-d2b3-4d5d-9aef-d60d2a18487e","name":"metadata_message.content_type","value":"={{  $json.body.data.message.extendedTextMessage ? \"text\":\"\" }}{{  $json.body.data.message.audioMessage ? \"audio\":\"\" }}{{  $json.body.data.message.imageMessage ? \"image\":\"\" }}{{  $json.body.data.message.conversation ? \"text\":\"\" }}","type":"string"},{"id":"e292ef24-1aed-48e8-9193-32788f5eb6d9","name":"metadata_message.content","value":"={{  $json.body.data.message.extendedTextMessage.text || '' }}{{  $json.body.data.message.audioMessage || '' }}{{  $json.body.data.message.imageMessage.caption || '' }}{{  $json.body.data.message.conversation || '' }}","type":"string"},{"id":"60f06cd2-d596-4c65-aa78-0234a3c9ce11","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"85911d3d-0975-4756-866a-da3cc7ef5500","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"051718ff-fa65-42a6-98e9-b38eaf881868","name":"instance.message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"44770039-32a5-469c-9f6b-7f149a86ee91","name":"instance.chat_id","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"5e863c0a-0d48-429e-aefa-d61a07ac4170","name":"evolution_api_url","value":"(pegar url de render)","type":"string"},{"id":"202c6a94-1260-48bb-9415-74f8a06f0c65","name":"message_to_send","value":"Hola, que tal?","type":"string"},{"id":"6c9c410b-c79c-4e3a-a4eb-d2e51479ad4a","name":"delay","value":1200,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,1824],"id":"599f1cfa-efb8-4b4d-aa82-1a3b6957852f","name":"Chat info"},{"parameters":{"httpMethod":"POST","path":"evolution","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3440,1824],"id":"017c461e-49a6-4541-926b-6694aa66ca05","name":"Webhook1","webhookId":"d69ad426-94a4-4f9b-b9b5-4221c807ab83","disabled":true},{"parameters":{"method":"POST","url":"={{ $json.evolution_api_url }}/message/sendText/{{ $json.instance.name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.phoneNumber }}\",\n    \"options\": {\n        \"delay\": {{ $json.delay }},\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $json.message_to_send }}\"\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2992,1824],"id":"0fc82999-052c-43e7-8093-a01c6e1dcd79","name":"Enviar mensaje","disabled":true},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"mxmlocal","inviteCode":"L19yTps0p6d9XBgLvPpxgE"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3440,2048],"id":"66372a28-1702-4837-bd5e-6244cb48ec74","name":"Evolution API","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-stories","instanceName":"mxmlocal","content":"https://kz-audio.com/images/main-slide-42.webp","caption":"em breve novidades","allContacts":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3904,2128],"id":"d9d68285-741c-4301-be15-2d014e7cb85b","name":"Evolution API1","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59053a6b-0a09-4640-ab41-3de8c1590546","leftValue":"={{ $json.body.sender }}","rightValue":"556584077695@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a4c1e7f2-01cf-416d-8e7c-5c7d0df9358d","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"da88b671-1a6f-4f66-8705-cfead147d011","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556584077695@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3696,496],"id":"e97a0270-508d-4138-aa39-02fff0bcfded","name":"EU"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2368,416],"id":"4d8de410-060b-4a81-b4f9-07eb6b0df9d2","name":"Merge"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2816,640],"id":"da6d14f9-5f14-4e92-a373-02e627329d60","name":"Convert image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Persona: você é um expert em análise de imagens.\n\nAction: você vai analisar as imagens e fará uma descrição rica em detalhes, mas direta e concisa.\n\nOutput: somente a descrição da imagem e nada mais, essa descrição será usada por outro agente para fornecer a resposta.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2592,640],"id":"1caf74a0-f846-453e-b8e0-e5421a0e3950","name":"OpenAI Image","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2816,352],"id":"c12c5fb6-53b7-43b0-bf8b-da62e4e9bead","name":"Convert audio"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2592,352],"id":"a10c0b90-2f03-4332-97b6-03ce58f24432","name":"OpenAI audio","credentials":{"openAiApi":{"id":"KsM5uv014BzJCyKo","name":"OpenAi key like evo"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId || $('Edit Fields').item.json.number }}"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[-1984,656],"id":"3c4ec1f0-75f1-4b72-a7b1-d58d560bc9fe","name":"Zep","credentials":{"zepApi":{"id":"QaQfwkRhT96UZfkz","name":"Zep Api account"}}},{"parameters":{"toolDescription":"web_search_tool - searches the internet","url":"http://host.docker.internal:8089/search","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"format","valueProvider":"fieldValue","value":"json"}]},"optimizeResponse":true,"dataField":"results"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1664,656],"id":"07b5b17a-37c4-4e96-8dc6-f634ccf14ff8","name":"web_search_tool"},{"parameters":{},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[1216,240],"id":"6db3313b-6fbb-498d-84be-57f9266de80a","name":"Execution Data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[768,-32],"id":"d9b34f7c-2810-4a15-90e2-bad1ff7e8cad","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,144],"id":"4cb271ff-b798-4f15-84e0-af8f5c115180","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,160],"id":"98d754c7-0aff-4466-ba95-1c1bc53dd9f4","name":"Wait","webhookId":"6ab4aaff-7557-4403-b566-37a830e42861"},{"parameters":{"jsCode":"const text = $json.text;\nconst delaySeconds = 2;\nconst maxLength = 180;\n\n// 1. Captura URLs de forma mais abrangente\nconst urlRegex = /((https?:\\/\\/)?[\\w-]+(\\.[\\w-]+)+(\\/[\\w.?%=@&+-]*)?)/gi;\nconst links = [];\nlet processedText = text.replace(urlRegex, (match) => {\n  links.push(match);\n  return `__LINK_${links.length - 1}__`; // Usar delimitadores mais seguros\n});\n\n// 2. Regex segura para quebra de frases (sem quebrar números como 5.000)\nconst sentenceRegex = /(?<!\\d)([.!?])\\s+/g;\nconst rawChunks = processedText.split(sentenceRegex)\n  .map((s, i) => i % 2 === 0 ? s.trim() : s) // Mantém pontuação\n  .filter(s => s.trim() !== '');\n\n// 3. Reagrupar para respeitar tamanho máximo\nconst result = [];\nlet buffer = '';\n\nfor (const sentence of rawChunks) {\n  const candidate = buffer ? `${buffer} ${sentence}` : sentence;\n  \n  if (candidate.length <= maxLength) {\n    buffer = candidate;\n  } else {\n    if (buffer) result.push(buffer);\n    buffer = sentence;\n  }\n}\nif (buffer) result.push(buffer);\n\n// 4. Restaurar URLs e preparar mensagens\nconst finalMessages = result.map(msg => {\n  let restored = msg;\n  links.forEach((link, i) => {\n    restored = restored.replace(`__LINK_${i}__`, link);\n  });\n  return { message: restored, delay: delaySeconds };\n});\n\nreturn finalMessages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,144],"id":"542d1677-a7e1-4561-a036-86891f840bdd","name":"Separator"},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-2128,656],"id":"dfc3b84f-c217-4fda-a900-9d4a831b350a","name":"Groq Chat Model","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1488,1072],"id":"b648873e-9c3f-4f98-af27-d5ac3bdd19e4","name":"AI Agent Tool","disabled":true},{"parameters":{"description":"Use a ferramenta para pensar sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas anexará o pensamento ao registro. Use-a quando for necessário raciocínio complexo ou alguma memória cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1840,656],"id":"8467dca4-c32b-4757-8083-a192aded99f9","name":"Think"},{"parameters":{"endpointUrl":"http://localhost:5678/mcp/google-calendar/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[-1120,656],"id":"27979b69-5be1-41b2-9e05-57869654d1fe","name":"MCP Client","disabled":true},{"parameters":{"content":"## Brains 🧠 ","height":240,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2480,608],"id":"84993a87-4ca3-43c3-87ec-c4e8507a7220","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.minimax.io/v1/t2a_v2?GroupId=1891535732829331697","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"speech-2.5-hd-preview\",\n  \"text\": \"Qual doutora você quer agendar a consulta? Pode falar o nome completo dela pra eu conferir aqui pra você.\",\n  \"stream\": false,\n  \"voice_setting\": {\n    \"voice_id\": \"moss_audio_34a52380-76eb-11f0-ad85-4a8957831abe\",\n    \"speed\": 1,\n    \"vol\": 1,\n    \"pitch\": 0\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  }\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3440,1600],"id":"af89812b-7498-4421-8a11-1196555abd75","name":"HTTP Test Audio Minimax","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"SXqGLhau1UM364TI","name":"Minimax account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $('Webhook').item.json.body.data.instanceId }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"40f671c2-a4dc-407d-93d2-b61abc986ff0","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $('Webhook').item.json.body.data.messageType || '' }}","type":"string"},{"id":"ccd07210-fa02-473b-8d2b-9d7f5cf643ea","name":"body.data.message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"42261500-aad5-4283-a5af-88dc1d087918","name":"url_evolution","value":"={{ $json.body.server_url }}","type":"string"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwoot.cloud","type":"string"},{"id":"41ed38e9-d589-4a57-889d-c831e76e4433","name":"telegram_chat_id","value":"=<cole seu telegram chat id>","type":"string"},{"id":"4f0a925e-01f9-4597-9bfd-16e5d0619300","name":"=mensagem_de_grupo","value":false,"type":"boolean"},{"id":"0ca0a4eb-f8b7-49b7-9a56-fb75471170a9","name":"timeOut","value":3,"type":"number"},{"id":"74b766c6-4ab3-47a6-8f6b-b75a5a2af481","name":"fromMeWindow","value":30,"type":"number"},{"id":"b005ec5b-70e4-4348-9399-9af5195f06af","name":"timePerChar","value":35,"type":"number"},{"id":"6d27cdda-2054-48e5-80a3-e78c848d4963","name":"botName","value":"MxR Assistant","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3472,496],"id":"8c31fb92-43d0-464d-842d-2b34de817eea","name":"Info"},{"parameters":{"promptType":"define","text":"={{ $json.msg }}","options":{"systemMessage":"=Você é uma assistente de AI pessoal\n\n# Tools\n- **web_search_tool**: use esta ferramenta para fazer pesquisas na web sempre que necessário.\n- **Think**: Use esta ferramenta para pensar profundamente ou se você ficar preso\n- **emailAgent**: Use esta ferramenta para realizar ações no e-mail\n- **calendarAgent**: Use esta ferramenta para realizar ações no calendário\n- **contactAgent**: Use esta ferramenta para obter, atualizar ou adicionar contatos\n- **contentCreator**: Use esta ferramenta para criar posts de blog\n- **webAgent**: Use esta ferramenta para realizar pesquisas mais aprofundadas na web ou obter informações meteorológicas atuais\n\n# Sempre  \n1. Dividir textos a cada final de frase em mensagens separadas por quebras de linha  (`\\n`)  \n2. Aplicar formatação WhatsApp adequada  \n3. Manter a estrutura legível e profissional  \n\n---\n\n### **Regras de Formatação**  \n✅ **Sintaxe Oficial WhatsApp:**  \n- `*negrito*` → **negrito**  \n- `_itálico_` → _itálico_  \n- `~tachado~` → ~tachado~  \n- ```código``` → `código` (monoespaçado)  \n\n✅ **Estruturação:**  \n- Máximo de 3 emojis por mensagem  \n- Usar quebras de linha (`Shift + Enter`) para separar parágrafos  \n- Limite de 200 caracteres por mensagem  \n\n❌ **Proibido:**  \n- Usar Markdown (`**texto**` ou `__texto__`)  \n- Exceder 5 mensagens seguidas  \n- Mensagens sem pontuação  \n\n## Lembretes Finais\nAqui está a data/hora atual: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1536,432],"id":"bd37cf13-55af-4632-a271-81d8b2830585","name":"AI Agent LLM Select"},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1392,1376],"id":"9ad94c0c-fe06-408f-ae7a-e0dd5267240b","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"DbYAxzomIViwQg8E","name":"Groq My secretary-general"}},"disabled":true},{"parameters":{"calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1104,864],"id":"45db61d5-f95a-45c2-ac3f-a03cce8fcbcb","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-976,864],"id":"687a3fe6-df82-49b4-ac29-e0d491ca8f55","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-848,864],"id":"e65d8b90-aab8-4eec-9e48-b85cb3970225","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-720,864],"id":"d2c25176-d820-4ad4-8394-5145a621a83b","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"michaelxmaycon@gmail.com","mode":"list","cachedResultName":"michaelxmaycon@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-592,864],"id":"d3529e07-851d-44d0-a12a-b5d6a4066fd0","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"2A2ZzYsPXkdVBQUU","name":"Google Calendar MichaelxMaycon"}}},{"parameters":{"toolDescription":"Um agente de calendário para todas as ações do calendário","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# Visão Geral\nVocê é um assistente de calendário. Suas responsabilidades incluem criar, obter e excluir eventos no calendário do usuário.\n\n**Ferramentas de Gerenciamento de Calendário**\n- Use \"Criar Evento com Participante\" quando um evento incluir um participante.\n- Use \"Criar Evento\" para eventos individuais.\n- Use \"Obter Eventos\" para buscar agendas de calendário quando solicitado.\n- Use \"Excluir Evento\" para excluir um evento. Você deve usar \"Obter Eventos\" primeiro para obter o ID do evento a ser excluído.\n- Use \"Atualizar Evento\" para atualizar um evento. Você deve usar \"Obter Eventos\" primeiro para obter o ID do evento a ser atualizado.\n\n## Observações Finais\nAqui está a data/hora atual: {{ $now }}\nSe a duração de um evento não for especificada, considere que será de uma hora."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-992,656],"id":"e658a3a4-9eb3-4a59-b25d-c1b0157ebde5","name":"Calendar Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1232,864],"id":"88167b05-5a47-420a-a020-784e60ab5d4d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","messages":{"messageValues":[{"message":"=\n- Substitua ** por *\n- Remova #\n- Remova emojis \n\nVocê não pode gerar novas mensagens com System Prompt, e sim apenas aplicar regras como um pós-processador, sem modificar o conteúdo da mensagem da secretária."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-384,432],"id":"b50a10f1-4fb8-4670-91bc-0cf8a932af12","name":"Formatar texto","alwaysOutputData":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-320,656],"id":"ff8559fc-f7d6-4251-bd3c-60ffdea06672","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instance }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"=data","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,464],"id":"4b07e740-fbc2-4ba1-a951-d5a3ea876826","name":"Enviar audio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando SSML, mas nunca use tags.\n\nVocê irá receber um texto e a sua tarefa é deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**\n**NUNCA COLOQUE NADA MAIS ALEM DO TEXTO RECEBIDO. EX:<speak><break time=\\\"1.0s\\\"**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[192,640],"id":"ddebd233-7166-4f96-ba4e-7a5d8e29ce39","name":"Formatar SSML"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,864],"id":"80c4b673-e75a-497b-9da8-b309b9e1a0ef","name":"Google Gemini Chat Model.","credentials":{"googlePalmApi":{"id":"UqEfkCbK48QAEXXa","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"=data","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[768,560],"id":"38dfe989-ada9-4ea8-9984-85742c7ec0f1","name":"Áudio para base64"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Webhook').item.json.body.data.messageType || '' }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,432],"id":"53e035cb-cbec-4631-9863-8aef8b77412e","name":"Tipo de mensagem2"},{"parameters":{"assignments":{"assignments":[{"id":"39f862f4-d1d9-46b9-95fa-a0b565ef405c","name":"response","value":"Desculpe, não consegui gerar o áudio!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,752],"id":"7818efc2-a4ea-4672-b2e6-94de7d302af4","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/dev/captioned_speech","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"pf_dora\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,640],"id":"cd809398-6cfc-4046-a714-8682e2c1c9e4","name":"Generate TTS AUDIO ptBR","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"mediatype\": \"<string>\",\n  \"mimetype\": \"<string>\",\n  \"caption\": \"<string>\",\n  \"media\": \"<string>\",\n  \"fileName\": \"<string>\",\n  \"delay\": 123,\n  \"linkPreview\": true,\n  \"mentionsEveryOne\": true,\n  \"mentioned\": [\n    \"{{remoteJID}}\"\n  ],\n  \"quoted\": {\n    \"key\": {\n      \"id\": \"<string>\"\n    },\n    \"message\": {\n      \"conversation\": \"<string>\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3904,1904],"id":"7cd20fc2-2f36-4515-999a-b7024946042a","name":"Send Media","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:8081/message/sendWhatsAppAudio/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Info').item.json.telefone }}\",\n  \"audio\": \"{{ $json.data }}\",\n  \"delay\": 3,\n  \"linkPreview\": true,\n  \"mentionsEveryOne\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,656],"id":"c22ecbc5-0608-4dfd-becf-b6120b0669cf","name":"Enviar audio1","credentials":{"httpBearerAuth":{"id":"99bNztQtvdmFXxUl","name":"Minimax Áudio"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"method":"POST","url":"=http://host.docker.internal:8081/message/sendText/mxmlocal","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Edit Fields').item.json.number }}"},{"name":"text","value":"={{ $json.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,160],"id":"19d6e657-a739-4454-99b1-193bb2294cd4","name":"Send text","credentials":{"httpBasicAuth":{"id":"ByC27JTxqolUy2KL","name":"Evolution API"},"httpHeaderAuth":{"id":"UsmL8RTMRBgV2k35","name":"EvoAPI"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.id }}","rightValue":"120363168788453502@g.us","operator":{"type":"string","operation":"equals"},"id":"6bc0750c-94f7-42eb-b25b-8aeeb91954ce"}],"combinator":"and"},"renameOutput":true,"outputKey":"MxR Store"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d34a66d-9e5f-491e-b907-5a166a2e71c0","leftValue":"","rightValue":"id grupo Escambo MT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Escambo MT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56dbeca7-481a-4c89-9c65-1c46bc779656","leftValue":"","rightValue":"id grupo Bateras MT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bateras MT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2688,2176],"id":"8bbceb94-6935-4099-930e-13eb6bd18c6e","name":"Quem é?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.id }}","rightValue":"120363168788453502@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2688,2000],"id":"463e90cb-ebfe-436e-90e0-312b204a7ca7","name":"Responder somente para MxR Store"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2304,2032],"id":"7d4ef5b9-92ca-4ca0-a619-37797dd1aaa9","name":"Responder somente palavra chave #FONE2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2304,2192],"id":"f7b4b471-2dd9-49df-98ca-7a5a443ac681","name":"Responder somente palavra chave #FONE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7deb84e-9386-44c0-a838-1cc5293d14cd","leftValue":"={{ $json.data.msg }}","rightValue":"#FONE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2304,2352],"id":"58890def-112d-4ac2-bdd9-1a195ff098d4","name":"Responder somente palavra chave #FONE1"},{"parameters":{"operation":"keys"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3264,736],"id":"a082b00c-d659-413e-a3d3-b967170465f0","name":"Redis","credentials":{"redis":{"id":"eM6eA1hup5Och7jg","name":"Redis postiz-redis"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').item.json.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3008,352],"id":"5286360a-1538-4f82-a21b-e7b945975a48","name":"Download áudio","credentials":{"evolutionApi":{"id":"PiYmy1UHyWgNMuDN","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"EU","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent LLM Select","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download áudio","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Convert image","type":"main","index":0}]]},"Chat info":{"main":[[{"node":"Enviar mensaje","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Chat info","type":"main","index":0}]]},"EU":{"main":[[{"node":"Info","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"OpenAI Image","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Convert audio":{"main":[[{"node":"OpenAI audio","type":"main","index":0}]]},"OpenAI audio":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Zep":{"ai_memory":[[{"node":"AI Agent LLM Select","type":"ai_memory","index":0}]]},"web_search_tool":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Execution Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send text","type":"main","index":0}]]},"Separator":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent LLM Select","type":"ai_languageModel","index":0}]]},"AI Agent Tool":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Switch","type":"main","index":0}]]},"AI Agent LLM Select":{"main":[[{"node":"Formatar texto","type":"main","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"AI Agent Tool","type":"ai_languageModel","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"AI Agent LLM Select","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Formatar texto":{"main":[[{"node":"Tipo de mensagem2","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Formatar SSML":{"main":[[{"node":"Generate TTS AUDIO ptBR","type":"main","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Áudio para base64":{"main":[[{"node":"Enviar audio","type":"main","index":0},{"node":"Enviar audio1","type":"main","index":0}]]},"Tipo de mensagem2":{"main":[[{"node":"Separator","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Generate TTS AUDIO ptBR":{"main":[[{"node":"Áudio para base64","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Send text":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Responder somente para MxR Store","type":"main","index":0},{"node":"Quem é?","type":"main","index":0}]]},"Quem é?":{"main":[[{"node":"Responder somente palavra chave #FONE2","type":"main","index":0}],[{"node":"Responder somente palavra chave #FONE","type":"main","index":0}],[{"node":"Responder somente palavra chave #FONE1","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Evolution API":[{"json":{"success":true,"data":{"id":"120363168788453502@g.us","subject":"MxR Store 🏬🏪","subjectOwner":"556584077695@s.whatsapp.net","subjectTime":1692207324,"size":2,"creation":1692207324,"owner":"556584077695@s.whatsapp.net","owner_country_code":"BR","desc":"Todas as mídias e informações de produtos vamos priorizar mandar por aqui.\n\nPara ficarmos mais organizados:\n\nFotos\nDescrição\nVendas \nEndereços de clientes\nSai e entrada de estoque\nEtc ...\n\nTudo que for relacionado as nossas vendas coloca aqui\n\nhttps://pos-mxm.bubbleapps.io/version-test","descId":"AB1E5687CC2EA278C522CA5BE7103A58","descOwner":"556584077695@s.whatsapp.net","descTime":1715021914,"restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"joinApprovalMode":true,"memberAddMode":false,"participants":[{"id":"556584077695@s.whatsapp.net","jid":"556584077695@s.whatsapp.net","admin":"superadmin"},{"id":"556584773634@s.whatsapp.net","jid":"556584773634@s.whatsapp.net","admin":null}]}}}],"Webhook":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"1839","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"mxmlocal","data":{"key":{"remoteJid":"556584077695@s.whatsapp.net","fromMe":true,"id":"C680A70A166D0F40AFA21EC56E24502A"},"pushName":"MxR Store & MxR Shoes","status":"SERVER_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/538386117_1126581929383591_4130741951695367567_n.enc?ccb=11-4&oh=01_Q5Aa2QGCiOa7Q5mdmqnczuWZKoNp9_LYvZhiMnenw_PD4OQu4g&oe=68D2E172&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"E+D9TsybUYl95Z5GLyFfBYwxPw1OH6gGwpl9Q/PBndI=","fileLength":"8271","seconds":3,"ptt":true,"mediaKey":"0fWrwX6Z+w7Q51pb6eCalptvj0GipAkiE2CR+D/26vo=","fileEncSha256":"YaEbH6WWedDuk0QOfx1XlECrB925X+w2C5AyJtEpOyI=","directPath":"/v/t62.7117-24/538386117_1126581929383591_4130741951695367567_n.enc?ccb=11-4&oh=01_Q5Aa2QGCiOa7Q5mdmqnczuWZKoNp9_LYvZhiMnenw_PD4OQu4g&oe=68D2E172&_nc_sid=5e03e0","mediaKeyTimestamp":"1756065483","waveform":"AAAAAAAAAAAABiI1QkE9NRYKBwESMjc6OTk5ODgzKBYQDQoOCA4KCwkKKDpHPzs1IDI0LCorNj07NCAqJhcLAA=="},"mediaUrl":"http://host.docker.internal:9000/evolution-api/evolution-api/57c21d9e-71e1-4b40-b0cb-21e5b98c31fa/556584077695%40s.whatsapp.net/audioMessage/C680A70A166D0F40AFA21EC56E24502A.oga?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=admin%2F20250824%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250824T195810Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=31d7562ffa9816458cbc99e96f40c559a6712ae921dd3757f5aeabd49df72581"},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1756065485,"instanceId":"57c21d9e-71e1-4b40-b0cb-21e5b98c31fa","source":"android"},"destination":"http://host.docker.internal:5678/webhook/evo","date_time":"2025-08-24T16:58:10.766Z","sender":"556584077695@s.whatsapp.net","server_url":"http://localhost:8081","apikey":"78C6F6253FF6-4F6C-8BA1-A540DD00B6D0"},"webhookUrl":"http://localhost:5678/webhook/evo","executionMode":"production"}}]},"versionId":"1f9abdfe-fbbf-474b-b373-114dfd93d038","triggerCount":1,"tags":[]}